BetaProcedures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:diggs="http://diggsml.org/schemas/2.6"
    xmlns:diggs_geo="http://diggsml.org/schemas/2.6/geotechnical"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://diggsml.org/schemas/2.6"
    elementFormDefault="qualified" version="2.6" vc:maxVersion="1.1" vc:minVersion="1.0"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <import namespace="http://diggsml.org/schemas/2.6/geotechnical" schemaLocation="Diggs_geo.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="witsml/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>

    <element name="AggregateAbrasionValueTest" type="diggs:AggregateAbrasionValueTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Abrasion Value is a measure of the resistance of aggregate to surface wear by abrasion.  In this test, two specimens are pressed against the surface of a steel disc rotating in a horizontal plane, with a force of 0.365 newtons per sq. centimetre. Sand, fed by hoppers, is used as an abrasive. After 500 disc revolutions the amount of material abraded is measured by calculation of the weight loss of the aggregate. The percentage loss in mass of chippings as known as the ‘Aggregate Abrasion Value’ (AAV), and ranges from about 1 for hard flints to over 16 for aggregates normally considered too soft for use in road surfacings.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateAbrasionValueTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateSlakeDurabilityTest" type="diggs:AggregateSlakeDurabilityTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>An object describing the properties of a slake durability test procedure. The Slake Durability Index predicts the long-term durability of the rock
                specimens, to establish weathering and degradation characteristics of each rock
                type, and to assess the impact of water on the rock degradation.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateSlakeDurabilityTestType" mixed="false">
        <annotation>
            <documentation>Base type for AggregateSlakeDurabilityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="drumMass" type="eml:ForceMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Mass of the drum used for the test.</documentation>
                        </annotation>
                    </element>
                    <element name="fragmentsRetainedDescription" type="diggs:DiggsStringType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Appearance of fragments retained in the drum following
                                test.</documentation>
                        </annotation>
                    </element>
                    <element name="fragmentsPassingDescription" type="diggs:DiggsStringType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Appearance of fragments passing through the drum
                                following test.</documentation>
                        </annotation>
                    </element>
                    <element name="index1" type="eml:MassPerMassMeasure" minOccurs="0">
                        <annotation>
                            <documentation>First cycle slake durability index. </documentation>
                        </annotation>
                    </element>
                    <element name="averageFluidTemperature"
                        type="eml:ThermodynamicTemperatureMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Maximum temperature of trough fluid during the
                                test</documentation>
                        </annotation>
                    </element>
                    <element name="maximumFluidTemperature"
                        type="eml:ThermodynamicTemperatureMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Maximum temperature of trough fluid during the
                                test</documentation>
                        </annotation>
                    </element>
                    <element name="minimumFluidTemperature"
                        type="eml:ThermodynamicTemperatureMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Minimum temperature of trough fluid during the
                                test</documentation>
                        </annotation>
                    </element>
                    <element name="slakingFluidDescription" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Description of the type of slaking fluid; intended to
                                come from a controlled list</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateCrushingValueTest" type="diggs:AggregateCrushingValueTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Crushing Value provides a relative measure of the resistance of an aggregate to crushing under a gradually applied compressive load, and is defined as the ratio of the weight of fines passing the specified sieve to the total weight of the sample expressed as a percentage.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateCrushingValueTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>
    <element name="AggregateElongationIndexTest" type="diggs:AbstractLaboratoryTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Elongation Index of an aggregate is defined as the percentage by weight of particles whose greatest dimension (length) is 1.8 times their mean dimension. This test is applicable to aggregates larger than 6.3 mm.</documentation>
        </annotation>
    </element>
    <element name="AggregateFlakinessIndexTest" type="diggs:AbstractLaboratoryTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Flakiness Index is defined as the percentage by weight of aggregate particles whose least dimension is less than 0.6 times their mean size.</documentation>
        </annotation>
    </element>
    <element name="AggregateImpactValueTest" type="diggs:AggregateImpactValueTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Impact Value represents the resistance to impact of aggregates. Aggregates passing 12.5 mm sieve and retained on 10 mm sieve is filled in a cylindrical steel cup of internal dia 10.2 mm and depth 5 cm which is attached to a metal base of impact testing machine. The material is filled in 3 layers where each layer is tamped for 25 number of blows. Metal hammer of weight 13.5 to 14 Kg is arranged to drop with a free fall of 38.0 cm by vertical guides and the test specimen is subjected to 15 number of blows. The crushed aggregate is allowed to pass through the 2.36 sieve. And the impact value is measured as percentage of aggregates passing to the total weight of the sample.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateImpactValueTestProcedureType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="particleDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Particle density of size fraction between 8 mm and 12.5mm</documentation>
                        </annotation>
                    </element>
                    <element name="impactValue1" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Aggregate impact value from first test.</documentation>
                        </annotation>
                    </element>
                    <element name="impactValue2" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Aggregate impact value from second test.</documentation>
                        </annotation>
                    </element>
                    <element name="numberOfBlows" type="integer" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LosAngelesAbrasionTest" type="diggs:LosAngelesAbrasionTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Los Angeles Abrasion test is used to indicate aggregate toughness and abrasion characteristics.  The test subjects a coarse aggregate sample to abrasion, impact, and grinding in a rotating steel drum containing a specified number of steel spheres.  After being subjected to the rotating drum, the weight of aggregate that is retained on a specified sieve is subtracted from the original weight to obtain a percentage of the total aggregate weight that has broken down and passed through. Therefore, an L.A. abrasion loss value of 40 indicates that 40% of the original sample passed through.</documentation>
        </annotation>
    </element>
    <complexType name="LosAngelesAbrasionTestType">
        <annotation>
            <documentation>Base type for AggregateLosAngelesAbrasionTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="chargeDescription" type="diggs:DiggsStringType" minOccurs="0">
                        <annotation>
                            <documentation>Description of ball load or charge grading.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregatePolishedStoneValueTest" type="diggs:AbstractLaboratoryTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Polished Stone Value is a measure of the resistance of an aggregate to polishing. The value is established by subjecting the aggregate to a standard polishing process, and then testing the aggregate with the Portable Skid Resistance Tester.</documentation>
        </annotation>
    </element>
    <element name="AggregateWaterAbsorptionTest" type="diggs:AbstractLaboratoryTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Water Absorption test gives an idea of strength of aggregate. Aggregates having more water absorption are more porous in nature and are generally considered unsuitable unless they are found to be acceptable based on strength, impact, and hardness tests.</documentation>
        </annotation>
    </element>
    <element name="InsituDensityTest" type="diggs:AbstractInsituTestProcedureType" abstract="false"
        substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>Used to determine the in-place density and unit weight of soils using a sand cone apparatus.</documentation>
        </annotation>
    </element>
    <element name="ChalkCrushingValueTest" type="diggs:ChalkCrushingValueTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Chalk Crushing Value is determined by using the chalk impact crushing test, which measures the rate at which a sample of chalk lumps crushes under impacts from a freefalling rammer. The chalk crushing value can be used, together with the saturation moisture content of the intact chalk lumps, to classify chalk in relation to its behaviour as a freshly placed fill material. The test procedure is described for a single sample of chalk lumps, but normal procedure should be to calculate the mean value derived from six such tests on representative samples.</documentation>
        </annotation>
    </element>
    <complexType name="ChalkCrushingValueTestProcedureType">
        <annotation>
            <documentation>Base type for ChalkCrushingValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="waterContent" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Water (moisture) content of specimen tested</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PressuremeterTest" type="diggs:PressuremeterTestProcedureType" abstract="false"
        substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>The Pressuremeter measures both the strength and stress-strain properties of all soil types including soft rock. The pressuremeter is used primarily to calculate bearing capacity of shallow and deep foundations; settlement of foundations; deformation of laterally loaded and sheet piles and resistance of anchors</documentation>
        </annotation>
    </element>
    <complexType name="PressuremeterTestProcedureType">
        <annotation>
            <documentation>Base type for PressuremeterTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="pressuremeterType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>The type of pressuremeter.</documentation>
                        </annotation>
                    </element>
                    <element name="pressuremeterDiameter" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>The uninflated diameter of the pressuremeter.</documentation>
                        </annotation>
                    </element>
                    <element name="trial" type="diggs:PressuremeterTestTrialPropertyType"
                        minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PressuremeterTestTrial" type="diggs:PressuremeterTestTrialType" abstract="false"
        substitutionGroup="diggs:AbstractObject">
        <annotation>
            <documentation>Results for each trial in PressuremeterTest</documentation>
        </annotation>
    </element>
    <complexType name="PressuremeterTestTrialPropertyType">
        <annotation>
            <documentation>Property for PressuremeterTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:PressuremeterTestTrial" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="PressuremeterTestTrialType">
        <annotation>
            <documentation>Base type for PressuremeterTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="trialNo" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Pressuremeter loading or reloading cycle.</documentation>
                        </annotation>
                    </element>
                    <element name="shearModulus" type="eml:PressureMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Unload or reload shear modulus for the cycle.</documentation>
                        </annotation>
                    </element>
                    <element name="meanStrain" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Mean strain.</documentation>
                        </annotation>
                    </element>
                    <element name="strainRange" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Strain range or amplitude.</documentation>
                        </annotation>
                    </element>
                    <element name="meanPressure" type="eml:PressureMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Mean pressure.</documentation>
                        </annotation>
                    </element>
                    <element name="pressureRange" type="eml:PressureMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Pressure range or amplitude.</documentation>
                        </annotation>
                    </element>
                    <element name="linearity" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Linearity exponent (from Bolton and Whittle, 1999)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituPermeabilityTest" type="diggs:InsituPermeabilityTestType" abstract="false"
        substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>This test determines the insitu permeability of a soil based on constant head, falling head, and packer test methods.</documentation>
        </annotation>
    </element>
    <complexType name="InsituPermeabilityTestType">
        <annotation>
            <documentation>Base type for InsituPermeabilityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="permeabilityTestType" type="gml:CodeType" default="false"
                        minOccurs="0">
                        <annotation>
                            <documentation>Type of permeability test.</documentation>
                        </annotation>
                    </element>
                    <element name="depthTestZoneTop" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Depth to the top of the test zone</documentation>
                        </annotation>
                    </element>
                    <element name="depthTestZoneBottom" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Depth to the bottom of the test zone</documentation>
                        </annotation>
                    </element>
                    <element name="stage" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Stage number of multistage packer test.</documentation>
                        </annotation>
                    </element>
                    <element name="depthWaterPreTest" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Depth to water in borehole or piezometer immediately prior to test.</documentation>
                        </annotation>
                    </element>
                    <element name="diameterTestZone" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Diameter of test zone.</documentation>
                        </annotation>
                    </element>
                    <element name="diameterCasing" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Diameter of standpipe or casing.</documentation>
                        </annotation>
                    </element>
                    <element name="averageFlow" type="eml:VolumePerTimeMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Average flow during packer test stage.</documentation>
                        </annotation>
                    </element>
                    <element name="depthStandingWater" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Depth to assumed standing water level.</documentation>
                        </annotation>
                    </element>
                    <element name="appliedHead" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Applied total head of water during test stage at centre of packer test zone.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PumpingTest" type="diggs:PumpingTestType" abstract="false"
        substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An aquifer test (or a pumping test) is conducted to evaluate an aquifer by "stimulating" the aquifer through constant pumping, and observing the aquifer's "response" (drawdown) in observation wells.</documentation>
        </annotation>
    </element>
    <complexType name="PumpingTestType">
        <annotation>
            <documentation>Base type for PumpingTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="reading" type="diggs:PumpingTestReadingPropertyType"
                        minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PumpingTestReading" type="diggs:PumpingTestReadingType" abstract="false"
        substitutionGroup="diggs:AbstractObject">
        <annotation>
            <documentation>Results for each trial in PumpingTest</documentation>
        </annotation>
    </element>
    <complexType name="PumpingTestReadingPropertyType">
        <annotation>
            <documentation>Property for PumpingTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:PumpingTestReading" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="PumpingTestReadingType">
        <annotation>
            <documentation>Base type for PumpingTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="trialNo" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element name="dateTimeOfReading" type="dateTime" minOccurs="0">
                        <annotation>
                            <documentation>Date and time of reading.</documentation>
                        </annotation>
                    </element>
                    <element name="waterDepth" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Depth to water below ground.</documentation>
                        </annotation>
                    </element>
                    <element name="pumpingRate" type="eml:VolumePerTimeMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Pumping rate from hole.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InSituPenetrometerTest" type="diggs:InSituPenetrometerTestType" abstract="false"
        substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>This test provides an estimate of undrained shear strength.</documentation>
        </annotation>
    </element>
    <complexType name="InSituPenetrometerTestType">
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="reading">
                        <complexType>
                            <complexContent>
                                <extension base="eml:PressureMeasureExt">
                                    <attribute name="trialNo" type="positiveInteger">
                                        <annotation>
                                            <documentation>Indicates the order of trials (eg. 1=the first trial, 2=the second trial, etc.)</documentation>
                                        </annotation>
                                    </attribute>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LabPenetrometerTest" type="diggs_geo:PocketPenetrometerTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>This test provides an estimate of undrained shear strength.</documentation>
        </annotation>
    </element>
    <element name="FrostSusceptibilityTest" type="diggs:FrostSusceptibilityTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Test establishes the degree of frost-susceptibility of unbound sub-base and base materials for pavements.</documentation>
        </annotation>
    </element>
    <complexType name="FrostSusceptibilityTestType">
        <annotation>
            <documentation>Base type for FrostSusceptibilityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="dryDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Dry density of specimens after preparation.</documentation>
                        </annotation>
                    </element>
                    <element name="waterContent" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Water (moisture) content of specimen tested</documentation>
                        </annotation>
                    </element>
                    <element name="frostHeave1" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Frost heave, first specimen.</documentation>
                        </annotation>
                    </element>
                    <element name="frostHeave2" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Frost heave, second specimen.</documentation>
                        </annotation>
                    </element>
                    <element name="frostHeave3" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Frost heave, third specimen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RelativeDensityTest" type="diggs:RelativeDensityTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The relative density of a soil is the ratio, expressed as a percentage, of the difference between the maximum index void ratio and the field void ratio of a cohesionless, free-draining soil; to the difference between its maximum and minimum index void ratios.</documentation>
        </annotation>
    </element>
    <complexType name="RelativeDensityTestType">
        <annotation>
            <documentation>Base type for RelativeDensityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="maxDryDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Maximum dry density.</documentation>
                        </annotation>
                    </element>
                    <element name="minDryDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Minimum dry density.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RockPorosityDensityTest" type="diggs:RockPorosityDensityTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>This test determines the porosity and density of rock.</documentation>
        </annotation>
    </element>
    <complexType name="RockPorosityDensityTestType">
        <annotation>
            <documentation>Base type for RockPorosityDensityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Type of test.</documentation>
                        </annotation>
                    </element>
                    <element name="waterContent" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Moisture content of specimen.</documentation>
                        </annotation>
                    </element>
                    <element name="initialSaturation" type="eml:ForcePerForceMeasureExt"
                        minOccurs="0">
                        <annotation>
                            <documentation>Initial degree of saturation.</documentation>
                        </annotation>
                    </element>
                    <element name="initialBulkDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Initial bulk density.</documentation>
                        </annotation>
                    </element>
                    <element name="initialDryDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Initial dry density.</documentation>
                        </annotation>
                    </element>
                    <element name="initialParticleDensity"
                        type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Initial particle density.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="SchmidtReboundHardnessTest" type="diggs:SchmidtReboundHardnessTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Schmidt Hardness Test utilizes a hammer mass launched against an impact plunger. The amount of hammer mass rebound depends on the hardness of the test piece. This rebound amount is then shown on a scale of 10 to 100.</documentation>
        </annotation>
    </element>
    <complexType name="SchmidtReboundHardnessTestType">
        <annotation>
            <documentation>Base type for SchmidtReboundHardnessTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="hammerOrientation" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Orientation of the hammer axis in the test.</documentation>
                        </annotation>
                    </element>
                    <element name="clampingMethod" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Method of clamping specimen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ShoreScleroscopeHardnessTest" type="diggs:AbstractLaboratoryTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Scleroscope test consists of dropping a diamond tipped hammer, which falls inside a glass tube under the force of its own weight from a fixed height, onto the test specimen. The height of the rebound travel of the hammer is measured on a graduated scale. The scale of the rebound is arbitrarily chosen and consists on Shore units, divided into 100 parts, which represent the average rebound from pure hardened high-carbon steel. The scale is continued higher than 100 to include metals having greater hardness.</documentation>
        </annotation>
    </element>
    <element name="SuctionTest" type="diggs:AbstractLaboratoryTestProcedureType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Soil suction is a measure of the free energy of the pore-water in a soil. Soil suction in practical terms is a measure of the affinity of soil to retain water and can provide information on soil parameters that are influenced by the soil water; for example, volume change, deformation, and strength characteristics of the soil.</documentation>
        </annotation>
    </element>
    <complexType name="SuctionTestType">
        <annotation>
            <documentation>Base type for SuctionTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="waterContent" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Moisture content of specimen.</documentation>
                        </annotation>
                    </element>
                    <element name="initialBulkDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Initial bulk density.</documentation>
                        </annotation>
                    </element>
                    <element name="initialDryDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Initial dry density.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateTenPercentFinesTest" type="diggs:AggregateTenPercentFinesTestType"
        abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Test produces a Ten Percent Fines Value (TFV) for aggregate testing.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateTenPercentFinesTestType">
        <annotation>
            <documentation>Base type for TenPercentFinesTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="value1" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>First TFV measurement</documentation>
                        </annotation>
                    </element>
                    <element name="value2" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Second TFV measurement.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateSoundnessTest" type="diggs:AggregateSoundnessTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Soundness test is intended to study the resistance of aggregates to weathering action, by conducting accelerated weathering test cycles. The Porous aggregates subjected to freezing and thawing are likely to disintegrate prematurely. To ascertain the durability of such aggregates, they are subjected to cycles of alternate wetting in a saturated solution of either sodium sulphate or magnesium sulphate for 16 - 18 hours and then dried in oven at  to a constant weight. After five cycles, the loss in weight of aggregates is determined by sieving out all undersized particles and weighing.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateSoundnessTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>
    <element name="CationExchangeTest" type="diggs:CationExchangeTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Cation-exchange capacity is defined as the degree to which a soil can adsorb and exchange cations.</documentation>
        </annotation>
    </element>
    <complexType name="CationExchangeTestType">
        <annotation>
            <documentation>Base type for CationExchangeTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="methodType" type="gml:CodeType" default="false" minOccurs="0">
                        <annotation>
                            <documentation>Method used to determine the sodium concentration, e.g. atomic absorption, emission
                                spectroscopy, or an equivalent method.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituResistivityTest" type="diggs:AbstractInsituTestProcedureType"
        abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>This test determines the insitu resistivity of a soil.</documentation>
        </annotation>
    </element>
    <element name="LabVelocityTest" type="diggs:LabVelocityTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Shear wave velocity can be measured in the laboratory using resonant column tests, bender elements, ultrasonics, torsional shear tests, and modified triaxial tests. </documentation>
        </annotation>
    </element>
    <complexType name="LabVelocityTestType">
        <annotation>
            <documentation>Base type for LabVelocityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Type of test used to produce velocity measures.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MCVTest" type="diggs:MCVTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Moisture Condition Value (MCV) is determined from a moisture condition test, a physical test indicating how much compactive effort is needed to compact a sample of soil at a particular moisture content.  Compactive effort is provided by dropping a captive  weight vertically a known distance on to a sample of soil in a cylindrical mould, and measuring compaction. By counting blows to give the required compaction it will be possible to establish a MCV for a soil at a particular moisture content.</documentation>
        </annotation>
    </element>
    <complexType name="MCVTestType">
        <annotation>
            <documentation>Base type for MCVTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="naturalWaterContent" type="eml:ForcePerForceMeasureExt"
                        minOccurs="0">
                        <annotation>
                            <documentation>Natural moisture content of specimen prior to test.</documentation>
                        </annotation>
                    </element>
                    <element name="trial" type="diggs:MCVTestTrialPropertyType" minOccurs="0"
                        maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MCVTestTrial" type="diggs:MCVTestTrialType" abstract="false"
        substitutionGroup="diggs:AbstractObject">
        <annotation>
            <documentation>Results for each trial in MCVTest</documentation>
        </annotation>
    </element>
    <complexType name="MCVTestTrialPropertyType">
        <annotation>
            <documentation>Property for MCVTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:MCVTestTrial" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="MCVTestTrialType">
        <annotation>
            <documentation>Base type for MCVTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="trialNo" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element name="waterContent" type="eml:ForcePerForceMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Moisture content.</documentation>
                        </annotation>
                    </element>
                    <element name="interpretationMethod" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Method of interpretation of the test curve.</documentation>
                        </annotation>
                    </element>
                    <element name="bulkDensity" type="diggs:DensityOrUnitWeightMeasureType"
                        minOccurs="0">
                        <annotation>
                            <documentation>Bulk density measured after test.</documentation>
                        </annotation>
                    </element>
                    <element name="mcv" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Measured MCV</documentation>
                        </annotation>
                    </element>
                    <element name="difference" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>Difference between initial (n) and final (3n) blows in rapid assessment test.</documentation>
                        </annotation>
                    </element>
                    <element name="strongerWeaker" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Stronger or weaker than pre-calibrated standard.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MicroDevalTest" type="diggs:MicroDevalTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>A type of aggregate abrasion test that uses a Micro-Deval apparatus to rotate the sample aggregate at 100 rpm for a specific amount of time.</documentation>
        </annotation>
    </element>
    <complexType name="MicroDevalTestType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="diggs:DiggsStringType" minOccurs="0">
                        <annotation>
                            <documentation>Type of test; in this case wet or dry
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coeffSpecimenOne" type="eml:UnitlessMeasure"/>
                    <element minOccurs="0" name="coeffSpecimenTwo" type="eml:UnitlessMeasure"/>
                    <element minOccurs="0" name="dateControlPolishedStone"
                        type="gml:TimePositionType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LinearShrinkageTest" type="diggs:LinearShrinkageTestType" abstract="false"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Linear shrinkage is the decrease in length of a soil sample when oven-dried, starting with a moisture content of the sample at the liquid limit.</documentation>
        </annotation>
    </element>
    <complexType name="LinearShrinkageTestType">
        <annotation>
            <documentation>Base type for LinearShrinkageTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>

</schema>
