CommonEnumerations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:diggs_geo="http://diggsml.org/schemas/3.0/geotechnical"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b" elementFormDefault="qualified"
    vc:maxVersion="1.1" vc:minVersion="1.0">
    <simpleType name="DataTypeEnumType">
        <annotation>
            <documentation>Enumeration of data types</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="anyURI"/>
            <enumeration value="base64binary"/>
            <enumeration value="boolean"/>
            <enumeration value="byte"/>
            <enumeration value="date"/>
            <enumeration value="dateTime"/>
            <enumeration value="decimal"/>
            <enumeration value="double"/>
            <enumeration value="duration"/>
            <enumeration value="float"/>
            <enumeration value="int"/>
            <enumeration value="integer"/>
            <enumeration value="long"/>
            <enumeration value="string"/>
            <enumeration value="time"/>
            <enumeration value="vector"/>
            <enumeration value="doubleOrLimitValue"/>
        </restriction>
    </simpleType>
    <simpleType name="DescriptorMethodEnumType">
        <annotation>
            <documentation/>
        </annotation>
        <restriction base="string">
            <enumeration value="assigned">
                <annotation>
                    <documentation>Value is assigned a priori as a commonly used value or by assumption</documentation>
                </annotation>
            </enumeration>
            <enumeration value="calculated">
                <annotation>
                    <documentation>Value is computed directly from other value(s)</documentation>
                </annotation>
            </enumeration>
            <enumeration value="extrapolated">
                <annotation>
                    <documentation>Value is estimated by extrapolating trends in the known data</documentation>
                </annotation>
            </enumeration>
            <enumeration value="graphic">
                <annotation>
                    <documentation>Value is manually picked from a graph or visual display</documentation>
                </annotation>
            </enumeration>
            <enumeration value="inferred">
                <annotation>
                    <documentation>Value is estimated from some indirect measurements such as from a wireline log or transducer.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="interpolated">
                <annotation>
                    <documentation>Value is estimated betweem two known values using some presumed
                        function</documentation>
                </annotation>
            </enumeration>
            <enumeration value="maximum">
                <annotation>
                    <documentation>Value is the largest value inferred for the property</documentation>
                </annotation>
            </enumeration>
            <enumeration value="measured">
                <annotation>
                    <documentation>Value is determined directly from a laboratory or in situ test </documentation>
                </annotation>
            </enumeration>
            <enumeration value="minimum">
                <annotation>
                    <documentation>Value is the smallest value inferred for the property</documentation>
                </annotation>
            </enumeration>
            <enumeration value="missing">
                <annotation>
                    <documentation>Method known but not reported here</documentation>
                </annotation>
            </enumeration>
            <enumeration value="modeled">
                <annotation>
                    <documentation>Value is estimated from a representation of the measured feature</documentation>
                </annotation>
            </enumeration>
            <enumeration value="moving average">
                <annotation>
                    <documentation>Value is calculated as a moving average of reading</documentation>
                </annotation>
            </enumeration>
            <enumeration value="other">
                <annotation>
                    <documentation>Method other than the choices in this list. Further information should be provided in the remarks property</documentation>
                </annotation>
            </enumeration>
            <enumeration value="reported">
                <annotation>
                    <documentation>Value or description comes from a third party source</documentation>
                </annotation>
            </enumeration>
            <enumeration value="unknown">
                <annotation>
                    <documentation>Method of determination unknown and can likely not be determined </documentation>
                </annotation>
            </enumeration>
            <enumeration value="visual">
                <annotation>
                    <documentation>Value or description comes from visual or visual/manual inspection</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="GroutSpecimenExtractionLocationEnumType">
        <restriction base="string">
            <enumeration value="mixer"/>
            <enumeration value="riser"/>
            <enumeration value="plant"/>
            <enumeration value="pump"/>
        </restriction>
    </simpleType>
    <simpleType name="investigationTargetEnumExtType">
        <annotation>
            <documentation>A controlled list that indicates the target being investigated by this
                feature (feature of interest): Deep Foundation - investigation of deep foundation
                elements. Earthworks - earth materials excavated and/or emplaced by engineering
                activity. Ground Improvement - observations of and activities designed to alter the
                characterstics of natural ground. Ground Water - hydrology and chemistry of ground
                water. Indoor Atmosphere - meteorology and chemistry of air in indoor spaces.
                Natural Ground - earth materials sampled in natural or undisturbed state. Outdoor
                Atmosphere - meteorology and chemistry of air in outdoor spaces. Surface Water -
                hydrology and chemistry of surface water. Other terms can be used by prefacing the
                term with "Other:"</documentation>
        </annotation>
        <union memberTypes="diggs:investigationTargetEnumType diggs:OtherNameType"/>
    </simpleType>
    <simpleType name="mimeTypeEnumType">
        <annotation>
            <documentation>Enumerated list of common MIME types</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="application/json"/>
            <enumeration value="application/pdf"/>
            <enumeration value="application/xml"/>
            <enumeration value="application/zip"/>
            <enumeration value="text/plain"/>
            <enumeration value="text/html"/>
            <enumeration value="text/css"/>
            <enumeration value="text/csv"/>
            <enumeration value="image/jpeg"/>
            <enumeration value="image/png"/>
            <enumeration value="image/gif"/>
            <enumeration value="video/mp4"/>
        </restriction>
    </simpleType>
    <simpleType name="mimeTypeEnumExtType">
        <union memberTypes="diggs:otherMimeTypeType diggs:mimeTypeEnumType"/>
    </simpleType>
    <simpleType name="otherMimeTypeType">
        <restriction base="string">
            <pattern value="Other: [a-z\-\+\.]+/[a-z0-9\-\+\.]+"/>
        </restriction>
    </simpleType>
    <simpleType name="PressureTypeEnumType">
        <restriction base="string">
            <enumeration value="effective"/>
            <enumeration value="gauge"/>
            <enumeration value="transducer"/>
        </restriction>
    </simpleType>
    <simpleType name="QualifierEnumType">
        <restriction base="string">
            <enumeration value="upper"/>
            <enumeration value="lower"/>
            <enumeration value="method"/>
            <enumeration value="quantification"/>
            <enumeration value="reporting"/>
            <enumeration value="minimum allowable value"/>
            <enumeration value="maximum allowable value"/>
        </restriction>
    </simpleType>
    <simpleType name="ExtQualifierEnumType">
        <union memberTypes="diggs:OtherNameType diggs:QualifierEnumType"/>
    </simpleType>
    <simpleType name="TerminationCriteriaEnumType">
        <restriction base="string">
            <enumeration value="apparent lugeon"/>
            <enumeration value="cracks"/>
            <enumeration value="cross communication"/>
            <enumeration value="GIN value (pressure x volume limit)"/>
            <enumeration value="grout at surface"/>
            <enumeration value="grout flow at constant pressure"/>
            <enumeration value="movement"/>
            <enumeration value="movement, lateral"/>
            <enumeration value="movement vertical"/>
            <enumeration value="pressure limit"/>
            <enumeration value="pressure limit, effecive"/>
            <enumeration value="pressure limit, measured at pump"/>
            <enumeration value="pressure limit, measured at gauge"/>
            <enumeration value="rotation"/>
            <enumeration value="grout volume limit"/>
            <enumeration value="tilt"/>
        </restriction>
    </simpleType>
    <simpleType name="investigationTargetEnumType">
        <annotation>
            <documentation>A controlled list that indicates the target being investigated by this
                feature: Deep Foundation - investigation of deep foundation elements. Earthworks -
                earth materials excavated and/or emplaced by engineering activity. Ground
                Improvement - activities designed to alter the characterstics of natural ground.
                Ground Water - hydrology and chemistry of ground water. Indoor Atmosphere -
                meteorology and chemistry of air in indoor spaces. Material Sample - a sample of
                material not derived from other enumerations in this list. Natural Ground - earth
                materials sampled in natural or undisturbed state. Outdoor Atmosphere - meteorology
                and chemistry of air in outdoor spaces. Surface Water - hydrology and chemistry of
                surface water. </documentation>
        </annotation>
        <restriction>
            <simpleType>
                <restriction base="string">
                    <enumeration value="Deep Foundation"/>
                    <enumeration value="Earthworks"/>
                    <enumeration value="Ground Improvement"/>
                    <enumeration value="Ground Water"/>
                    <enumeration value="Indoor Atmosphere"/>
                    <enumeration value="Material Sample"/>
                    <enumeration value="Natural Ground"/>
                    <enumeration value="Outdoor Atmosphere"/>
                    <enumeration value="Pipeline"/>
                    <enumeration value="Surface Water"/>
                </restriction>
            </simpleType>
            <whiteSpace value="preserve"/>
        </restriction>
    </simpleType>
    <simpleType name="TerminationCriteriaExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:TerminationCriteriaEnumType"/>
    </simpleType>
    <simpleType name="TerminationFeatureEnumType">
        <restriction base="string">
            <enumeration value="floor"/>
            <enumeration value="foundation"/>
            <enumeration value="ground"/>
            <enumeration value="pipe"/>
            <enumeration value="structure"/>
        </restriction>
    </simpleType>
    <simpleType name="TerminationFeatureExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:TerminationFeatureEnumType"/>
    </simpleType>
</schema>
