Construction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:diggs="http://diggsml.org/schemas/2.6"
    xmlns:diggs_geo="http://diggsml.org/schemas/2.6/geotechnical"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://diggsml.org/schemas/2.6" version="2.6" elementFormDefault="qualified"
    vc:maxVersion="1.1" vc:minVersion="1.0">
    <!--
 import the gml and xlinks namespaces (original local profiles)  
-->
    <include schemaLocation="Diggs.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="witsml/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/witsmlv2"
        schemaLocation="witsml/2.0/data/witsml/v2.0/xsd_schemas/WitsmlAllObjects.xsd"/>
    <element name="Admixture" type="diggs:groutComponentCharacteristicsType"/>
    <complexType name="AdmixturePropertyType">
        <sequence>
            <element ref="diggs:Admixture">
                <annotation>
                    <documentation>An object that describes the type, volume, and weight of admixture used in the mix.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="Binder" type="diggs:groutComponentCharacteristicsType"/>
    <complexType name="BinderPropertyType">
        <sequence>
            <element ref="diggs:Binder">
                <annotation>
                    <documentation>An object that describes the type, volume, and weight of binder used in the mix.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="Cement" type="diggs:groutComponentCharacteristicsType">
        <annotation>
            <documentation>An object that describes the type, volume, and weight of cement used in the mix.</documentation>
        </annotation>
    </element>
    <complexType name="CementPropertyType">
        <sequence>
            <element ref="diggs:Cement"/>
        </sequence>
    </complexType>
    <complexType name="groutComponentCharacteristicsType">
        <complexContent>
            <extension base="diggs:AbstractNamedObjectType">
                <sequence>
                    <element minOccurs="0" name="specificGravity" type="diggs:SpecificGravityType">
                        <annotation>
                            <documentation>Specific gravity of grout component </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="type" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of grout component; preferably from a controlled
                                list</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="volume" type="eml:VolumeMeasureExt">
                        <annotation>
                            <documentation>Volume of grout component used</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="weight" type="eml:ForceMeasureExt">
                        <annotation>
                            <documentation>Weight of grout component used</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GroutMixPropertyType">
        <sequence>
            <element minOccurs="1" ref="diggs:GroutMix"/>
        </sequence>
    </complexType>
    <element name="FlowReading" substitutionGroup="diggs:AbstractObject"
        type="diggs:FlowReadingType">
        <annotation>
            <documentation>An object that carries properties for a flow reading </documentation>
        </annotation>
    </element>
    <complexType name="FlowReadingPropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:FlowReading"/>
        </sequence>
    </complexType>
    <complexType name="FlowReadingType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="1" name="time" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Elapsed time from start of stage</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="flowReading" type="eml:VolumeMeasure">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="gaugePressure" type="eml:PressureMeasure" minOccurs="0">
                        <annotation>
                            <documentation> </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="InjectionTimeSeries" substitutionGroup="gml:AbstractCoverage"
        type="diggs:InjectionTimeSeriesType">
        <annotation>
            <documentation>An object containing a grout stage time series.</documentation>
        </annotation>
    </element>
    <complexType name="InjectionTimeSeriesPropertyType">
        <annotation>
            <documentation>Property type holding a grout stage time series</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:InjectionTimeSeries"/>
        </sequence>
    </complexType>
    <complexType name="InjectionTimeSeriesBaseType">
        <complexContent>
            <restriction base="gml:AbstractCoverageType">
                <sequence>
                    <element ref="diggs:timeDomain"/>
                    <element ref="diggs:injectionDataResults"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="InjectionTimeSeriesType">
        <complexContent>
            <extension base="diggs:InjectionTimeSeriesBaseType">
                <sequence>
                    <element minOccurs="0" name="totalElapsedTime" type="eml:TimeMeasure"/>
                    <element minOccurs="0" name="totalGroutTake" type="eml:VolumeMeasure"/>
                    <element minOccurs="0" name="waterLugeonValue">
                        <complexType>
                            <simpleContent>
                                <extension base="double">
                                    <attribute fixed="Lu" name="uom" use="required"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element minOccurs="0" name="filteringParameters" type="diggs:DiggsStringType">
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="injectionDataResults" substitutionGroup="gml:rangeSet"
        type="diggs:InjectionDataResultsPropertyType">
        <annotation>
            <documentation>A property that holds a Grount Injection ResultSet object</documentation>
        </annotation>
    </element>
    <complexType name="InjectionDataResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:InjectionDataResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="InjectionDataResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:InjectionDataResultSetType">
        <annotation>
            <documentation>An object that contains properites describing the parameters and data values of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="StepDataResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:InjectionDataResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="InjectionDataResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:parameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="StepDataResultsSetPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:InjectionDataResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="injectionDataParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:InjectionDataPropertyInfoPropertyType">
        <annotation>
            <documentation>An object that contains Diggs property parameters.</documentation>
        </annotation>
    </element>
    <complexType name="InjectionDataPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="1">
                    <element ref="diggs:InjectionDataPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="InjectionDataPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:InjectionDataPropertyParametersType">
        <annotation>
            <documentation>An object that contains the properties property of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="InjectionDataPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:properties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="InjectionDataProperties" substitutionGroup="gml:valueComponents"
        type="diggs:InjectionDataPropertiesType">
        <annotation>
            <documentation>A property that contains a sequence of Property objects defining the results of a test or monitoring activity.</documentation>
        </annotation>
    </element>
    <complexType name="InjectionDataPropertiesType">
        <complexContent>
            <restriction base="gml:ValueArrayPropertyType">
                <sequence maxOccurs="unbounded">
                    <!--DSB: Restricted in this profile
        <group ref="gml:Value"/>-->
                    <element ref="gml:AbstractValue"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="GroutInjectionProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:GroutInjectionPropertyType"/>
    <complexType name="GroutInjectionPropertyType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of mnemonic should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="diggs:InjectionDataEnumType">
                        <annotation>
                            <documentation>The official name of the grout injection time series property, from an enumerated list of terms. Allowable terms are:
apparent_lugeon_value
column_pressure
effective_pressure
elapsed_time
flow_rate
gauge_pressure
grout_specific_gravity
grout_temperature
injection_pressure
line_loss
mix
packer_pressure
take</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property. Must conform to EML unit standards.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="atTemperature"
                        type="eml:ThermodynamicTemperatureMeasure">
                        <annotation>
                            <documentation>Temperature at which property value is valid, eg. for
                                specific gravity of solids at 20 deg C, this parameter would hold
                                the temperature value</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisBearing"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Compass bearing direction (relative to true north)
                                defining the measurement axis direction (for directional
                                measurements, eg. component of an extensometer, accelerometer,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisInclination"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Inclination of measurement axis (measured positively down
                                from horizontal); used for directional measurements, eg.
                                extensometer, accelerometer, etc. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="sampleFraction" type="diggs:SampleFractionEnumType">
                        <annotation>
                            <documentation>Fraction of total sample analyzed (from enumerated list).
                                Applies primarily to non-soil type samples </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="grainsizeFraction"
                        type="diggs:SizeFractionPropertyType">
                        <annotation>
                            <documentation>For properties of soils, the size fraction that this
                                property pertains to </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result. Commonly used to report N-values from SPT tests, or to
                                describe any other adjustments made to the reported data. Can come
                                from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list. For values that are calculated, the formula attribute allows for a formula to be included, a description/reference to the formula used to calculate te value, or details of any moving average. The samplingRate attribute describes the  raw rate of measurement collection from which any moving averages may be derived.
                               </documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="diggs:DescriptorMethodEnumType">
                                    <attribute name="formula" type="string"/>
                                    <attribute name="samplingERate" type="string">
                                        <annotation>
                                            <documentation>Describes the sampling rate of raw data collection</documentation>
                                        </annotation>
                                    </attribute>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType">
                        <annotation>
                            <documentation>Identifies the parameters and their values that may be qualified.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="curveState"
                        type="witsml:MeasurementType">
                        <annotation>
                            <documentation>Used for well logging procedures, to define the state or
                                status of the data described by the well log curve. From an
                                enumerated list.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" use="required">
                    <simpleType>
                        <union>
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value=""/>
                                </restriction>
                            </simpleType>
                            <simpleType>
                                <restriction base="integer"/>
                            </simpleType>
                        </union>
                    </simpleType>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="InjectionDataEnumType">
        <restriction base="string">
            <enumeration value="apparent_lugeon_value"/>
            <enumeration value="column_pressure"/>
            <enumeration value="effective_pressure"/>
            <enumeration value="elapsed_time"/>
            <enumeration value="flow_rate"/>
            <enumeration value="gauge_pressure"/>
            <enumeration value="grout_specific_gravity"/>
            <enumeration value="grout_temperature"/>
            <enumeration value="header_pressure"/>
            <enumeration value="injection_pressure"/>
            <enumeration value="line_loss"/>
            <enumeration value="mix"/>
            <enumeration value="packer_pressure"/>
            <enumeration value="take"/>
        </restriction>
    </simpleType>
    <simpleType name="InjectionDataExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:InjectionDataEnumType"/>
    </simpleType>
    <element name="LineLossData" type="diggs:LineLossDataType"/>
    <complexType name="LineLossDataPropertyType">
        <complexContent>
            <extension base="gml:AbstractMetadataPropertyType">
                <sequence>
                    <element ref="diggs:LineLossData"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LineLossDataType">
        <complexContent>
            <extension base="diggs:AbstractSimpleMetadataType">
                <sequence>
                    <element name="index" type="eml:PositiveLong">
                        <annotation>
                            <documentation>Index value defining order of the flow vs line loss
                                readings, counting from 1.</documentation>
                        </annotation>
                    </element>
                    <element name="flow" type="eml:VolumePerTimeMeasure"/>
                    <element minOccurs="0" name="p1" type="eml:PressureMeasure"/>
                    <element minOccurs="0" name="p2" type="eml:PressureMeasure"/>
                    <element name="lineLoss" type="eml:PressureMeasure"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="GroutMix" substitutionGroup="diggs:AbstractNamedObject" type="diggs:GroutMixType">
        <annotation>
            <documentation>An object that contains properites describing the characteristics of a grout mix.</documentation>
        </annotation>
    </element>
    <complexType name="GroutMixType">
        <complexContent>
            <extension base="diggs:AbstractNamedObjectType">
                <sequence>
                    <element minOccurs="0" name="mixNumber" type="positiveInteger">
                        <annotation>
                            <documentation>Volume water loss as grout mix dries </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="admixture" type="diggs:AdmixturePropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property containing information on admixtures used in mix
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="binder" type="diggs:BinderPropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property containing information on binders used in mix
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="cement" type="diggs:CementPropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property containing information on cements used in mix
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bleed" type="eml:VolumePerVolumeMeasure">
                        <annotation>
                            <documentation>Volume water loss as grout mix dries </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="flowCone" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Flow cone time</documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="hydrostaticColumnPressure"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Add definition</documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="lineLossCoeffA" type="double" maxOccurs="1">
                        <annotation>
                            <documentation>Coefficient A computed for line loss regression equation
                                Ax^2 + Bx + C</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lineLossCoeffB" type="double" maxOccurs="1">
                        <annotation>
                            <documentation>Coefficient B computed for line loss regression equation
                                Ax^2 + Bx + C</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lineLossCoeffC" type="double" maxOccurs="1">
                        <annotation>
                            <documentation>Coefficient C computed for line loss regression equation
                                Ax^2 + Bx + C</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="r2" type="double" maxOccurs="1">
                        <annotation>
                            <documentation>The correlation coefficient of the line loss regression equation</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="marshFlow" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Marsh cone time </documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="maxHeaderPressureAtZeroFlow"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Add definition</documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="pressureFiltration"
                        type="diggs:reciprocalSqiareRootTimeMeasure">
                        <annotation>
                            <documentation>The pressure filtration coefficient from a pressure filtration test</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="specificGravityMix"
                        type="diggs:SpecificGravityType">
                        <annotation>
                            <documentation>The target specific gravity of grout mix</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="specificGravityWater"
                        type="diggs:SpecificGravityType">
                        <annotation>
                            <documentation>The specific gravity of water</documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="staticLineResistanceAtZeroFlow"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Add definition</documentation>
                        </annotation>
                    </element>

                    <element minOccurs="0" name="theoreticalYield" type="eml:VolumeMeasure">
                        <annotation>
                            <documentation>Theoretical volume of mix following mix
                                formula</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalYield" type="eml:VolumeMeasure">
                        <annotation>
                            <documentation>Total volume of mix produced</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="typeMix" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of grout mix; preferably from a controlled
                                list</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="volumeWater" type="eml:VolumeMeasureExt">
                        <annotation>
                            <documentation>Volume of water used</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wtCementPerGalH20" type="eml:ForceMeasure">
                        <annotation>
                            <documentation>Weight of cement used per gallon of
                                water.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RockGroutingActivity" substitutionGroup="diggs:AbstractConstructionActivity"
        type="diggs:RockGroutingActivityType">
        <annotation>
            <documentation>A feature that contains properties associated with rock grouting within a
                borehole. A rock grouting activity feature can accommodate all grouting within a borehole, where the grouting set up is the same for all grout stages. Otherwise, multiple grouting features can be assigned to a borehole to accommodate variations in grout set up, equipment, mix types, or where there is significant time between various grouting activities.</documentation>
        </annotation>
    </element>
    <complexType name="RockGroutingPropertyType">
        <sequence>
            <element minOccurs="1" ref="diggs:RockGroutingActivity"/>
        </sequence>
    </complexType>
    <complexType name="RockGroutingActivityType">
        <complexContent>
            <extension base="diggs:AbstractConstructionActivityType">
                <sequence>
                    <element name="distanceToWater" type="diggs:PointLocationPropertyType"
                        minOccurs="0" form="qualified">
                        <annotation>
                            <documentation>Distance to water as measured along the borehole centerline</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="geoUnit" type="diggs:GeoUnitPropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property type containing objects that describe the geologic units or contacts of interest to the grouting activity.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="groutingInterval"
                        type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>Total depth interval of the borehole being grouted as
                                measured along borehole centerline.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lengthOfOCSP" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Length of the overburden casing as sleeve pipe</documentation>
                        </annotation>
                    </element>
                    <element name="maxDesignPressureForRockByVerticalDepth"
                        type="eml:ForcePerVolumeMeasure" minOccurs="0">
                        <annotation>
                            <documentation>The maximum design pressure for grouting in rock, recorded as pressure per unit of vertical depth (eg. psi/ft)
</documentation>
                        </annotation>
                    </element>
                    <element name="maxDesignPressureForSoilByVerticalDepth"
                        type="eml:ForcePerVolumeMeasure" minOccurs="0">
                        <annotation>
                            <documentation>The maximum design pressure for grouting in soil, recorded as pressure per unit of vertical depth (eg. psi/ft)
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="overburdenInterval"
                        type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>Total interval of overburden measured along borehole
                                centerline.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="overburdenVerticalThickness"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Vertical thickness of overburden (eg. vertical depth to
                                base of overburden).</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="groutMix" type="diggs:GroutMixPropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property type containing information about grout
                                mixes</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="groutStage" type="diggs:GroutStagePropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property type containing information about individual grout stages
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="GroutStage" substitutionGroup="diggs:AbstractNamedObject"
        type="diggs:GroutStageType">
        <annotation>
            <documentation>An object that carries properties for a grout stage</documentation>
        </annotation>
    </element>
    <complexType name="GroutStagePropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:GroutStage"/>
        </sequence>
    </complexType>
    <complexType name="GroutStageType">
        <complexContent>
            <extension base="diggs:AbstractNamedObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:measurementRef">
                        <annotation>
                            <appinfo>diggs:Test, diggs:Monitor</appinfo>
                            <documentation>If this activity is associated with any measurements, this property references that measurement id</documentation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element name="stageType" minOccurs="0">
                        <annotation>
                            <documentation>Restricted string; either ascending or descending are allowed.</documentation>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="ascending"/>
                                <enumeration value="descending"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element minOccurs="0" name="stageInterval"
                        type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The depth interval for the stage (measured in a linear
                                reference system), where the grout material was emplaced.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="gaugeHeight" type="eml:LengthMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Height of gage (H0) </documentation>
                        </annotation>
                    </element>
                    <element name="maxTargetEffectivePressure" minOccurs="0"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Maximum target effective pressure for this stage
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="startTimeFilling"
                        type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>The time instant when filling starts.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="startTimePressurizing"
                        type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>The time instant when pressurizing
                                starts.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="endTime" type="gml:TimeInstantPropertyType">
                        <annotation>
                            <documentation>The time when grouting of interval ends </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="gInValue" type="eml:MomentOfForceMeasure">
                        <annotation>
                            <documentation>Grouting Intensity Number - pressure x volume used for managing grout injection
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="deliveryType" type="gml:CodeType">
                        <annotation>
                            <documentation>The device or method by which the grout is delivered - eg. manchette, tube, sleeve, etc. Intended to come from a controlled list.
</documentation>
                        </annotation>
                    </element>
                    <element name="injectionTimeSeries" type="diggs:InjectionTimeSeriesPropertyType"
                        minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Property that contains the measured and calculated values collected during grout injection in this stage. A grout stage can have multiple injection time series</documentation>
                        </annotation>
                    </element>
                    <element name="targetVolume" type="eml:VolumeMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Volume of hole within stage interval</documentation>
                        </annotation>
                    </element>
                    <element name="totalCement" type="eml:ForceMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Volume grout cement used to fill stage </documentation>
                        </annotation>
                    </element>
                    <element name="totalVolumeTake" type="eml:VolumeMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Volume grout used to fill stage </documentation>
                        </annotation>
                    </element>
                    <element name="volumeInjection" type="eml:VolumePerLengthMeasure" minOccurs="0">
                        <annotation>
                            <documentation>Volume of grout injection per unit length of stage interval filled.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LugeonTest" substitutionGroup="diggs:AbstractTestProcedure"
        type="diggs:LugeonTestType"/>
    <complexType mixed="false" name="LugeonTestType">
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="depthToGroundWater" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Distance from ground surface to the top of the saturated zone (water table)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureMeasurementConfiguration">
                        <annotation>
                            <documentation>Describes how pressure is measured during the test; from a controlled list. Allowed values are:

 - pressure gauge
 - borehole transducer</documentation>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <enumeration value="pressure gauge"/>
                                <enumeration value="borehole transducer"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element minOccurs="0" name="pressureGaugeHeight" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Height above ground surface to the pressure gauge location, if pressure gauge is used instead of a borehole transducer</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pMax" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>The maximum test pressure, defined so that it does not exceed the in-situ minimum stress, thus avoiding hydraulic fracturing.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="lugeonStep"
                        type="diggs:LugeonStepPropertyType">
                        <annotation>
                            <documentation>Contains properties for each step of the lugeeon test run at various injection pressures. There are typically five steps in a lugeon test.
</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LugeonStepPropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:LugeonStep"/>
        </sequence>
    </complexType>
    <element abstract="false" name="LugeonStepTimeSeries" substitutionGroup="gml:AbstractCoverage"
        type="diggs:LugeonStepTimeSeriesType">
        <annotation>
            <documentation>An object containing a Lugeon test step time series.</documentation>
        </annotation>
    </element>
    <element name="LugeonStep" substitutionGroup="diggs:AbstractObject" type="diggs:LugeonStepType">
        <annotation>
            <documentation>An object that carries properties for a Lugeon test step</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="1" name="lugeonStepNumber" type="positiveInteger">
                        <annotation>
                            <documentation>The number of this step, with 1 representing the first step, 2 the second step, etc.</documentation>
                        </annotation>
                    </element>
                    <element name="pressure" type="eml:PressureMeasure" minOccurs="0">
                        <annotation>
                            <documentation>The target pressure for the step</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="avgFlowRate" type="eml:VolumePerTimeMeasure">
                        <annotation>
                            <documentation>The average flow rate for the step, derived from the flow measurements recorded in the step time series.
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coeffPermeability" type="eml:LengthPerTimeMeasure">
                        <annotation>
                            <documentation>The coefficient of permeability (also known as hydraulic conductivity) computed from the step measurements. This value is averaged with other step results and is reported as one of the primary test results
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lugeonValue" type="double">
                        <annotation>
                            <documentation>The Lugeon value, a measure of hydraulic conductivity in rock, as computed from the step measurements. This value is averaged with other step results and is reported as one of the primary test results
</documentation>
                        </annotation>
                    </element>
                    <element name="lugeonStepTimeSeries"
                        type="diggs:LugeonStepTimeSeriesPropertyType" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>Property that contains the  recorded flow for the test step.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalElapsedTime" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>The total elapsed time for the step; this is typically 10 minutes, but could be different if steady-state flow occurs</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalVolumeWater" type="eml:VolumeMeasure">
                        <annotation>
                            <documentation>The total volume of water pumped into the borehole during this step</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LugeonStepTimeSeriesPropertyType">
        <annotation>
            <documentation>Property type holding a grout stage time series</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:LugeonStepTimeSeries"/>
        </sequence>
    </complexType>
    <complexType name="LugeonStepTimeSeriesType">
        <complexContent>
            <restriction base="gml:AbstractCoverageType">
                <sequence>
                    <element ref="diggs:timeDomain"/>
                    <element ref="diggs:lugeonStepDataResults"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="lugeonStepDataResults" substitutionGroup="gml:rangeSet"
        type="diggs:LugeonStepDataResultsPropertyType">
        <annotation>
            <documentation>A property that holds a Lugeon test step ResultSet object</documentation>
        </annotation>
    </element>
    <element name="LugeonStepDataResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:InjectionDataResultSetType">
        <annotation>
            <documentation>An object that contains properites describing the parameters and data values of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:parameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="lugeonStepDataParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:LugeonStepDataPropertyInfoPropertyType">
        <annotation>
            <documentation>An object that contains Diggs property parameters.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="1">
                    <element ref="diggs:LugeonStepDataPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="LugeonStepDataPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:LugeonStepDataPropertyParametersType">
        <annotation>
            <documentation>An object that contains the properties property of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:properties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="lugeonStepDataProperties" substitutionGroup="gml:valueComponents"
        type="diggs:InjectionDataPropertiesType">
        <annotation>
            <documentation>A property that contains a sequence of Property objects defining the results of a test or monitoring activity.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataPropertiesType">
        <complexContent>
            <restriction base="gml:ValueArrayPropertyType">
                <sequence maxOccurs="unbounded">
                    <!--DSB: Restricted in this profile
        <group ref="gml:Value"/>-->
                    <element ref="gml:AbstractValue"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="LugeonStepDataProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:LugeonStepDataPropertyType"/>
    <complexType name="LugeonStepDataPropertyType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of mnemonic should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="diggs:LugeonStepDataEnumType">
                        <annotation>
                            <documentation>The official name of the grout injection time series property, from an enumerated list of terms. Allowable terms are:
apparent_lugeon_value
column_pressure
effective_pressure
elapsed_time
flow_rate
gauge_pressure
grout_specific_gravity
grout_temperature
injection_pressure
line_loss
mix
packer_pressure
take</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property. Must conform to EML unit standards.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="atTemperature"
                        type="eml:ThermodynamicTemperatureMeasure">
                        <annotation>
                            <documentation>Temperature at which property value is valid, eg. for
                                specific gravity of solids at 20 deg C, this parameter would hold
                                the temperature value</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisBearing"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Compass bearing direction (relative to true north)
                                defining the measurement axis direction (for directional
                                measurements, eg. component of an extensometer, accelerometer,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisInclination"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Inclination of measurement axis (measured positively down
                                from horizontal); used for directional measurements, eg.
                                extensometer, accelerometer, etc. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="sampleFraction" type="diggs:SampleFractionEnumType">
                        <annotation>
                            <documentation>Fraction of total sample analyzed (from enumerated list).
                                Applies primarily to non-soil type samples </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="grainsizeFraction"
                        type="diggs:SizeFractionPropertyType">
                        <annotation>
                            <documentation>For properties of soils, the size fraction that this
                                property pertains to </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result. Commonly used to report N-values from SPT tests, or to
                                describe any other adjustments made to the reported data. Can come
                                from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list. For values that are calculated, the formula attribute allows for a formula to be included, a description/reference to the formula used to calculate te value, or details of any moving average. The samplingRate attribute describes the  raw rate of measurement collection from which any moving averages may be derived.
                               </documentation>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="diggs:DescriptorMethodEnumType">
                                    <attribute name="formula" type="string"/>
                                    <attribute name="samplingERate" type="string">
                                        <annotation>
                                            <documentation>Describes the sampling rate of raw data collection</documentation>
                                        </annotation>
                                    </attribute>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType">
                        <annotation>
                            <documentation>Identifies the parameters and their values that may be qualified.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="curveState"
                        type="witsml:MeasurementType">
                        <annotation>
                            <documentation>Used for well logging procedures, to define the state or
                                status of the data described by the well log curve. From an
                                enumerated list.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" use="required">
                    <simpleType>
                        <union>
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value=""/>
                                </restriction>
                            </simpleType>
                            <simpleType>
                                <restriction base="integer"/>
                            </simpleType>
                        </union>
                    </simpleType>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="LugeonStepDataEnumType">
        <restriction base="string">
            <enumeration value="elapsed_time"/>
            <enumeration value="flow_volume"/>
            <enumeration value="flow_rate"/>
            <enumeration value="gauge_pressure"/>
            <enumeration value="transducer_pressure"/>
        </restriction>
    </simpleType>
    <simpleType name="LugeonStepDataExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:InjectionDataEnumType"/>
    </simpleType>
    <complexType name="LugeonStepDataResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:LugeonStepDataResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="GeoUnit" type="diggs:GeoUnitType"/>
    <complexType name="GeoUnitType">
        <complexContent>
            <extension base="diggs:AbstractNamedObjectType">
                <sequence>
                    <element minOccurs="0" name="distanceToTopOfUnit"
                        type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>Distance to top of unit of interest as measureed along the borehole centerline.
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="verticalDistanceToTopOfUnit"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Vertical distance to the top of the unit, measured from the borehole reference point location.
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="distanceToBaseOfUnit"
                        type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>Distance to base of unit of interest as measureed along the borehole centerline.
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="verticalDistanceToBaseOfUnit"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Vertical distance to the base of the unit, measured from the borehole reference point location.
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="verticallThicknessOfUnit" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Thickness of the unit, measureed vertically.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeoUnitPropertyType">
        <sequence>
            <element ref="diggs:GeoUnit">
                <annotation>
                    <documentation>A geologic unit of interest to the grouting activity; contains properties indicating the unit's location, thickness, etc.</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>
