Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://diggsml.org/schemas/3.0" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:diggs="http://diggsml.org/schemas/3.0" xmlns:g3.3="http://www.opengis.net/gml/3.3/ce"
    xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0">
    
    <!-- Imports -->
    
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/witsmlv2"/>
        
    <!-- ================================================================ -->
    <!-- DOCUMENTINFORMATION ELEMENTS                                      -->
    <!-- ================================================================ -->
    
    <element name="DocumentInformation" type="diggs:DocumentInformationType"
        substitutionGroup="diggs:AbstractComponentObjectBase" abstract="false">
        <annotation>
            <documentation>An object that contains metadata about the specific xml
                instance.</documentation>
        </annotation>
    </element>
    
    <complexType name="DocumentInformationType">
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <sequence>
                        <element ref="gml:description" minOccurs="0"/>
                        <element minOccurs="0" ref="gml:identifier"/>
                    </sequence>
                    <element name="creationDate" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The date that this instance file was
                                created.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="effectiveDate" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The effective date for the data in this XML
                                instance.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="expirationDate" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The expiration date for the data in this XML
                                instance.</documentation>
                        </annotation>
                    </element>
                    <element name="author" type="diggs:BusinessAssociatePropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>The author of the document.</documentation>
                        </annotation>
                    </element>
                    <element name="disclaimer" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1">
                        <annotation>
                            <documentation>Conditions and limitations of the data.</documentation>
                        </annotation>
                    </element>
                    <element name="sourceSoftware" type="diggs:SoftwareApplicationPropertyType"
                        minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The software that created the instance.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="destination" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>The intended destination for this XML
                                instance.</documentation>
                        </annotation>
                    </element>
                    <element name="destinationSoftware" type="diggs:SoftwareApplicationPropertyType"
                        minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The software that is intended to consume the
                                file.</documentation>
                        </annotation>
                    </element>
                    <element name="auditTrail" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A series of remarks providing a history of
                                transmissions.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="crs"
                        type="diggs:CRSPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="DocumentInformationPropertyType">
        <sequence>
            <element minOccurs="1" maxOccurs="1" ref="diggs:DocumentInformation"/>
        </sequence>
    </complexType>
  
    <complexType name="CRSPropertyType">
        <sequence>
            <element ref="gml:AbstractCRS"/>
        </sequence>
    </complexType>
    
    <!-- ================================================================ -->
    <!-- PROJECT ELEMENTS                                                  -->
    <!-- ================================================================ -->
    
    <complexType name="ProjectPropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:AbstractProject"> </element>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    
    <!-- ================================================================ -->
    <!-- SAMPLINGFEATURE ELEMENTS                                         -->
    <!-- ================================================================ -->
    
    <complexType name="SamplingFeaturePropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:AbstractSamplingFeature"/>
        </sequence>
    </complexType>
    
    <!-- ================================================================ -->
    <!-- SAMPLINGACTIVITY ELEMENTS                                        -->
    <!-- ================================================================ -->
    
    <simpleType name="ActuvutyTypeEnumType">
        <restriction base="string">
            <enumeration value="aggregate"/>
            <enumeration value="collect"/>
            <enumeration value="none"/>
            <enumeration value="subsample"/>
            <enumeration value="test"/>
            <enumeration value="unknown"/>
        </restriction>
    </simpleType>
    
    <!-- ================================================================ -->
    <!-- SAMPLE ELEMENTS                                                  -->
    <!-- ================================================================ -->
    
    <complexType name="SamplePropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:AbstractSample"/>
        </sequence>
    </complexType>
    
    <!-- ================================================================ -->
    <!-- OBSERVATION ELEMENTS                                             -->
    <!-- ================================================================ -->
    
    <complexType name="ObservationSystemPropertyType">
        <sequence>
            <element ref="diggs:AbstractObservationSystem"/>
        </sequence>
    </complexType> 

    <!-- ================================================================ -->
    <!-- MEASUREMENT ELEMENTS                                                   -->
    <!-- ================================================================ -->
    
    <complexType name="MeasurementPropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:AbstractMeasurement"/>
        </sequence>
    </complexType>
     
    <!-- ================================================================ -->
    <!-- GROUP ELEMENTS                                                   -->
    <!-- ================================================================ -->
    
    <complexType name="GroupPropertyType">
        <sequence>
            <element ref="diggs:AbstractGroup" minOccurs="1" maxOccurs="1"/>
        </sequence>
    </complexType>
 
    <!-- ================================================================ -->
    <!-- EQUIPMENT ELEMENTS                                               -->
    <!-- ================================================================ -->
    
    <element abstract="false" name="Detector" substitutionGroup="diggs:AbstractObject"
        type="diggs:DetectorType">
        <annotation>
            <documentation>A component of a sensor that measures one specific property (measurand),
                optionally along a single geometric axis</documentation>
        </annotation>
    </element>
    
    <complexType name="DetectorType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="detectorLocation" type="diggs:LocationPropertyType">
                        <annotation>
                            <documentation>The location that the detector measures (eg response zone
                                of the detector)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="measurand"
                        type="gml:CodeWithAuthorityType">
                        <annotation>
                            <documentation>Contains the code value of the property being measured.
                                Codespace must be defined and the value should occur within a
                                dictionary</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="type" type="gml:CodeType">
                        <annotation>
                            <documentation>A term describing the type of sensor. Intended to come from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisBearing"
                        type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>Compass bearing direction (relative to true north)
                                defining the measurement axis direction (for directional
                                measurements, eg. component of an extensometer, accelerometer,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisInclination"
                        type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>Inclination of measurement axis (measured positively down
                                from horizontal); used for directional measurements, eg.
                                extensometer, accelerometer, etc. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    <!-- ================================================================ -->
    <!-- PROCEDURE ELEMENTS                                               -->
    <!-- ================================================================ -->
    
    <element name="Specification" type="diggs:SpecificationType"
        substitutionGroup="diggs:AbstractProcedure" abstract="false">
        <annotation>
            <documentation>An object that describes the specification or method used for testing or
                construction.</documentation>
        </annotation>
    </element>
 
    <complexType name="SpecificationType">
        <complexContent>
            <extension base="diggs:AbstractProcedureType">
                <sequence>
                    <element name="accredtingBody" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1">
                        <annotation>
                            <documentation>Identification of the accrediting body and reference
                                number, if applicable.</documentation>
                        </annotation>
                    </element>
                    <element name="shortMethodName" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1"/>
                    <element name="standardClause" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1"/>
                    <element name="standardPart" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1"/>
                    <element name="standardReferenceNumber" type="diggs:DiggsStringType"
                        minOccurs="0" maxOccurs="1"/>
                    <element name="standardTitle" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1"/>
                    <element name="standardVersion" type="diggs:DiggsStringType" minOccurs="0"
                        maxOccurs="1"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherSpecificationProperty"
                        type="diggs:ParameterPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    </schema>