CoreSamplingFeatures.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">

    <!-- ================================================================================= -->
    <!-- This schema file contains abstract and concrete elements and types that define    -->
    <!-- CORE samplng features ans associated geometry and time domain objects.            -->
    <!-- ================================================================================= -->
    <!-- ================================================================================= -->
    <!-- SAMPLING FEATURE OBJECTS                                                                  -->
    <!-- ================================================================================= -->

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>

    <element name="AbstractLinearSamplingFeature" type="diggs:AbstractLinearSamplingFeatureType"
        substitutionGroup="diggs:AbstractSamplingFeature" abstract="true">
        <annotation>
            <documentation>Base type for a sampling feature with a linear geometry (eg. sounding or
                borehole). </documentation>
        </annotation>
    </element>
    <complexType name="AbstractLinearSamplingFeatureType" abstract="true">
        <annotation>
            <documentation>Base type for sampling features with linear (1D) geometries including
                boreholes and trenches.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSamplingFeatureType">
                <sequence>
                    <element name="centerLine" type="diggs:LinearExtentPropertyType"
                        maxOccurs="unbounded" minOccurs="1">
                        <annotation>
                            <documentation>A reference to a LinearExtent object that represents the
                                linear geometry of the feature, defining its shape and location. For
                                a borehole for example, the linestring would represent the
                                borehole's trajectory in 3D space. Multiple centerlines can be
                                defined (all associated with the same reference point) to define
                                complex objects such as a wellbore with sidetracks, or different
                                reference datums for a single borehole.</documentation>
                        </annotation>
                    </element>
                    <element name="linearReferencing"
                        type="diggs:LinearSpatialReferenceSystemPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A reference to a LinearSpatialReferenceSystem object for
                                this sampling feature. A linear SRS allows other objects to
                                reference their position (location) on the sampling feature with 1D
                                coordinates that represents distance along the linear sampling
                                feature, typically from the centerline origin. For sampling features
                                such as boreholes the linear SRS coordinates define measured depths
                                down the hole's centerline.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="plunge" type="diggs:PlungeMeasureType">
                        <annotation>
                            <documentation>For an inclined feature, the plunge angle, measured from
                                the horizontal, positive up</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bearing" type="diggs:BearingMeasureType">
                        <annotation>
                            <documentation>For an inclined feature, the direction of plunge,
                                positive clockwise from the reference azimuth, as expressed in the
                                refAzimuth attribute.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractLinearInstallation"
        substitutionGroup="diggs:AbstractSamplingFeature"
        type="diggs:AbstractLinearInstallationType">
        <annotation>
            <documentation>Abstract element for linear installations within sampling features.
                Serves as the head of the substitution group for linear installation
                types.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractLinearInstallationType">
        <annotation>
            <documentation>Base type for linear installations within sampling features such as
                instrumentation strings or casing.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLinearSamplingFeatureType">
                <sequence>
                    <element ref="diggs:samplingFeatureRef"/>
                    <element minOccurs="0" name="installationConstructionEvent"
                        type="diggs:InstallationEventPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Information on the occurrence and activities involved
                                during construction of the installation within the sampling
                                feature</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="installationEquipment"
                        type="diggs:EquipmentPropertyType">
                        <annotation>
                            <documentation> Equipment used to install the point installation.
                                References the machinery, tools, or devices employed during
                                installation of the monitoring point or instrumentation.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="InstallationEvent" type="diggs:InstallationEventType">
        <annotation>
            <documentation>An object that contains properties about a time or depth related event
                occurring in association with creation of an installation feature.</documentation>
        </annotation>
    </element>
    <complexType name="InstallationEventType">
        <annotation>
            <documentation>Complex type: InstallationEventType</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractEventType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>

    <!-- ================================================================================= -->
    <!-- GEOMETRY OBJECTS                                                                  -->
    <!-- ================================================================================= -->

    <element abstract="true" name="AbstractGeometricAggregate"
        substitutionGroup="diggs:AbstractGeometry" type="diggs:AbstractGeometricAggregateType">
        <annotation>
            <documentation>Abstract element for geometry aggregates. Serves as the head of the
                substitution group for collections of geometric primitives.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractGeometricAggregateType">
        <annotation>
            <documentation>Base type for geometry aggregates - collections of geometric primitives
                that together represent a single geometric concept. Aggregates allow representation
                of complex geometries (e.g., multi-part features, discontinuous sampling areas)
                while maintaining individual geometric elements. Common examples include MultiPoint
                (for multiple discrete sampling locations), MultiCurve (for non-contiguous linear
                features), and MultiSurface (for multiple surface areas representing a single
                feature).</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometryType"> </extension>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractGeometricPrimitive"
        substitutionGroup="diggs:AbstractGeometry" type="diggs:AbstractGeometricPrimitiveType">
        <annotation>
            <documentation>Base type for DIGGS geometry primitives </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractGeometricPrimitiveType">
        <annotation>
            <documentation>diggs:AbstractGeometricPrimitiveType is the abstract root type of the
                geometric primitives. A geometric primitive is a geometric object that is not
                decomposed further into other primitives in the system. All primitives are oriented
                in the direction implied by the sequence of their coordinate tuples.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometryType"/>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractGeometry" substitutionGroup="gml:AbstractGeometry"
        type="diggs:AbstractGeometryType">
        <annotation>
            <documentation>Base type for DIGGS geometry objects </documentation>
        </annotation>
    </element>
    <complexType name="AbstractGeometryType" abstract="true">
        <annotation>
            <documentation>Base type for all DIGGS geometry objects. DIGGS geometry is based on GML
                (Geography Markup Language) geometry but restricted to a simplified subset
                appropriate for geotechnical and geoenvironmental applications. This abstract type
                is the root of the DIGGS geometry hierarchy and ensures compatibility with GML while
                providing geotechnical-specific geometric representations for sampling features,
                locations, and spatial relationships.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractGeometryType">
                <sequence>
                    <element ref="gml:description" minOccurs="0"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>

    <element name="PointLocation" substitutionGroup="diggs:AbstractGeometricPrimitive"
        type="diggs:PointLocationType">
        <annotation>
            <documentation>A Diggs geometry object defining a point location.</documentation>
        </annotation>
    </element>
    <complexType name="PointLocationType">
        <annotation>
            <documentation>Complex type: PointType</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometricPrimitiveType">
                <sequence>
                    <choice>
                        <element ref="gml:pos"/>
                    </choice>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation>Provides accuracy information for the
                                referencePoint.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PointLocationPropertyType">
        <annotation>
            <documentation>Complex type: PointLocationPropertyType</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="diggs:PointLocation"/>
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>

    <element name="MultiPointLocation" substitutionGroup="diggs:AbstractGeometricAggregate"
        type="diggs:MultiPointLocationType">
        <annotation>
            <documentation>A Diggs geometry object that contains a collection of point
                locations.</documentation>
        </annotation>
    </element>
    <complexType name="MultiPointLocationType">
        <annotation>
            <documentation>Geometry type for collections of point locations. Extends
                AbstractGeometricAggregateType with a posList and optional uncertainty. Used for
                representing multiple related point locations efficiently.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometricAggregateType">
                <sequence>
                    <element ref="gml:posList"/>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="MultiPointPropertyType">
        <annotation>
            <documentation>Complex type: MultiPointPropertyType</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="diggs:MultiPointLocation"/>
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>

    <complexType name="RectifiedGridType">
        <annotation>
            <documentation>Extended type based on GridType. Adds elements for rectified grid type
                definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:GridType">
                <sequence>
                    <element name="origin" type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>The origin property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="offsetVector" type="gml:VectorType">
                        <annotation>
                            <documentation>The offset vector property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RectifiedGrid" substitutionGroup="diggs:AbstractGeometry"
        type="diggs:RectifiedGridType">
        <annotation>
            <documentation>The rectified grid property.</documentation>
        </annotation>
    </element>

    <element name="Grid" type="diggs:GridType">
        <annotation>
            <documentation>The grid property.</documentation>
        </annotation>
    </element>
    <complexType name="GridType">
        <annotation>
            <documentation>Extended type based on AbstractGeometryType. Adds elements for grid type
                definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometryType">
                <sequence>
                    <element name="limits" type="gml:GridLimitsType">
                        <annotation>
                            <documentation>The limits property.</documentation>
                        </annotation>
                    </element>
                    <choice>
                        <element name="axisLabels" type="gml:NCNameList">
                            <annotation>
                                <documentation>The axis labels property.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" name="axisName" type="string">
                            <annotation>
                                <documentation>Name of the axis.</documentation>
                            </annotation>
                        </element>
                    </choice>
                </sequence>
                <attribute name="dimension" type="positiveInteger" use="required">
                    <annotation>
                        <documentation>The dimension attribute.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractCurve"
        substitutionGroup="diggs:AbstractGeometricPrimitive" type="diggs:AbstractCurveType">
        <annotation>
            <documentation>Abstract element for one-dimensional geometric primitives (curves).
                Serves as the head of the curve substitution group.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractCurveType">
        <annotation>
            <documentation>diggs:AbstractCurveType is an abstraction of a curve to support the
                different levels of complexity. The curve may always be viewed as a geometric
                primitive, i.e. is continuous.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometricPrimitiveType"/>
        </complexContent>
    </complexType>

    <element name="LinearExtent" substitutionGroup="diggs:AbstractCurve"
        type="diggs:LinearExtentType">
        <annotation>
            <documentation> Implementation of ISO 19148:2021 ยง6.3 Linear Element concept for DIGGS.
                A LinearExtent defines a location as a linear extent or interval, with the first
                vertex representing the starting location and the last vertex representing the end
                location. This is the fundamental spatial object along which linear referencing V
                measurements are made. For DIGGS applications, LinearExtent typically represents: -
                Borehole centerline (3D path from collar to bottom) - Well trajectory (including
                deviated wells) - CPT sounding path - Geophysical trackline - Survey transect or
                traverse The geometry is stored in gml:posList with coordinates in the order they
                are traversed during measurement. Measurements proceed from first to last
                coordinate. </documentation>
        </annotation>
    </element>
    <complexType name="LinearExtentType">
        <annotation>
            <documentation> Type definition for LinearExtent, implementing ISO 19148:2021 ยง6.3
                Linear Element concept. Extends AbstractCurveType to provide a linear geometric
                primitive with: - Ordered coordinate list (gml:posList) - Optional datum reference
                for vertical/depth coordinates - Optional anchor points for geometric calibration -
                Optional uncertainty information </documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractCurveType">
                <sequence>
                    <choice>
                        <element ref="gml:posList"/>
                    </choice>
                    <element minOccurs="0" name="datumReference" type="diggs:ReferentTypeEnumType">
                        <annotation>
                            <documentation> The type of local or permanent reference datum for
                                vertical gravity-based (i.e., elevation and vertical depth) and
                                measured depth coordinates within the context of a borehole or well.
                                Includes terminology from eml:WellboreDatumReference. The datum is
                                associated with the origin (first point) of the linear extent.
                                Common values: groundSurface, kellyBushing, rotaryBushing,
                                meanSeaLevel, seafloor, etc. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="anchorPoint"
                        type="diggs:ReferentPropertyType">
                        <annotation>
                            <documentation> Calibration points that relate measure values to
                                geometric positions for this specific LinearElement. Used only when:
                                1. Core stretch/compression - Physical core length differs from
                                measured depth (anchor at top and bottom enables scaling) 2. Survey
                                corrections - Downhole surveys or GPS waypoints provide control
                                points for geometry adjustment 3. Interpolative positioning - When
                                measures cannot be directly computed from centerline geometry For
                                standard DIGGS usage where measures are computed by interpolating
                                along the LinearExtent geometry, anchor points are NOT needed - the
                                geometry itself provides the spatial framework. However, for linear
                                element definitions where the length of the linear element does not
                                correspond to that determined from the coordinates (such as with
                                expanded or compressed core samples), these calibration points
                                provide a means for calculating true positions from those referenced
                                by the LRS. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="startValue" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Where the linear element represented by this object is
                                linearly referenced, startValue represents the measure value at the
                                start of the linear element. Defaults to 0 in the uom of the linear
                                referencing method if omitted.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation> Uncertainty information for the geometric positions
                                along this LinearExtent. Applicable when the spatial coordinates
                                have known measurement uncertainty. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LinearExtentPropertyType">
        <annotation>
            <documentation> Property type for referencing LinearExtent elements, following GML
                property type pattern. </documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="diggs:LinearExtent"/>
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractSurface" nillable="false"
        substitutionGroup="diggs:AbstractGeometricPrimitive" type="diggs:AbstractSurfaceType">
        <annotation>
            <documentation>Head of a substitution group for all 2D surface objects.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractSurfaceType">
        <annotation>
            <documentation>gml:AbstractSurfaceType is an abstraction of a surface to support the
                different levels of complexity. A surface is always a continuous region of a
                plane.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometricPrimitiveType"/>
        </complexContent>
    </complexType>
    <complexType name="SurfacePropertyType">
        <annotation>
            <documentation>Complex type: SurfacePropertyType</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="gml:AbstractSurface"/>
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>

    <element name="PlanarSurface" substitutionGroup="gml:AbstractSurface"
        type="diggs:PlanarSurfaceType">
        <annotation>
            <documentation>A Diggs geometry object that represents a surface that lies within a
                single plain. It's properties are of a polygon with an outer ring and optionally
                multiple inner rings The coordinate points that define all of the rings must be
                coplanar</documentation>
        </annotation>
    </element>
    <complexType name="PlanarSurfaceBaseType">
        <complexContent>
            <restriction base="gml:AbstractSurfaceType"> </restriction>
        </complexContent>
    </complexType>
    <complexType name="PlanarSurfaceType">
        <annotation>
            <documentation>Extended type based on AbstractSurfaceType. Adds elements for polygon type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:PlanarSurfaceBaseType">
                <sequence>
                    <element minOccurs="0" ref="gml:exterior"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:interior"/>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="MultiPlanarSurface" substitutionGroup="gml:AbstractSurface"
        type="diggs:MultiPlanarSurfaceType">
        <annotation>
            <documentation>A Diggs geometry object that represents a surface that does not lie
                within a single plane. It contains an array of polygon patches, each of which
                contain and inner and optionally outer ring that define the extent of the patch. All
                of the coordinate points within a patch must be coplanar, and each patch must share
                an edge with an adjacent patch to form a continuous surface. </documentation>
        </annotation>
    </element>
    <complexType name="MultiPlanarSurfaceBaseType">
        <complexContent>
            <restriction base="gml:AbstractSurfaceType"/>
        </complexContent>
    </complexType>
    <complexType name="MultiPlanarSurfaceType">
        <annotation>
            <documentation>Extended type based on AbstractSurfaceType. Adds elements for multi planar surface type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:MultiPlanarSurfaceBaseType">
                <sequence>
                    <element ref="gml:patches"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="PlanarSurfacePatch" substitutionGroup="gml:AbstractSurfacePatch"
        type="diggs:PlanarSurfacePatchType">
        <annotation>
            <documentation>A Diggs geometry object defining a polygon that serves as the definition
                of a patch comprising a MultiPlanarSurface</documentation>
        </annotation>
    </element>
    <complexType name="PlanarSurfacePatchType">
        <annotation>
            <documentation>Extended type based on AbstractSurfacePatchType. Adds elements for polygon patch type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractSurfacePatchType">
                <sequence>
                    <element minOccurs="0" ref="gml:exterior"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:interior"/>
                    <element minOccurs="0" name="uncertainty" type="diggs:UncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute fixed="planar" name="interpolation" type="gml:SurfaceInterpolationType">
                    <annotation>
                        <documentation>The interpolation attribute.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>


    <!-- ================================================================================= -->
    <!-- TIME OBJECTS                                                                  -->
    <!-- ================================================================================= -->

    <complexType name="AbstractTimeObjectBaseType" abstract="true">
        <annotation>
            <documentation>Base type for all time-related objects without description field. This
                intermediate abstract type provides core properties for temporal objects while
                excluding the description field. Used for objects that record time-based information
                such as events, time periods, or temporal measurements where descriptions are not
                applicable or provided through other means.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractTimeObjectType">
                <sequence>
                    <element ref="gml:description" minOccurs="0"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="AbstractTimeObject" substitutionGroup="gml:AbstractTimeObject"
        type="diggs:AbstractTimeObjectType" abstract="true">
        <annotation>
            <documentation>Base type for DIGGS time objects</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractTimeObjectType">
        <annotation>
            <documentation>Base type for DIGGS time objects extending GML temporal model with status
                and remarks.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTimeObjectBaseType">
                <sequence>
                    <element minOccurs="0" ref="diggs:status">
                        <annotation>
                            <documentation>A text string to provide information about the status of
                                the object to be used to track QA/QC controls, review or release
                                status, etc. The values used are intended to come from a controlled
                                list of terms maintained by an organization.</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="TimeArrayPropertyType">
        <annotation>
            <documentation>Property type for time array references. Used to wrap time array objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element ref="gml:TimeInstant"/>
        </sequence>
    </complexType>
    <element name="TimePositionList" substitutionGroup="diggs:AbstractTimeObject"
        type="diggs:TimePositionListType">
        <annotation>
            <documentation>A DIGGS time object with a property containing a list of time instances
                expressed as xsd:DateTime values.</documentation>
        </annotation>
    </element>
    <complexType name="TimePositionListType">
        <annotation>
            <documentation>Extended type based on AbstractTimeObjectType. Adds elements for time position list type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTimeObjectType">
                <sequence>
                    <element name="timePositionList" type="diggs:TimeListSimpleType">
                        <annotation>
                            <documentation>The time position list property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="TimeIntervalList" substitutionGroup="diggs:AbstractTimeObject"
        type="diggs:TimeIntervalListType">
        <annotation>
            <documentation>A DIGGS time object with a property that contains a list of time
                intervals (duration or elapsed time) expressed as xsd:Decimal values. unit attribute
                provides the time unit for the list</documentation>
        </annotation>
    </element>

    <complexType name="TimeIntervalListType">
        <annotation>
            <documentation>Extended type based on AbstractTimeObjectType. Adds elements for time interval list type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTimeObjectType">
                <sequence>
                    <element ref="diggs:timeIntervalList"/>
                </sequence>
                <attribute name="unit" type="gml:TimeUnitType" use="required">
                    <annotation>
                        <documentation>The unit attribute.</documentation>
                    </annotation>
                </attribute>
                <attribute name="radix" type="positiveInteger">
                    <annotation>
                        <documentation>The radix attribute.</documentation>
                    </annotation>
                </attribute>
                <attribute name="factor" type="integer">
                    <annotation>
                        <documentation>The factor attribute.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="TimeListSimpleType">
        <annotation>
            <documentation>A list of dateTime instances</documentation>
        </annotation>
        <list itemType="gml:TimePositionUnion"/>
    </simpleType>
    <element name="timeIntervalList" type="diggs:TimeIntervalListSimpleType">
        <annotation>
            <documentation>The time interval list property.</documentation>
        </annotation>
    </element>
    <simpleType name="TimeIntervalListSimpleType">
        <annotation>
            <documentation>A list of decimal values representing time intervals (duration or elapsed
                time) instances.</documentation>
        </annotation>
        <list itemType="decimal"/>
    </simpleType>

</schema>
