DeletedElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:diggs_geo="http://diggsml.org/schemas/3.0/geotechnical"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://diggsml.org/schemas/3.0"
    elementFormDefault="qualified" version="dev" vc:maxVersion="1.1" vc:minVersion="1.0"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <complexType name="DesignGroutMixPropertyType">
        <sequence> </sequence>
    </complexType>

    <complexType name="ProgramDesignPropertyType">
        <sequence>
            <!--            <element ref="diggs:AbstractProgramDesign"/> --> </sequence>
    </complexType>

    <complexType name="GroutingProgramDesignPropertyType">
        <sequence> </sequence>
    </complexType>
    <complexType name="ProgramSpecificationPropertyType">
        <sequence>
            <!--            <element ref="diggs:AbstractProgramSpecificaton"/> --> </sequence>
    </complexType>

    <complexType name="GroutingProgramSpecificationPropertyType">
        <sequence>
            <!--           <element ref="diggs:AbstractProgramSpecificaton"/> --> </sequence>
    </complexType>

    <!--     <element name="GroutingPerformanceSpecification" type="diggs:GroutingPerformanceSpecificationType"
       substitutionGroup="diggs:AbstractProgramSpecification"/> -->

    <element abstract="false" name="CationExchangeTest"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure"
        type="diggs:CationExchangeTestType">
        <annotation>
            <documentation>Cation-exchange capacity is defined as the degree to which a soil can adsorb and exchange cations.</documentation>
        </annotation>
    </element>
    <complexType name="CationExchangeTestType">
        <annotation>
            <documentation>Base type for CationExchangeTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element default="false" minOccurs="0" name="methodType" type="gml:CodeType">
                        <annotation>
                            <documentation>Method used to determine the sodium concentration, e.g. atomic absorption, emission
                                spectroscopy, or an equivalent method.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
