Deprecated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:diggs="http://diggsml.org/schema-dev"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://diggsml.org/schema-dev" version="dev" elementFormDefault="qualified"
    vc:maxVersion="1.1" vc:minVersion="1.0">
    <!--
 import the gml and xlinks namespaces (original local profiles)  
-->
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="witsml/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/witsmlv2"
        schemaLocation="witsmlv2Profile_diggs.xsd"/>


    <!-- This schema file containss elements deprecated from earlier DIGGS versions. They still exist within the DIGGS schema but should not be used -->
    <element name="filterPackInterval" type="diggs:LinearExtentPropertyType">
        <annotation>
            <documentation>The depth interval in which the filter pack surrounding
                the well screen or well openings occur.
                
                DEPRECATED. Filter pack information should be entered as a Backfill object with a reference there to this well opening object.</documentation>
        </annotation>
    </element>
    <element name="penetrationRate" type="diggs:LengthPerTimeMeasureType">
        <annotation>
            <documentation>Rate of advancement of the drill head. Deprecated - use
                advamcementRate instead</documentation>
        </annotation>
    </element>
    <element name="holeBearing" type="eml:PlaneAngleMeasure">
        <annotation>
            <documentation>Deprecated - use bearing property from abstract
                type</documentation>
        </annotation>
    </element>
    <element name="holePlunge" type="eml:PlaneAngleMeasure">
        <annotation>
            <documentation>Depreated - use plunge property from abstract type
            </documentation>
        </annotation>
    </element>
    <element name="chiseling" type="diggs:ChiselingPropertyType">
        <annotation>
            <documentation>Information on chiseling activity in a hole. Used as
                legacy to directly accommodate AGS CHIS group data. This property is
                deprecated and instead, data on chiseling should be encoded within
                the BoreholeConstructionMethod object (to define the interval over
                which chiseling occurs, chiseling tool used, and the
                DrillAdvancement object to record chiseling rate of
                advancement.</documentation>
        </annotation>
    </element>

    <element name="Chiseling" substitutionGroup="diggs:AbstractObject" type="diggs:ChiselingType">
        <annotation>
            <documentation>An object containing properties about chiseling activity as part of
                advancement of a borehole.</documentation>
        </annotation>
    </element>
    <complexType name="ChiselingPropertyType">
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:Chiseling"/>
        </sequence>
    </complexType>
    <complexType name="ChiselingType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="chiselingLocation" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The measured depth interval over which the chiseling
                                takes place, recorded in the hole's linear referencing
                                system.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="timeTaken" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>The amount of time taken to perform the chiseling
                                task.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="chiselingToolUsed" type="gml:StringOrRefType">
                        <annotation>
                            <documentation>Tool used to perform the chiseling. Intended to come from
                                a controlled list. NOTE: This is a string that could come from a
                                controlled list of terms, but could also reference an Equipment
                                metadata object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="character" type="diggs:ColorCharacterEnumType"/>

    <element name="gasPressure" type="diggs:pressureMeasureType">
        <annotation>
            <documentation>Where environmental data of interest is within an
                experimental chamber, a measure of the gas pressure within the
                chamber. Deprecated; use test procedure specific properties where
                relevant.</documentation>
        </annotation>
    </element>

    <element name="gasFlow" type="eml:VolumePerTimeMeasure">
        <annotation>
            <documentation>Where environmental data of interest is within an
                experimental chamber, a measure of the gas flow within the chamber.
                Deprecated; use test procedure specific properties where
                relevant.</documentation>
        </annotation>
    </element>

    <element name="MultiTimeInstant" type="diggs:MultiTimeInstantType"
        substitutionGroup="diggs:AbstractTimeObject" abstract="false">
        <annotation>
            <documentation>A Diggs time object that contains a collection of time instances.
                Deprecated as of 2.6. Use TimePositionList instead for time instances expressed
                in xsd:CalDate format.</documentation>
        </annotation>
    </element>
    <complexType name="MultiTimeInstantType">
        <complexContent>
            <extension base="diggs:AbstractTimeObjectType">
                <sequence>
                    <element name="timeMember" type="diggs:TimeArrayPropertyType"
                        maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="index" type="integer">
        <annotation>
            <documentation>Deprecated - use index attribute instead</documentation>
        </annotation>
    </element>

    <element name="responseZoneLocationRef" type="gml:ReferenceType">
        <annotation>
            <documentation>The location of the description referenced to the
                sampling feature's or sample's linear spatial reference
                system. This is deprecated in favor of using an xlink:href attribute in the resposeZoneLocation property.</documentation>
        </annotation>
    </element>

    <element name="time" type="eml:TimeMeasure">
        <annotation>
            <documentation><![CDATA[The elapsed time following an initial water strike when water level is again measured. Deprecated following v. 2.5. Use elapsedTime in the choice instead]]></documentation>
        </annotation>
    </element>

    <element name="sanitarySealLocation" type="diggs:PointLocationPropertyType">
        <annotation>
            <documentation>Distance to the base of the sanitary seal; measured in
                the borehole's linear reference system. DEPRECATED. Use Backfill object of the borehole to represent the sanitary seal</documentation>
        </annotation>
    </element>

    <element name="sanitarySealType" type="gml:CodeType">
        <annotation>
            <documentation>The type of material used for the sanitary or surface
                seal (eg. bentonite, grout, etc.)
                DEPRECATED, use Backfill object to identify the sanitary seal material</documentation>
        </annotation>
    </element>

    <element name="PpdResultSet" substitutionGroup="gml:DataBlock" type="diggs:PpdResultSetType">
        <annotation>
            <documentation>An object that contains properites describing the parameters and data values of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="PpdResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:parameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="PpdResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:PpdResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="PpdPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="1">
                    <element ref="diggs:PpdPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PpdPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:PpdPropertyParametersType">
        <annotation>
            <documentation>An object that contains the properties property of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="PpdPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:properties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PorePressureDissipationProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:PorePressureDissipationPropType"/>
    <complexType name="PorePressureDissipationPropType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of mnemonic should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="diggs:PpdEnumType">
                        <annotation>
                            <documentation>The official name of the pore pressure dissipation time series property, from an enumerated list of terms.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="atTemperature"
                        type="eml:ThermodynamicTemperatureMeasure">
                        <annotation>
                            <documentation>Temperature at which property value is valid, eg. for
                                specific gravity of solids at 20 deg C, this parameter would hold
                                the temperature value</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisBearing"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Compass bearing direction (relative to true north)
                                defining the measurement axis direction (for directional
                                measurements, eg. component of an extensometer, accelerometer,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisInclination"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Inclination of measurement axis (measured positively down
                                from horizontal); used for directional measurements, eg.
                                extensometer, accelerometer, etc. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="sampleFraction" type="diggs:SampleFractionEnumType">
                        <annotation>
                            <documentation>Fraction of total sample analyzed (from enumerated list).
                                Applies primarily to non-soil type samples </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="grainsizeFraction"
                        type="diggs:SizeFractionPropertyType">
                        <annotation>
                            <documentation>For properties of soils, the size fraction that this
                                property pertains to </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result. Commonly used to report N-values from SPT tests, or to
                                describe any other adjustments made to the reported data. Can come
                                from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique"
                        type="diggs:MeasurementTechniqueEnumType">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="curveState"
                        type="witsml:ChannelState">
                        <annotation>
                            <documentation>Used for well logging procedures, to define the state or
                                status of the data described by the well log curve. From an
                                enumerated list.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="samplingRate"
                        type="eml:ReciprocalTimeMeasure">
                        <annotation>
                            <documentation>The raw rate of measurement collection from which any moving averages may be derived. This property should be reported if the value of the measurementTechnique property is moving average.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" type="positiveInteger" use="required">
                    <annotation>
                        <documentation>An integer that indicates the position of the property result in the dataValues property.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="PpdEnumType">
        <restriction base="string">
            <enumeration value="u1_pore_pressure"/>
            <enumeration value="u2_pore_pressure"/>
            <enumeration value="u3_pore_pressure"/>
            <enumeration value="tip_pressure"/>
            <enumeration value="calculated_head"/>
        </restriction>
    </simpleType>
    <simpleType name="PpdExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:PpdEnumType"/>
    </simpleType>
    <element name="LugeonStepDataResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:LugeonStepDataResultSetType">
        <annotation>
            <documentation>An object that contains properites describing the parameters and data
                values of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:lugeonStepDataParameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="lugeonStepDataParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:LugeonStepDataPropertyInfoPropertyType">
        <annotation>
            <documentation>An object that contains Diggs property parameters.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="1">
                    <element ref="diggs:LugeonStepDataPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="LugeonStepDataPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:LugeonStepDataPropertyParametersType">
        <annotation>
            <documentation>An object that contains the properties property of a measurement
                result.</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepDataPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:lugeonStepDataProperties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="LugeonStepDataResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:LugeonStepDataResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="SyneresisResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:SyneresisResultSetType">
        <annotation>
            <documentation>An object that contains properites describing the parameters and data
                values of a measurement result.</documentation>
        </annotation>
    </element>
    <complexType name="SyneresisResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:syneresisParameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="syneresisParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:SyneresisPropertyInfoPropertyType">
        <annotation>
            <documentation>An object that contains Diggs property parameters.</documentation>
        </annotation>
    </element>
    <complexType name="SyneresisPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="1">
                    <element ref="diggs:SyneresisDataPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="SyneresisDataPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:SyneresisDataPropertyParametersType">
        <annotation>
            <documentation>An object that contains the properties property of a measurement
                result.</documentation>
        </annotation>
    </element>
    <complexType name="SyneresisDataPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:syneresisProperties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="SyneresisProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:SyneresisPropType"/>
    <complexType name="SyneresisTimeSeriesPropertiesPropertyType">
        <complexContent>
            <restriction base="gml:ValueArrayPropertyType">
                <sequence maxOccurs="unbounded">
                    <!--DSB: Restricted in this profile
        <group ref="gml:Value"/>-->
                    <element ref="diggs:SyneresisProperty"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="syneresisProperties" substitutionGroup="gml:valueComponents"
        type="diggs:SyneresisTimeSeriesPropertiesPropertyType"/>
    <complexType name="SyneresisPropType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of mnemonic should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="diggs:SyneresisEnumType">
                        <annotation>
                            <documentation>The official name of the syneresis time series property,
                                from an enumerated list of terms. Allowable terms are: elapsed_time
                                mass mass_loss volume volume_loss syneresis
                                syneresis_surface_area_normalized</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property. Must conform to EML
                                unit standards.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="atTemperature"
                        type="eml:ThermodynamicTemperatureMeasure">
                        <annotation>
                            <documentation>Temperature at which property value is valid, eg. for
                                specific gravity of solids at 20 deg C, this parameter would hold
                                the temperature value</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisBearing"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Compass bearing direction (relative to true north)
                                defining the measurement axis direction (for directional
                                measurements, eg. component of an extensometer, accelerometer,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementAxisInclination"
                        type="eml:PlaneAngleMeasure">
                        <annotation>
                            <documentation>Inclination of measurement axis (measured positively down
                                from horizontal); used for directional measurements, eg.
                                extensometer, accelerometer, etc. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="sampleFraction" type="diggs:SampleFractionEnumType">
                        <annotation>
                            <documentation>Fraction of total sample analyzed (from enumerated list).
                                Applies primarily to non-soil type samples </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="grainsizeFraction"
                        type="diggs:SizeFractionPropertyType">
                        <annotation>
                            <documentation>For properties of soils, the size fraction that this
                                property pertains to </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result. Commonly used to report N-values from SPT tests, or to
                                describe any other adjustments made to the reported data. Can come
                                from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique"
                        type="diggs:MeasurementTechniqueEnumType">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list. For values that are calculated, the formula
                                attribute allows for a formula to be included, a
                                description/reference to the formula used to calculate te value, or
                                details of any moving average. The samplingRate attribute describes
                                the raw rate of measurement collection from which any moving
                                averages may be derived. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType">
                        <annotation>
                            <documentation>Identifies the parameters and their values that may be
                                qualified.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="curveState"
                        type="witsml:ChannelState">
                        <annotation>
                            <documentation>Used for well logging procedures, to define the state or
                                status of the data described by the well log curve. From an
                                enumerated list.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" type="positiveInteger" use="required">
                    <annotation>
                        <documentation>An integer that indicates the position of the property result in the dataValues property.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="SyneresisEnumType">
        <restriction base="string">
            <enumeration value="elapsed_time"/>
            <enumeration value="mass"/>
            <enumeration value="mass_loss"/>
            <enumeration value="volume"/>
            <enumeration value="volume_loss"/>
            <enumeration value="syneresis"/>
            <enumeration value="syneresis_surface_area_normalized"/>
        </restriction>
    </simpleType>
    <simpleType name="SyneresisExtEnumType">
        <union memberTypes="diggs:OtherNameType diggs:SyneresisEnumType"/>
    </simpleType>
    <complexType name="SyneresisResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:SyneresisResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="pileDrivingRecordParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:PileDrivingRecordPropertyInfoPropertyType">
        <annotation>
            <documentation>Parameters associated with pile driving record
                measurements.</documentation>
        </annotation>
    </element>
    <complexType name="PileDrivingRecordPropertyInfoPropertyType">
        <annotation>
            <documentation>Property type for pile driving record parameter
                information.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="0">
                    <element ref="diggs:PileDrivingRecordPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="PileDrivingRecordResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:PileDrivingRecordResultSet">
                        <annotation>
                            <documentation>The set of observed properties and their values recorded
                                in thie pile driving record.</documentation>
                        </annotation>
                    </element>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PileDrivingRecordResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:PileDrivingRecordResultSetType">
        <annotation>
            <documentation>Container for PDA test measurement results in a structured data block
                format.</documentation>
        </annotation>
    </element>
    <complexType name="PileDrivingRecordResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:pileDrivingRecordParameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PileDrivingRecordPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:PileDrivingRecordPropertyParametersType">
        <annotation>
            <documentation/>
        </annotation>
    </element>
    <complexType name="PileDrivingRecordPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:properties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="DriveRecordProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:DriveRecordPropType">
        <annotation>
            <documentation>An object that specifies a property that is recorded during pile
                driving</documentation>
        </annotation>
    </element>
    <complexType name="DriveRecordPropType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of propertyName should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="gml:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The official name of the pile driving record observed
                                property, from a dictionary of controlled terms.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property. Must conform to EML
                                unit standards.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result or to describe any other adjustments made to the reported
                                data. Can come from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique"
                        type="diggs:MeasurementTechniqueEnumType">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list. For values that are calculated, the formula
                                attribute allows for a formula to be included, a
                                description/reference to the formula used to calculate te value, or
                                details of any moving average. The samplingRate attribute describes
                                the raw rate of measurement collection from which any moving
                                averages may be derived. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType">
                        <annotation>
                            <documentation>One or more parameter objects (listing name, value or
                                min/max value of parameters that may be used to qualify the result
                                of this property</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="samplingRate"
                        type="eml:ReciprocalTimeMeasure">
                        <annotation>
                            <documentation>The raw rate of measurement collection from which any
                                moving averages may be derived. This property should be reported if
                                the value of the measurementTechnique property is moving
                                average.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" type="positiveInteger" use="required">
                    <annotation>
                        <documentation>An integer that indicates the position of the property result
                            in the dataValues property.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="pdaRecordParameters" substitutionGroup="gml:rangeParameters"
        type="diggs:PDARecordPropertyInfoPropertyType"/>
    <complexType name="PDARecordPropertyInfoPropertyType">
        <complexContent>
            <restriction base="gml:AssociationRoleType">
                <sequence minOccurs="0">
                    <element ref="diggs:PDARecordPropertyParameters"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="PDARecordResultsPropertyType">
        <complexContent>
            <restriction base="gml:RangeSetType">
                <choice>
                    <element minOccurs="1" ref="diggs:PDARecordResultSet"/>
                </choice>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PDARecordResultSet" substitutionGroup="gml:DataBlock"
        type="diggs:PDARecordResultSetType">
        <annotation>
            <documentation>Container for PDA test measurement results in a structured data block
                format.</documentation>
        </annotation>
    </element>
    <complexType name="PDARecordResultSetType">
        <complexContent>
            <restriction base="gml:DataBlockType">
                <sequence>
                    <element ref="diggs:pdaRecordParameters"/>
                    <choice>
                        <element ref="diggs:dataValues"/>
                    </choice>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PDARecordPropertyParameters" substitutionGroup="gml:CompositeValue"
        type="diggs:PDARecordPropertyParametersType">
        <annotation>
            <documentation>Parameters defining the properties measured during PDA
                testing.</documentation>
        </annotation>
    </element>
    <complexType name="PDARecordPropertyParametersType">
        <complexContent>
            <restriction base="gml:CompositeValueType">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" ref="diggs:properties"/>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="PDARecordProperty" substitutionGroup="gml:AbstractValue"
        type="diggs:PDARecordPropType">
        <annotation>
            <documentation>An object that specifies a property that is recorded during pile
                driving</documentation>
        </annotation>
    </element>
    <complexType name="PDARecordPropType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="propertyName" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name for the property as used by the data
                                provider. This value can come from a controlled list of terms or be
                                an uncontrolled text string. The value would be commonly used to
                                label a column of a log sheet or provide other local meaning to the
                                property. The value of propertyName should be unique for all of the
                                properties included in the dataValue block transmitted as part of
                                this measurement.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="typeData"
                        type="diggs:PropertyDataTypeEnumType">
                        <annotation>
                            <documentation>The data type for this property (eg. double, long,
                                string, etc.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="propertyClass"
                        type="gml:CodeWithAuthorityType">
                        <annotation>
                            <documentation>The official name of the pile driving record observed
                                property, from a dictionary of controlled terms.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="diggs:AllUnits">
                        <annotation>
                            <documentation>Unit of measurement for the property. Must conform to EML
                                unit standards.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nullValue" type="diggs:NullDataType">
                        <annotation>
                            <documentation>An empty string is the default representation of a null
                                value for a property (i.e. when the null value representation is not
                                explicitly defined). This value defines a value to be interpreted as
                                null for this property in the dataValues block. The reason attribute
                                can be used to define the reason for the null value, (eg. witheld).
                                This can be customized with an other: qualifier (eg. other:below
                                detection limit) or reference a URI for a more complete
                                definition.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="context" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>If the property should be interpreted in a particular
                                context (eg. value is only valid for range of overburden pressures,
                                etc.), then the context of the property is described
                                here.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="correctionUsed"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of corrections used to obtain the reported
                                result or to describe any other adjustments made to the reported
                                data. Can come from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="measurementTechnique"
                        type="diggs:MeasurementTechniqueEnumType">
                        <annotation>
                            <documentation>The method by which the property value is obtained. From
                                an enumerated list. For values that are calculated, the formula
                                attribute allows for a formula to be included, a
                                description/reference to the formula used to calculate te value, or
                                details of any moving average. The samplingRate attribute describes
                                the raw rate of measurement collection from which any moving
                                averages may be derived. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detector"
                        type="diggs:DetectorPropertyType">
                        <annotation>
                            <documentation>The source tool, or sensor, of a piece of equipment, used
                                to measure this property, if applicable. Generally used for well
                                log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="detectorRef" type="gml:ReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Equipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                            <documentation>A reference to the source tool, or sensor, of a piece of
                                equipment, used to measure this property, if applicable. Generally
                                used for well log,downhole logging procedures, or monitoring
                                equipment.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detectionLimits"
                        type="diggs:LimitPropertyType">
                        <annotation>
                            <documentation>Identifies the detection limits for this property in the
                                UOM for this property</documentation>
                        </annotation>
                    </element>
                    <element default="true" maxOccurs="1" minOccurs="0" name="reportable"
                        type="boolean">
                        <annotation>
                            <documentation>True or false, indicates whether the value of this
                                property can be reported outside of the context of transmission via
                                an xml instance.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="qualifier"
                        type="diggs:QualifierPropertyType">
                        <annotation>
                            <documentation>One or more parameter objects (listing name, value or
                                min/max value of parameters that may be used to qualify the result
                                of this property</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="samplingRate"
                        type="eml:ReciprocalTimeMeasure">
                        <annotation>
                            <documentation>The raw rate of measurement collection from which any
                                moving averages may be derived. This property should be reported if
                                the value of the measurementTechnique property is moving
                                average.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="index" type="positiveInteger" use="required">
                    <annotation>
                        <documentation>An integer that indicates the position of the property result
                            in the dataValues property.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
</schema>
