Diggs.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
  xmlns:diggs_geo="http://diggsml.org/schemas/3/geotechnical"
  xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  vc:maxVersion="1.1" vc:minVersion="1.0" elementFormDefault="qualified"
  targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">

  <!-- ================================================================ -->
  <!-- MAIN SCHEMA FILE FOR DIGGS CORE GEOTECHNICAL PROFILE             -->
  <!-- ================================================================ -->
  <!-- This is the primary schema file for the full DIGGS 3.0           -->
  <!-- implementation including Core, Extended, and Specialty modules.  -->
  <!-- It provides comprehensive support for geotechnical,              -->
  <!-- geoenvironmental, geophysical, and construction data exchange.   -->
  <!-- ================================================================ -->

  <!-- ================================================================ -->
  <!-- INCLUDE COMMON SCHEMA FILES                                      -->
  <!-- ================================================================ -->
  <!-- Common modules provide foundational types and structures used    -->
  <!-- throughout all DIGGS profiles.                                   -->
  <!-- ================================================================ -->

  <include schemaLocation="core/AbstractTypes.xsd">
    <annotation>
      <documentation>Includes all abstract base types and elements that form the foundation of DIGGS objects. This module contains the inheritance hierarchy for the principal DIGGS object classes (project, program, samplingFeature, samplingActivity, sample, observation, measurements, constructionActivity and groups, and other core abstractions.</documentation>
    </annotation>
  </include>

  <include schemaLocation="core/Common.xsd">
    <annotation>
      <documentation>Includes common concrete types, reference element and enumerations used throughout DIGGS including Role, Remark, AssociatedFile, BusinessAssociate, Parameter, Specification, and other frequently-used components.</documentation>
    </annotation>
  </include>

  <include schemaLocation="core/MeasureTypes.xsd">
    <annotation>
      <documentation>Includes all measurement and quantity types with proper units of measure. Provides type-safe measurements for length, mass, pressure, temperature, angle, velocity, and other physical quantities used in geotechnical data. Based on the Energistics Units of Measurement Dictionary quantity classes and units with DIGGS-specific extensions.</documentation>
    </annotation>
  </include>

  <include schemaLocation="core/LinearReferencing.xsd">
    <annotation>
      <documentation>Includes types and elements for ISO-compliant linear referencing systems. Supports station/offset, depth-based, and other linear coordinate systems for locating features and measurements along linear sampling features such as boreholes and transects.</documentation>
    </annotation>
  </include>

  <include schemaLocation="core/LocalReferencing.xsd">
    <annotation>
      <documentation>Includes types for local coordinate reference systems (CRS) that are used by sampling features. Enables definition of custom (Engineering) coordinate systems for specialized applications and coordinate transformations between local and absolute reference systems.</documentation>
    </annotation>
  </include>

  <include schemaLocation="Dictionary_diggs.xsd">
    <annotation>
      <documentation>Includes dictionary and controlled vocabulary support based on GML dictionary schema. Provides mechanisms for defining and referencing standardized term lists (e.g., USCS soil classifications, rock type lists), ensuring consistent terminology across data exchanges. Supports both internal and externally-referenced vocabularies.</documentation>
    </annotation>
  </include>

  <!-- ================================================================ -->
  <!-- INCLUDE CORE GEOTECHNICAL SCHEMA FILES                           -->
  <!-- ================================================================ -->
  <!-- Core modules provide essential geotechnical data structures for  -->
  <!-- projects, boreholes, samples, and basic testing.                 -->
  <!-- ================================================================ -->

  <include schemaLocation="core/Core.xsd">
    <annotation>
      <documentation>Includes core geotechnical features: Project, Borehole, Sample, Lithology observations, Test, MaterialTest, Monitor and related types. This module provides the fundamental data structures for geotechnical site investigations and laboratory testing programs.</documentation>
    </annotation>
  </include>

  <include schemaLocation="core/CoreProcedures.xsd">
    <annotation>
      <documentation>Includes standard test procedures commonly used in geotechnical practice. Provides concrete implementations of common field and laboratory tests including SPT, CPT, laboratory classification tests, and strength tests.</documentation>
    </annotation>
  </include>

  <!-- ================================================================ -->
  <!-- INCLUDE EXTENDED GEOTECHNICAL SCHEMA FILES                       -->
  <!-- ================================================================ -->
  <!-- Extended modules add advanced capabilities for specialized       -->
  <!-- applications beyond basic site investigation.                    -->
  <!-- ================================================================ -->

  <include schemaLocation="extended/ExtSamplingFeatures.xsd">
    <annotation>
      <documentation>Includes extended sampling feature types beyond boreholes and soundings. Provides support for test pits, trenches, sampling points,traverses, cross-sections and other specialized sampling locations and features.</documentation>
    </annotation>
  </include>

  <include schemaLocation="extended/ExtObservation.xsd">
    <annotation>
      <documentation>Includes extended observation and description types for qualitative characterization.</documentation>
    </annotation>
  </include>

  <include schemaLocation="extended/ExtGroup.xsd">
    <annotation>
      <documentation>Includes extended grouping and collection types for organizing related features. Enables creation of logical groupings such as test programs, monitoring networks, construction phases, and custom feature collections.</documentation>
    </annotation>
  </include>

  <include schemaLocation="extended/ExtProcedures.xsd">
    <annotation>
      <documentation>Includes extended and specialized test procedures. Provides support for advanced laboratory tests and monitoring systems, and specialized field procedures beyond those in CoreProcedures.</documentation>
    </annotation>
  </include>

  <!-- ================================================================ -->
  <!-- INCLUDE SPECIALTY SCHEMA FILES                                   -->
  <!-- ================================================================ -->
  <!-- Specialty modules provide domain-specific extensions for         -->
  <!-- grouting, pile installation and geophysical field investigations.-->
  <!-- ================================================================ -->

  <include schemaLocation="specialty/Grouting.xsd">
    <annotation>
      <documentation>Includes types for grouting operations and ground improvement activities. Supports documentation of grout mix designs, injection procedures, pressure-volume-time records, and verification testing for grouting programs.</documentation>
    </annotation>
  </include>

  <include schemaLocation="specialty/DeepFoundation.xsd">
    <annotation>
      <documentation>Includes types for driven pile, drilled shaft, and other deep foundation installation and testing. Supports driving records, load testing, integrity testing, and installation monitoring for foundation elements.</documentation>
    </annotation>
  </include>

  <include schemaLocation="specialty/Geophysics.xsd">
    <annotation>
      <documentation>Includes types for geophysical field investigations including surface and borehole geophysics. Supports seismic, electrical resistivity, ground-penetrating radar, borehole logging, and other geophysical methods with their data structures and interpretations.</documentation>
    </annotation>
  </include>

  <!-- ================================================================ -->
  <!-- IMPORTS                                                          -->
  <!-- ================================================================ -->

  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="core/gml3.2Profile_diggs.xsd">
    <annotation>
      <documentation>Import of the DIGGS profile of GML 3.2.1. This profile includes the essential GML components needed for DIGGS features including geometry, temporal objects and feature collections.</documentation>
    </annotation>
  </import>

  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="core/xml.xsd">
    <annotation>
      <documentation>Import of the XML namespace to support the xml:lang attribute for language specification throughout DIGGS documents.</documentation>
    </annotation>
  </import>

  <!-- diggs_geo namespace is entirely deprecated in v. 3.0. Should only be used for legacy instances -->
  <import namespace="http://diggsml.org/schemas/3/geotechnical"
    schemaLocation="deprecated/Diggs_geo_deprecated.xsd">
    <annotation>
      <documentation>Import of deprecated diggs_geo namespace for backward compatibility with DIGGS 2.x instances. This namespace should only be used when processing legacy data and is not recommended for new implementations.</documentation>
    </annotation>
  </import>

  <!-- ================================================================ -->
  <!-- DIGGS ROOT ELEMENT                                               -->
  <!-- ================================================================ -->

  <complexType name="DiggsType">
    <annotation>
      <documentation>The complex type for the DIGGS root element. Extends GML's AbstractFeatureType to provide a feature collection that can contain multiple projects and all associated data objects. The structure allows for flexible organization of data while maintaining referential integrity through gml:id and xlink:href relationships.</documentation>
    </annotation>
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="documentInformation" type="diggs:DocumentInformationPropertyType"
            minOccurs="1" maxOccurs="1">
            <annotation>
              <documentation>Required element containing metadata about the DIGGS document itself including creation date, originating organization, software used, coordinate reference systems employed, and other document-level information. This element must appear exactly once and should be the first element in the document content.</documentation>
            </annotation>
          </element>

          <element name="project" type="diggs:ProjectPropertyType" minOccurs="0"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for Project features. Projects serve as the primary organizational unit for geotechnical investigations and construction activities. Each project typically represents a single site investigation, construction project, monitoring or research program. Most other features in the document will reference back to their associated project(s).</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="program" type="diggs:ProgramPropertyType"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for Program features. Programs provide a means for planning the design and specification for projects and related features not yet constructed or fully completed.</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="samplingFeature" type="diggs:SamplingFeaturePropertyType"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for SamplingFeature elements. Sampling features are physical locations or objects where observations and measurements are made or activities conducted, including boreholes, test pits, monitoring wells, CPT soundings, surface sample locations, geophysical lines, and other investigation features. These features define the spatial framework for data collection.</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="samplingActivity" type="diggs:SamplingActivityPropertyType"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for SamplingActivity features. Sampling activities document the collection, subsampling, or aggregation of physical samples. Each activity records the time, location, methods, equipment, and environmental conditions under which samples were obtained, along with recovery information and sample production details.</documentation>
            </annotation>
          </element>

          <element name="sample" type="diggs:SamplePropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Container for Sample features. Samples are physical specimens of material (soil, rock, water, grout, etc.) collected from sampling features or created for a project that are destined for analysis and testing. Each sample records its physical condition and chain of custody, and links to the sampling activity that produced it.</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="observation" type="diggs:ObservationSystemPropertyType"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for ObservationSystem features. Observation systems organize qualitative descriptions and interpretive classifications along sampling features or samples. Examples include lithologic descriptions, discontinuity logs, stratigraphic interpretations, and other qualitative characterizations. Each system contains multiple zones or regions (observations) with consistent description methodology.</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="measurement" type="diggs:MeasurementPropertyType"
            maxOccurs="unbounded">
            <annotation>
              <documentation>Container for Measurement features including Tests, MaterialTests, and Monitors. These features document quantitative testing and monitoring activities. Tests are field or lab procedures where the results are relevant to spatial locations. MaterialTests are laboratory procedures on samples that have no location relevance (eg. tests on grout samples). Monitors are long-term measurements at specific locations where the results vary with time.</documentation>
            </annotation>
          </element>

          <element minOccurs="0" name="constructionActivity"
            type="diggs:ConstructionActivityPropertyType" maxOccurs="unbounded">
            <annotation>
              <documentation>Container for ConstructionActivity features. Construction activities document ground improvement and construction operations such as grouting, pile installation, soil mixing, dewatering, ground freezing, and other activities that modify ground conditions. Each activity records methods, equipment, materials, and construction/performance data.</documentation>
            </annotation>
          </element>

          <element name="group" type="diggs:GroupPropertyType" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <documentation>Container for Group features. Groups provide flexible mechanisms for organizing and collecting related features into logical sets. Examples include grouping all boreholes from a specific investigation phase, all tests on a particular geologic unit, or all monitoring activities in a specific area. </documentation>
            </annotation>
          </element>
        </sequence>

        <attribute ref="xml:lang">
          <annotation>
            <documentation>Specifies the default language for text content throughout the DIGGS document. Individual features can override this with their own xml:lang attributes. If not specified, English is assumed. Use ISO 639 language codes (e.g., "en" for English, "fr" for French, "es" for Spanish).</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
</schema>
