DiggsCore.xsd

<?xml version="1.0" encoding="utf-8"?>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
  xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  vc:maxVersion="1.1" vc:minVersion="1.0" elementFormDefault="qualified"
  targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

  <!-- ================================================================ -->
  <!-- MAIN SCHEMA FILE FOR DIGGS CORE GEOTECHNICAL PROFILE             -->
  <!-- ================================================================ -->
 
  <!-- ================================================================ -->
  <!-- IMPORTS                                                          -->
  <!-- ================================================================ -->
  
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  
  <!-- Uncomment this import to utilize deprecated objects from the diggs_geo namespace -->
  <!-- <import namespace="http://diggsml.org/schemas/3.0/geotechnical" schemaLocation="Diggs_geo_deprecated.xsd"/>  -->
  
  <!-- ================================================================ -->
  <!-- INCLUDE COMMON SCHEMA FILES                                      -->
  <!-- ================================================================ -->
  
  <include schemaLocation="BaseTypes.xsd"/>
  <include schemaLocation="Common.xsd"/>
  <include schemaLocation="MeasureTypes.xsd"/>
  <include schemaLocation="LinearReferencing.xsd"/>
  <include schemaLocation="LocalReferencing.xsd"/>
  <include schemaLocation="Dictionary_diggs.xsd"/>

  <!-- ================================================================ -->
  <!-- INCLUDE CORE SCHEMA FILES                                        -->
  <!-- ================================================================ -->

  <include schemaLocation="Core.xsd"/>
  <include schemaLocation="CoreProcedures.xsd"/>
  
  <!-- ================================================================ -->
  <!-- DIGGS CORE ROOT ELEMENT                                          -->
  <!-- ================================================================ -->
  
  <element name="Diggs" type="diggs:DiggsType" substitutionGroup="gml:AbstractFeature"
    abstract="false">
    <annotation>
      <documentation>Top level object of a DIGGS xml instance.</documentation>
    </annotation>
  </element>

  <complexType name="DiggsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="documentInformation" type="diggs:DocumentInformationPropertyType"
            minOccurs="1" maxOccurs="1"/>
          <element name="project" type="diggs:ProjectPropertyType" minOccurs="0"
            maxOccurs="unbounded"/>
          <element minOccurs="0" name="samplingFeature" type="diggs:SamplingFeaturePropertyType"
            maxOccurs="unbounded"/>
          <element minOccurs="0" name="samplingActivity" type="diggs:SamplingActivityPropertyType"
            maxOccurs="unbounded"/>
          <element name="sample" type="diggs:SamplePropertyType" minOccurs="0" maxOccurs="unbounded"/>
          <element minOccurs="0" name="observation" type="diggs:ObservationSystemPropertyType"
            maxOccurs="unbounded"/>
          <element minOccurs="0" name="measurement" type="diggs:MeasurementPropertyType"
            maxOccurs="unbounded"/>
          <element name="group" type="diggs:GroupPropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <attribute ref="xml:lang"/>
      </extension>
    </complexContent>
  </complexType>
</schema>
