Diggs_LinearReferencing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    targetNamespace="http://diggsml.org/schemas/3.0" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="3.0b">

    <annotation>
        <documentation>
            DIGGS Linear Referencing Schema - Version 3.0b
            
            This schema provides comprehensive linear referencing capabilities for 
            geotechnical and geoenvironmental features including boreholes, wells, 
            soundings, cone penetration tests (CPT), dilatometer tests (DMT), 
            geophysical tracklines, and other linear sampling features.
            
            Based on ISO 19148:2021 (Linear referencing) adapted for geotechnical 
            and geoenvironmental contexts. This schema removes transportation-specific 
            concepts (lanes, routes, addresses) and adds geotechnical-specific 
            referents and methods.
            
            Linear referencing in DIGGS is based on distance measurements along 
            LinearExtent features, which are DIGGS extensions of gml:LineString 
            with 3D coordinates. All measurements proceed from the first coordinate 
            to the last coordinate in the gml:posList, regardless of spatial 
            orientation (vertical, horizontal, or deviated).
            
            Key Concepts:
            - LinearElement: The geometric feature being referenced
            - LRMethod: The procedure/algorithm for linear referencing
            - LinearSRS: Complete spatial reference system (LinearElement + LRMethod)
            
            Copyright (c) DIGGS 2025. All rights reserved.
        </documentation>
    </annotation>

    <import namespace="http://www.opengis.net/gml/3.2"
        schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="energistics/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>

    <import namespace="http://www.opengis.net/gml/3.3/lr" schemaLocation="glrProfile_diggs.xsd"/>


    <!--
    DIGGS Linear Referencing Method - With Offset Parameters
    
    Simplified approach for handling lateral offsets by adding offset parameters
    to the LRMethod definition rather than creating a full coordinate system.
    
    This approach is ISO 19148:2021 compliant and treats offset as an attribute
    of the linear referencing method rather than a separate coordinate dimension.
-->

    <!-- ============================================================ -->
    <!-- LINEAR REFERENCING METHOD (WITH OFFSET SUPPORT)              -->
    <!-- ============================================================ -->

    <element name="LinearExtent" substitutionGroup="diggs:AbstractGeometricPrimitive"
        type="diggs:LinearExtentType">
        <annotation>
            <documentation>An object that defines a location as a linear extent or interval, with
                the first vertex representing the starting location and the last vertex the end
                location.</documentation>
        </annotation>
    </element>
    <complexType name="LinearExtentPropertyType">
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="diggs:LinearExtent"/>
                        <!--
DSB: REMOVED FROM PROFILE
        <element ref="gml:AbstractTimeObject"/>
        
-->
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="LinearExtentType">
        <complexContent>
            <extension base="diggs:AbstractCurveType">
                <sequence>
                    <choice>
                        <element ref="gml:posList"/>
                        <!--DSB restricted from profile
            <element ref="gml:coordinates"/>
            -->
                    </choice>
                    <element minOccurs="0" name="datumReference" type="diggs:ReferentTypeEnumType">
                        <annotation>
                            <documentation>The type of local or permanent reference datum for
                                vertical gravity based (i.e., elevation and vertical depth) and
                                measured depth coordinates within the context of a borehole or well.
                                Includes terminology from eml:WellBoreDatumReference.The datum is
                                aassociated with the origin (first point) of the linear
                                extent</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="anchorPoint"
                        type="diggs:LRSAnchorPointPropertyType">
                        <annotation>
                            <documentation>
                                Calibration points that relate measure values to geometric 
                                positions for this specific LinearElement. Used only when:
                                
                                1. Core stretch/compression - Physical core length differs 
                                   from measured depth (anchor at top and bottom enables scaling)
                                
                                2. Survey corrections - Downhole surveys or GPS waypoints 
                                   provide control points for geometry adjustment
                                
                                3. Interpolative positioning - When measures cannot be 
                                   directly computed from centerline geometry
                                
                                For standard DIGGS usage where measures are computed by 
                                interpolating along the LinearExtent geometry, anchor points 
                                are NOT needed - the geometry itself provides the spatial 
                                framework. However, if for linear element definitions where the length of the linear element does not correspond to that determined from the coordinates (such as with expanded or compressed core samples), then these calibration points provide a means for calculating true positions from those referenced by the LRS.
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LRMethod" type="diggs:LRMethodType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>
                Defines a linear referencing method - the specific procedure or 
                algorithm for determining positions along linear features.
                
                Per ISO 19148 §6.2: A linear referencing method is a method for 
                specifying a position along a linear element using a distance 
                measure from a specified origin.
                
                Methods may optionally support lateral offset, making them suitable 
                for 2D positioning (distance along + perpendicular offset).
            </documentation>
        </annotation>
    </element>

    <complexType name="LRMethodType">
        <annotation>
            <documentation>
                Specifies how positions are determined along a linear feature per 
                ISO 19148 §6.2.
                
                DIGGS LR methods rely on the LinearExtent geometry to establish the 
                spatial framework. The method defines how measures are computed from 
                or applied to that geometry.
                
                Methods can be 1-dimensional (distance along only) or 2-dimensional 
                (distance along + lateral offset). The presence of offsetParameters 
                determines the dimensionality:
                
                - offsetParameters absent: 1D method, srsDimension=1, gml:pos="distance"
                - offsetParameters present: 2D method, srsDimension=2, gml:pos="distance offset"
                
                DIGGS examples:
                - 1D: Borehole depth from ground surface
                - 1D: Well measured depth from kelly bushing
                - 2D: Transect with offset sampling
                - 2D: Geophysical trackline with swath data
            </documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:DefinitionType">
                <sequence>
                    <element name="type" type="diggs:LRMethodTypeEnumType">
                        <annotation>
                            <documentation>
                                The type/category of linear referencing method per 
                                ISO 19148 §6.2.3 (absolute, relative, interpolative, measured).
                            </documentation>
                        </annotation>
                    </element>
                    <element name="units" type="eml:LengthUomExt">
                        <annotation>
                            <documentation>
                                Default units of measure for distance measurements along 
                                the linear element using this method. This is the unit for 
                                the first coordinate value (distance along).
                            </documentation>
                        </annotation>
                    </element>
                    <element name="positiveDirection" type="diggs:PositiveDirectionType"
                        minOccurs="0">
                        <annotation>
                            <documentation>
                                Convention for positive measurement direction along the 
                                linear element. In DIGGS, typically "increasing" (along 
                                coordinate order). Semantic labels (downward, upward, forward) 
                                provide clarity but don't change the fundamental 
                                coordinate-order-based direction.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="anchorDefinition" type="string" minOccurs="0">
                        <annotation>
                            <documentation>
                                Textual definition of how this method establishes its 
                                measurement framework. For example: 
                                - "Measured from first coordinate (measure=0) along 3D curve"
                                - "Relative to ground surface referent with positive downward"
                                - "Interpolated between surveyed control points"
                            </documentation>
                        </annotation>
                    </element>
                    <element name="requiresCalibration" type="boolean" minOccurs="0" default="false">
                        <annotation>
                            <documentation>
                                Indicates whether this method requires geometric calibration 
                                points (LRSAnchorPoints) on LinearElements. True for 
                                interpolative methods or when measurement system differs 
                                from geometry. False for direct geometric methods where 
                                measures are computed directly from LinearExtent coordinates.
                            </documentation>
                        </annotation>
                    </element>

                    <element name="offsetParameters" type="diggs:OffsetParametersType" minOccurs="0">
                        <annotation>
                            <documentation>
                                Optional parameters for methods that support lateral offset 
                                from the linear element centerline, such as for Transect or TrialPit sampling features.
                                
                                When PRESENT: This method supports 2D positioning
                                - LinearSRS using this method has srsDimension = 2
                                - Coordinates are encoded as: gml:pos>distance offset&lt;/gml:pos>
                                - First value = distance along (in 'units')
                                - Second value = lateral offset (in 'offsetParameters/offsetUnits')
                                - Positive offset direction defined by 'offsetParameters/offsetDirection'
                                
                                When ABSENT: This method supports 1D positioning only
                                - LinearSRS using this method has srsDimension = 1
                                - Coordinates are encoded as: &lt;gml:pos>distance&lt;/gml:pos>
                                
                                Used for:
                                - Transects with offset soil sampling
                                - Geophysical tracklines with side-scan sonar swaths
                                - Pipelines with offset monitoring points
                                - Survey lines with offset test pits
                                - trial or test pits with offset sampling locations
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="LRMethodPropertyType">
        <sequence minOccurs="0">
            <element ref="diggs:LRMethod"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!-- ============================================================ -->
    <!-- OFFSET PARAMETERS                                            -->
    <!-- ============================================================ -->

    <element name="OffsetParameters" type="diggs:OffsetParametersType"
        substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>
                Defines parameters for lateral offset from a linear element centerline.
            </documentation>
        </annotation>
    </element>

    <complexType name="OffsetParametersType">
        <annotation>
            <documentation>
                Defines the parameters for computing and interpreting lateral offsets 
                from a linear element centerline.
                
                Lateral offset is the perpendicular distance from the centerline of 
                the linear element. This is commonly used for:
                
                - Geophysical surveys: Side-scan sonar, sub-bottom profilers collect 
                data on swaths perpendicular to the vessel trackline
                
                - Transect sampling: Soil or environmental samples collected at regular 
                intervals along a survey line, with additional samples offset to 
                the sides to characterize spatial variability
                
                - Pipeline monitoring: Sensors or test points located parallel to but 
                offset from the pipeline centerline
                
                The offset direction (right/left or starboard/port) defines which 
                side of the centerline is considered positive. Negative values 
                represent the opposite side.
            </documentation>
        </annotation>
        <sequence>
            <element name="offsetDirection" type="diggs:OffsetDirectionEnumType">
                <annotation>
                    <documentation>
                        Direction convention for positive offset values.
                        
                        The offset direction is determined relative to the direction 
                        of the LinearElement (from first to last coordinate in gml:posList):
                        
                        - "right": Positive offset to the right when looking along the line
                        - "left": Positive offset to the left when looking along the line
                        - "starboard": Marine convention, positive to starboard (right)
                        - "port": Marine convention, positive to port (left)
                        
                        Negative offset values represent the opposite direction.
                        Zero offset represents position on the centerline.
                    </documentation>
                </annotation>
            </element>
            <element name="offsetUnits" type="eml:LengthUomExt">
                <annotation>
                    <documentation>
                        Unit of measure for lateral offset values (second coordinate 
                        in gml:pos). May differ from the distance-along units if needed, 
                        though typically they are the same.
                        
                        Examples: ft, m, km
                    </documentation>
                </annotation>
            </element>
            <element name="maxOffset" type="double" minOccurs="0">
                <annotation>
                    <documentation>
                        Optional maximum allowable lateral offset distance (absolute value).
                        
                        This defines the valid range for offset values as:
                        [-maxOffset, +maxOffset]
                        
                        Useful for:
                        - Defining swath width of geophysical instruments
                        - Limiting sampling extent from transect centerline
                        - Validating offset coordinates
                        
                        Example: maxOffset=200 means valid offsets are -200 to +200 
                        in the specified offsetUnits.
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="OffsetParametersPropertyType">
        <sequence minOccurs="0">
            <element ref="diggs:OffsetParameters"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!-- ============================================================ -->
    <!-- OFFSET DIRECTION TYPE                                        -->
    <!-- ============================================================ -->

    <simpleType name="OffsetDirectionEnumType">
        <annotation>
            <documentation>
                Direction of lateral offset from a LinearExtent centerline.
                
                The direction is determined relative to looking along the LinearElement 
                in the direction from first coordinate to last coordinate in gml:posList.
                
                Positive offset values are in the specified direction.
                Negative offset values are in the opposite direction.
                Zero offset is on the centerline.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="right">
                <annotation>
                    <documentation>
                        Positive offset is to the right when looking along the LinearElement 
                        from first to last coordinate. Standard for terrestrial applications 
                        (transects, pipelines, road alignments).
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="left">
                <annotation>
                    <documentation>
                        Positive offset is to the left when looking along the LinearElement 
                        from first to last coordinate. Less common but available if the 
                        application prefers left-positive convention.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="starboard">
                <annotation>
                    <documentation>
                        Positive offset is to starboard (right side when facing bow/forward 
                        direction). Marine convention for geophysical tracklines and 
                        marine surveys. Equivalent to "right" but uses nautical terminology 
                        for consistency with marine operations.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="port">
                <annotation>
                    <documentation>
                        Positive offset is to port (left side when facing bow/forward 
                        direction). Marine convention for geophysical tracklines. 
                        Equivalent to "left" but uses nautical terminology. Less common 
                        as most marine systems use starboard-positive convention.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>


    <!-- ============================================================ -->
    <!-- POSITIONEXPRESION (ISO 19148 §6.2.2)                                                   -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- LINEAR ELEMENT (ISO 19148 §6.3)                              -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- LINEAR REFERENCING METHOD (ISO 19148 §6.2)                   -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- LINEAR SPATIAL REFERENCE SYSTEM (ISO 19148 §6.4)            -->
    <!-- ============================================================ -->

    <element name="LinearSRS" type="diggs:LinearSRSType" substitutionGroup="gml:Definition">
        <annotation>
            <documentation>
                A complete spatial reference system for positioning along linear features 
                per ISO 19148 §6.4.
                
                Combines a Linear Referencing Method with a specific Linear Element to 
                create a coordinate reference system that can be referenced via srsName 
                attributes.
                
                Example usage:
                A borehole LinearSRS (id="BH-001-LRS") combines:
                - The borehole's LinearElement with its 3D centerline geometry
                - A measured depth LRM 
                Result: positions can reference srsName="#BH-001-LRS"
            </documentation>
        </annotation>
    </element>

    <complexType name="LinearSRSType">
        <annotation>
            <documentation>
                Defines a Linear Spatial Reference System per ISO 19148 §6.4.
                
                Per ISO 19148 §6.4.1: A linear referencing system is a spatial reference 
                system in which linear referencing is used to describe location. It 
                combines a linear referencing method with one or more linear elements.
                
                The LinearSRS is the instantiation of a Linear Referencing Method 
                applied to a specific Linear Element. It provides a complete coordinate 
                reference system that can be used in srsName attributes to specify that 
                positions are expressed using linear referencing along that element.
                
                For DIGGS: Each borehole, trackline, or other linear sampling feature 
                that will be linearly referenced should have an associated LinearSRS 
                that can be referenced by measurements, samples, and observations along 
                that feature.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="gml:IdentifiedObjectType">
                <sequence>
                    <element name="linearElement" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>
                                The specific linear feature to which this SRS applies. 
                                This provides the geometric framework (LinearExtent 
                                coordinates) for the coordinate system.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="lrm" type="diggs:LRMethodPropertyType">
                        <annotation>
                            <documentation>
                                The method used to determine positions along the linear 
                                element. Defines the procedure, units, and conventions 
                                for this coordinate system.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="referent" type="diggs:ReferentPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>
                                The referent used as the origin when linearReferencingMethod 
                                is of type "relative".
                                
                                Required when the LRMethod type is "relative", optional otherwise.
                                
                                Example: For a "Depth Below Ground Surface" system, this would 
                                reference the ground surface referent on the LinearElement.
                            </documentation>
                        </annotation>
                    </element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- ============================================================ -->
    <!-- LINEAR POSITION (ISO 19148 §7.2)                             -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- LINEAR LOCATION (ISO 19148 §7.3)                             -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- LINEAR REFERENCING METHOD TYPE                               -->
    <!-- ============================================================ -->

    <simpleType name="LinearReferencingMethodType">
        <annotation>
            <documentation>
                Method for measuring position along a LinearExtent feature.
                
                distanceAlong: Absolute cumulative 3D distance along the curve from 
                    the first coordinate in gml:posList. This is the standard method 
                    for measured depth in boreholes and distance along geophysical 
                    tracklines.
                
                relativeToReferent: Distance measured relative to a specified referent 
                    point along the LinearExtent. The referent element must be populated 
                    when using this method. Commonly used when logging core samples or 
                    referencing positions relative to ground surface, kelly bushing, etc.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="distanceAlong">
                <annotation>
                    <documentation>
                        Cumulative 3D distance along LinearExtent from first coordinate. 
                        Standard method for measured depth and trackline distance.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="relativeToReferent">
                <annotation>
                    <documentation>
                        Distance measured from a specified referent point. Requires 
                        referent element to be populated with referent location and type.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- ============================================================ -->
    <!-- LR METHOD TYPE CODE (ISO 19148 §6.2.3)                       -->
    <!-- ============================================================ -->

    <simpleType name="LRMethodTypeEnumType">
        <annotation>
            <documentation>
                Categories of linear referencing methods per ISO 19148:2021 §6.2.3.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="absolute">
                <annotation>
                    <documentation>
                        Position specified as absolute distance from a defined origin, 
                        typically the first coordinate of the LinearExtent. Per ISO 19148, 
                        absolute methods use distance from a fixed origin point.
                        
                        DIGGS examples:
                        - Measured depth from kelly bushing (origin at KB)
                        - Distance along geophysical trackline from start
                        - Chainage along pipeline from reference monument
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="relative">
                <annotation>
                    <documentation>
                        Position specified relative to a referent point along the linear 
                        feature. Per ISO 19148, relative methods express position as offset 
                        from a reference point that may not be at the origin.
                        
                        DIGGS examples:
                        - Depth below ground surface (referent at ground level)
                        - Distance from line intersection point
                        - Offset from kickoff point in directional drilling
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="interpolative"/>
        </restriction>
    </simpleType>
    <!-- ============================================================ -->
    <!-- POSITIVE DIRECTION                                           -->
    <!-- ============================================================ -->

    <simpleType name="PositiveDirectionType">
        <annotation>
            <documentation>
                Convention for the positive direction of measurement along a 
                linear feature. In DIGGS, measurement always proceeds from 
                first to last coordinate, but this allows semantic labeling.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="increasing">
                <annotation>
                    <documentation>
                        Positive direction follows coordinate order from first to last.
                        This is the DIGGS standard.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="downward">
                <annotation>
                    <documentation>
                        Semantic label indicating positive is downward (deeper). 
                        Common for boreholes where first coordinate is collar and 
                        last is bottom of hole.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="upward">
                <annotation>
                    <documentation>
                        Semantic label indicating positive is upward (shallower). 
                        May be used for core logging from bottom to top.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="forward">
                <annotation>
                    <documentation>
                        Semantic label for horizontal features indicating positive 
                        is in the forward direction of survey or alignment.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- ============================================================ -->
    <!-- REFERENT                                                     -->
    <!-- ============================================================ -->

    <element name="Referent" type="diggs:ReferentType" substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>
                A reference point on or associated with a linear feature, used as 
                the origin for relative linear referencing measurements.
            </documentation>
        </annotation>
    </element>

    <complexType name="ReferentBaseType">
        <annotation>
            <documentation>
                Defines a reference point along or associated with a LinearExtent 
                feature. Referents are commonly used in drilling operations (ground 
                surface, kelly bushing, kickoff points) and geophysical surveys 
                (trackline start/end, line intersections).
                
                When used with relativeToReferent referencing method, measurements 
                are made relative to this referent's position along the LinearExtent.
            </documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractGMLType">
                <sequence>
                    <element minOccurs="0" ref="gml:description">
                        <annotation>
                            <documentation>
                                Free-text description of the referent, including any additional 
                                context or clarification not captured by the referentType code.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" ref="gml:name">
                        <annotation>
                            <documentation>The identifier used for this referent.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="ReferentType">
        <annotation>
            <documentation>
                Defines a reference point along or associated with a LinearExtent 
                feature. Referents are commonly used in drilling operations (ground 
                surface, kelly bushing, kickoff points) and geophysical surveys 
                (trackline start/end, line intersections).
                
                When used with relativeToReferent referencing method, measurements 
                are made relative to this referent's position along the LinearExtent.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:ReferentBaseType">
                <sequence>
                    <element name="referentType" type="diggs:ReferentTypeEnumType">
                        <annotation>
                            <documentation>
                        Type of referent point (e.g., groundSurface, kellyBushing, 
                        kickoffPoint). Defines the physical or logical meaning of 
                        the reference point.
                    </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="position" type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>The spatial position of this referent, given in some coordinate system</documentation>
                        </annotation>
                    </element>
                    <element name="distanceAlong" type="eml:LengthMeasureExt" minOccurs="0">
                        <annotation>
                            <documentation>
                        Position of this referent along the LinearExtent, measured as 
                        absolute distance from the first coordinate in gml:posList. 
                        For example, kelly bushing might be at 0.0, ground surface at 
                        5.0 ft, or kickoff point at 150.0 ft.
                    </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ReferentPropertyType">
        <sequence minOccurs="0">
            <element ref="diggs:Referent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!-- ============================================================ -->
    <!-- REFERENT CODE                                                -->
    <!-- ============================================================ -->

    <simpleType name="ReferentTypeEnum">
        <annotation>
            <documentation>
                Standard referent types for geotechnical and geoenvironmental 
                linear features. These codes represent common reference points 
                used in drilling, sampling, and geophysical operations.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="groundSurface">
                <annotation>
                    <documentation>
                        Natural or existing ground surface at the location of the 
                        feature. Common reference for boreholes, CPT soundings, etc.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="kellyBushing">
                <annotation>
                    <documentation>
                        Kelly bushing on a drilling rig, typically the reference 
                        point for measured depth in rotary drilling operations.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="rotaryTable">
                <annotation>
                    <documentation>
                        Rotary table on a drilling rig, alternative reference point 
                        for measured depth measurements.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="derrickFloor">
                <annotation>
                    <documentation>
                        Derrick floor or rig floor elevation, sometimes used as 
                        alternative to kelly bushing or rotary table.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="mudline">
                <annotation>
                    <documentation>
                        River or lakebed surface in over water drilling operations. 
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="seafloor">
                <annotation>
                    <documentation>
                        Seafloor surface, used in marine 
                        geophysical and geotechnical surveys. Typically the reference for measured depth in subsea wells.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanSeaLevel">
                <annotation>
                    <documentation>
                        Mean sea level, used as vertical datum reference in marine 
                        and coastal environments.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="topOfCasing">
                <annotation>
                    <documentation>
                        Top of protective casing in a borehole or well. May be used 
                        as reference for depth measurements in monitoring wells.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="bottomOfCasing">
                <annotation>
                    <documentation>
                        Base of protective casing in a borehole or well.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="kickoffPoint">
                <annotation>
                    <documentation>
                        Point at which a borehole deviates from vertical in directional 
                        drilling operations. Important reference for deviated well paths.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="topOfHole">
                <annotation>
                    <documentation>
                        The top of a drilled hole - generally synonymous with ground surface unless drilled within an excavation.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="bottomOfHole">
                <annotation>
                    <documentation>
                        Terminal end of a borehole or well at maximum penetration depth.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="start">
                <annotation>
                    <documentation>
                        Starting point of a geophysical trackline or survey transect. 
                        Corresponds to first coordinate in LinearExtent.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="end">
                <annotation>
                    <documentation>
                        Ending point of a geophysical trackline or survey transect. 
                        Corresponds to last coordinate in LinearExtent.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="intersection">
                <annotation>
                    <documentation>
                        Intersection point where this linear feature crosses another 
                        linear feature. Common in grid-based geophysical surveys.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="benchMark">
                <annotation>
                    <documentation>
                        Surveyed benchmark used as elevation reference for the feature.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="topOfCore">
                <annotation>
                    <documentation>
                        The defined top of a core sample.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="bottomOfCore">
                <annotation>
                    <documentation>
                        The defined base of a core sample.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="casingFlange">
                <annotation>
                    <documentation>A flange affixed to the top of the casing string used to attach production equipment.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="crownValve">
                <annotation>
                    <documentation>The valve assembly located at the crown of the derrick or mast, typically at or near the crown block. Used as a reference datum for depth measurements in drilling operations, representing one of the highest fixed points on the rig structure.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="rotaryBushing">
                <annotation>
                    <documentation>The bushing seated in the rotary table through which the kelly or drill string passes during drilling operations. The elevation of the rotary bushing (often referred to as RKB - Rotary Kelly Bushing) is a common datum reference for measuring drilled depths and is typically a few feet above the drill floor elevation.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="lowestAstronomicalTide">
                <annotation>
                    <documentation>The lowest tide level over the duration of the National Tidal Datum Epoch (19 years).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanHigherHighWater">
                <annotation>
                    <documentation>A tidal datum. The average of the higher high water height of each tidal day observed over the National Tidal Datum Epoch (19 years).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanHighWater">
                <annotation>
                    <documentation>A tidal datum. The average of all the high water heights observed over the National Tidal Datum Epoch (19 years).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanLowerLowWater">
                <annotation>
                    <documentation>A tidal datum. The average of the lower low water height of each tidal day observed over the National Tidal Datum Epoch (19 years).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanLowWater">
                <annotation>
                    <documentation>A tidal datum. The average of all the low water heights observed over the National Tidal Datum Epoch (19 years).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="meanTideLevel">
                <annotation>
                    <documentation>A tidal datum. The arithmetic mean of mean high water and mean low water. Same as half-tide level.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>


    <!-- ============================================================ -->
    <!-- LRS ANCHOR POINT                                             -->
    <!-- ============================================================ -->

    <simpleType name="ReferentTypeEnumType">
        <union memberTypes="diggs:OtherNameType diggs:ReferentTypeEnum"/>
    </simpleType>
    <element name="LRSAnchorPoint" type="diggs:LRSAnchorPointType"
        substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>
                A calibration or anchor point used to establish or maintain the 
                linear referencing system. Anchor points relate the linear reference 
                values to actual geometry or physical features.
            </documentation>
        </annotation>
    </element>

    <complexType name="LRSAnchorPointType">
        <annotation>
            <documentation>
                Defines a point where the linear reference system is anchored or 
                calibrated to known positions. Used for:
                - Establishing the origin of measurement (0.0 point)
                - Calibrating total length at bottom of hole
                - Tying geophysical tracklines to survey monuments
                - Adjusting for stretch/compression in core recovery
            </documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:ReferentBaseType">
                <sequence>
                    <element name="anchorType" type="diggs:ReferentTypeEnumType" minOccurs="0">
                        <annotation>
                            <documentation>
                        Type of anchor (uses same codes as referent types for consistency).
                    </documentation>
                        </annotation>
                    </element>
                    <element name="distanceAlong" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>
                        The position along the linear feature where this anchor is located.
                    </documentation>
                        </annotation>
                    </element>
                    <element name="position" type="diggs:PointLocationPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>
                        3D coordinates of the anchor point in a spatial reference system. 
                        Enables transformation between LRS and geographic coordinates.
                    </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="LRSAnchorPointPropertyType">
        <sequence minOccurs="0">
            <element ref="diggs:LRSAnchorPoint"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <!-- ============================================================ -->
    <!-- DISTANCE EXPRESSION                                          -->
    <!-- ============================================================ -->

    <!-- ============================================================ -->
    <!-- OFFSET METHOD                                                -->
    <!-- ============================================================ -->

    <element name="OffsetMethod" type="diggs:OffsetMethodType"
        substitutionGroup="gml:AbstractObject">
        <annotation>
            <documentation>
                Defines how lateral offsets from the linear feature centerline 
                are calculated and applied. Particularly important for geophysical 
                data collection.
            </documentation>
        </annotation>
    </element>

    <complexType name="OffsetMethodType">
        <annotation>
            <documentation>
                Specifies the method for computing lateral offsets from a linear 
                feature. Important for geophysical surveys where data is collected 
                on swaths perpendicular to tracklines.
                
                Examples:
                - Perpendicular offset at each point along centerline
                - Offset along survey azimuth
                - Offset corrected for vessel motion/drift
            </documentation>
        </annotation>
        <sequence>
            <element name="offsetType" type="diggs:OffsetTypeEnumType">
                <annotation>
                    <documentation>
                        Type of offset calculation method.
                    </documentation>
                </annotation>
            </element>
            <element name="description" type="string" minOccurs="0">
                <annotation>
                    <documentation>
                        Detailed description of how offsets are computed.
                    </documentation>
                </annotation>
            </element>
            <element name="maxOffset" type="eml:LengthMeasureExt" minOccurs="0">
                <annotation>
                    <documentation>
                        Maximum allowable lateral offset distance for this method.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="bearing" type="eml:PlaneAngleMeasure">
                <annotation>
                    <documentation>For a constant bearing offset type, the value of the bearing used for measuring offsets from centerline.
</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="OffsetMethodPropertyType">
        <sequence minOccurs="0">
            <element ref="diggs:OffsetMethod"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>

    <simpleType name="OffsetTypeEnumType">
        <annotation>
            <documentation>
                Methods for computing lateral offsets from linear centerlines.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="perpendicular">
                <annotation>
                    <documentation>
                        Offset perpendicular to the tangent of the centerline at 
                        each point. Standard geometric offset.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="constantBearing">
                <annotation>
                    <documentation>
                        Offset at a constant compass bearing from centerline points. 
                        Used in marine surveys with fixed sensor arrays.
                    </documentation>
                </annotation>
            </enumeration>
            <enumeration value="radial">
                <annotation>
                    <documentation>
                        Offset radially from a center point. May be used for 
                        circular or spiral survey patterns.
                    </documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="LinearSpatialReferenceSystemPropertyType">
        <choice>
            <element ref="diggs:LinearSpatialReferenceSystem"/>
            <element ref="diggs:LinearSRS"/>
        </choice>
    </complexType>

    <element name="linearReferencingMethodUncertainty" type="diggs:UncertaintyPropertyType">
        <annotation>
            <documentation>Provides accuracy value (usually a length measure) for
                                the location (geometry) elements that use this linear reference
                                system for their SRS. For example, for depths in a hole, this
                                property could provide information as to the source and accuracy of
                                depth values that relate to this reference system. If individual
                                elements that refer to this reference system have different
                                uncertainties, those uncertainties are reported within those
                                elements themselves.</documentation>
        </annotation>
    </element>
</schema>
