Domains.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <element abstract="true" name="AbstractVolume" type="diggs:AbstractVolumeType"
        substitutionGroup="diggs:AbstractGeometricPrimitive">
        <annotation>
            <documentation>The head of a substitution group for 3D geometries</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractVolumeType">
        <annotation>
            <documentation>diggs:AbstractSolidType is an abstraction of a solid to support the
                different levels of complexity. The solid may always be viewed as a geometric
                primitive, i.e. is continuous.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometricPrimitiveType">
                <sequence>
                    <element minOccurs="0" name="exterior" type="gml:ShellPropertyType">
                        <annotation>
                            <documentation>The exterior boundary surface of the volume. Defines the outer shell that encloses the three-dimensional feature. For solid volumes, this is the only boundary surface needed.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="interior"
                        type="gml:ShellPropertyType">
                        <annotation>
                            <documentation>Interior boundary surfaces (voids or holes) within the volume. Defines hollow spaces or cavities inside the three-dimensional feature. Multiple interior boundaries can be specified for complex geometries with multiple voids. Optional - not needed for solid volumes without internal voids.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="uncertainty" type="diggs:UncertaintyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="VolumePropertyType">
        <annotation>
            <documentation>Complex type: VolumePropertyType</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:DomainSetType">
                <sequence minOccurs="0">
                    <choice>
                        <element ref="diggs:AbstractVolume"/>
                    </choice>
                </sequence>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="SolidType">
        <annotation>
            <documentation>Concrete type extending AbstractVolumeType. Provides implementation for solid type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractVolumeType"> </extension>
        </complexContent>
    </complexType>
    <element name="Solid" substitutionGroup="diggs:AbstractVolume" type="diggs:SolidType">
        <annotation>
            <documentation>A Diggs geometry object that forms the basis for 3-dimensional geometry.
                The extent of a solid is defined by the boundary surfaces. exterior specifies the
                outer boundary, interior the inner boundary of the solid.</documentation>
        </annotation>
    </element>
    <element name="Shell" substitutionGroup="gml:AbstractSurface" type="diggs:ShellType">
        <annotation>
            <documentation>A shell is used to represent a single connected component of the boundary
                of a 3D solid. Every diggs:surfaceMember references or contains one surface, i.e.
                any element which is substitutable for diggs:AbstractSurface. In the context of a
                shell, the surfaces describe the boundary of the solid. If provided, the
                aggregationType attribute shall have the value "set". </documentation>
        </annotation>
    </element>
    <complexType name="ShellBaseType">
        <complexContent>
            <restriction base="gml:AbstractSurfaceType"/>
        </complexContent>
    </complexType>
    <complexType name="ShellType">
        <annotation>
            <documentation>Extended type based on AbstractVolumeType. Adds elements for shell type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:ShellBaseType">
                <sequence>
                    <element minOccurs="1" ref="gml:surfaceMembers"/>
                    <element minOccurs="0" name="uncertainty" type="diggs:UncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attributeGroup ref="gml:AggregationAttributeGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ShellPropertyType">
        <annotation>
            <documentation>A property with the content model of gml:ShellPropertyType encapsulates a
                shell to represent a component of a solid boundary.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:Shell"/>
        </sequence>
    </complexType>
    <complexType name="PolygonPatchType">
        <annotation>
            <documentation>Extended type based on AbstractSurfacePatchType. Adds elements for polygon patch type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="gml:AbstractSurfacePatchType">
                <sequence>
                    <element minOccurs="0" ref="gml:exterior"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:interior"/>
                    <element minOccurs="0" name="uncertainty" type="diggs:UncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute fixed="planar" name="interpolation" type="gml:SurfaceInterpolationType">
                    <annotation>
                        <documentation>The interpolation attribute.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="PolygonPatch" substitutionGroup="gml:AbstractSurfacePatch"
        type="diggs:PolygonPatchType">
        <annotation>
            <documentation>A Diggs geometry object defining a polygon that serves as the definition
                of a patch comprising a MultiPlanarSurface</documentation>
        </annotation>
    </element>
    <element name="Polygon" substitutionGroup="gml:AbstractSurface" type="diggs:PolygonType">
        <annotation>
            <documentation>A Diggs geometry object that represents a surface that lies within a
                single plain. It's properties are of a polygon with an outer ring and optionally
                multiple inner rings The coordinate points that define all of the rings must be
                coplanar</documentation>
        </annotation>
    </element>
    <complexType name="PolygonBaseType">
        <complexContent>
            <restriction base="gml:AbstractSurfaceType"> </restriction>
        </complexContent>
    </complexType>
    <complexType name="PolygonType">
        <annotation>
            <documentation>Extended type based on AbstractSurfaceType. Adds elements for polygon type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:PolygonBaseType">
                <sequence>
                    <element minOccurs="0" ref="gml:exterior"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:interior"/>
                    <element minOccurs="0" name="uncertainty"
                        type="diggs:LocationUncertaintyPropertyType">
                        <annotation>
                            <documentation>The uncertainty property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MultiPlanarSurface" substitutionGroup="diggs:AbstractSurface"
        type="diggs:MultiPlanarSurfaceType">
        <annotation>
            <documentation>A Diggs geometry object that represents a surface that does not lie
                within a single plane. It contains an array of polygon patches, each of which
                contain and inner and optionally outer ring that define the extent of the patch. All
                of the coordinate points within a patch must be coplanar, and each patch must share
                an edge with an adjacent patch to form a continuous surface. </documentation>
        </annotation>
    </element>
    <complexType name="MultiPlanarSurfaceType">
        <annotation>
            <documentation>Extended type based on AbstractSurfaceType. Adds elements for multi planar surface type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSurfaceType">
                <sequence>
                    <element ref="gml:patches"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MultiCurve" substitutionGroup="diggs:AbstractCurve" type="diggs:MultiCurveType">
        <annotation>
            <documentation>A Diggs geometry object that holds a collection of curve
                geometries.</documentation>
        </annotation>
    </element>
    <complexType name="MultiCurvePropertyType">
        <annotation>
            <documentation>Property type for multi curve references. Used to wrap multi curve objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:MultiCurve"/>
        </sequence>
    </complexType>
    <complexType name="MultiCurveType">
        <annotation>
            <documentation>Extended type based on AbstractGeometricAggregateType. Adds elements for multi curve type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractCurveType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" ref="diggs:curveMembers"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="curveMembers" type="diggs:curveMembersArrayPropertyType">
        <annotation>
            <documentation>The curve members property.</documentation>
        </annotation>
    </element>
    <complexType name="curveMembersArrayPropertyType">
        <annotation>
            <documentation>Property type for curve members array references. Used to wrap curve members array objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="unbounded">
            <element ref="diggs:LinearExtent"/>
        </sequence>
    </complexType>
    <element name="PlanarObservationRepresentation" substitutionGroup="diggs:AbstractGeometry"
        type="diggs:PlanarObservationRepresentationType">
        <annotation>
            <documentation>An object that defines the planar extent, top and bottom locations of a planar surface observation.In practical usage, the PlanarSurfaceRepresentation incorporates the geometries of the top and bottom surfaces of a volume of earth material where they contact a planar surface, such as a geologic contact or stratigraphic boundary and the area (as a surface) between the two contacts.</documentation>
        </annotation>
    </element>
    <complexType name="PlanarObservationRepresentationType">
        <annotation>
            <documentation>Extended type based on AbstractGeometryType. Adds elements for planar observation representation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractGeometryType">
                <sequence>
                    <element name="layerTopIntersection" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The line that represents the intersection of the top surface of a volume of earth material or othrewise) with a planar sampling feature.</documentation>
                        </annotation>
                    </element>
                    <element name="layerBaseIntersection" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The location of the basal surface of a layer (a volume of
                                earth material) that intersects a planar sampling feature. Depending
                                on how a planar sampling feature is encoded, there could be multiple
                                line strings that define this basal surface.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="representativeSurface"
                        type="diggs:SurfacePropertyType">
                        <annotation>
                            <documentation>One or more polygons that represent the layer volume in
                                the plane of the planar sampling feature. This would typically be a
                                ring polygon with curve members that consist of the layer top
                                intersection, layer bottom intersection, and two edges that would
                                normally be at the lateral extent of the planar
                                feature.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TimeArrayPropertyType">
        <annotation>
            <documentation>Property type for time array references. Used to wrap time array objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1" minOccurs="1">
            <element ref="gml:TimeInstant"/>
        </sequence>
    </complexType>
    <complexType name="TimePositionListType">
        <annotation>
            <documentation>Extended type based on AbstractTimeObjectType. Adds elements for time position list type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTimeObjectType">
                <sequence>
                    <element name="timePositionList" type="diggs:TimeListSimpleType">
                        <annotation>
                            <documentation>The time position list property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="TimePositionList" substitutionGroup="diggs:AbstractTimeObject"
        type="diggs:TimePositionListType">
        <annotation>
            <documentation>A DIGGS time object with a property containing a list of time instances
                expressed as xsd:DateTime values.</documentation>
        </annotation>
    </element>
    <element name="TimeIntervalList" substitutionGroup="diggs:AbstractTimeObject"
        type="diggs:TimeIntervalListType">
        <annotation>
            <documentation>A DIGGS time object with a property that contains a list of time
                intervals (duration or elapsed time) expressed as xsd:Decimal values. unit attribute
                provides the time unit for the list</documentation>
        </annotation>
    </element>
    <complexType name="TimeIntervalListType">
        <annotation>
            <documentation>Extended type based on AbstractTimeObjectType. Adds elements for time interval list type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTimeObjectType">
                <sequence>
                    <element ref="diggs:timeIntervalList"/>
                </sequence>
                <attribute name="unit" type="gml:TimeUnitType" use="required">
                    <annotation>
                        <documentation>The unit attribute.</documentation>
                    </annotation>
                </attribute>
                <attribute name="radix" type="positiveInteger">
                    <annotation>
                        <documentation>The radix attribute.</documentation>
                    </annotation>
                </attribute>
                <attribute name="factor" type="integer">
                    <annotation>
                        <documentation>The factor attribute.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="TimeListSimpleType">
        <annotation>
            <documentation>A list of dateTime instances</documentation>
        </annotation>
        <list itemType="gml:TimePositionUnion"/>
    </simpleType>
    <element name="timeIntervalList" type="diggs:TimeIntervalListSimpleType">
        <annotation>
            <documentation>The time interval list property.</documentation>
        </annotation>
    </element>
    <simpleType name="TimeIntervalListSimpleType">
        <annotation>
            <documentation>A list of decimal values representing time intervals (duration or elapsed
                time) instances.</documentation>
        </annotation>
        <list itemType="decimal"/>
    </simpleType>
</schema>
