glrProfile_diggs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
  xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:xlink="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.opengis.net/gml/3.3/lr" elementFormDefault="qualified">
  <annotation>
    <documentation>GML 3.3 profile for DIGGS including: Basic Linear Referencing</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
  <import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>


  <!-- ================================================= -->
  <!-- ================================================= -->

  <complexType name="LinearSRSType">
    <complexContent>
      <extension base="gml:IdentifiedObjectType">
        <sequence>
          <element name="linearElement" type="glr:LinearElementPropertyType"/>
          <element name="lrm" type="glr:LinearReferencingMethodPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="LinearSRS" type="glr:LinearSRSType" substitutionGroup="gml:Definition"/>

  <complexType name="LinearElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gml:AbstractCurve"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  
  <!--simplified in this profile - see type defn with same name
     <complexType name="LinearElementPropertyType">
    <sequence minOccurs="0">
      <element ref="glr:LinearElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  -->
  <!--removed in this profile
    <complexType name="LinearElementType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <choice>
            <element name="feature" 
              type="gml:FeaturePropertyType"/>
            <element name="curve" type="gml:CurvePropertyType"/>
              <element name="edge"
              type="gml:DirectedEdgePropertyType"/>
          </choice>
          <element name="defaultLRM" type="glr:LinearReferencingMethodPropertyType"/>
          <element name="measure" type="gml:MeasureType"/>
          <element name="startValue" type="glr:StartValueType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="StartValueType">
    <simpleContent>
      <extension base="double">
        <attribute name="uom" type="gml:UomIdentifier"/>
        <attribute name="lrm" type="anyURI" use="required">
          <annotation>
            <documentation> The lrm attribute value should reference a LinearReferencingMethod
              object </documentation>
            <appinfo source="urn:x-gml:targetElement"> glr:LinearReferencingMethod </appinfo>
          </annotation>
        </attribute>
      </extension>
    </simpleContent>
  </complexType>

  <element name="LinearElement" type="glr:LinearElementType" substitutionGroup="gml:AbstractGML"/>
  -->
    
  <complexType name="LinearReferencingMethodPropertyType">
    <sequence minOccurs="0">
      <element ref="glr:LinearReferencingMethod"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  
  <element name="LinearReferencingMethod" type="glr:LinearReferencingMethodType"
    substitutionGroup="gml:AbstractGML"/>

  <complexType name="LinearReferencingMethodType">
    <complexContent>
      <extension base="gml:AbstractGMLType">
        <sequence>
          <element name="name" type="glr:LRMNameType"/>
          <element name="type" type="glr:LRMTypeType"/>
          <element name="units" type="gml:UomIdentifier"/>
          <element name="constraint" type="string" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="LRMNameType">
    <!-- Modified to hard code enumerations provided in the annotation DJP 10/5/2017-->
    <annotation>
      <documentation> Informative values from ISO 19148 Annex C </documentation>
      <appinfo>
        <restriction base="string">
          <enumeration value="milepoint"/>
          <enumeration value="trueMileage"/>
          <enumeration value="kilometre-point"/>
          <enumeration value="kilopoint"/>
          <enumeration value="chainage"/>
          <enumeration value="hectometre-point"/>
          <enumeration value="reverseMilepoint"/>
          <enumeration value="reverseKilometre-point"/>
          <enumeration value="milepointWithLateralOffsetsInFeet"/>
          <enumeration value="milepost"/>
          <enumeration value="kilopost"/>
          <enumeration value="kilometre-post"/>
          <enumeration value="referencePost"/>
          <enumeration value="countyMilepoint"/>
          <enumeration value="crossStreet"/>
          <enumeration value="controlSection"/>
          <enumeration value="percentage"/>
          <enumeration value="normalized"/>
          <enumeration value="stationing"/>
          <enumeration value="address"/>
          <enumeration value="mileMvalues"/>
          <enumeration value="kilometreMvalues"/>
        </restriction>
      </appinfo>
    </annotation>
    <simpleContent>
      <!-- <extension base="gml:CodeType"/>  -->
      <restriction base="gml:CodeType">
        <enumeration value="milepoint"/>
        <enumeration value="trueMileage"/>
        <enumeration value="kilometre-point"/>
        <enumeration value="kilopoint"/>
        <enumeration value="chainage"/>
        <enumeration value="hectometre-point"/>
        <enumeration value="reverseMilepoint"/>
        <enumeration value="reverseKilometre-point"/>
        <enumeration value="milepointWithLateralOffsetsInFeet"/>
        <enumeration value="milepost"/>
        <enumeration value="kilopost"/>
        <enumeration value="kilometre-post"/>
        <enumeration value="referencePost"/>
        <enumeration value="countyMilepoint"/>
        <enumeration value="crossStreet"/>
        <enumeration value="controlSection"/>
        <enumeration value="percentage"/>
        <enumeration value="normalized"/>
        <enumeration value="stationing"/>
        <enumeration value="address"/>
        <enumeration value="mileMvalues"/>
        <enumeration value="kilometreMvalues"/>        
      </restriction> 
    </simpleContent>
  </complexType>

  <complexType name="LRMTypeType">
    <!-- Modified to hard code enumerations provided in the annotation DJP 10/5/2017-->
    <annotation>
      <documentation> Normative values from ISO 19148 </documentation>
      <appinfo>
        <restriction base="string">
          <enumeration value="absolute"/>
          <enumeration value="relative"/>
          <enumeration value="interpolative"/>
          <enumeration value="localInterpolative"/>
        </restriction>
      </appinfo>
    </annotation>
    <simpleContent>
      <!--<extension base="gml:CodeType"/> -->
      <restriction base="gml:CodeType">
        <enumeration value="absolute"/>
        <enumeration value="relative"/>
        <enumeration value="interpolative"/>
        <enumeration value="localInterpolative"/>        
      </restriction>
    </simpleContent>
  </complexType>

















  <!--was <element name="LinearSpatialReferenceSystem" type="g3.3:LinearSpatialReferenceSystemType"
    substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> Specification of a position as a linearly referenced location in accordance
    with ISO 19148. </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    LSRS Type 
  -->
  <!-- was 
    <complexType name="LinearSpatialReferenceSystemType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <sequence>
    <element name="linearElement" type="g3.3:LinearElementPropertyType"/>
    <element name="lrm" type="g3.3:LinearReferencingMethodPropertyType"/>
    <element name="referent" type="g3.3:AlongReferentPropertyType" minOccurs="0"/>
    <element name="lateralOffsetExpression" type="g3.3:LateralOffsetExpressionType"
    minOccurs="0"/>
    <element name="verticalOffsetExpression" type="g3.3:VerticalOffsetExpressionType"
    minOccurs="0"/>
    <element name="vectorOffsetExpression" type="g3.3:VectorOffsetExpressionType"
    minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    LSRS Property Type 
  -->
  <!--removed from profile
    <complexType name="LinearSpatialReferenceSystemPropertyType">
    <sequence>
    <element ref="g3.3:LinearSpatialReferenceSystem" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!--
    ********************  Supporting Property Types   ********************  
  -->
  <!-- 
    *****  Linear Element 
  -->
  <!-- 
    Linear Element Property Type 
  -->
  <!--replaced by a more compact encoding - see complexType with the same name 
    <complexType name="LinearElementPropertyType">
    <choice>
    <element ref="g3.3:LinearElement" minOccurs="0"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!--was
    <complexType name="LinearElementPropertyType">
    <choice>
    <element ref="gml:AbstractCurve" minOccurs="0"/>
    </choice>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Linear Element 
  -->
  <!--
    <element name="LinearElement" type="g3.3:LinearElementType" substitutionGroup="gml:AbstractObject"/>
    <annotation>
    <documentation>
    1-dimensional object that serves as the axis along which linear referencing is performed
    </documentation>
    </annotation>
  -->
  <!-- 
    Linear Element Type 
  -->
  <!--
    <complexType name="LinearElementType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <choice>
    <element name="feature" type="gml:AbstractFeatureType"/>
    <element name="curve" type="gml:CurvePropertyType"/>
    <element name="edge" type="gml:DirectedEdgePropertyType"/>
    </choice>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    ***** Linear Referencing Method 
  -->
  <!-- 
    Linear Referencing Method Property Type 
  -->
  <!--was
    <complexType name="LinearReferencingMethodPropertyType">
    <sequence>
    <element ref="g3.3:LinearReferencingMethod" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Linear Referencing Method 
  -->
  <!--was
    <element name="LinearReferencingMethod" type="g3.3:LinearReferencingMethodType"
    substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> The manner in which measurements are made along (and optionally laterally
    offset from) a linear element </documentation>
    </annotation>
    </element>
  -->
  <!--was
    <complexType name="LinearReferencingMethodType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <sequence>
    <element name="name" type="g3.3:LRMNameType"/>
    <element name="type" type="g3.3:LRMTypeType"/>
    <element name="units" type="gml:UnitOfMeasureType"/>
    <element name="constraint" type="string" minOccurs="0"/>
    <element name="offsetUnits" type="gml:UnitOfMeasureType" minOccurs="0"/>
    <element name="positiveLateralOffsetDirection" type="g3.3:LateralOffsetDirectionType"
    default="right" minOccurs="0"/>
    <element name="positiveVerticalOffsetDirection" type="g3.3:VerticalOffsetDirectionType"
    default="up" minOccurs="0"/>
    </sequence>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    *****  Distance Expression 
    Distance Expression Property Type 
    Distance Expression 
    Distance Expression Type 
  -->
  <!--
    *****  Along Referent 
    Along Referent Property Type 
  -->
  <!--removed from profile
    <complexType name="AlongReferentPropertyType">
    <sequence>
    <element ref="g3.3:AlongReferent" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Along Referent 
  -->
  <!--removed from profile
    <element name="AlongReferent" type="g3.3:AlongReferentType" substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> For “relative” type Linear Referencing Methods, the type “AlongReferent” is
    used to specify the location along the LinearElement at which the measuring is to begin.
    </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    Along Referent Type 
  -->
  <!--removed from profile
    <complexType name="AlongReferentType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <sequence>
    <element name="fromReferent" type="g3.3:ReferentPropertyType"/>
    <element name="towardsReferent" type="g3.3:ReferentPropertyType" minOccurs="0"/>
    </sequence>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    *****  Referent 
  -->
  <!-- 
    Referent Property Type 
  -->
  <!--removed from profile
    <complexType name="ReferentPropertyType">
    <sequence>
    <element ref="g3.3:Referent" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Referent 
  -->
  <!--removed from profile
    <element name="Referent" type="g3.3:ReferentType" substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> For from and towards referents, the type “Referent” is used to specify a known
    location along the LinearElement. This can be a reference marker, an intersection, a
    jurisdictional boundary, or a landmark. At least one of the attributes “position” or
    “location” is usually specified, unless it can be implied. If both are given they shall
    refer to the same physical location. </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    Referent Type 
  -->
  <!--removed from profile
    <complexType name="ReferentType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <sequence>
    <element name="name" type="gml:CodeType"/>
    <element name="type" type="g3.3:ReferentTypeType"/>
    <element name="position" type="gml:PointPropertyType" minOccurs="0"/>
    <element name="location" type="gml:PointPropertyType" minOccurs="0"/>
    <element name="ownedBy" type="gml:AbstractFeatureType"/>
    </sequence>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    *****  Lateral Offset Expression 
  -->
  <!-- 
    Lateral Offset Expression Property Type 
  -->
  <!--removed from profile
    <complexType name="LateralOffsetExpressionPropertyType">
    <sequence>
    <element ref="g3.3:LateralOffsetExpression" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Lateral Offset Expression 
  -->
  <!--removed from profile
    <element name="LateralOffsetExpression" type="g3.3:LateralOffsetExpressionType"
    substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> The type “LateralOffsetExpression” is used to describe the lateral offset for
    a linearly referenced location. </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    Lateral Offset Expression Type 
  -->
  <!--removed from profile
    <complexType name="LateralOffsetExpressionType">
    <sequence>
    <element name="offsetLateralDistance" type="gml:MeasureType" minOccurs="0"/>
    <element name="lateralOffsetReferent" type="g3.3:LateralOffsetReferentType" minOccurs="0"/>
    </sequence>
    </complexType>
  -->
  <!-- 
    Lateral Offset Referent Type 
  -->
  <!--removed from profile
    <complexType name="LateralOffsetReferentType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <choice>
    <element name="featureGeometry" type="gml:GeometryPropertyType"/>
    <element name="type" type="string"/>
    </choice>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    *****  Vertical Offset Expression 
  -->
  <!-- 
    Vertical Offset Expression Property Type 
  -->
  <!--removed from profile
    <complexType name="VerticalOffsetExpressionPropertyType">
    <sequence>
    <element ref="g3.3:VerticalOffsetExpression" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Vertical Offset Expression 
  -->
  <!--removed from profile
    <element name="VerticalOffsetExpression" type="g3.3:VerticalOffsetExpressionType"
    substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> The type “VerticalOffsetExpression” is used to describe the vertical offset
    for a linearly referenced location. </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    Vertical Offset Expression Type 
  -->
  <!--removed from profile
    <complexType name="VerticalOffsetExpressionType">
    <sequence>
    <element name="offsetVerticalDistance" type="gml:MeasureType" minOccurs="0"/>
    <element name="verticalOffsetReferent" type="g3.3:VerticalOffsetReferentType" minOccurs="0"/>
    </sequence>
    </complexType>
  -->
  <!-- 
    Vertical Offset Referent Type 
  -->
  <!--removed from profile
    <complexType name="VerticalOffsetReferentType">
    <complexContent>
    <extension base="gml:AbstractGMLType">
    <choice>
    <element name="featureGeometry" type="gml:GeometryPropertyType"/>
    <element name="type" type="string"/>
    </choice>
    </extension>
    </complexContent>
    </complexType>
  -->
  <!-- 
    *****  Vector Offset Expression 
  -->
  <!-- 
    Vector Offset Expression Property Type 
  -->
  <!--removed from profile
    <complexType name="VectorOffsetExpressionPropertyType">
    <sequence>
    <element ref="g3.3:VectorOffsetExpression" minOccurs="0"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
  -->
  <!-- 
    Vector Offset Expression 
  -->
  <!--removed from profile
    <element name="VectorOffsetExpression" type="g3.3:VectorOffsetExpressionType"
    substitutionGroup="gml:AbstractObject">
    <annotation>
    <documentation> The type “VectorOffsetExpression” is used to describe the vector offset for a
    linearly referenced location. </documentation>
    </annotation>
    </element>
  -->
  <!-- 
    Vector Offset Expression Type 
  -->
  <!--removed from profile
    <complexType name="VectorOffsetExpressionType">
    <sequence>
    <element name="offsetVector" type="gml:VectorType"/>
    <element name="vectorCRS" type="gml:CRSPropertyType" minOccurs="0"/>
    </sequence>
    </complexType>
  -->
  <!-- 
    ********************   Code Lists and Enumerations   ********************  
  -->
  <!-- 
    LRM Name Type 
  -->







  <!-- 
		Lateral Offset Direction 
	-->
  <!--removed from profile
    <simpleType name="LateralOffsetDirectionType">
    <annotation>
      <documentation> Enumeration of the allowable lateral offset directions. </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="left"/>
      <enumeration value="right"/>
    </restriction>
  </simpleType>
  -->
  <!-- 
		Vertical Offset Direction 
	-->
  <!--removed from profile
    <simpleType name="VerticalOffsetDirectionType">
    <annotation>
      <documentation> Enumeration of the allowable vertical offset directions. </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="up"/>
      <enumeration value="down"/>
    </restriction>
  </simpleType>
  -->
  <!-- 
		Referent Type Type 
	-->
  <!--removed from profile
    <simpleType name="ReferentTypeType">
    <annotation>
      <documentation> Enumeration of the allowable types of referents. </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="referenceMarker"/>
      <enumeration value="intersection"/>
      <enumeration value="boundary"/>
      <enumeration value="landmark"/>
    </restriction>
  </simpleType>
  -->


</schema>
