Groups.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

    <element name="ProjectGroup" substitutionGroup="diggs:AbstractGroup"
        type="diggs:ProjectGroupType">
        <annotation>
            <documentation>A top level Diggs feature defining a related group of
                projects.</documentation>
        </annotation>
    </element>
    <complexType name="ProjectGroupType">
        <complexContent>
            <extension base="diggs:AbstractGroupType">
                <choice>
                    <element maxOccurs="unbounded" minOccurs="1" ref="diggs:projectRef"/>
                </choice>
            </extension>
        </complexContent>
    </complexType>
    <element name="GroupGroup" substitutionGroup="diggs:AbstractGroup" type="diggs:GroupGroupType">
        <annotation>
            <documentation>A Diggs feature containing references to a group of
                groups.</documentation>
        </annotation>
    </element>
    <complexType name="GroupGroupType">
        <complexContent>
            <extension base="diggs:AbstractGroupType">
                <choice>
                    <element maxOccurs="unbounded" minOccurs="1" ref="diggs:groupRef"/>
                </choice>
            </extension>
        </complexContent>
    </complexType>
    <element name="groupRef" type="diggs:FeatureReferenceType">
        <annotation>
            <appinfo source="urn:x-gml:targetElement">Diggs:AbstractGroup</appinfo>
            <documentation>A reference to a group that is associated with this feature. </documentation>
            <documentation>A property element that supports a value by reference only. The target
                value is indicated in the appinfo element.</documentation>
        </annotation>
    </element>
    <element name="SampleGroup" substitutionGroup="diggs:AbstractGroup" type="diggs:SampleGroupType">
        <annotation>
            <documentation>A top level Diggs feature that reference related samples as part of a
                group.</documentation>
        </annotation>
    </element>
    <complexType name="SampleGroupType">
        <complexContent>
            <extension base="diggs:AbstractGroupType">
                <choice>
                    <element maxOccurs="unbounded" minOccurs="1" ref="diggs:sampleRef"/>
                </choice>
            </extension>
        </complexContent>
    </complexType>
</schema>
