MeasureTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:diggs_geo="http://diggsml.org/schemas/3.0/geotechnical"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://diggsml.org/schemas/3.0" version="dev" elementFormDefault="qualified"
    vc:maxVersion="1.1" vc:minVersion="1.0">
    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="energistics/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
    <import namespace="http://www.energistics.org/energyml/data/witsmlv2"
        schemaLocation="witsmlv2Profile_diggs.xsd"/>

    <complexType name="MovementMeasureType">
        <complexContent>
            <extension base="eml:LengthMeasure">
                <attribute name="displacedFeature" type="diggs:TerminationFeatureExtEnumType"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RotationMeasureType">
        <complexContent>
            <extension base="eml:PlaneAngleMeasure">
                <attribute name="displacedFeature" type="diggs:TerminationFeatureExtEnumType"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="LugeonValueMeasureType">
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" use="required" type="diggs:fixedLugeonValueUOM"/>
            </extension>
        </simpleContent>
    </complexType>

    <simpleType name="fixedLugeonValueUOM">
        <restriction base="string">
            <enumeration value="Lu"/>
        </restriction>
    </simpleType>

    <complexType name="MixerVolumeMeasureType">
        <complexContent>
            <extension base="eml:VolumeMeasure">
                <attribute name="atSpecificGravity" type="double"/>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="GroutPressureMeasureType">
        <complexContent>
            <extension base="diggs:pressureMeasureType">
                <attribute name="type" use="optional" type="diggs:pressureMeasureTypeEnumType"/>
                <attribute name="sensorLocation" type="string">
                    <annotation>
                        <documentation>A text string describing where the pressure sensor is
                            located.</documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>



</schema>
