Observation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>

    <element name="ColorObservation" type="diggs:ColorObservationType">
        <annotation>
            <documentation>A color observation describes the color of materials encountered. All
                color observations within a color observation system must not overlap, although
                multiple colors can be described within a single zone.</documentation>
        </annotation>
    </element>
    <complexType name="ColorObservationPropertyType">
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:ColorObservation">
                <annotation>
                    <documentation>Color observations must not overlap</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ColorObservationType">
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="color" type="diggs:ColorPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>

                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ColorSystem" substitutionGroup="diggs:AbstractObservationSystem"
        type="diggs:ColorSystemType">
        <annotation>
            <documentation>An object that contains a system of color observations.</documentation>
        </annotation>
    </element>
    <complexType name="ColorSystemType">
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element minOccurs="0" name="colorType" type="gml:CodeType">
                        <annotation>
                            <documentation>A text string defining the kind of "Color Description"
                                system described *("eg. Munsell Color", "wet color".
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="colorObservation"
                        type="diggs:ColorObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ConstituentObservation" type="diggs:ConstituentObservationType">
        <annotation>
            <documentation>Constituent observations describe details of earth materials encountered
                within a sampling feature. Constituent observations that are restricted to a
                specific lithologic zone are encoded as constituent properties in the Lithology
                zones themselves. </documentation>
        </annotation>
    </element>
    <complexType name="ConstituentObservationPropertyType">
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:ConstituentObservation"/>
        </sequence>
    </complexType>
    <complexType name="ConstituentObservationType">
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="constituent"
                        type="diggs:ConstituentPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation"/>
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ConstituentSystem" substitutionGroup="diggs:AbstractObservationSystem"
        type="diggs:ConstituentSystemType">
        <annotation>
            <documentation>An object that contains a system of constituent observations.
                Observations within a constituent system need not be continuous and may overlap, but
                zones with the same named constituents cannot overlap.</documentation>
        </annotation>
    </element>
    <complexType name="ConstituentSystemType">
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="constituentType" type="gml:CodeType">
                        <annotation>
                            <documentation>A text string defining the kind of "Constituent
                                Description" system described (eg. :"Fossils" or "Diagenesis".
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="constituentObservation"
                        type="diggs:ConstituentObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="OrientationObservation" type="diggs:OrientationObservationType">
        <annotation>
            <documentation>Orientation observations describe the geometry of vectors or planar
                surfaces encountered at a sampling feature, such as bedding, joints, cross-beds,
                etc. These observations are designed to characterize regions with generalized
                geometries. Individual measurements of planar geometries of boundaries or faults are
                recorded in Discontinuity or Lithology observations. </documentation>
        </annotation>
    </element>
    <simpleType name="OrientationObsPropertyEnumType">
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="bedding"/>
                    <enumeration value="cross-bedding"/>
                    <enumeration value="faults"/>
                    <enumeration value="joints"/>
                    <enumeration value="fractures"/>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="string">
                    <pattern value="Other: .{2,}"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>
    <complexType name="OrientationObservationType">
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element name="orientation" type="diggs:OrientationPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation"/>
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="OrientationSystem" substitutionGroup="diggs:AbstractObservationSystem"
        type="diggs:OrientationSystemType">
        <annotation>
            <documentation>An object that contains a system of Orientation observations.
                Observations within an orientation zone system must not overlap.</documentation>
        </annotation>
    </element>
    <complexType name="OrientationSystemType">
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="orientationFeatureType"
                        type="diggs:OrientationObsPropertyEnumType">
                        <annotation>
                            <documentation>Selection from an enumerated list defining the type of
                                planar feature whose orientations are being described in this system
                                (eg. faults, bedding)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="orientationFeatureObservation"
                        type="diggs:OrientationObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="OrientationPropertyType">
        <sequence>
            <element ref="diggs:Orientation"/>
        </sequence>
    </complexType>

    <element name="Orientation" type="diggs:OrientationType">
        <annotation>
            <documentation>An object containing properties of of bedding, fracture, or zone orientation.</documentation>
        </annotation>
    </element>
    <complexType name="OrientationObservationPropertyType">
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:OrientationObservation"/>
        </sequence>
    </complexType>
    <complexType name="OrientationType">
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="strikeOrBearing" type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>The true bearing of the feature (if linear) or strike of
                                the plane, from north (range 0-360), where 0 is north and 90 east,
                                etc.</documentation>
                        </annotation>
                    </element>
                    <element name="dipOrPlunge" type="diggs:DipMeasureType">
                        <annotation>
                            <documentation>The inclination of the feature from horizontal (eg. 0 is
                                vertical, 90 degrees is vertical DOWN)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>


    <element name="OtherObservation" type="diggs:OtherObservationType">
        <annotation>
            <documentation>A structure for defining a zone system of unknown type. Observations
                consist of name-value pairs, where these names should reference code lists. As this
                is an "open" description, no Schematron controls are appropriate here unless defined
                for a specific use case.</documentation>
        </annotation>
    </element>
    <complexType name="OtherObservationPropertyType">
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:OtherObservation"/>
        </sequence>
    </complexType>
    <element name="OtherObservationSystem" substitutionGroup="diggs:AbstractObservationSystem"
        type="diggs:OtherObservationSystemType">
        <annotation>
            <documentation>An object containing a system of OtherObservation
                objects.</documentation>
        </annotation>
    </element>
    <complexType name="OtherObservationType">
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="property"
                        type="diggs:ParameterPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation"/>
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OtherObservationSystemType">
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="otherSystemType" type="gml:CodeType">
                        <annotation>
                            <documentation>The kind of "Other Observation" system described.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="otherObservation"
                        type="diggs:OtherObservationPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    
    
    
    
</schema>
