SamplingFeature.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

    <!-- ================================================================================= -->
    <!-- This schema file contains abstract and concrete elements and types that define    -->
    <!-- EXTENDED samplng features ans associated geometry and time domain objects.            -->
    <!-- ================================================================================= -->
    <!-- ================================================================================= -->
    <!-- SAMPLING FEATURE OBJECTS                                                                  -->
    <!-- ================================================================================= -->

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>

    <element abstract="true" name="AbstractPointSamplingFeature"
        substitutionGroup="diggs:AbstractSamplingFeature"
        type="diggs:AbstractPointSamplingFeatureType">
        <annotation>
            <documentation>Abstract element for point-based sampling features. Serves as the head of
                the substitution group for point sampling feature types.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractPointSamplingFeatureType">
        <annotation>
            <documentation>Base type for all point sampling features - discrete locations where
                samples are collected or measurements made. Point sampling features represent
                zero-dimensional sampling positions at the scale of the investigation. Examples
                include CPT soundings, groundwater monitoring points, surface soil sample locations,
                and probe test positions. While these features may have physical dimensions (e.g., a
                monitoring well has a diameter), they are treated as points because their spatial
                extent is negligible compared to the investigation area. Point features are
                characterized by a single location coordinate.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSamplingFeatureType">
                <sequence> </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractPointInstallation"
        substitutionGroup="diggs:AbstractSamplingFeature" type="diggs:AbstractPointInstallationType">
        <annotation>
            <documentation>Base type for installations with point (0D) geometries. An installation
                is a sampling feature that is installed within another sampling
                feature.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractPointInstallationType">
        <annotation>
            <documentation>Base type for point installations such as monitoring points or
                instrumentation nodes.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPointSamplingFeatureType">
                <sequence>
                    <element ref="diggs:samplingFeatureRef"/>
                    <element minOccurs="0" name="installationConstructionEvent"
                        type="diggs:InstallationEventPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Information on the occurrence and activities involved
                                during construction of the installation within the sampling
                                feature</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="installationEquipment"
                        type="diggs:EquipmentPropertyType">
                        <annotation>
                            <documentation>Equipment used to install the point installation.
                                References the machinery, tools, or devices employed during
                                installation of the monitoring point or
                                instrumentation.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="false" name="Transect"
        substitutionGroup="diggs:AbstractLinearSamplingFeature" type="diggs:TransectType">
        <annotation>
            <documentation>A generic linear sampling feature that extends along the surface of an
                investigation target; used for such features as geophysical arrays, measured
                sections, etc.</documentation>
        </annotation>
    </element>
    <complexType name="TransectType">
        <annotation>
            <documentation>Extended type based on AbstractLinearSamplingFeatureType. Adds elements
                for transect type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLinearSamplingFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="whenTransectRun"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>The period of time when during which the transect is
                                run.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalTransectLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total length of the transect.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="transectPurpose" type="gml:CodeType">
                        <annotation>
                            <documentation>A description of the purpose for running the transect.
                                Intended to come from a controlled list.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="false" name="Station" substitutionGroup="diggs:AbstractPointSamplingFeature"
        type="diggs:StationType">
        <annotation>
            <documentation>A sampling feature that is a point in or on the earth's surface where
                observations or tests are performed, where samples are collected, or where
                monitoring devices are installed.</documentation>
        </annotation>
    </element>
    <complexType name="StationType">
        <annotation>
            <documentation>Extended type based on AbstractPointSamplingFeatureType. Adds elements
                for station type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPointSamplingFeatureType">
                <sequence>
                    <element minOccurs="0" name="type" type="gml:CodeType">
                        <annotation>
                            <documentation>A definition of the type of station (eg. outcrop, survey
                                marker, etc.). This is intended to come from a list controlled by an
                                authority. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="AbstractPlanarSamplingFeature" type="diggs:AbstractPlanarSamplingFeatureType"
        substitutionGroup="diggs:AbstractSamplingFeature" abstract="true">
        <annotation>
            <documentation>Base type for sampling features with planar (2D)
                geometries.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractPlanarSamplingFeatureType" abstract="true">
        <annotation>
            <documentation>Base type for sampling features with planar (2D) geometries including
                test pits and excavations.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSamplingFeatureType">
                <sequence>
                    <choice>
                        <sequence>
                            <annotation>
                                <documentation>This sequence is used if planarReferencing is not
                                    used and locations within the sampling feature are given as
                                    absolute coordinates.</documentation>
                            </annotation>
                            <element name="featureExtent" type="diggs:SurfacePropertyType"
                                maxOccurs="1" minOccurs="1">
                                <annotation>
                                    <documentation> This element defines the extent of the surface
                                        feature using a absolute CRS. This element can be used for
                                        visual representations using typical/simple mapping
                                        software. Either this element, or relativeFeatureExtent is
                                        required, and can be optionally added if
                                        relativeFeatureExtent is used. </documentation>
                                </annotation>
                            </element>
                        </sequence>
                        <sequence>
                            <annotation>
                                <documentation>This sequence is used if planarReferencing is used
                                    and locations within the sampling feature are given as relative
                                    coordinates.</documentation>
                            </annotation>
                            <element name="referenceEdge" type="diggs:LinearExtentPropertyType"
                                minOccurs="1" maxOccurs="1">
                                <annotation>
                                    <documentation>A horizontal line, whose vertices are described
                                        in the same absolute CRS as the A line that defines one edge
                                        (usually either the top or bottom edge)of the sampling
                                        feature’s surface. Where appropriate, this unit is used to
                                        represent the intersection of a 2D surface with the ground,
                                        or more commonly, when a single line (2 vertices only), is
                                        used to represent the x-axis of a 2D or 3D local
                                        CRS.</documentation>
                                </annotation>
                            </element>
                            <choice>
                                <sequence>
                                    <element name="featureExtent" type="diggs:SurfacePropertyType"
                                        maxOccurs="1" minOccurs="1">
                                        <annotation>
                                            <documentation> This element defines the extent of the
                                                surface feature using a absolute CRS. This element
                                                can be used for visual representations using
                                                typical/simple mapping software. Either this
                                                element, or relativeFeatureExtent is required, and
                                                can be optionally added if relativeFeatureExtent is
                                                used. </documentation>
                                        </annotation>
                                    </element>
                                    <element name="relativeFeatureBoundary"
                                        type="diggs:SurfacePropertyType" maxOccurs="1" minOccurs="0">
                                        <annotation>
                                            <documentation> This element defines the extent of the
                                                surface feature using a relative planar referencing
                                                system (must use planarReferencing property
                                                contents). This element should be used for software
                                                that can handle planar referencing (e.g.
                                                LinearSpatialReferenceSystem in GML 3.3). Either
                                                this element, or featureExtent is required, and can
                                                be optionally added if featureExtent is
                                                used.</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                                <sequence>
                                    <element name="relativeFeatureBoundary"
                                        type="diggs:SurfacePropertyType" maxOccurs="1" minOccurs="1">
                                        <annotation>
                                            <documentation> This element defines the extent of the
                                                surface feature using a relative planar referencing
                                                system (must use planarReferencing property
                                                contents). This element should be used for software
                                                that can handle planar referencing (e.g.
                                                LinearSpatialReferenceSystem in GML 3.3). Either
                                                this element, or featureExtent is required, and can
                                                be optionally added if featureExtent is
                                                used.</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </choice>
                            <element name="planarReferencing" minOccurs="0" maxOccurs="unbounded"
                                type="diggs:LocalReferencingPropertyType">
                                <annotation>
                                    <documentation>A property that holds the local coordinate
                                        reference system for the feature, if relative coordinates
                                        are used for defining the feature and its properties instead
                                        of spatial coordinates. Beginning with version 3.0,
                                        VectorLinearSpatialReferenceSystem is deprecated in favor of
                                        LocalCartesianCRS, which derives from gml:EngineeringCRS and
                                        defines a standard means of referencing a 2D or 3D local
                                        coordinate system where locations are defined in Cartesian
                                        coordinates.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractPlanarInstallation"
        substitutionGroup="diggs:AbstractSamplingFeature"
        type="diggs:AbstractPlanarInstallationType">
        <annotation>
            <documentation>Base type for installations with planar (2D) geometries. An installation
                is a sampling feature that is installed within another sampling
                feature.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractPlanarInstallationType">
        <annotation>
            <documentation>Base type for planar (2D) installations within sampling
                features.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPlanarSamplingFeatureType">
                <sequence>
                    <element ref="diggs:samplingFeatureRef"/>
                    <element minOccurs="0" name="installationConstructionEvent"
                        type="diggs:InstallationEventPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Information on the occurrence and activities involved
                                during construction of the installation within the sampling
                                feature</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="installationEquipment"
                        type="diggs:EquipmentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SurfaceSpace" substitutionGroup="diggs:AbstractPlanarSamplingFeature"
        type="diggs:SurfaceSpaceType">
        <annotation>
            <documentation>A generic Diggs 2D sampling feature that represents a 2D sampling space. The featureExtent property can be of a PlanarSurface
                geometry (used for simple cross-sections or maps), where the surface is entirely
                coplanar, or a MultiPlanarSurface geometry, where the overall surface consists of
                multiple coplanar patches (used for dog-leg sections or non-complanar
                surfaces).</documentation>
        </annotation>
    </element>
    <complexType name="SurfaceSpaceType">
        <annotation>
            <documentation>Concrete type extending AbstractPlanarSamplingFeatureType. Provides
                implementation for surface space type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPlanarSamplingFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>

    <element name="TrenchWall" substitutionGroup="diggs:AbstractPlanarSamplingFeature"
        type="diggs:TrenchWallType">
        <annotation>
            <documentation>A wall of a trench or pit dug into the ground and represented by a
                PlanarSurface or MultiPlanar surface geometry.</documentation>
        </annotation>
    </element>
    <element name="TrenchWallEvent" type="diggs:TrialPitEventType">
        <annotation>
            <documentation>An object containing properties describing a time or location related
                event that occurs during construction of a trial pit or trench wall.</documentation>
        </annotation>
    </element>
    <complexType name="TrenchWallEventPropertyType">
        <annotation>
            <documentation>Property type for trench wall event references. Used to wrap trench wall
                event objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:TrenchWallEvent"/>
        </sequence>
    </complexType>
    <complexType name="TrenchWallType">
        <annotation>
            <documentation>Extended type based on AbstractPlanarSamplingFeatureType. Adds elements
                for trench wall type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPlanarSamplingFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="whenConstructed"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>The period of time when the trench is constructed. This
                                should include the entire time the trench is open for
                                logging.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="trenchDepth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The maximum depth of the trench, referenced to a linear
                                reference system.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchLength"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The length of the long horizontal dimension of the
                                trench. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchWidth"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The length of the short horizontal dimension of the
                                trench.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="shoring" type="string">
                        <annotation>
                            <documentation>Description of shoring equipment and method used for
                                shoring trench.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchPurpose" type="gml:CodeType">
                        <annotation>
                            <documentation>A description of the purpose for excavating the trench
                                (eg. exploratory). Intended to come from a controlled
                                list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="backfill" type="diggs:BackfillPropertyType">
                        <annotation>
                            <documentation>Information on construction of the trench backfill
                                covering the trench wall exposure.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="constructionMethod"
                        type="diggs:TrenchConstructionMethodPropertyType">
                        <annotation>
                            <documentation>Information regarding construction of the pit over
                                different depth intervals</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="constructionEvent"
                        type="diggs:TrenchWallEventPropertyType">
                        <annotation>
                            <documentation>Information on construction of the trench with
                                time</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element abstract="true" name="AbstractVolumeSamplingFeature"
        substitutionGroup="diggs:AbstractSamplingFeature"
        type="diggs:AbstractVolumeSamplingFeatureType">
        <annotation>
            <documentation>The head of a substitution group for sampling features with volume (3D)
                geometries.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractVolumeSamplingFeatureType">
        <annotation>
            <documentation>Base type for sampling features with volume (3D) geometries.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSamplingFeatureType">
                <sequence>
                    <element minOccurs="0" name="referenceEdge"
                        type="diggs:LinearExtentPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="featureExtent"
                        type="diggs:VolumePropertyType">
                        <annotation>
                            <documentation> This element defines the extent of the solid feature
                                using a absolute CRS. This element can be used for visual
                                representations using typical/simple mapping software
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="relativeFeatureExtent"
                        type="diggs:VolumePropertyType">
                        <annotation>
                            <documentation> This element defines the polygon extent of the planar
                                feature using a relative planar referencing system (must use
                                planarReferencing property contents). This element should be used
                                for software that can handle planar referencing (e.g.
                                VectorLinearSpatialReferenceSystem in GML 3.3) </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="volumeReferencing"
                        type="diggs:LocalReferencingPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="VolumeSpace" substitutionGroup="diggs:AbstractVolumeSamplingFeature"
        type="diggs:VolumeSpaceType">
        <annotation>
            <documentation>A generic Diggs 3D sampling feature that represents a volume that defines
                the sampling space. The featureExtent properties uses Solid
                geometry.</documentation>
        </annotation>
    </element>
    <complexType name="VolumeSpaceType">
        <annotation>
            <documentation>Concrete type extending AbstractVolumeSamplingFeatureType. Provides
                implementation for volume space type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractVolumeSamplingFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>

    <!-- ================================================================================= -->
    <!-- GEOMETRY OBJECTS                                                                  -->
    <!-- ================================================================================= -->


</schema>
