SamplingFeature.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3.0"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3.0" version="3.0b">

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>

    <element abstract="false" name="Station" substitutionGroup="diggs:AbstractPointSamplingFeature"
        type="diggs:StationType">
        <annotation>
            <documentation>A sampling feature that is a point in or on the earth's surface where
                observations or tests are performed, where samples are collected, or where
                monitoring devices are installed.</documentation>
        </annotation>
    </element>
    <complexType name="StationType">
        <complexContent>
            <extension base="diggs:AbstractPointSamplingFeatureType">
                <sequence>
                    <element minOccurs="0" name="type" type="gml:CodeType">
                        <annotation>
                            <documentation>A definition of the type of station (eg. outcrop, survey
                                marker, etc.). This is intended to come from a list controlled by an
                                authority. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="Transect"
        substitutionGroup="diggs:AbstractLinearSamplingFeature" type="diggs:TransectType">
        <annotation>
            <documentation>A generic linear sampling feature that extends along the surface of an
                investigation target; used for such features as geophysical arrays, measured
                sections, etc.</documentation>
        </annotation>
    </element>
    <complexType name="TransectType">
        <complexContent>
            <extension base="diggs:AbstractLinearSamplingFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="whenTransectRun"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>The period of time when during which the transect is
                                run.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalTransectLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total length of the transect.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="transectPurpose" type="gml:CodeType">
                        <annotation>
                            <documentation>A description of the purpose for running the transect.
                                Intended to come from a controlled list.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="TrenchWall" substitutionGroup="diggs:AbstractPlanarSamplingFeature"
        type="diggs:TrenchWallType">
        <annotation>
            <documentation>A wall of a trench or pit dug into the ground and represented by a
                PlanarSurface or MultiPlanar surface geometry.</documentation>
        </annotation>
    </element>
    <element name="TrenchWallEvent" type="diggs:TrialPitEventType">
        <annotation>
            <documentation>An object containing properties describing a time or location related
                event that occurs during construction of a trial pit or trench wall.</documentation>
        </annotation>
    </element>
    <complexType name="TrenchWallEventPropertyType">
        <sequence>
            <element ref="diggs:TrenchWallEvent"/>
        </sequence>
    </complexType>
    <complexType name="TrenchWallType">
        <complexContent>
            <extension base="diggs:AbstractPlanarSamplingFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="whenConstructed"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>The period of time when the trench is constructed. This
                                should include the entire time the trench is open for
                                logging.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="trenchDepth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The maximum depth of the trench, referenced to a linear
                                reference system.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchLength"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The length of the long horizontal dimension of the
                                trench. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchWidth"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The length of the short horizontal dimension of the
                                trench.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="shoring" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>Description of shoring equipment and method used for
                                shoring trench.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="trenchPurpose" type="gml:CodeType">
                        <annotation>
                            <documentation>A description of the purpose for excavating the trench
                                (eg. exploratory). Intended to come from a controlled
                                list.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="backfill" type="diggs:BackfillPropertyType">
                        <annotation>
                            <documentation>Information on construction of the trench backfill
                                covering the trench wall exposure.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="constructionMethod"
                        type="diggs:TrenchConstructionMethodPropertyType">
                        <annotation>
                            <documentation>Information regarding construction of the pit over
                                different depth intervals</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="constructionEvent"
                        type="diggs:TrenchWallEventPropertyType">
                        <annotation>
                            <documentation>Information on construction of the trench with
                                time</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="VolumeSpace" substitutionGroup="diggs:AbstractVolumeSamplingFeature"
        type="diggs:VolumeSpaceType">
        <annotation>
            <documentation>A generic Diggs 3D sampling feature that represents a volume that defines
                the sampling space. The featureExtent properties uses Solid
                geometry.</documentation>
        </annotation>
    </element>
    <complexType name="VolumeSpaceType">
        <complexContent>
            <extension base="diggs:AbstractVolumeSamplingFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SurfaceSpaceType">
        <complexContent>
            <extension base="diggs:AbstractPlanarSamplingFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>
    <element name="SurfaceSpace" substitutionGroup="diggs:AbstractPlanarSamplingFeature"
        type="diggs:SurfaceSpaceType">
        <annotation>
            <documentation>A generic Diggs 2D sampling feature that represents a surface that
                defines the sampling space. The featureExtent property can be of a PlanarSurface
                geometry (used for simple cross-sections or maps), where the surface is entirely
                coplanar, or a MultiPlanarSurface geometry, where the overall surface consists of
                multiple coplanar patches (used for dog-leg sections or non-complanar
                surfaces).</documentation>
        </annotation>
    </element>
</schema>
