Strength.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:diggs="http://diggsml.org/schemas/2.5.a"
    xmlns:diggs_geo="http://diggsml.org/schemas/2.5.a/geotechnical"
    xmlns:witsml="http://www.witsml.org/schemas/131"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    targetNamespace="http://diggsml.org/schemas/2.5.a/geotechnical" elementFormDefault="qualified"
    version="2.5.a">
    <!-- import the gml and xlinks namespaces (original local profiles) -->
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
    <!--  (canonical complete schemas for TeamEngine GML validation) 
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/XML/2008/06/xlink.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	-->
    <!-- include and import other DIGGS schemas -->
    <import namespace="http://diggsml.org/schemas/2.5.a" schemaLocation="Kernel.xsd"/>
    <!-- import the witsml schemas -->
    <import namespace="http://www.witsml.org/schemas/131"
        schemaLocation="witsml/1.3.1.1/typ_dataTypes.xsd"/>

    <element abstract="false" name="DirectShearTest"
        substitutionGroup="diggs:AbstractLaboratoryTest" type="diggs_geo:DirectShearTestType">
        <annotation>
            <documentation>The direct shear test, also known as a shearbox test, is used for determination of the consolidated drained (or undrained) shear strength of soils. The test is performed by deforming a specimen at a controlled rate on or near a single shear plane.</documentation>
        </annotation>
    </element>
    <complexType name="DirectShearTestType">
        <annotation>
            <documentation>Base type for DirectShearTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestType">
                <sequence>
                    <element default="false" minOccurs="0" name="directShearTestType"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>Type of shear box test.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="trial"
                        type="diggs_geo:DirectShearTestTrialPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="DirectShearTestTrial" substitutionGroup="diggs:AbstractObject"
        type="diggs_geo:DirectShearTestTrialType">
        <annotation>
            <documentation>Results for each trial in DirectShearTest</documentation>
        </annotation>
    </element>
    <complexType name="DirectShearTestTrialPropertyType">
        <annotation>
            <documentation>Property for DirectShearTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs_geo:DirectShearTestTrial"/>
        </sequence>
    </complexType>
    <complexType name="DirectShearTestTrialType">
        <annotation>
            <documentation>Base type for DirectShearTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="trialNo" type="integer">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialBulkDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial bulk density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialDryDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial dry density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialVoidRatio" type="double">
                        <annotation>
                            <documentation>Initial void ratio prior at start of increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="normalStressApplied" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Normal stress applied to specimen.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="displacementRatePeakStressStage"
                        type="witsml:velocityMeasure">
                        <annotation>
                            <documentation>Displacement rate for peak stress stage.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="displacementRateResidualStressStage"
                        type="witsml:velocityMeasure">
                        <annotation>
                            <documentation>Displacement rate for residual stress stage.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="peakShearStress" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Peak shear stress during this trial.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="residualShearStress" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Residual shear stress during this trial.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="HorizDisplPeakShear" type="witsml:lengthMeasure">
                        <annotation>
                            <documentation>Horizontal displacement at peak shear stress.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="VertDisplPeakShear" type="witsml:lengthMeasure">
                        <annotation>
                            <documentation>Vertical displacement at peak shear stress.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="HorizDisplResidualShear"
                        type="witsml:lengthMeasure">
                        <annotation>
                            <documentation>Horizontal displacement at residual shear stress.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="VertDisplResidualShear" type="witsml:lengthMeasure">
                        <annotation>
                            <documentation>Vertical displacement at residual shear stress.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="particleDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Particle density, specific gravity.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialWaterContent"
                        type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Initial moisture content.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="finalWaterContent" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Final moisture content.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="failureCriteria" type="gml:CodeType">
                        <annotation>
                            <documentation>Failure/residual strength criterion used.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="ConsolidationTest"
        substitutionGroup="diggs:AbstractLaboratoryTest" type="diggs_geo:ConsolidationTestType">
        <annotation>
            <documentation>Result from a Consolidation Test. This test is performed to determine the magnitude and rate of volume decrease that a laterally confined soil specimen undergoes when subjected to different vertical pressures. From the measured data, the consolidation curve (pressure-void ratio relationship) can be plotted. This data is useful in determining the compression index (slope of virgin curve), the recompression index (slope of recompression curve) and the preconsolidation pressure (or maximum past pressure) of the soil. In addition, the data obtained can also be used to determine the coefficient of consolidation and the coefficient of secondary compression of the soil.</documentation>
        </annotation>
    </element>
    <complexType name="ConsolidationTestType">
        <annotation>
            <documentation>Base type for ConsolidationTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestType">
                <sequence>
                    <element default="false" minOccurs="0" name="consolidationTestType"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>Type of consolidation test.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialWaterContent"
                        type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Initial moisture content of specimen</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="finalWaterContent" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Final moisture content of specimen</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialBulkDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial bulk density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialDryDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial dry density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="specificGravity" type="double">
                        <annotation>
                            <documentation>Specific gravity of solids.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialSaturation" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Initial degree of saturation</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="swellingPressure" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Swelling pressure.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="heightChange" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Height change of specimen on saturation, or flooding as percentage of original height</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialVoidRatio" type="double">
                        <annotation>
                            <documentation>Initial void ratio prior to running tests.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="trial"
                        type="diggs_geo:ConsolidationTestTrialPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="ConsolidationTestTrial" substitutionGroup="diggs:AbstractObject"
        type="diggs_geo:ConsolidationTestTrialType">
        <annotation>
            <documentation>Results for each trial</documentation>
        </annotation>
    </element>
    <complexType name="ConsolidationTestTrialPropertyType">
        <annotation>
            <documentation>Property for ConsolidationTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs_geo:ConsolidationTestTrial"/>
        </sequence>
    </complexType>
    <element abstract="false" name="CompressiveStrengthTest"
        substitutionGroup="diggs:AbstractLaboratoryTest"
        type="diggs_geo:CompressiveStrengthTestType">
        <annotation>
            <documentation>The Compressive Strength of a material is that value of uniaxial compressive stress reached when the material fails</documentation>
        </annotation>
    </element>
    <complexType name="CompressiveStrengthTestType">
        <annotation>
            <documentation>Base type for CompressiveStrengthTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestType">
                <sequence>
                    <element minOccurs="0" name="waterContent" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Water content of specimen tested</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="testDuration" type="witsml:timeMeasure">
                        <annotation>
                            <documentation>Duration of the test.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="stressRate" type="diggs:forcePerTimeMeasure">
                        <annotation>
                            <documentation>Stress rate</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="failureMode" type="gml:CodeType">
                        <annotation>
                            <documentation>Mode of failure (eg. shear).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TriaxialTestType">
        <annotation>
            <documentation>Base type for DirectShearTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestType">
                <sequence>
                    <element default="false" minOccurs="0" name="triaxialTestType"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>Type of triaxial test (eg. effective stress, total stress)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="trial"
                        type="diggs_geo:TriaxialTestTrialPropertyType"/>
                    <!-- 2015-05-01 PwD changed from type="diggs_geo:TriaxialTestTrialsType" -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="TriaxialTest" substitutionGroup="diggs:AbstractLaboratoryTest"
        type="diggs_geo:TriaxialTestType">
        <annotation>
            <documentation>In a triaxial shear test, stress is applied to a sample in a way which results in stresses along one axis being different from the stresses in perpendicular directions. In conventional triaxial tests, this involves subjecting a cylindrical soil sample to radial stresses (confining pressure) and controlled increases in axial stresses or axial displacements. Depending on the combination of loading and drainage condition, three main types of triaxial tests can be carried out: 1) Consolidated – Drained (CD), 2) Consolidated – Undrained (CU), 3) Unconsolidated - Undrained (UU). From the triaxial test results, it is possible to deduce the shear strength parameters, namely friction angle, cohesion, dilatancy angle and the other dependent parameters.</documentation>
        </annotation>
    </element>
    <element abstract="false" name="TriaxialTestTrial"
        substitutionGroup="diggs:AbstractProcedureTrial" type="diggs_geo:TriaxialTestTrialType">
        <annotation>
            <documentation>Results for each trial in TriaxialTest</documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestTrialPropertyType">
        <annotation>
            <documentation>Property for TriaxialTestTrials, required parent element that holds the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs_geo:TriaxialTestTrial"/>
        </sequence>
    </complexType>
    <complexType name="TriaxialTestTrialType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="0" ref="diggs:specimenRef"> </element>
                    <element minOccurs="0" name="trialNo" type="integer">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialWaterContent"
                        type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Initial moisture content.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="finalWaterContent" type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Final moisture content.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="saturationMethod" type="gml:CodeType"/>
                    <element minOccurs="0" name="consolidationStageDetails"
                        type="diggs:DiggsStringType"/>
                    <element minOccurs="0" name="initialBulkDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial bulk density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialDryDensity"
                        type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>Initial dry density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialVoidRatio" type="double">
                        <annotation>
                            <documentation>Initial void ratio prior at start of increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="effectiveStressEndofConsolidationStartofShearStage"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Effective stress at end of consolidation/start of shear stage</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalCellPressureDuringShearStage"
                        type="witsml:pressureMeasure"/>
                    <element minOccurs="0" name="totalCellPressure" type="witsml:pressureMeasure"/>
                    <element minOccurs="0" name="porewaterPressureStartOfShearing"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Peak shear stress during this trial.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="rateOfAxialStrainDuringShear"
                        type="diggs:StrainPerTimeMeasureType">
                        <annotation>
                            <documentation>Strain rate during shear stage
</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="axialStrainAtFailure"
                        type="diggs:PercentMeasureType"> </element>
                    <element minOccurs="0" name="deviatorStressAtFailure"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="correctedDeviatorStressAtFailure"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Displacement rate for residual stress stage.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="porewaterPressureAtFailure"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Porewater pressure measured at failure</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="volumetricStrainAtFailureDrainedOnly"
                        type="diggs:PercentMeasureType">
                        <annotation>
                            <documentation>Horizontal displacement at peak shear stress.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="undrainedShearStrengthAtFailure"
                        type="witsml:pressureMeasure">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="modeOfFailure" type="diggs:DiggsStringType">
                        <annotation>
                            <documentation>Failure mode (eg. brittle)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="failureCriterion" type="gml:CodeType">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ConsolidationTestTrialType">
        <annotation>
            <documentation>Base type for ConsolidationTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="trialNo" type="integer">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="loadingStress" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>The loading stress increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initialVoidRatio" type="double">
                        <annotation>
                            <documentation>Initial void ratio prior at start of increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="finalVoidRatio" type="double">
                        <annotation>
                            <documentation>Final void ratio at end of increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="endingStress" type="witsml:pressureMeasure">
                        <annotation>
                            <documentation>Stress at end of stress increment/decrement</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coefficientOfConsolidation" type="double">
                        <annotation>
                            <documentation>Coefficient of consolidation for this stress increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coefficientOfSecondaryCompression" type="double">
                        <annotation>
                            <documentation>Coefficient of secondary compression over stress increment</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coefficientTertiaryCompressionIncrement"
                        type="double">
                        <annotation>
                            <documentation>Coefficient of tertiary compression over stress increment</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coefficientOfVolumeCompressibility" type="double">
                        <annotation>
                            <documentation>Reported coefficient of volume compressibility over stress increment</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="averageTemperature"
                        type="witsml:thermodynamicTemperatureMeasure">
                        <annotation>
                            <documentation>Average temperature over stress increment</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
