TestProceduresAll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:diggs="http://diggsml.org/schemas/2.6"
    xmlns:diggs_geo="http://diggsml.org/schemas/2.6/geotechnical"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    targetNamespace="http://diggsml.org/schemas/2.6" version="2.6" elementFormDefault="qualified"
    vc:maxVersion="1.1" vc:minVersion="1.0">
    <!--
 import the gml and xlinks namespaces (original local profiles)  
-->
    <import namespace="http://www.energistics.org/energyml/data/commonv2"
        schemaLocation="witsml/2.0/data/common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>

    <!-- Triaxia Test elements -->
    <element abstract="false" name="TriaxialTest"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure" type="diggs:TriaxialTestType">
        <annotation>
            <documentation>An object describing the properties of a laboratory triaxial shear test procedure. In a triaxial shear test, stress is applied to a sample in a way which
                results in stresses along one axis being different from the stresses in
                perpendicular directions. In conventional triaxial tests, this involves subjecting a
                cylindrical soil sample to radial stresses (confining pressure) and controlled
                increases in axial stresses or axial displacements. Depending on the combination of
                loading and drainage condition, three main types of triaxial tests can be carried
                out: 1) Consolidated – Drained (CD), 2) Consolidated – Undrained (CU), 3)
                Unconsolidated - Undrained (UU). From the triaxial test results, it is possible to
                deduce the shear strength parameters, namely friction angle, cohesion, dilatancy
                angle and the other dependent parameters.</documentation>
        </annotation>
    </element>
    <simpleType name="TriaxialTestAreaCorrectionEnumTypeType">
        <restriction base="string">
            <enumeration value="Central cylindrical bulging"/>
            <enumeration value="Parabolic bulging"/>
            <enumeration value="Right circular cylinder"/>
            <enumeration value="Slip plane"/>
        </restriction>
    </simpleType>
    <simpleType name="TriaxialTestAreaCorrectionTypeType">
        <union memberTypes="diggs:TriaxialTestAreaCorrectionEnumTypeType diggs:OtherNameType"/>
    </simpleType>
    <element abstract="false" name="TriaxialTestConsolidationStage"
        substitutionGroup="diggs:AbstractObject" type="diggs:TriaxialTestConsolidationStageType">
        <annotation>
            <documentation>An object that contains properties to capture the results for the consolidation stage in a TriaxialTest trial. Other
                specimen information recorded for this stage is recorded in the conditionPostTest
                property of the associated specimen. </documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestConsolidationStagePropertyType">
        <annotation>
            <documentation>Property for TriaxialTestTrials, required parent element that holds the
                multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:TriaxialTestConsolidationStage"/>
        </sequence>
    </complexType>
    <complexType name="TriaxialTestConsolidationStageType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="consolidationIncrement"
                        type="diggs:ConsolidationIncrementPropertyType"/>
                    <element minOccurs="0" name="specimenCrossSectionalAreaCalculationMethod"
                        type="gml:CodeType">
                        <annotation>
                            <documentation>A description of how the specimen cross-sectional area
                                after consolidation is computed (eg. ASTM Method A, B, etc.), The
                                actual value of the specimen cross-sectional area post-consolidation
                                is provided in the conditionPostTest property of the associated
                                specimen.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="effectiveStressEndofConsolidationStage"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Effective stress at end of consolidation/start of shear
                                stage</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="t50" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>t50 is the time for 50 percent consolidation. Method for
                                its determination is described in the t50Method
                                property</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="specimenHeightChangeAfterConsolidation"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Change in specimen height after consolidation. The
                                post-consolidation specimen height itself would be recorded in the
                                conditionPostTest property of the associated
                                specimen</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="t50Method" type="gml:CodeType">
                        <annotation>
                            <documentation>The method used to determine t50 - eg. Casagrande,
                                Taylor, etc. Intended to come from a controlled list of
                                terms.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="TriaxialTestEquipment"
        substitutionGroup="diggs:AbstractEquipment" type="diggs:TriaxialTestEquipmentType">
        <annotation>
            <documentation>An object that contains properties to capture specific parameters of triaxial test proecdure equipment.</documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestEquipmentType">
        <complexContent>
            <extension base="diggs:AbstractEquipmentType">
                <sequence>
                    <element minOccurs="0" name="loadCellCapacity" type="eml:ForceMeasure"/>
                    <element minOccurs="0" name="massOfTopPorousStone" type="eml:MassMeasure"/>
                    <element minOccurs="0" name="massOfTopCap" type="eml:MassMeasure"/>
                    <element minOccurs="0" name="pistonDiameter" type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Type of pressure transducer, eg. single pressure
                                transducer, effective stress transducer. Intended to come from a
                                controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="poreWaterPressureDeviceMeetsUndrainedSpecs"
                        type="boolean">
                        <annotation>
                            <documentation>For undrained tests, this property is true if pore water
                                pressure measurement system satisfies the requirment that the volume
                                change due to pore water pressure change divided by total volume of
                                specimen divided by the change in pore pressue less than 3.2 X 10-6
                                m2/kN (2.2 X 10-5 in2/lb (ASTM 4761-11, Sec. 5.8)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureTransducerType" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of pressure transducer, eg. single pressure
                                transducer, effective stress transducer. Intended to come from a
                                controlled list of terms.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="TriaxialTestSaturationStage"
        substitutionGroup="diggs:AbstractObject" type="diggs:TriaxialTestSaturationStageType">
        <annotation>
            <documentation>An object that contains properties that capture the results for the saturation stage in a TriaxialTest trial</documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestSaturationStagePropertyType">
        <annotation>
            <documentation>Property for TriaxialTestTrials, required parent element that holds the
                multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:TriaxialTestSaturationStage"/>
        </sequence>
    </complexType>
    <complexType name="TriaxialTestSaturationStageType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="0" name="automatedSaturationEquipmentUsed" type="boolean"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="backPressureIncrement"
                        type="diggs:BackPressureIncrementPropertyType"/>
                    <element minOccurs="0" name="bValueEndOfSaturation" type="double"/>
                    <element minOccurs="0" name="initialSaturation"
                        type="eml:VolumePerVolumeMeasure">
                        <annotation>
                            <documentation>Initial saturation prior to testing</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="maximumBackPressureApplied"
                        type="eml:PressureMeasure"/>
                    <element minOccurs="0" name="saturationMethod" type="gml:CodeType">
                        <annotation>
                            <documentation>Method of saturation, eg. initially saturated (wet)
                                method, initially dry (dry) method, cell pressure, back pressure,
                                etc. Intended to come from a controlled list of
                                terms.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="TriaxialTestShearStage" substitutionGroup="diggs:AbstractObject"
        type="diggs:TriaxialTestShearStageType">
        <annotation>
            <documentation>An object that contains properties that capture the results for the consolidation stage in a TriaxialTest
                trial</documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestShearStagePropertyType">
        <annotation>
            <documentation>Property for TriaxialTestTrials, required parent element that holds the
                multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:TriaxialTestShearStage"/>
        </sequence>
    </complexType>
    <complexType name="TriaxialTestShearStageType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="0" name="axialStrainAtFailure"
                        type="eml:LengthPerLengthMeasure"> </element>
                    <element minOccurs="0" name="deviatorStressAtFailure" type="eml:PressureMeasure">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="failureCriterion" type="gml:CodeType">
                        <annotation>
                            <documentation>Criterion used to define failure (eg. maximum deviator
                                stress, max PSR, limiting strain, etc.). Intended to come from a
                                controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="modeOfFailure" type="gml:CodeType">
                        <annotation>
                            <documentation>Failure mode (eg. shear plane, bulging, etc.), Intended
                                to come from a controlled list of terms</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalPorewaterPressureAtFailure"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Total Porewater pressure measured at
                                    failure</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="inducedPorewaterPressureAtFailure"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Induced Porewater pressure measured at
                                        failure</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="porewaterPressureStartOfShearing"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Pore water pressure measured prior to start of
                                shearing</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="rateOfAxialStrainDuringShear"
                        type="diggs:PercentPerTimeMeasureType">
                        <annotation>
                            <documentation>Strain rate during shear stage </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="shearingIncrement"
                        type="diggs:ShearingIncrementPropertyType"/>
                    <element minOccurs="0" name="slopeOfAngleOfFailureSurface"
                        type="eml:PlaneAngleMeasure"/>
                    <element minOccurs="1" name="totalCellPressureDuringShearStage"
                        type="eml:PressureMeasure"/>
                    <element minOccurs="0" name="undrainedShearStrengthAtFailure"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="volumetricStrainAtFailureDrainedOnly"
                        type="eml:VolumePerVolumeMeasure">
                        <annotation>
                            <documentation>Volumetric strain for drained tests only</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="areaCorrectionApplied" type="boolean"/>
                    <element minOccurs="0" name="areaCorrectionType"
                        type="diggs:TriaxialTestAreaCorrectionTypeType"/>
                    <element minOccurs="0" name="filterCorrectionApplied" type="boolean"/>
                    <element minOccurs="0" name="membraneCorrectionApplied" type="boolean"/>
                    <element minOccurs="0" name="pistonFrictionCorrectionApplied" type="boolean"/>
                    <element minOccurs="0" name="upliftCorrectionApplied" type="boolean"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="TriaxialTestTrial"
        substitutionGroup="diggs:AbstractProcedureTrial" type="diggs:TriaxialTestTrialType">
        <annotation>
            <documentation>An object that contains properties that capture the results of each Triaxial test trial.
</documentation>
        </annotation>
    </element>
    <complexType name="TriaxialTestTrialPropertyType">
        <annotation>
            <documentation>Property for TriaxialTestTrials, required parent element that holds the
                multiple trials.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:TriaxialTestTrial"/>
        </sequence>
    </complexType>
    <complexType name="TriaxialTestTrialType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="0" ref="diggs:specimenRef"> </element>
                    <element minOccurs="0" name="filterInfo" type="diggs:FilterInfoPropertyType">
                        <annotation>
                            <documentation>Information about filters used and parameters used for
                                filter correction.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="membraneInfo" type="diggs:MembraneInfoPropertyType">
                        <annotation>
                            <documentation>Information about membranes used and parameters used for
                                membrane correction.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="saturationStage"
                        type="diggs:TriaxialTestSaturationStagePropertyType"/>
                    <element minOccurs="0" name="consolidationStage"
                        type="diggs:TriaxialTestConsolidationStagePropertyType"/>
                    <element minOccurs="0" name="shearStage"
                        type="diggs:TriaxialTestShearStagePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TriaxialTestType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element default="" minOccurs="0" name="triaxialTestType" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of triaxial test (eg. CU,CD,UU,UD), Intended to come
                                from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="trial"
                        type="diggs:TriaxialTestTrialPropertyType"/>
                    <!-- 2015-05-01 PwD changed from type="diggs:TriaxialTestTrialsType" -->
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="BackPressureIncrement"
        substitutionGroup="diggs:AbstractProcedureTrial" type="diggs:BackPressureIncrementType">
        <annotation>
            <documentation>An object that contains properties that records information about each backpressure increment associated with the saturation stage of a triaxial test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="BackPressureIncrementPropertyType">
        <annotation>
            <documentation>Property for BackPressureIncrements</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:BackPressureIncrement"/>
        </sequence>
    </complexType>
    <complexType name="BackPressureIncrementType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="1" name="incrementNumber" type="eml:PositiveLong">
                        <annotation>
                            <documentation>Index of the increment (eg. 1 is the first increment, 2
                                is the second, etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="backPressureApplied" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Amount of backpressure applied to the speciment during
                                this backpressure increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bValue" type="double">
                        <annotation>
                            <documentation>The pore pressure parameter B is defined as the change in
                                the specimen pore pressure that occurs as a result of a change in
                                the chamber pressure when the specimen drainage valves are closed,
                                divided by the change in chamber pressure.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="chamberPressureApplied" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Amount of chamber pressure applied to the speciment
                                during this backpressure increment.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="deairedWaterUsed" type="boolean"/>
                    <element minOccurs="0" name="elapsedTime" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Time since the initiation of saturation
                                stage</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="FilterInfo" substitutionGroup="diggs:AbstractObject"
        type="diggs:FilterInfoType">
        <annotation>
            <documentation>An object that contains properties about the filter used in a triaxial test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="FilterInfoPropertyType">
        <annotation>
            <documentation>Property type for FilterInfo </documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:FilterInfo"/>
        </sequence>
    </complexType>
    <complexType name="FilterInfoType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="filterPaperConfiguration" type="gml:CodeType">
                        <annotation>
                            <documentation>Configuration of filter paper, eg. strips, spiral.
                                Intended to come from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="filterPaperDisksUsed" type="boolean"/>
                    <element minOccurs="0" name="filterPaperType" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of filter paper used, eg. No. 54, intended to come
                                from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="loadCarriedbyFilterPaperStrips"
                        type="eml:ForcePerLengthMeasure">
                        <annotation>
                            <documentation>Load carried by filter-paper strips per unit length of
                                perimeter of specimen covered by filter-paper. This is usually
                                approximated at 0.00019 kN/mm or 0.19 kN/m (1.1 lbf/in.). Use
                                description or remark property if determined
                                otherwise.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="perimeterCarriedbyFilterPaperStrips"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Perimeter of specimen covered by
                                filter-paper</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="MembraneInfo" substitutionGroup="diggs:AbstractObject"
        type="diggs:MembraneInfoType">
        <annotation>
            <documentation>An object that contains properties about the membrane used in a triaxial test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="MembraneInfoPropertyType">
        <annotation>
            <documentation>Property type for MembraneInfo</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:MembraneInfo"/>
        </sequence>
    </complexType>
    <complexType name="MembraneInfoType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="membraneMaterial" type="gml:CodeType">
                        <annotation>
                            <documentation>Membrane material, eg. latex, nitrile, etc. Intended to
                                come from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="membraneThickness" type="eml:LengthMeasure"/>
                    <element minOccurs="0" name="membraneYoungsModulus" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Young's modulus of membrane material</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="membraneYoungsmodulusDetermination"
                        type="diggs:DescriptorMethodEnumType">
                        <annotation>
                            <documentation>From enumerated list. If Young's modulus is determined by
                                hanging and stretching the membrane, a value of calculated should be
                                used here. Otherwise use assumed or other appropriate
                                descriptor.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="numberOfMembranesUsed" type="eml:PositiveLong"/>
                    <element minOccurs="0" name="unstretchedMembraneCircumference"
                        type="eml:LengthMeasure"/>
                    <element minOccurs="0" name="unstretchedMembraneLength" type="eml:LengthMeasure"
                    />
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="ShearingIncrement"
        substitutionGroup="diggs:AbstractProcedureTrial" type="diggs:ShearingIncrementType">
        <annotation>
            <documentation>An object that contains properties about each shearing increment with the shear stage of a triaxial test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="ShearingIncrementPropertyType">
        <annotation>
            <documentation>Property for ConsolidationIncrements</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:ShearingIncrement"/>
        </sequence>
    </complexType>
    <complexType name="ShearingIncrementType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <choice>
                        <sequence>
                            <element minOccurs="1" name="axialLoad" type="eml:ForceMeasure">
                                <annotation>
                                    <documentation>Load applied to the top of the
                                        sample</documentation>
                                </annotation>
                            </element>
                            <element minOccurs="1" name="axialDeflection" type="eml:LengthMeasure">
                                <annotation>
                                    <documentation>Change in the axial length of the sample.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                        <sequence>
                            <element minOccurs="1" name="deviatorStress" type="eml:PressureMeasure">
                                <annotation>
                                    <documentation>The difference between the major and minor principal
                                    stresses, computed from the axial load divided by the
                                    cross-sectional area of the specimen</documentation>
                                </annotation>
                            </element>
                            <element minOccurs="1" name="axialStrain"
                                type="eml:LengthPerLengthMeasure">
                                <annotation>
                                    <documentation>Strain deflection of sample under load</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </choice>
                    <element minOccurs="0" name="elapsedTime" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Time since the initiation of consolidation
                                stage</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalPoreWaterPressure" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Total Pore water pressure measured</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="inducedPoreWaterPressure"
                        type="eml:PressureMeasure">
                        <annotation>
                            <documentation>Pore water pressure induced under loading defined
                                        as total pore water pressure minus back
                                        pressure</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalCellPressure" type="eml:PressureMeasure">
                        <annotation>
                            <documentation>The measured confining pressure in the cell.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="ConsolidationIncrement"
        substitutionGroup="diggs:AbstractProcedureTrial" type="diggs:ConsolidationIncrementType">
        <annotation>
            <documentation>An object containing properties of a single consolidation increment within the consolidation stage of a triaxial test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="ConsolidationIncrementPropertyType">
        <annotation>
            <documentation>Property for ConsolidationIncrements</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:ConsolidationIncrement"/>
        </sequence>
    </complexType>
    <complexType name="ConsolidationIncrementType">
        <annotation>
            <documentation/>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureTrialType">
                <sequence>
                    <element minOccurs="0" name="deformationIndicatorReading"
                        type="eml:LengthMeasure">
                        <annotation>
                            <documentation>Reading on deformation indicator at beginning of
                                consolidation increment. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="elapsedTime" type="eml:TimeMeasure">
                        <annotation>
                            <documentation>Time since the initiation of consolidation
                                stage</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="volumeChange" type="eml:VolumeMeasure">
                        <annotation>
                            <documentation>Change in volume obtained from the volume change device
                                at the observed elapsed time.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

</schema>
