energistics/2.0/data/common/v2.1/xsd_schemas/BaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/commonv2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified"
	version="2.1">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This Package contains the common re-usable structures and types commonly used by EnergyML Schemas. EML 2.1 Profile for DIGGS</xs:documentation>
	</xs:annotation>
	<!--														-->
	<!--														-->
	<xs:include schemaLocation="CommonEnumerations.xsd"/>
	<!-- Remove from Profile for version 3.0 <xs:include schemaLocation="MeasureType.xsd"/> -->
	<xs:simpleType name="TypeEnum">
		<xs:annotation>
			<xs:documentation>The intended abstract supertype of all enumerated "types". This abstract type allows the maximum length of a type enumeration to be centrally defined. This type should not be used directly except to derive another type. It should also be used for uncontrolled strings which are candidates to become enumerations at a future date.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:String64"/>
	</xs:simpleType>
	<xs:simpleType name="AbstractMeasure">
		<xs:annotation>
			<xs:documentation>The intended abstract supertype of all quantities that have a value with a unit of measure. The unit of measure is in the uom attribute of the subtypes. 

This type allows all quantities to be profiled to be a 'float' instead of a 'double'.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="AbstractString">
		<xs:annotation>
			<xs:documentation>The intended abstract supertype of all strings. This abstract type allows the control over whitespace for all strings to be defined at a high level. This type should not be used directly except to derive another type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="String64">
		<xs:restriction base="eml:AbstractString">
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumExtensionPattern">
		<xs:restriction base="eml:AbstractString">
			<xs:pattern value=".*:.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UomEnum">
		<xs:annotation>
			<xs:documentation>The intended abstract supertype of all "units of measure".
			This abstract type allows the maximum length of a UOM enumeration to be centrally defined. 
			This type is abstract in the sense that it should not be used directly 
			except to derive another type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:AbstractString">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
