energistics/2.0/data/common/v2.1/xsd_schemas/MeasureType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/commonv2"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified"
	version="2.1">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>These types represent numeric quantities with a unit of measure implemented as a uom attribute. The units are gathered into single quantity class which represents a group of units. The unit symbols appropriate for the class are captured as enumerated lists. The implementation of this is to develop a type for each uom class that is a union of a standard list, the unknown value, and the Other: extension. Additional files will contain these structures. EML 2.1 Profile for DIGGS
                                </xs:documentation>
	</xs:annotation>
	<!--														-->
	<!--														-->
	<xs:include schemaLocation="QuantityClass.xsd"/>
	<xs:include schemaLocation="BaseTypes.xsd"/>
	<xs:complexType name="EnergyPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerPressureLengthUom"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFieldStrengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFieldStrengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityRockMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityRockUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGravityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APIGravityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DoseEquivalentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DoseEquivalentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatFlowRateMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatFlowRateUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalForceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalForceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:TemperatureIntervalPerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalResistanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalResistanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricHeatTransferCoefficientMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:VolumetricHeatTransferCoefficientUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AbsorbedDoseMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AbsorbedDoseUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermodynamicTemperaturePerThermodynamicTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:ThermodynamicTemperaturePerThermodynamicTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAmountOfSubstanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AmountOfSubstancePerAmountOfSubstanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MobilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MobilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureSquaredMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureSquaredUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceLengthPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceLengthPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LightExposureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LightExposureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AmountOfSubstancePerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalInsulanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalInsulanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IlluminanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:IlluminanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricFieldStrengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricFieldStrengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PlaneAngleMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PlaneAngleUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadiantIntensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:RadiantIntensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerPowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerPowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricPotentialDifferenceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricPotentialDifferenceUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarHeatCapacityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarHeatCapacityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DimensionlessMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DimensionlessUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DimensionlessMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DimensionlessUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatTransferCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatTransferCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricThermalExpansionMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumetricThermalExpansionUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APINeutronMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APINeutronUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticVectorPotentialMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticVectorPotentialUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DoseEquivalentMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DoseEquivalentUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadianceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:RadianceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearAccelerationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LinearAccelerationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfInertiaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfInertiaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricThermalExpansionMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumetricThermalExpansionUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerTimeAreaTemperatureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:EnergyLengthPerTimeAreaTemperatureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatFlowRateMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatFlowRateUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricalResistivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricalResistivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MobilityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MobilityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerVolumeUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceLengthPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceLengthPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxDensityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTemperatureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTemperatureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearThermalExpansionMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LinearThermalExpansionUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DynamicViscosityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DynamicViscosityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SolidAngleMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SolidAngleUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularAccelerationMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AngularAccelerationUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAmountOfSubstanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAmountOfSubstanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerTimeAreaTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:EnergyLengthPerTimeAreaTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerRotationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerRotationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarEnergyMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarEnergyUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentDensityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentDensityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermodynamicTemperaturePerThermodynamicTemperatureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:ThermodynamicTemperaturePerThermodynamicTemperatureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermodynamicTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermodynamicTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerRotationMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerRotationUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermittivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermittivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureTimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureTimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DipoleMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DipoleMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadianceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:RadianceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KinematicViscosityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:KinematicViscosityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InductanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:InductanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentDensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentDensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerTimeUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermodynamicTemperatureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermodynamicTemperatureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularVelocityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AngularVelocityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LightExposureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LightExposureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousFluxMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousFluxUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearThermalExpansionMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LinearThermalExpansionUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistancePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistancePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AbsorbedDoseMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AbsorbedDoseUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TemperatureIntervalPerPressureUom"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AttenuationPerFrequencyIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AttenuationPerFrequencyIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalResistanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalResistanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectromagneticMomentMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectromagneticMomentUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerTemperatureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerTemperatureUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReluctanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReluctanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VerticalCoordinateMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VerticalCoordinateUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AmountOfSubstancePerTimePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TemperatureIntervalPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:TemperatureIntervalPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LogarithmicPowerRatioUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGammaRayMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APIGammaRayUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DataTransferSpeedMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DataTransferSpeedUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticDipoleMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticDipoleMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerEnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerEnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticPermeabilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticPermeabilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerEnergyMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerEnergyUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGravityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APIGravityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerCountMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerCountUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalElectricPotentialDifferenceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:ReciprocalElectricPotentialDifferenceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticPermeabilityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticPermeabilityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APIGammaRayMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APIGammaRayUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatCapacityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatCapacityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IlluminanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:IlluminanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiffusionCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DiffusionCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricPotentialDifferenceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricPotentialDifferenceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IsothermalCompressibilityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:IsothermalCompressibilityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForceAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForceAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:MagneticFluxDensityPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousFluxMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousFluxUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarHeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarHeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DigitalStorageMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DigitalStorageUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerPowerMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerPowerUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousIntensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousIntensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeFlowRatePerVolumeFlowRateMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:VolumeFlowRatePerVolumeFlowRateUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistancePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistancePerLengthUomExt"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolarEnergyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolarEnergyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyIntervalMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyIntervalUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CationExchangeCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:CationExchangeCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CationExchangeCapacityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:CationExchangeCapacityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SecondMomentOfAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SecondMomentOfAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SecondMomentOfAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SecondMomentOfAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxDensityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyLengthPerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DipoleMomentMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DipoleMomentUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassPerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="HeatTransferCoefficientMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:HeatTransferCoefficientUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="QuantityOfLightMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:QuantityOfLightUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="QuantityOfLightMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:QuantityOfLightUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousEfficacyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousEfficacyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumeFlowRatePerVolumeFlowRateMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:VolumeFlowRatePerVolumeFlowRateUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentumMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentumUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalDiffusivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalDiffusivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiffusiveTimeOfFlightMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DiffusiveTimeOfFlightUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LogarithmicPowerRatioPerLengthUom"
				/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SpecificHeatCapacityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SpecificHeatCapacityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PotentialDifferencePerPowerDropMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:PotentialDifferencePerPowerDropUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfInertiaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfInertiaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioPerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:LogarithmicPowerRatioPerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolecularWeightMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolecularWeightUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ActivityOfRadioactivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ActivityOfRadioactivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SignalingEventPerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SignalingEventPerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerCountMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerCountUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FrequencyIntervalMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:FrequencyIntervalUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CapacitanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:CapacitanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricalResistivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricalResistivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerForceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerForceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="KinematicViscosityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:KinematicViscosityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="APINeutronMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:APINeutronUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InductanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:InductanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerTimeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AmountOfSubstancePerTimeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalDiffusivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalDiffusivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PotentialDifferencePerPowerDropMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:PotentialDifferencePerPowerDropUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NormalizedPowerMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:NormalizedPowerUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTemperatureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTemperatureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LinearAccelerationMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LinearAccelerationUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermittivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermittivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimeLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimeLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureSquaredPerForceTimePerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:PressureSquaredPerForceTimePerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AnglePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AnglePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureSquaredMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureSquaredUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PermeabilityRockMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PermeabilityRockUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SolidAngleMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SolidAngleUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricCurrentMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricCurrentUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CapacitanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:CapacitanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectromagneticMomentMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectromagneticMomentUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricResistanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricResistanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumetricHeatTransferCoefficientMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:VolumetricHeatTransferCoefficientUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressurePerVolumeMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressurePerVolumeUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:TimePerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SpecificHeatCapacityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SpecificHeatCapacityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerPressureLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:VolumePerTimePerPressureLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureSquaredPerForceTimePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:PressureSquaredPerForceTimePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentumMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentumUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousEfficacyMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousEfficacyUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DynamicViscosityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DynamicViscosityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LuminousIntensityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LuminousIntensityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerTimePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerTimePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SignalingEventPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:SignalingEventPerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureTimePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureTimePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MomentOfForceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MomentOfForceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalInsulanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalInsulanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReluctanceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReluctanceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiffusiveTimeOfFlightMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DiffusiveTimeOfFlightUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LengthPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthPerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticVectorPotentialMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticVectorPotentialUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFieldStrengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFieldStrengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NormalizedPowerMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:NormalizedPowerUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="RadiantIntensityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:RadiantIntensityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LogarithmicPowerRatioMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LogarithmicPowerRatioUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularAccelerationMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AngularAccelerationUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalForceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalForceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PlaneAngleMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PlaneAngleUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyLengthPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyLengthPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticDipoleMomentMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticDipoleMomentUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EnergyPerMassMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:EnergyPerMassUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerMassMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerMassUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ThermalConductivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ThermalConductivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AttenuationPerFrequencyIntervalMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AttenuationPerFrequencyIntervalUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DataTransferSpeedMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DataTransferSpeedUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalPressureMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ReciprocalPressureUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DigitalStorageMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DigitalStorageUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AreaPerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AreaPerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerVolumePerPressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerVolumePerPressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReciprocalElectricPotentialDifferenceMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:ReciprocalElectricPotentialDifferenceUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AngularVelocityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:AngularVelocityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricConductivityMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricConductivityUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricChargePerVolumeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricChargePerVolumeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ForcePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ForcePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VolumePerLengthMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VolumePerLengthUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ActivityOfRadioactivityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ActivityOfRadioactivityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AmountOfSubstancePerAmountOfSubstanceMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required"
					type="eml:AmountOfSubstancePerAmountOfSubstanceUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ElectricFieldStrengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:ElectricFieldStrengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PowerPerAreaMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PowerPerAreaUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MagneticFluxDensityPerLengthMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MagneticFluxDensityPerLengthUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MolecularWeightMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MolecularWeightUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DiffusionCoefficientMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:DiffusionCoefficientUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="VerticalCoordinateMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:VerticalCoordinateUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PressureMeasure">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:PressureUom"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerTimeMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerTimeUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MassPerAreaMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:MassPerAreaUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="IsothermalCompressibilityMeasureExt">
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:IsothermalCompressibilityUomExt"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UnitlessMeasure">
		<xs:annotation>
			<xs:documentation>A unitless measure is a measure which has no unit of measure symbol, but could be a real physical measurement. Examples would be pH, wire gauge (AWG and BWG) and shoe size.

This is different from a dimensionless measure which represents a ratio whose units of measure have cancelled each other. DImensionless measures can have units of measure (like ppm or %) or may not have a displayable unit of measure symbol (in which case the units symbol Euc is used in a data transfer).</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure"/>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
