specialty/DeepFoundation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified"
    targetNamespace="http://diggsml.org/schemas/3" 
    version="3.0.0">


    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../core/gml3.2Profile_diggs.xsd" />
    
    <complexType name="AbstractPileType" abstract="true">
        <annotation>
            <documentation>Abstract supertype for all pile types.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLinearInstallationType">
                <sequence>
                    <element minOccurs="0" name="whenInstalled" type="diggs:TimeIntervalType">
                        <annotation>
                            <documentation>The date and time the pile was installed.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="referenceElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>A true vertical control element, in the same vertical CRS
                                as the referencePoint), that is used to set elevations for the
                                structural elements, and not the top of the piling. This property is
                                used when groundSurfaceElevation is not used as the reference
                                elevation. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="groundSurfaceElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The elevation of the ground surface, in the same vertical
                                CRS as the referencePoint. This point often serves as the pile's
                                reference elevation.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="cutoffElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Elevation of the pile cutoff in the same vertical CRS as
                                the referencePoint.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="jettingElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Elevation of the top of the pile in the same CRS as the
                                referencePoint, that is reached by pile jetting.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalPileLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total length of the pile as
                                installed.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="weightPerLength" type="diggs:ForcePerLengthMeasureType">
                        <annotation>
                            <documentation>The weight of the pile per unit length.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tipDeviationNorth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The deviation of the pile tip from the vertical in the
                                north direction.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tipDeviationEast" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The deviation of the pile tip from the vertical in the
                                east direction.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lengthAboveGroundSurface" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Length of the pile above the ground
                                surface.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lengthBelowGroundSurface" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Length of the pile below the ground
                                surface.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lengthNonFriction" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Length of the pile that is not contributing to
                                friction.</documentation>
                        </annotation>
                    </element>
                    <element form="qualified" maxOccurs="1" minOccurs="0" name="finalTipElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The final elevation of the pile tip after driving, in the
                                same CRS as the referencePoint</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="1" name="taperInterval" type="diggs:TaperPropertyType">
                        <annotation>
                            <documentation>A list of intervals along the length of the pile that
                                defines the pile diameter and other properties. The Taper object is
                                used to define the parameters of any kind of pile
                                taper.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="productionPile" type="boolean">
                        <annotation>
                            <documentation>True indicates that this is a production pile, false or
                                not provided indicates it is not a production pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="testPile" type="boolean">
                        <annotation>
                            <documentation>True indicates that this is a test pile, false or not
                                provided indicates it is not a test pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tipType" type="gml:CodeType">
                        <annotation>
                            <documentation>The type of tip used on the pile, if applicable. Intended
                                to come from a controlled list of terms (eg. normal, heavy, conical,
                                etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="nominalCapacity" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The nominal capacity of the pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="allowableDrivingStress" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The maximum stress to be imposed on the pile when
                                driving. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractPile" type="diggs:AbstractPileType" substitutionGroup="diggs:AbstractLinearInstallation">
        <annotation>
            <documentation>An abstract element that shall be substituted by one of its
                subtypes.</documentation>
        </annotation>
    </element>
    <complexType name="TaperType">
        <annotation>
            <documentation>Defines properties of the pile over a specified depth
                interval.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element name="intervalLocation" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>A property that defines the top and bottom depths of the
                                interval being described. </documentation>
                        </annotation>
                    </element>
                    <element name="widthAtTop" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Width of the pile at the top of the
                                interval.</documentation>
                        </annotation>
                    </element>
                    <element name="widthAtBottom" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Width of the pile at the bottom of the
                                interval.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileMaterial" type="gml:CodeType">
                        <annotation>
                            <documentation>The material the pile is constructed of in this
                                interval.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileShape" type="gml:CodeType">
                        <annotation>
                            <documentation>The shape of the pile cross section.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="Taper" type="diggs:TaperType">
        <annotation>
            <documentation>An Taper object, that includes pile diameter an other properties over a
                depth interval.</documentation>
        </annotation>
    </element>
    <complexType name="TaperPropertyType">
        <annotation>
            <documentation>A property with an Taper object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:Taper" />
        </sequence>
    </complexType>
    <element name="Splice" type="diggs:SpliceType">
        <annotation>
            <documentation>A physical connection between two pieces of a pile, typically a single
                pile is constructed from multiple pieces connected by splices.</documentation>
        </annotation>
    </element>
    <complexType name="SpliceArrayPropertyType">
        <annotation>
            <documentation>A property with a list of Splice objects as its value.</documentation>
        </annotation>
        <sequence maxOccurs="unbounded">
            <element ref="diggs:Splice" />
        </sequence>
    </complexType>
    <complexType name="SpliceType">
        <annotation>
            <documentation>The properties of a splice in a pile.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element minOccurs="0" name="spliceNumber" type="positiveInteger">
                        <annotation>
                            <documentation>A number identifying the splice. Splices should be
                                numbered sequentially from the top down.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="spliceType" type="gml:CodeType">
                        <annotation>
                            <documentation>A code describing the type of splice.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="spliceLocation" type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>The location of the splice in 3D space.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="weldType" type="diggs:WeldTypeEnumExtType">
        <annotation>
            <documentation>Type or classification of the weld.</documentation>
        </annotation>
    </element>
    <simpleType name="WeldTypeEnumType">
        <annotation>
            <documentation>Enumeration defining weld type enum type values. Contains 2 allowed value(s).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="circular" >
                <annotation>
                    <documentation>circular - circular value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="spiral" >
                <annotation>
                    <documentation>spiral - spiral value.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="WeldTypeEnumExtType">
        <annotation>
            <documentation>Union type for weld type enum ext type. Accepts values from WeldTypeEnumType or OtherNameType.</documentation>
        </annotation>
        <union memberTypes="diggs:WeldTypeEnumType diggs:OtherNameType" />
    </simpleType>
    <complexType name="SteelHPileType">
        <annotation>
            <documentation>A pile made of steel with an H shaped cross section.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPileType">
                <sequence>
                    <element name="pileSizeDesignation" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name identifying the pile size (typically
                                diameter and weight/unit length) along with other shape parameters
                                as applicable. Intended to come from a controlled list of terms,
                                Example: &lt;pileSizeDesignation codeSpace="ASTM A6 H-Piling"&gt;HP 200 x
                                    64&lt;/pileSizeDesignation&gt;</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" ref="diggs:weldType">
                        <annotation>
                            <documentation>The type of weld used on the pile, from an enumerated
                                list (circular, spiral)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="flangeLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Length of the flange.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="flangeThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Thickness of the flange.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="webThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Thickness of the web.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="splices" type="diggs:SpliceArrayPropertyType">
                        <annotation>
                            <documentation>List of the splices present in the pile.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="SteelHPile" substitutionGroup="diggs:AbstractLinearInstallation" type="diggs:SteelHPileType">
        <annotation>
            <documentation>A SteelHPile object, with all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="SteelPipePileType">
        <annotation>
            <documentation>A pile made from a steel pipe.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPileType">
                <sequence>
                    <element name="pileSizeDesignation" type="gml:CodeType">
                        <annotation>
                            <documentation>A code or name identifying the pile size (typically
                                diameter and weight/unit length) along with other shape parameters
                                as applicable. Intended to come from a controlled list of terms,
                                Example: &lt;pileSizeDesignation codeSpace="ASTM A6 H-Piling"&gt;HP 200 x
                                    64&lt;/pileSizeDesignation&gt;</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wallThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The thickness of the pipe wall.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="1" name="openEnded" type="boolean">
                        <annotation>
                            <documentation>True indicates that the pipe is open ended, false
                                indicates that it is closed ended.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="concreteFilled" type="boolean">
                        <annotation>
                            <documentation>True indicates that the pile is filled with concrete,
                                false or not provided indicates that the pile is not filled with
                                concrete.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="soilPlugDepth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Depth of the soil plug inside the pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="soilPlugElevation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Elevation of the top of the soil plug.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="splices" type="diggs:SpliceArrayPropertyType">
                        <annotation>
                            <documentation>The list of splices in the pile.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="SteelPipePile" substitutionGroup="diggs:AbstractLinearInstallation" type="diggs:SteelPipePileType">
        <annotation>
            <documentation>A SteelPipePile object, including all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="ConcretePileType">
        <annotation>
            <documentation>A pile made from concrete.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPileType">
                <sequence>
                    <element name="pileSizeDesignation" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>A code or name identifying the pile size (typically
                                diameter and weight/unit length) along with other shape parameters
                                as applicable. Intended to come from a controlled list of terms,
                                Example: &lt;pileSizeDesignation codeSpace="ASTM A6 H-Piling"&gt;HP 200 x
                                    64&lt;/pileSizeDesignation&gt;</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="shape" type="diggs:PileShapeEnumExtType">
                        <annotation>
                            <documentation>The shape of the pile cross section.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hollowWidth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Width of the hollow center of the pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wallThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Thickness of the pile wall.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="sideLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Length of one side for square or hexagonal
                                piles.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="soilPlugDepth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Depth of the soil plug inside the pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="soilPlugElevation" type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>Elevation of the top of the soil plug.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="splices" type="diggs:SpliceArrayPropertyType">
                        <annotation>
                            <documentation>The list of splices present in the pile.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ConcretePile" substitutionGroup="diggs:AbstractLinearInstallation" type="diggs:ConcretePileType">
        <annotation>
            <documentation>A ConcretePile object, including all its properties.</documentation>
        </annotation>
    </element>
    <simpleType name="PileShapeEnumType">
        <annotation>
            <documentation>List of possible pile shapes.</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="circular closed">
                <annotation>
                    <documentation>A circular pile with a closed cross section.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="circular open">
                <annotation>
                    <documentation>A circular pile with an open cross section.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="hexagonal">
                <annotation>
                    <documentation>A pile with a hexagonal cross section.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="octagonal">
                <annotation>
                    <documentation>A pile with an octagonal cross section.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="square hollow">
                <annotation>
                    <documentation>A square pile with a hollow cross section.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="square solid">
                <annotation>
                    <documentation>A square pile with a solid cross section.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="PileShapeEnumExtType">
        <annotation>
            <documentation>Extension of the PileShapeEnumType allowing for other values to be
                used.</documentation>
        </annotation>
        <union memberTypes="diggs:PileShapeEnumType diggs:OtherNameType" />
    </simpleType>
    <complexType name="TimberPileType">
        <annotation>
            <documentation>A pile made from timber.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPileType">
                <sequence>
                    <element name="pileSizeDesignation" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>A code or name identifying the pile size (typically
                                diameter and weight/unit length) along with other shape parameters
                                as applicable. Intended to come from a controlled list of terms,
                                Example: &lt;pileSizeDesignation codeSpace="ASTM A6 H-Piling"&gt;HP 200 x
                                    64&lt;/pileSizeDesignation&gt;</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="timberType" type="gml:CodeType">
                        <annotation>
                            <documentation>The type of timber used to construct the
                                pile.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="TimberPile" substitutionGroup="diggs:AbstractLinearInstallation" type="diggs:TimberPileType">
        <annotation>
            <documentation>A TimberPile object, including all its properties.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractPilingEquipmentType">
        <annotation>
            <documentation>Abstract supertype for any equipment used in pile
                installation.</documentation>
        </annotation>
        <complexContent mixed="false">
            <extension base="diggs:AbstractEquipmentType" />
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractPilingEquipment" type="diggs:AbstractPilingEquipmentType">
        <annotation>
            <documentation>Abstract element to be substituted by one of its subtypes, defining
                equipment used for pile driving.</documentation>
        </annotation>
    </element>
    <complexType mixed="false" name="PileDriveHammerType">
        <annotation>
            <documentation>Equipment used to drive piles by impacting the top of the
                pile.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPilingEquipmentType">
                <sequence>
                    <element minOccurs="0" name="hammerType" type="gml:CodeType">
                        <annotation>
                            <documentation>A term from a controlled list describing the type of
                                hammer being used. Typical terms might be steam/air, diesel,
                                hydraulic, vibratory, etc.)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerAction" type="gml:CodeType">
                        <annotation>
                            <documentation>Describes the type of action the hammer uses, (e.g.,
                                "single acting", "double acting").</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="ramRatedEnergyMax" type="diggs:MomentOfForceMeasureType">
                        <annotation>
                            <documentation>The maximum rated energy of the ram.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="ramRatedEnergyMin" type="diggs:MomentOfForceMeasureType">
                        <annotation>
                            <documentation>The minimum rated energy of the ram.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="ramWeight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The weight of the ram or hammer weight.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="ratedStroke" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The rated stroke length of the hammer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalHammerWeight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The net weight of the hammer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="cylinderWeight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The weight of the cylinder (applicable to double and
                                differential acting hammers.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="helmetWeight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The weight of the helmet or anvil, including weight of
                                the striker plate.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pistonAreaDblActing" type="diggs:AreaMeasureType">
                        <annotation>
                            <documentation>The area of the piston for a double acting
                                hammer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="smallPistonAreaDifActing" type="diggs:AreaMeasureType">
                        <annotation>
                            <documentation>The area of the small piston for a differential acting
                                hammer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="strikerPlate" type="diggs:StrikerPlatePropertyType">
                        <annotation>
                            <documentation>The striker plate used with the hammer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerCushion" type="diggs:CushionPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>A property that contains a Cushion object that describes
                                the hammer cushion. Multiple Cushon objects can be associated witht
                                the hammer to account for multiple drives that might occur for the
                                pile driving activity if the cushion is changed out between
                                drives.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="blowsPerMinuteMin" type="positiveInteger">
                        <annotation>
                            <documentation>The minimum blows per minute the hammer can
                                deliver.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="blowsPerMinuteMax" type="positiveInteger">
                        <annotation>
                            <documentation>The maximum blows per minute the hammer can
                                deliver.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PileDriveHammerPropertyType">
        <annotation>
            <documentation>A property with a PileDriveHammer object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:PileDriveHammer" />
        </sequence>
    </complexType>
    <element name="PileDriveHammer" substitutionGroup="diggs:AbstractPilingEquipment" type="diggs:PileDriveHammerType">
        <annotation>
            <documentation>A PileDriveHammer object with all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="StrikerPlateType">
        <annotation>
            <documentation>A plate placed between the hammer and the pile to distribute the impact
                force.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element minOccurs="0" name="weight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The weight of the striker plate.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="diameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The diameter of the striker plate.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="thickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The thickness of the striker plate.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="StrikerPlate" type="diggs:StrikerPlateType">
        <annotation>
            <documentation>A StrikerPlate object with all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="StrikerPlatePropertyType">
        <annotation>
            <documentation>A property with a StrikerPlate object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:StrikerPlate" />
        </sequence>
    </complexType>
    <complexType mixed="false" name="PileCapType">
        <annotation>
            <documentation>A cap placed on the top of the pile to protect it from damage during
                driving and distribute the force of the hammer.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPilingEquipmentType">
                <sequence>
                    <element minOccurs="0" name="material" type="gml:CodeType">
                        <annotation>
                            <documentation>The material the pile cap is made of.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="weight" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>The weight of the pile cap.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="diameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The diameter of the pile cap.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="thickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The thickness of the pile cap.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCushion" type="diggs:CushionPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>A property that contains a Cushion object that describes
                                the pile cushion. Multiple Cushon objects can be associated with the
                                cap to account for multiple drives that might occur for the pile
                                driving activity if the cushion is changed out between
                                drives.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PileCapPropertyType">
        <annotation>
            <documentation>A property with a PileCap object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:PileCap" />
        </sequence>
    </complexType>
    <element name="PileCap" substitutionGroup="diggs:AbstractPilingEquipment" type="diggs:PileCapType">
        <annotation>
            <documentation>An object describing all of the properties of a pile cap or cap
                block.</documentation>
        </annotation>
    </element>
    <complexType mixed="false" name="CushionType">
        <annotation>
            <documentation>A compressible material placed between the hammer and the pile or the
                pile and the pile cap to distribute impact force and reduce damage.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="0" name="cushionElement" maxOccurs="unbounded" type="diggs:CushionElementPropertyType">
                        <annotation>
                            <documentation>A reference to a CushionElement object that contains
                                properties for a cushion element.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalThicknessBeforeDrive" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total thickness of the cushion before driving
                                begins.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalThicknessAfterDrive" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total thickness of the cushion after driving is
                                complete.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="areaBeforeDrive" type="diggs:AreaMeasureType">
                        <annotation>
                            <documentation>The area of the cushion before driving
                                begins.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="areaAfterDrive" type="diggs:AreaMeasureType">
                        <annotation>
                            <documentation>The area of the cushion after driving is
                                complete.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coefficientOfRestitution" type="diggs:value0to1ValueType">
                        <annotation>
                            <documentation>A value between 0 and 1 describing the energy returned
                                after impact, 1 is a perfectly elastic impact and 0 is a perfectly
                                plastic impact.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="value0to1ValueType">
        <annotation>
            <documentation>Restricted double type for value to value type.</documentation>
        </annotation>
        <restriction base="double">
            <minInclusive value="0" />
            <maxInclusive value="1" />
        </restriction>
    </simpleType>
    <complexType name="CushionPropertyType">
        <annotation>
            <documentation>A property with a Cushion object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:Cushion" />
        </sequence>
    </complexType>
    <element name="Cushion" type="diggs:CushionType">
        <annotation>
            <documentation>A Cushion object with all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="CushionElementType">
        <annotation>
            <documentation>One element or layer of a cushion.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element minOccurs="0" name="material" type="gml:CodeType">
                        <annotation>
                            <documentation>The material the cushion is made of.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="noLayers" type="integer">
                        <annotation>
                            <documentation>The number of layers of this element in the
                                cushion.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="thickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Thickness of the cushion element.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="elasticModulus" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The elastic modulus of the cushion
                                element.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="CushionElement" type="diggs:CushionElementType">
        <annotation>
            <documentation>A CushionElement object with all its properties.</documentation>
        </annotation>
    </element>
    <complexType name="CushionElementPropertyType">
        <annotation>
            <documentation>A property with a CushionElement object as its value.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:CushionElement" />
        </sequence>
    </complexType>
    <complexType name="PileDrivingActivityType">
        <annotation>
            <documentation>The process of installing a pile by driving.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractConstructionActivityType">
                <sequence>
                    <element minOccurs="0" name="totalDrivenLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The total length of the pile driven below the ground
                                surface.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="preDrillDepth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The depth of the predrill hole.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="preDrillDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The diameter of the predrill hole.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="plumbCheck" type="boolean">
                        <annotation>
                            <documentation>True indicates that a plumb check (verticality check) was
                                performed, false or not provided indicates that it was not
                                performed.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="plumbCheckDirection" type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>The direction the plumb was checked in relative to north
                                (if applicable).</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammer" type="diggs:PileDriveHammerPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The hammer used for driving the pile.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCap" type="diggs:PileCapPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The pile cap used during pile driving.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totallengthPlacedInLeads" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Total length of pile placed in the leads before
                                driving.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="safety" type="boolean">
                        <annotation>
                            <documentation>Indicates whether safety protocols were followed during
                                pile driving.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" maxOccurs="unbounded" name="lastBlowsData" type="diggs:LastBlowsDataPropertyType">
                        <annotation>
                            <documentation>Data recorded during the final set of hammer
                                blows.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="pileDrivingRecord" type="diggs:PileDrivingRecordPropertyType">
                        <annotation>
                            <documentation>A list of PileDrivingRecords for this
                                activity.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="pdaRecord" type="diggs:PDARecordPropertyType">
                        <annotation>
                            <documentation>Records from Pile Driving Analyzer (PDA) tests performed
                                during driving.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PileDrivingActivity" substitutionGroup="diggs:AbstractConstructionActivity" type="diggs:PileDrivingActivityType">
        <annotation>
            <documentation>A PileDrivingActivity object with all its properties.</documentation>
        </annotation>
    </element>
    <element abstract="false" name="PileDrivingRecord" substitutionGroup="gml:AbstractCoverage" type="diggs:PileDrivingRecordType">
        <annotation>
            <documentation>Record of information about a pile driving operation, typically this
                would include the number of blows required to advance the pile a certain
                distance.</documentation>
        </annotation>
    </element>
    <complexType name="PileDrivingRecordPropertyType">
        <annotation>
            <documentation>A property with a PileDrivingRecord as its value.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:PileDrivingRecord" />
        </sequence>
        <attribute name="index" type="positiveInteger">
            <annotation>
                <documentation>The index of the pile driving record, if the records are part of a
                    sequence this value should be incremented by one for each record in the
                    sequence.</documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="PileDrivingRecordBaseType">
        <annotation>
            <documentation>The base type for a PileDrivingRecord.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractCoverageType">
                <sequence>
                    <element ref="diggs:pileTipLocation">
                        <annotation>
                            <documentation>The location of the pile tip.</documentation>
                        </annotation>
                    </element>
                    <element ref="diggs:pileDrivingRecordResults">
                        <annotation>
                            <documentation>The results of the pile driving record.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <element name="pileTipLocation" substitutionGroup="gml:domainSet" type="diggs:MultiPointPropertyType">
        <annotation>
            <documentation>The location of the pile tip.</documentation>
        </annotation>
    </element>
    <complexType name="PileDrivingRecordType">
        <annotation>
            <documentation>Extended type based on PileDrivingRecordBaseType. Adds elements for pile driving record type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:PileDrivingRecordBaseType">
                <sequence>
                    <element name="recordType" type="diggs:RecordTypeEnumExtType">
                        <annotation>
                            <documentation>The type of drive record, either manual or Saximeter
                                (from an enumerated list). Manual should be used for all instances
                                where the drive record is recorded manually by an engineer or
                                technician.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the hammer used for this drive(eg.a
                                PileDriveHammer equipment object defined in PileDrivingActivity
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCapRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the pile cap used for this drive (eg.a
                                PileCap equipment object defined in PileDrivingActivity
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerCushionRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the hammer cushion used for this drive
                                record (eg. a Cushion object within the PileDriveHammer equipment
                                object</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCushionRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the pile cushion used for this drive
                                record (eg. a Cushion object within the PileCap equipment
                                object</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="driveInterval" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The depth interval (typically from ground surface)
                                associated with this drive record.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initiationTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Time instant that pile driving begins.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="endTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Time instant that pile driving ends.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalElapsedTime" type="diggs:TimeMeasureType">
                        <annotation>
                            <documentation>Total time between driving initiation and driving
                                termination.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="associatedPDARecord" type="boolean">
                        <annotation>
                            <documentation>Indicates whether there is an associated Pile Driving
                                Analyzer record for this driving record.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerStartSetting" type="double">
                        <annotation>
                            <documentation>Initial hammer energy setting at the start of
                                driving.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerEndSetting" type="double">
                        <annotation>
                            <documentation>Final hammer energy setting at the end of
                                driving.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureAtHammer" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>Operating pressure measured at the hammer during
                                driving.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="pileDrivingRecordResults" substitutionGroup="gml:rangeSet" type="diggs:ResultsPropertyType">
        <annotation>
            <documentation>Container for pile driving record measurement results.</documentation>
        </annotation>
    </element>
    <complexType name="LastBlowsDataType">
        <annotation>
            <documentation>Data recorded during the final set of hammer blows during pile
                driving.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element minOccurs="0" name="lastBlowsDistance" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Distance driven during the final set of hammer
                                blows.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="blowCount" type="positiveInteger">
                        <annotation>
                            <documentation>Number of hammer blows in the final set.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="averageStrokeLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Average length of hammer stroke during the final set of
                                blows.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LastBlowsData" type="diggs:LastBlowsDataType">
        <annotation>
            <documentation>Element for recording final set of pile driving blows
                data.</documentation>
        </annotation>
    </element>
    <complexType name="LastBlowsDataPropertyType">
        <annotation>
            <documentation>Property type wrapper for LastBlowsData element.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:LastBlowsData" />
        </sequence>
    </complexType>
    <element abstract="false" name="PDARecord" substitutionGroup="gml:AbstractCoverage" type="diggs:PDARecordType">
        <annotation>
            <documentation>Record of information from a Pile Dynamic Analysis (PDA)</documentation>
        </annotation>
    </element>
    <complexType name="PDARecordPropertyType">
        <annotation>
            <documentation>A property with a PileDrivingRecord as its value.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:PDARecord" />
        </sequence>
        <attribute name="index" type="positiveInteger">
            <annotation>
                <documentation>The index of the pile driving record, if the records are part of a
                    sequence this value should be incremented by one for each record in the
                    sequence.</documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="PDARecordBaseType">
        <annotation>
            <documentation>The base type for a PDARecord.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractCoverageType">
                <sequence>
                    <element ref="diggs:pileTipLocation">
                        <annotation>
                            <documentation>The location of the pile tip.</documentation>
                        </annotation>
                    </element>
                    <element ref="diggs:pdaRecordResults">
                        <annotation>
                            <documentation>The results of the PDA record.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="PDARecordType">
        <annotation>
            <documentation>Extended type based on PDARecordBaseType. Adds elements for pda record type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:PDARecordBaseType">
                <sequence>
                    <element minOccurs="0" name="hammerRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the hammer used for this drive(eg.a
                                PileDriveHammer equipment object defined in PileDrivingActivity
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCapRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the pile cap used for this drive (eg.a
                                PileCap equipment object defined in PileDrivingActivity
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerCushionRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the hammer cushion used for this drive
                                record (eg. a Cushion object within the PileDriveHammer equipment
                                object</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pileCushionRef" type="gml:ReferenceType">
                        <annotation>
                            <documentation>A reference to the pile cushion used for this drive
                                record (eg. a Cushion object within the PileCap equipment
                                object</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="driveInterval" type="diggs:LinearExtentPropertyType">
                        <annotation>
                            <documentation>The depth interval (typically from ground surface)
                                associated with this drive record.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="initiationTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Time instant that PDA testing begins.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="endTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>Time instant that PDA testing ends.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalElapsedTime" type="diggs:TimeMeasureType">
                        <annotation>
                            <documentation>Total time between PDA testing initiation and
                                termination.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="associatedPileDrivingRecord" type="boolean">
                        <annotation>
                            <documentation>Indicates whether there is an associated
                                PileDrivingRecord for this PDA test.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerStartSetting" type="double">
                        <annotation>
                            <documentation>Initial hammer energy setting at the start of PDA
                                testing.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="hammerEndSetting" type="double">
                        <annotation>
                            <documentation>Final hammer energy setting at the end of PDA
                                testing.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureAtHammer" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>Operating pressure measured at the hammer during PDA
                                testing.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="effectiveLength" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The length of the pile below gages (LE), typically
                                reported in ft </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="crossSectionAreaAtGages" type="diggs:AreaMeasureType">
                        <annotation>
                            <documentation>The cross-sectional area of the pile at the gages
                                location (AR), dtypically reported in in2.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="elasticModulus" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The pile material elastic modulus (EM), typically
                                reported in kips/square inch (kpsi).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="pileUnitWeight" type="diggs:DensityOrUnitWeightMeasureType">
                        <annotation>
                            <documentation>The pile material unit weight (SP), typically reported in
                                kips/ft3</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="waveSpeed" type="diggs:LengthPerTimeMeasureType">
                        <annotation>
                            <documentation>Pile material stresswave speed (WS), typically reported
                                in ft/s</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="waveSpeedCalc" type="diggs:LengthPerTimeMeasureType">
                        <annotation>
                            <documentation>Pile material calculated stresswave speed (WC), typically
                                reported in ft/s</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dampingConstant" type="double">
                        <annotation>
                            <documentation>Case damping factor (Jc), unitless</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="multiplicationFactor" type="double">
                        <annotation>
                            <documentation>Multiplication factor o the capacity measurement
                                typically used when the Jc is &gt; 0.9 (JF), unitless</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="distancePileTopToGage" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The distance between the top of the pile and gage
                                locations.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pdaInfo" type="diggs:PDAInfoArrayPropertyType">
                        <annotation>
                            <documentation>A propertyType property that contains one or more objects
                                that provided information about the PDA instrumentation used to
                                obtain the data for this PDA record (acceerometers, strain
                                transcducers and cables)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PDAInfoArrayPropertyType">
        <annotation>
            <documentation>Property type for pda info array references. Used to wrap pda info array objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="unbounded">
            <element ref="diggs:AbstractPDAInfo" />
        </sequence>
    </complexType>
    <element abstract="true" name="AbstractPDAInfo" type="diggs:AbstractPDAInfoType">
        <annotation>
            <documentation>The abstract pda info property.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractPDAInfoType">
        <annotation>
            <documentation>Extended type based on AbstractComponentObjectBaseType. Adds elements for abstract pda info type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element ref="gml:name" />
                    <element maxOccurs="1" minOccurs="0" name="serialNo" type="string">
                        <annotation>
                            <documentation>Serial Number for the PDA component</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PDAAccelerometer" substitutionGroup="diggs:AbstractPDAInfo" type="diggs:PDAAccelerometerType">
        <annotation>
            <documentation>The pda accelerometer property.</documentation>
        </annotation>
    </element>
    <complexType name="PDAAccelerometerType">
        <annotation>
            <documentation>Extended type based on AbstractPDAInfoType. Adds elements for pda accelerometer type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPDAInfoType">
                <sequence>
                    <element minOccurs="0" name="calibrationConstant" type="double">
                        <annotation>
                            <documentation>Calibration factor used to convert raw sensor readings to
                                engineering units.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PDAStrainTransducer" substitutionGroup="diggs:AbstractPDAInfo" type="diggs:PDAStrainTransducerType">
        <annotation>
            <documentation>The pda strain transducer property.</documentation>
        </annotation>
    </element>
    <complexType name="PDAStrainTransducerType">
        <annotation>
            <documentation>Extended type based on AbstractPDAInfoType. Adds elements for pda strain transducer type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPDAInfoType">
                <sequence>
                    <element minOccurs="0" name="calibrationConstant" type="double">
                        <annotation>
                            <documentation>The calibration constant property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PDAConnectorCable" substitutionGroup="diggs:AbstractPDAInfo" type="diggs:PDACableType">
        <annotation>
            <documentation>The pda connector cable property.</documentation>
        </annotation>
    </element>
    <complexType name="PDACableType">
        <annotation>
            <documentation>Concrete type extending AbstractPDAInfoType. Provides implementation for pda cable type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractPDAInfoType">
                <sequence />
            </extension>
        </complexContent>
    </complexType>
    <element name="pdaRecordResults" substitutionGroup="gml:rangeSet" type="diggs:ResultsPropertyType">
        <annotation>
            <documentation>The pda record results property.</documentation>
        </annotation>
    </element>
    <simpleType name="RecordTypeEnumType">
        <annotation>
            <documentation>Enumeration defining record type enum type values. Contains 2 allowed value(s).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="manual" >
                <annotation>
                    <documentation>manual - manual value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="saximeter" >
                <annotation>
                    <documentation>saximeter - saximeter value.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="RecordTypeEnumExtType">
        <annotation>
            <documentation>Union type for record type enum ext type. Accepts values from RecordTypeEnumType or OtherNameType.</documentation>
        </annotation>
        <union memberTypes="diggs:RecordTypeEnumType diggs:OtherNameType" />
    </simpleType>
    <element name="VibrationRecord" substitutionGroup="gml:AbstractCoverage">
        <annotation>
            <documentation>Stub - not yet implemented</documentation>
        </annotation>
    </element>
</schema>