schemas/witsml/1.3.1.1/typ_measureType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/131" 
	xmlns:witsml="http://www.witsml.org/schemas/131" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.3.1">
	<!--                                                         -->
	<!-- POSC License Agreement
	This file is distributed under the POSC License Agreement at
	http://www.posc.org/about/license.shtml.
	Use of this file constitutes agreement with the POSC License Agreement.
	-->
	<!--                                                         -->
	<xsd:annotation>
		<xsd:documentation>
		These types represent numeric quantities with a unit of measure implemented as a uom attribute. The units are gathered into single quantity class which represents a group of units. The unit symbols appropriate for the class are captured as enumerated lists. The implementation of this is to develop a type for each uom class that is a union of a standard list, the unknown value, and the Other: extension. Additional files will contain these structures.
    		</xsd:documentation>
	</xsd:annotation>
	<!--                                                         -->
	<xsd:include schemaLocation="http://diggsml.org/2.0a/schemas/witsml/1.3.1.1/typ_quantityClass.xsd"/>
	<!--                                                         -->
	<xsd:complexType name="accelerationLinearMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:accelerationLinearUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="anglePerLengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:anglePerLengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="anglePerTimeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:anglePerTimeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="areaMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:areaUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="areaPerAreaMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:areaPerAreaUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="densityMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:densityUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="dimensionlessMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:dimensionlessUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="dynamicViscosityMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:dynamicViscosityUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="electricCurrentMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:electricCurrentUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="electricPotentialMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:electricPotentialUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="energyPerAreaMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:energyPerAreaUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="equivalentPerMassMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:equivalentPerMassUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="forceMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:forceUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="forcePerLengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:forcePerLengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="forcePerVolumeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:forcePerVolumeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="frequencyMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:frequencyUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="illuminanceMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:illuminanceUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="lengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:lengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="lengthPerLengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:lengthPerLengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="magneticFieldStrengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:magneticFieldStrengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="magneticInductionMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:magneticInductionUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="massConcentrationMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:massConcentrationUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="massMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:massUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="massPerLengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:massPerLengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="momentOfForceMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:momentOfForceUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="perLengthMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:perLengthUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="planeAngleMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:planeAngleUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="powerMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:powerUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="pressureMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:pressureUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="relativePowerMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:relativePowerUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="specificVolumeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:specificVolumeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="thermodynamicTemperatureMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:thermodynamicTemperatureUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="timeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:timeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="velocityMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:velocityUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="volumeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:volumeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="volumeFlowRateMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:volumeFlowRateUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="volumePerVolumeMeasure">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:volumePerVolumeUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
</xsd:schema>
