schemas/witsml/1.3.1.1/typ_dataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	targetNamespace="http://www.witsml.org/schemas/131" 
	xmlns:witsml="http://www.witsml.org/schemas/131" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	version="1.3.1">
	<!--                                                         -->
	<!-- POSC License Agreement
	This file is distributed under the POSC License Agreement at
	http://www.posc.org/about/license.shtml.
	Use of this file constitutes agreement with the POSC License Agreement.
	-->
	<!--                                                         -->
	<xsd:include schemaLocation="http://diggsml.org/2.0a/schemas/witsml/1.3.1.1/typ_catalog.xsd"/>
	<!--                                                         -->
	<!-- =============== DTS TYPES  ================== -->
	<!--                                                         -->
	<xsd:simpleType name="anyDate">
		<xsd:annotation>
			<xsd:documentation>A union of date and dateTime, so that time is not mandatory.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:dateTime xsd:date xsd:gYearMonth xsd:gYear"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="generalMeasureType">
		<xsd:simpleContent>
  			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:uomString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="temperatureSlopeMeasure">
		<xsd:simpleContent>
  			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:uomString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="typeOptionalClassString">
		<xsd:annotation>
			<xsd:documentation>A type with a classType attribute. This allows a user to give a 
			classification of something, and to specify the type of classification that it is. 
			There is no control over the class values, or the class types.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractNameString">
				<xsd:attribute name="classType" type="witsml:kindString" use="optional">
					<xsd:annotation>
						<xsd:documentation>This identifies the classification system to 
						which the class belongs. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<!-- =============== MISCELLANEOUS TYPES  ================== -->
	<!--                                                         -->
	<xsd:simpleType name="logicalBoolean" final="#all">
		<xsd:annotation>
			<xsd:documentation>Values of "true" (or "1") and "false" (or "0").</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractBoolean"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="date" final="#all">
		<xsd:annotation>
			<xsd:documentation>A julian date.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractDate"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="timestamp" final="#all">
		<xsd:annotation>
			<xsd:documentation>A date with the time of day and an optional time zone.
			While the time zone is optional, it is strongly advised that the zone 
			always be specified in each date time value.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractDateTime"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="timeZone" final="#all">
		<xsd:annotation>
			<xsd:documentation>A time zone conforming to the XSD:dateTime specification.
			It should be of the form "Z" or "shh.mm" where 
				"s" is "+" or "-", 
				"hh" is 00 to 23 and
				"mm" is 00 to 59.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:pattern value="[Z]|([-+](([01][0-9])|(2[0-3])):[0-5][0-9])"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="calendarYear" final="#all">
		<xsd:annotation>
			<xsd:documentation>A calendar year (CCYY) in the gregorian calendar.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractYear"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="yAxisAzimuth">
		<xsd:annotation>
			<xsd:documentation>The angle of a Y axis from North.
			This is a variation of planeAngleMeasure with an 
			attribute defining the direction of north.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:planeAngleUom" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure of the azimuth value.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="northDirection" type="witsml:AziRef" use="optional">
					<xsd:annotation>
						<xsd:documentation>Specifies the direction to be considered North for the y axis.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="volumePerVolumeMeasurePercent">
		<xsd:annotation>
			<xsd:documentation>A volume per volume measure that is constrained to a unit of percent.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:PercentUom" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="PercentUom">
		<xsd:restriction base="witsml:abstractUomEnum">
			<xsd:enumeration value="%"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="unitlessQuantity" final="#all">
		<xsd:annotation>
			<xsd:documentation>A unitless quantity. This should not 
			be confused with a dimensionless measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractDouble"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="genericMeasure">
		<xsd:annotation>
			<xsd:documentation>A generic measure type.
			This should not be used except in situations where the underlying class of data is 
			captured elsewhere. For example, for a log curve.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:uomString" use="optional">
					<xsd:annotation>
						<xsd:documentation>The unit of measure for the quantity.
						The uom is mandatory unless the value represents a unitless quantity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="indexCurve">
		<xsd:annotation>
			<xsd:documentation>The mnemonic of a log index curve plus 
			the column index of the curve.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:str32">
				<xsd:attribute name="columnIndex" type="witsml:nonNegativeCount" use="required">
					<xsd:annotation>
						<xsd:documentation>The column index of the curve.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name='ratioGenericMeasure'>
		<xsd:annotation>
			<xsd:documentation>Representation of a number as a double, possibly qualified as a ratio of doubles.	
			Ratio component attributes 'numerator' and 'denominator' may be both present or both absent.	
			When ratio component attributes are present, the ratio represented is to be used with
			the double representation included for human readability.
			A 'canonical' representation, according to the following rules, is suggested:
			Only use numerator/denominator when the representation of the number as double is not 
			sufficiently precise (i. e. causes errors of accumulation).
			Express both numerator and denominator as integers (doubles with integer values) reduced 
			to 'least common denominator' if possible.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:uomString" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure for the quantity.
						If for some reason a uom is not appropriate for the quantity,
						a unit of "Euc" should be used.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name='numerator' type='witsml:unitlessQuantity' use="optional"/>
				<xsd:attribute name='denominator' type='witsml:unitlessQuantity' use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<!-- ===================== array types ===================== -->
	<!--                                                         -->
	<xsd:simpleType name='listOfString'>
		<xsd:annotation>
			<xsd:documentation>A representation of a list of xsd:string values,
			restricted to strings without embedded whitespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType='witsml:str32'/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name='listOfDouble'>
		<xsd:annotation>
			<xsd:documentation>
				A representation of a list of xsd:double values.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType='witsml:abstractDouble'/>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- =========== uid and foreign key data types ============ -->
	<!--                                                         -->
	<xsd:complexType name="refNameString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a name in another node of the xml hierachy.
			This value represents a foreign key from one element to another.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractNameString">
				<xsd:attribute name="uidRef" type="witsml:refString" use="optional">
					<xsd:annotation>
						<xsd:documentation>A reference to the unique identifier (uid attribute) in the node
						referenced by the name value. 
						This attribute is required within the context of a WITSML server.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="refObjectString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a name in another object.
			This value represents a foreign key from one object to another.
			Knowledge of the object being referenced is defined by an attribute.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractNameString">
				<xsd:attribute name="object" type="witsml:nameString" use="required">
					<xsd:annotation>
						<xsd:documentation>The name of the singular object being referenced.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="uidRef" type="witsml:refString" use="optional">
					<xsd:annotation>
						<xsd:documentation>A reference to the unique identifier (uid attribute) in the object
						referenced by the name value. 
						This attribute is required within the context of a WITSML server.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="refPositiveCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a index value in another node of the xml hierachy.
			This value represents a foreign key from one element to another.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractPositiveCount">
				<xsd:attribute name="uidRef" type="witsml:refString" use="optional">
					<xsd:annotation>
						<xsd:documentation>A reference to the unique identifier (uid attribute) in the node
						referenced by the index value. 
						This attribute is required within the context of a WITSML server.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                     -->
	<xsd:simpleType name="refWellDatum" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to a wellDatum in the current well. 
			This value must match the uid value in a WellDatum. 
			This value represents a foreign key from one element to another.
			This is an exception to the convention that a foreign key must utilize both 
			a human contextual name and a uid value. For messages outside the context of
			a server then this value will commonly match the value of the name of the 
			wellDatum (e.g., 'KB') if uids are not not used in that context.
			This was a compromise in order to allow the coordinate structures to be simple
			and still be usable both within the context of a server and outside the context of a server.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- =========== CONTENT SPECIFIC STRING TYPES  ============ -->
	<!--                                                         -->
	<xsd:simpleType name="nameString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A user assigned human recognizable contextual name of something. 
			There should be no assumption that (interoperable) semantic information will be extracted from the name by a third party.
			This type of value is generally not guaranteed to be unique and is not a candidate to be replaced by an enumeration.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractNameString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="commentString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A comment or remark intended for human consumption. 
			There should be no assumption that semantics can be extracted from this field by a computer. 
			Neither should there be an assumption that any two humans will interpret the information 
			in the same way (i.e., it may not be interoperable).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractCommentString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="descriptionString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A textual description of something.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="shortDescriptionString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A short textual description of something.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="encodedArrayString">
		<xsd:annotation>
			<xsd:documentation>An encoded value or values. The encoding may utilize 
			any of several xsd encodings. Something external to the value must
			define the encoding. The uom attribute is optional because the value may 
			be a string or unitless quantity. If the value is a measure then
			the uom must be specified.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMaximumLengthString">
				<xsd:attribute name="uom" type="witsml:uomString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="encodedValueString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A single value. The encoding may utilize 
			any of several xsd encodings. Something external to the value must
			define the encoding.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="kindString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A community assigned human recognizable name. 
			This type of value is intended to be unique and is generally a candidate to be constrained to an enumerated list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractTypeEnum">
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="uomString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A unit of measure acronym from the POSC unit of measure file.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUomEnum"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="uidString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A locally unique identifier. 
			The value is not intended to convey any semantic content (e.g., it may be computer generated). 
			The value is only required to be unique within a context in a document (e.g., defined via key and keyref). 
			There is no guarantee that the same data in multiple documents will utilize the same uid value 
			unless enforced by the source of the document (e.g., a document server).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                     -->
	<xsd:simpleType name="refString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A reference to the unique identifier of another element. 
			This value represents a foreign key from one element to another.
			The value should match the value of an attribute of type uidString.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUidString"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="schemaVersionString" final="#all">
		<xsd:annotation>
			<xsd:documentation>The version of the schema.
			The first three levels are fixed. The fourth level can vary
			to represent on the constraints defined in enumerations and 
			XML loader files. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="16"/>
			<xsd:pattern value="1\.3\.1\.([1-9]|([1-9][0-9]))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:complexType name="nameStruct" final="#all">
		<xsd:annotation>
			<xsd:documentation>The name of something within a naming system.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractNameString">
				<xsd:attribute name="namingSystem" type="witsml:nameString" use="optional">
					<xsd:annotation>
						<xsd:documentation>The naming system within the name is (hopefully) unique.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="wellKnownNameStruct" final="#all">
		<xsd:annotation>
			<xsd:documentation>The name of something within a mandatory naming system 
			with an optional code.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractNameString">
				<xsd:attribute name="namingSystem" type="witsml:nameString" use="required">
					<xsd:annotation>
						<xsd:documentation>The naming system within the name is unique.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="code" type="witsml:kindString" use="optional">
					<xsd:annotation>
						<xsd:documentation>A unique (short) code associated with the name.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="uncollapsedString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A textual string that retains all whitespace.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUncollapsedString">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="iadcBearingWearCode" final="#all">
		<xsd:annotation>
			<xsd:documentation>IADC bearing wear code: integer 0 - 8 or one of the letters E, F, N or X. .</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="1"/>
			<xsd:pattern value="[0-8EFNX]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="geodeticZoneString" final="#all">
		<xsd:annotation>
			<xsd:documentation>A geodetic zone with values from 1 to 60 and a required direction 
			of "N" (North) or "S" (South). For example, "21N".</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="3"/>
			<xsd:pattern value="([1-9]|[1-5][0-9]|60)[NS]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- =========== Well Based Coordinate Types  ============ -->
	<!--                                                         -->
	<xsd:complexType name="measuredDepthCoord" final="#all">
		<xsd:annotation>
			<xsd:documentation>A measured depth coordinate in a wellbore. 
			Positive moving from the reference datum toward the bottomhole.
			All coordinates with the same datum (and same uom) can be considered to be in the same 
			Coordinate Reference System and are thus directly comparable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:MeasuredDepthUom" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure of the quantity value.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="datum" type="witsml:refWellDatum" use="optional">
					<xsd:annotation>
						<xsd:documentation>A pointer to the reference datum for this coordinate 
						value as defined in WellDatum. This value is assumed to match the uid
						value in a WellDatum.
						If not given then the default WellDatum must be assumed.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="MeasuredDepthUom">
		<xsd:annotation>
			<xsd:documentation>The units of measure that are valid for measured depths in a wellbore.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUomEnum">
			<xsd:enumeration value="m">
				<xsd:annotation>
					<xsd:documentation>meter</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ft">
				<xsd:annotation>
					<xsd:documentation>International Foot</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ftUS">
				<xsd:annotation>
					<xsd:documentation>US Survey Foot</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                     -->
	<xsd:complexType name="wellVerticalDepthCoord" final="#all">
		<xsd:annotation>
			<xsd:documentation>A vertical (gravity based) depth coordinate within the context of a well.
			Positive moving downward from the reference datum. 
			All coordinates with the same datum (and same uom) can be considered to be in the same 
			Coordinate Reference System and are thus directly comparable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:WellVerticalCoordinateUom" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure of the quantity value.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="datum" type="witsml:refWellDatum" use="optional">
					<xsd:annotation>
						<xsd:documentation>A pointer to the reference datum for this coordinate 
						value as defined in WellDatum. 
						If not given then the default WellDatum must be assumed.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                     -->
	<xsd:complexType name="wellElevationCoord" final="#all">
		<xsd:annotation>
			<xsd:documentation>A vertical (gravity based) elevation coordinate within the context of a well.
			Positive moving upward from the reference datum.  
			All coordinates with the same datum (and same uom) can be considered to be in the same 
			Coordinate Reference System and are thus directly comparable.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractMeasure">
				<xsd:attribute name="uom" type="witsml:WellVerticalCoordinateUom" use="required">
					<xsd:annotation>
						<xsd:documentation>The unit of measure of the quantity value.
						If not given then the default unit of measure of the explicitly
						or implicitly given datum must be assumed.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="datum" type="witsml:refWellDatum" use="optional">
					<xsd:annotation>
						<xsd:documentation>A pointer to the reference datum for this coordinate 
						value as defined in WellDatum. 
						If not given then the default WellDatum must be assumed.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                     -->
	<xsd:simpleType name="WellVerticalCoordinateUom">
		<xsd:annotation>
			<xsd:documentation>The units of measure that are valid for vertical gravity based 
			coordinates (i.e., elevation or vertical depth) within the context of a well.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractUomEnum">
			<xsd:enumeration value="m">
				<xsd:annotation>
					<xsd:documentation>meter</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ft">
				<xsd:annotation>
					<xsd:documentation>International Foot</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ftUS">
				<xsd:annotation>
					<xsd:documentation>US Survey Foot</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ftBr(65)">
				<xsd:annotation>
					<xsd:documentation>British Foot 1865</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- ========== CONTENT SPECIFIC INTEGER TYPES  ============ -->
	<!--                                                         -->
	<xsd:simpleType name="nonNegativeCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A non-negative integer (zero based count or index) with a maximum value of 32767 (2-bytes).
			For items that represent "number of" something or a "sequential" count or index.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractShort">
			<xsd:minInclusive value="0">
				<xsd:annotation>
					<xsd:documentation>This value can be zero but cannot be negative.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="positiveCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A positive integer (one based count or index).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractPositiveCount">
			<xsd:minInclusive value="1">
				<xsd:annotation>
					<xsd:documentation>This value cannot be negative or zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="positiveBigCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A large positive integer (one based count or index) with a maximum value of 2,147,483,647 (4-bytes).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractInt">
			<xsd:minInclusive value="1">
				<xsd:annotation>
					<xsd:documentation>This value cannot be negative or zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:minInclusive>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="integerCount" final="#all">
		<xsd:annotation>
			<xsd:documentation>A positive or negative count with a maximum positive value of 2147483647 (4-bytes).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractInt"/>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="beaufortScaleIntegerCode" final="#all">
		<xsd:annotation>
			<xsd:documentation>An estimate wind strength based on the Beaufort Wind Scale. 
			Values range from 0 (calm) to 12 (hurricane). </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractShort">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="pumpActionIntegerCode" final="#all">
		<xsd:annotation>
			<xsd:documentation>Pump Action: 1 = Single acting, 2 = double acting.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractShort">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="iadcIntegerCode" final="#all">
		<xsd:annotation>
			<xsd:documentation>IADC codes: 0 to 8.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractShort">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="levelIntegerCode" final="#all">
		<xsd:annotation>
			<xsd:documentation>Integer level code from 1 through 5.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="witsml:abstractShort">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<!-- ========== REMAINING V1.2 TYPES  ============ -->
	<!--                                                         -->
	<xsd:complexType name="cost">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractDouble">
				<xsd:attribute name="currency" type="witsml:kindString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:complexType name="indexedObject">
		<xsd:simpleContent>
			<xsd:extension base="witsml:abstractTypeEnum">
				<xsd:attribute name="index" type="witsml:positiveCount" use="required">
					<xsd:annotation>
						<xsd:documentation>Indexes things with the same name. 
						That is the first one, the second one, etc.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="name" type="witsml:kindString" use="optional"/>
				<xsd:attribute name="uom" type="witsml:uomString" use="optional"/>
				<xsd:attribute name="description" type="witsml:descriptionString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--                                                         -->
	<xsd:simpleType name="str2">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="str16">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
	<xsd:simpleType name="str32">
		<xsd:restriction base="witsml:abstractString">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--                                                         -->
</xsd:schema>
