core/AbstractTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">

    <!-- Uncomment to clear validation errors without a master file-->
    <include schemaLocation="../Diggs.xsd"/>

    <!-- Imports -->
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="gml3.2Profile_diggs.xsd"/>
    <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <!-- HIERARCHY LEVEL 1: Root Base Type (Foundation of DIGGS Schema)    -->
    <!--=============================================================================-->

    <complexType abstract="true" name="AbstractDiggsType">
        <annotation>
            <documentation>The root abstract type for all DIGGS objects. This type extends GML's AbstractGMLType but restricts it to require a gml:id attribute. The gml:id serves as a unique identifier for the object within the DIGGS document and enables XML linking and referencing. All DIGGS types that need to be referenced ultimately derive from this base type, ensuring every object in the schema has a unique identifier for cross-referencing and data integrity.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractGMLType">
                <attribute ref="gml:id" use="required"/>
            </restriction>
        </complexContent>
    </complexType>
    <!--=============================================================================-->
    <!-- HIERARCHY LEVEL 2: Major Category Base Types                       -->
    <!--=============================================================================-->
    <complexType name="AbstractObjectBaseType" abstract="true">
        <annotation>
            <documentation>Base type for all DIGGS objects, including required gmlid, description and identifier properties. This is the fundamental abstract type for objects (non-feature objects) in DIGGS, that represent supporting information like methods, structures and metadata, rather than primary geotechnical features.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractDiggsType">
                <sequence>
                    <element ref="gml:description" minOccurs="0"/>
                    <element minOccurs="0" ref="gml:identifier"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractObjectNoDescriptionType" mixed="false" abstract="true">
        <annotation>
            <documentation>Base type for all objects without description field. This is the fundamental abstract type for component objects (non-feature objects) in DIGGS, providing core properties including identifier,status, remark, and xml:lang, but excluding the description field. Used as a base for specialized objects where descriptions are not required or are provided through alternative mechanisms. Component objects typically represent supporting information like equipment, procedures, and metadata rather than primary geotechnical features.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractDiggsType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" ref="gml:identifier"/>
                        <element minOccurs="0" ref="diggs:status">
                            <annotation>
                                <documentation>A text string to provide information about the status
                                    of the object to be used to track QA/QC controls, review or
                                    release status, etc. The values used are intended to come from a
                                    controlled list of terms maintained by an
                                    organization.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" ref="diggs:remark"/>
                    </sequence>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!--=============================================================================-->
    <!-- HIERARCHY LEVEL 3+: Specialized Derived Types                      -->
    <!--=============================================================================-->
    <complexType name="AbstractComponentObjectBaseType" abstract="true">
        <annotation>
            <documentation>Base type for all component objects where gml:AbstractGML is restricted to only allow for an optional gml:id.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractGMLType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" ref="gml:description"/>
                        <element minOccurs="0" ref="gml:identifier"/>
                    </sequence>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="AbstractComponentObjectNoDescriptionType" abstract="true">
        <annotation>
            <documentation>Restricted component object type without description or name elements. Restricts AbstractComponentObjectType to remove the description and name elements, retaining only identifier, status, and remark properties.</documentation>
        </annotation>
        <complexContent>
            <restriction base="diggs:AbstractComponentObjectType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" ref="gml:identifier"/>
                    </sequence>
                    <sequence>
                        <element minOccurs="0" ref="diggs:status">
                            <annotation>
                                <documentation>A text string to provide information about the status
                                    of the object to be used to track QA/QC controls, review or
                                    release status, etc. The values used are intended to come from a
                                    controlled list of terms maintained by an
                                    organization.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="remark"
                            type="diggs:RemarkPropertyType">
                            <annotation>
                                <documentation>Any comment or remark associated with this specific
                                    object.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </sequence>
                <attribute ref="gml:id" use="optional"/>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="AbstractComponentObjectType" abstract="true">
        <annotation>
            <documentation>Standard base type for component objects with full metadata properties. This type extends AbstractComponentObjectBaseType to include GML description, identifier, name elements, plus DIGGS-specific status and remark properties.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:name"/>
                    <element minOccurs="0" ref="diggs:status">
                        <annotation>
                            <documentation>A text string to provide information about the status of
                                the object to be used to track QA/QC controls, review or release
                                status, etc. The values used are intended to come from a controlled
                                list of terms maintained by an organization.</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Any comment or remark associated with this specific
                                feature, the person or organization making the comment, and the time
                                comment was made.Any comment or remark associated with this specific
                                feature, the person or organization making the comment, and the time
                                comment was made.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractConstructionActivity" type="diggs:AbstractConstructionActivityType"
        abstract="true">
        <annotation>
            <documentation>Base type for construction activity features - activities that improve or
                alter ground conditions.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractConstructionActivityType" abstract="false">
        <annotation>
            <documentation>Base type for construction activity features. Construction activities are specialized activities that modify or improve ground conditions.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element ref="diggs:investigationTarget" maxOccurs="unbounded" minOccurs="0"/>
                    <element ref="diggs:projectRef" maxOccurs="unbounded"/>
                    <element minOccurs="1" ref="diggs:samplingFeatureRef" maxOccurs="1"/>
                    <element minOccurs="0" ref="diggs:programRef" maxOccurs="1"/>
                    <element minOccurs="0" ref="diggs:programSpecificationRef" maxOccurs="1"/>
                    <element name="constructionMethod" type="diggs:SpecificationPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <documentation>A property element that contains a Specification object
                                (or reference to one) detailing the test procedure method
                                used.</documentation>
                        </annotation>
                    </element>
                    <element name="constructionEnvironment" type="diggs:EnvironmentPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <documentation>A reference to an Environment object containing
                                environmental properties relevant but external to the construction
                                activity.</documentation>
                        </annotation>
                    </element>
                    <element name="equipment" type="diggs:EquipmentPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <appinfo>diggs:AbstractEquipment</appinfo>
                            <documentation>A property element that supports a value by reference
                                only. The target value is indicated in the appinfo
                                element.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="otherConstructionActivityProperty"
                        type="diggs:ParameterPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>A reference to a Parameter object used to record
                                properties that otherwise are not included as a property of the
                                construction activity.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="activityDateTime"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>A reference to TimeInterval object identiying the
                                date/time interval over which the entire construction activity was
                                conducted.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractEquipment" abstract="true" type="diggs:AbstractEquipmentType">
        <annotation>
            <documentation>The base type for Diggs equipment types. Derivations are objects that
                contains properties of equipment used to construct, test, or monitor objects within
                the geotechnical and geoenvironmental domains.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractEquipmentType" abstract="true">
        <annotation>
            <documentation>Base type for equipment objects used in geotechnical investigations. Includes manufacturer, model, serial number, and calibration information.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element name="class" type="gml:CodeType" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>The class or type of equipment - eg. drill rig, CPT rig,
                                etc. Intended to come from a controlled list.</documentation>
                        </annotation>
                    </element>
                    <element name="make" type="string" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>The manufacturer or brand of the
                                equipment</documentation>
                        </annotation>
                    </element>
                    <element name="modelNumber" type="string" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>The model name or number of the equipment</documentation>
                        </annotation>
                    </element>
                    <element name="serialNumber" type="string" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>The serial number that identifies the unique equipment
                                item.</documentation>
                        </annotation>
                    </element>
                    <element name="calibrationAuditTrail" type="diggs:CalibrationPropertyType"
                        minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>A reference to a Calibration object that stores
                                calibration information for the equipment</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherEquipmentProperty"
                        type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>Reference to a Parameter object containing the name,
                                value or range of values and unit of measure of a
                                property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractEventType" abstract="true">
        <annotation>
            <documentation>Base type for event objects that record time-based or location-based occurrences during investigations.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectType">
                <sequence>
                    <element minOccurs="0" ref="diggs:location">
                        <annotation>
                            <documentation>The measured depth interval over which the event takes
                                place, recorded in the hole's linear referencing
                                system.</documentation>
                        </annotation>
                    </element>
                    <element name="time" type="diggs:TimeIntervalPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>Date/time when this event information was
                                recorded</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="infoRecorded"
                        type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>Other associated data measured or observed at this
                                time</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractFeatureBaseType" abstract="true">
        <annotation>
            <documentation>Minimal base type for DIGGS features, providing only GML description, identifier, and required gml:id.</documentation>
        </annotation>
        <complexContent>
            <restriction base="gml:AbstractFeatureType">
                <sequence>
                    <element ref="gml:description" minOccurs="0"/>
                    <element minOccurs="0" ref="gml:identifier"/>
                </sequence>
                <attribute ref="gml:id" use="required">
                    <annotation>
                        <documentation>The id of this feature. The id must be unique within a DIGGS
                            xml instance.</documentation>
                    </annotation>
                </attribute>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="AbstractFeatureType" abstract="true">
        <annotation>
            <documentation>Standard base type for all DIGGS feature objects. Features represent identifiable real-world entities such as projects, sampling features, samples, and tests.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureBaseType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:name"/>
                    <element minOccurs="0" maxOccurs="1" ref="diggs:internalIdentifier">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                    <element minOccurs="0" ref="diggs:status"/>
                    <element minOccurs="0" ref="diggs:implementationStatus"/>
                    <element name="associatedFile" type="diggs:AssociatedFilePropertyType"
                        minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:AssociatedFile</appinfo>
                            <documentation>A reference to an AssociatedFile object that provides
                                information about external files or documents associated with this
                                feature. The target value is indicated in the appinfo
                                element.</documentation>
                        </annotation>
                    </element>
                    <element name="role" type="diggs:RolePropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A reference to a Role object that dentifies a specific
                                role or task performed that is associated with this specific
                                feature, the person or organization that performed the role, and
                                associated time frame, if applicable..</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A reference to a Remark object that provies a comment or
                                remark associated with this specific feature.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractGroup" type="diggs:AbstractGroupType" abstract="true">
        <annotation>
            <documentation>Base type for DIGGS groups - logical associations of projects, sampling
                features, or samples</documentation>
        </annotation>
    </element>
    <complexType name="AbstractGroupType" abstract="true">
        <annotation>
            <documentation>Base type for flexible grouping of DIGGS features for organizational or analytical purposes. Groups allow logical associations of projects, sampling features, samples, or other features without establishing strict hierarchical relationships. Groups can be used to organize features by geographic area, time period, purpose, contractor, or any other organizational principle. Groups can contain mixed feature types and features can belong to multiple groups.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractInsituTestProcedure" type="diggs:AbstractInsituTestProcedureType"
        substitutionGroup="diggs:AbstractTestProcedure" abstract="true">
        <annotation>
            <documentation>Base type for insitu test procedure objects.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractInsituTestProcedureType">
        <annotation>
            <documentation>Base type for in-situ test procedures performed at sampling features without removing specimens.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="testEvent" type="diggs:InSituTestEventPropertyType"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A test event is a time-based or location-based recording
                                of instantaneous conditions or parameters associated with an in-situ
                                test, such as casing depth, water level, or any custom parameters.
                                This property holds one or more Event objects; Event objects are
                                associated with the type of sampling feature that the in-situ test
                                is performed in. For example, for a standard penetration test
                                performed in a borehole, a BoreholeEvent object would be used in the
                                testEvents property to record the depth to water at various times
                                during the test.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractLaboratoryTestProcedure" type="diggs:AbstractLaboratoryTestProcedureType"
        substitutionGroup="diggs:AbstractTestProcedure" abstract="true">
        <annotation>
            <documentation>Base type for laboratory test procedure objects. A laboratory test
                procedure is performed on a specimen derived from a sample that was collected from a
                samplingFeature, and therefore the sample's location is known and relates to a
                geographic feature of interest. Use of a laboratory test procedure within a Test
                object does not require that information about the specific sample or specimen is
                known, only that the source location of the sample is known or recorded. This allows
                results of a test to be transferred without specific information about the sample or
                specimen.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractLaboratoryTestProcedureType" abstract="true">
        <annotation>
            <documentation>Base type for laboratory test procedures performed on specimens removed from sampling features.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="testEvent"
                        type="diggs:LaboratoryTestEventPropertyType">
                        <annotation>
                            <documentation>An property that contains an object that records an event
                                observed during a laboratory test. This object is a concrete
                                representation of AbstractEvent with no additional
                                properties.</documentation>
                        </annotation>
                    </element>
                    <element name="specimen" type="diggs:SpecimenPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>A property that contains a specialization of
                                AbstractSpecimen that describes the properties for a specimen used
                                in the test procedure. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractMaterialTestProcedurePropertyType">
        <annotation>
            <documentation>Property type wrapper for AbstractMaterialTestProcedure elements. This type enables AbstractMaterialTestProcedure to be used as a property in other types, following the GML property pattern. The property type provides a container that can hold a reference to a MaterialTestProcedure element defined elsewhere in the document or include the element inline.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:AbstractMaterialTestProcedure" minOccurs="0"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="AbstractMaterialTestProcedure"
        substitutionGroup="diggs:AbstractTestProcedure"
        type="diggs:AbstractMaterialTestlProcedureType">
        <annotation>
            <documentation>Base type for all test procedures performed only on manufactured samples
                -eg. those that are created by aggregation of other samples or materials and where
                the sample has no location relevance. Material test procedures must reference or
                describe the samples and/or specimens upon which the test is performed. This
                category was developed for test procedures developed for characterizing grout
                samples but could be used for other types of samples where the results of the
                procedure relate to the characteristics of the sample only, and does not relate to
                the properties of a geographic feature of interest</documentation>
        </annotation>
    </element>
    <complexType name="AbstractMaterialTestlProcedureType" abstract="true">
        <annotation>
            <documentation>Base type for all laboratory test procedures performed on manufactured material samples (as opposed to field-collected samples). Material tests include procedures on grout, concrete, slurry, and other engineered materials. These tests differ from standard laboratory tests in that they are performed on specially prepared specimens rather than samples extracted from a sampling feature.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="testEvent"
                        type="diggs:LaboratoryTestEventPropertyType"/>
                    <choice>
                        <annotation>
                            <documentation>Event that occurred during the laboratory material test. Records time-based observations, environmental conditions, or procedural notes made during test execution on manufactured material specimens.</documentation>
                        </annotation>
                        <element maxOccurs="unbounded" minOccurs="1" ref="diggs:sampleRef"/>
                        <element maxOccurs="unbounded" minOccurs="1" name="specimen"
                            type="diggs:SpecimenPropertyType"/>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractMeasurement" type="diggs:AbstractMeasurementType">
        <annotation>
            <documentation>Base type for measurement features - tests or monitoring activities that
                record quantitative information in the context of a sampling feature or
                sample.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractMeasurementType" abstract="true">
        <annotation>
            <documentation>Base type for all measurements and quantitative testing procedures. Measurements include in-situ tests, laboratory tests, and monitoring activities that produce quantitative data. This abstract type is extended by Test (in-situ procedures), MaterialTest (laboratory procedures on samples), and Monitor (continuous or periodic monitoring) types.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element ref="diggs:investigationTarget" maxOccurs="unbounded" minOccurs="0"/>
                    <element ref="diggs:projectRef" maxOccurs="unbounded"/>
                    <element minOccurs="0" ref="diggs:programRef" maxOccurs="1"/>
                    <choice>
                        <sequence>
                            <element minOccurs="1" ref="diggs:samplingFeatureRef"
                                maxOccurs="unbounded"/>
                            <element maxOccurs="unbounded" minOccurs="0" ref="diggs:sampleRef"/>
                        </sequence>
                        <element maxOccurs="unbounded" minOccurs="1" ref="diggs:sampleRef"/>
                    </choice>
                    <element minOccurs="0" ref="diggs:constructionActivityRef"/>
                    <element minOccurs="0" name="otherMeasurementProperty"
                        type="diggs:ParameterPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>This will typically be used to record environmental
                                parameters, or event-specific parameters that are not tightly bound
                                to either the earth materials for which properties are being
                                estimated, or the procedure. Parameters that are tightly bound to
                                the procedure should be encoded within the procedure
                                object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractNamedFeatureType" abstract="true">
        <annotation>
            <documentation>Feature type emphasizing naming through multiple gml:name elements.</documentation>
        </annotation>
        <complexContent>
            <restriction base="diggs:AbstractFeatureType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" ref="gml:description"/>
                        <element minOccurs="0" ref="gml:identifier"/>
                    </sequence>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" ref="gml:name"/>
                        <element minOccurs="0" ref="diggs:internalIdentifier">
                            <annotation>
                                <documentation>The value of this property is the identifier
                                    originally created by the authority for this feature, or that is
                                    used as the identifier in the authority's internal data
                                    management system. There is no assumption as to the unique scope
                                    or persistence of this identifier. In cases where the original
                                    or internal identifier does not meet the semantic requirements
                                    for gml:id or gml:identifier, the internal identifier may be
                                    included in this property in order for the originating authority
                                    to "map back" the identifier to an internal data management
                                    system. The codeSpace attribute must be populated to identify
                                    the authority that uses the internalIdentifier
                                    value.</documentation>
                            </annotation>
                        </element>
                        <element minOccurs="0" ref="diggs:status">
                            <annotation>
                                <documentation>A text string to provide information about the status
                                    of the object to be used to track QA/QC controls, review or
                                    release status, etc. The values used are intended to come from a
                                    controlled list of terms maintained by an
                                    organization.</documentation>
                            </annotation>
                        </element>
                        <element minOccurs="0" ref="diggs:implementationStatus"/>
                        <element maxOccurs="unbounded" minOccurs="0" name="associatedFile"
                            type="diggs:AssociatedFilePropertyType">
                            <annotation>
                                <documentation>Identifies external files associated with this
                                    feature. This allows for the feature to be further elaborated
                                    with information that cannot be represented by ASCII text, such
                                    as a photograph or other media, binary data, or a formatted
                                    report.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="role"
                            type="diggs:RolePropertyType">
                            <annotation>
                                <documentation>Identifies a specific role or task performed that is
                                    associated with this specific feature, the person or
                                    organization that performed the role, and associated time frame,
                                    if applicable.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="remark"
                            type="diggs:RemarkPropertyType">
                            <annotation>
                                <documentation>Any comment or remark associated with this specific
                                    feature.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="AbstractNamedObjectType" abstract="true">
        <annotation>
            <documentation>Component object type emphasizing naming through multiple gml:name elements.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectBaseType">
                <sequence>
                    <element ref="gml:name" minOccurs="1" maxOccurs="unbounded"/>
                    <element minOccurs="0" ref="diggs:status">
                        <annotation>
                            <documentation>A text string to provide information about the status of
                                the object to be used to track QA/QC controls, review or release
                                status, etc. The values used are intended to come from a controlled
                                list of terms maintained by an organization.</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Any comment or remark associated with this specific
                                object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AbstractNamedRoleObjectType">
        <annotation>
            <documentation>Specialized object type for entities that perform roles such as personnel or organizations.</documentation>
        </annotation>
        <complexContent>
            <restriction base="diggs:AbstractNamedFeatureType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" ref="gml:description"/>
                        <element minOccurs="0" ref="gml:identifier"/>
                    </sequence>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="1" ref="gml:name"/>
                        <element minOccurs="0" ref="diggs:status">
                            <annotation>
                                <documentation>A text string to provide information about the status
                                    of the object to be used to track QA/QC controls, review or
                                    release status, etc. The values used are intended to come from a
                                    controlled list of terms maintained by an
                                    organization.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="role"
                            type="diggs:RolePropertyType">
                            <annotation>
                                <documentation>Identifies a specific role or task performed that is
                                    associated with this specific feature, the person or
                                    organization that performed the role, and associated time frame,
                                    if applicable.</documentation>
                            </annotation>
                        </element>
                        <element maxOccurs="unbounded" minOccurs="0" name="remark"
                            type="diggs:RemarkPropertyType">
                            <annotation>
                                <documentation>Any comment or remark associated with this specific
                                    feature.</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </sequence>
            </restriction>
        </complexContent>
    </complexType>
    <complexType name="AbstractObjectType" abstract="true">
        <annotation>
            <documentation>Standard base type for DIGGS component objects such as specifications, parameters, and materials.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectBaseType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="gml:name"/>
                    <element minOccurs="0" ref="diggs:status">
                        <annotation>
                            <documentation>A text string to provide information about the status of
                                the object to be used to track QA/QC controls, review or release
                                status, etc. The values used are intended to come from a controlled
                                list of terms maintained by an organization.</documentation>
                        </annotation>
                    </element>
                    <element name="remark" type="diggs:RemarkPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Any comment or remark associated with this specific
                                feature, the person or organization making the comment, and the time
                                comment was made.Any comment or remark associated with this specific
                                feature, the person or organization making the comment, and the time
                                comment was made.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractObservationSystem"
        type="diggs:AbstractObservationSystemType">
        <annotation>
            <documentation>A system of zones or regions associated with a sampling feature or sample
                for which a single class of qualitative description is assigned (eg. lithology,
                color, discontinuity, etc.)</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractObservationSystemType">
        <annotation>
            <documentation>Base type for observation systems that monitor conditions including instrumentation and sensors.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element ref="diggs:projectRef" maxOccurs="unbounded"/>
                    <element minOccurs="0" ref="diggs:programRef"/>
                    <choice>
                        <element ref="diggs:samplingFeatureRef"/>
                        <element ref="diggs:sampleRef"/>
                    </choice>
                    <element minOccurs="0" name="observationProcedure"
                        type="diggs:SpecificationPropertyType">
                        <annotation>
                            <documentation>A property containing a Specification object that
                                describes the method used for all of the obserations contained
                                within this ObservationSystem. Where procedures vary among
                                individual observations, use appropriate properties and attributes
                                within the various observation objects to describe the approach
                                used.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType abstract="true" name="AbstractObservationType">
        <annotation>
            <documentation>The base type for all descriptions, which extend this
                type</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectNoDescriptionType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:measurementRef">
                        <annotation>
                            <appinfo>diggs:Test</appinfo>
                            <appinfo>diggs:Monitor</appinfo>
                            <appinfo>diggs:MaterialTest</appinfo>
                            <documentation>If the description derives from a measurement, then this
                                element can be optionally used to point to the subject Test,
                                Materia;Test or Monitor feature via the xlink:href
                                attribute</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" ref="diggs:location">
                        <annotation>
                            <documentation>The location of the description. If not used, observation
                                pertains to the entire sample or sampling feature that is the target
                                of this observation</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="trueTopObserved" type="boolean">
                        <annotation>
                            <documentation>True or false, indicating whether the geometry of the
                                uppermost position of the zone represents the true top of the
                                feature being defined (true) or (false) whether the top represents
                                the upper extent of the zone that is described by the extent of the
                                sampling feature itself.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="trueBaseObserved" type="boolean">
                        <annotation>
                            <documentation>True or false, indicating whether the geometry of the
                                lowermost position of the zone represents the true base of the
                                feature being defined (true) or (false) whether the base represents
                                the lower extent of the zone that is defined by the extent of the
                                sampling feature itself.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attribute name="howDetermined" type="diggs:DescriptorMethodEnumType">
                    <annotation>
                        <documentation>A value that describes the method by which the observation or
                            measurement was determined. </documentation>
                    </annotation>
                </attribute>
                <attribute name="stratumCode" type="string">
                    <annotation>
                        <documentation>A legacy attribute to support AGS trial pit sampling features
                            where observations of different stratum may occur at the same depth in a
                            pit. It is a reference letter or number whose sole purpose is to link
                            the stratum shown on a face sketch of the trial pit to the specific
                            observation. </documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractProcedureTrial" type="diggs:AbstractProcedureTrialType" abstract="true">
        <annotation>
            <documentation>Base type for procedure trial - activities that are repeated as part of a
                test procedure.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractProcedureTrialType" abstract="true">
        <annotation>
            <documentation>Base type for individual trials or repetitions within a test procedure. Many test procedures involve multiple trials (e.g., multiple readings, repeat measurements, or staged loading sequences). Each trial represents a discrete execution of the test methodology, and the trial results can be aggregated or analyzed to produce the final test result. Common examples include multiple blows in a Standard Penetration Test or repeated readings in a laboratory consolidation test.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherProperty"
                        type="diggs:ParameterPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractProcedure" type="diggs:AbstractProcedureType">
        <annotation>
            <documentation>Abstract element for procedures used in investigations. Serves as the head of the substitution group for procedure types.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractProcedureType">
        <annotation>
            <documentation>Base type for all procedure objects. Procedures define methods, standards, and specifications for conducting activities within DIGGS. This includes test procedures (how tests are conducted), sampling procedures (how samples are collected), monitoring procedures (how sensors collect data), and other methodological specifications. Procedures can reference published standards (e.g., ASTM, ISO) or describe custom methods specific to a project.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence/>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractProgramDesign" type="diggs:AbstractProgramDesignType">
        <annotation>
            <documentation>Abstract element for program designs. Serves as the head of the substitution group for program design types.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractProgramDesignType">
        <annotation>
            <documentation>Base type for program design specifications that define the planned characteristics and requirements for a program of work. Program designs typically specify target parameters, acceptance criteria, testing frequencies, quality control measures, and other requirements that guide program execution. Design specifications can be compared with actual program implementation to track compliance and identify deviations.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractProgramSpecificaton"
        type="diggs:AbstractProgramSpecificationType">
        <annotation>
            <documentation>Abstract element for program specifications. Serves as the head of the substitution group for specification types.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractProgramSpecificationType">
        <annotation>
            <documentation>Base type for detailed program specifications that define technical requirements and acceptance criteria. Specifications typically reference specific standards (e.g., ASTM, AASHTO), specify numerical acceptance criteria, define testing methods and frequencies, and establish quality control requirements. Unlike designs, specifications are typically contractual documents that establish enforceable requirements for program execution.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType"/>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractProgram" type="diggs:AbstractProgramType">
        <annotation>
            <documentation>This feature serves as the head of a substitution group for program features that contain properties about the design and specifications for a collection of planned activities and observations associated with a project. These include properties that define the planning and specifications for both exploration efforts and construction activities.
</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractProgramType">
        <annotation>
            <documentation>The base type for all programs, which extend this type</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element minOccurs="1" ref="diggs:projectRef" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The location of the description</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractProject" type="diggs:AbstractProjectType">
        <annotation>
            <documentation>Abstract element serving as the head of the substitution group for all project types. A Project represents an organizational unit that contains one or more sampling features, samples, and associated data. Projects typically correspond to specific geographical locations or engineering studies. All DIGGS data must be associated with a project, which provides the organizational context for the investigation.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractProjectType" abstract="true">
        <annotation>
            <documentation>Base type for projects that organize investigations with defined scope, location, and time frame.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractNamedFeatureType">
                <sequence>
                    <element name="referencePoint" type="diggs:PointLocationPropertyType"
                        minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>Defines the location of the project (usually a location
                                at the ground surface) within a well-known 3D CRS or combined CRS
                                (geographic or projected, and elevation), as an extension of
                                gml:Point object with an additional uncertainty property
                            </documentation>
                        </annotation>
                    </element>
                    <element name="linearExtent" type="diggs:LinearExtentPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Defines a project geometry that may be defined as a line
                                in geographic or projected space and contains a LinearExtent
                                geometry object. </documentation>
                        </annotation>
                    </element>
                    <element name="arealExtent" type="diggs:SurfacePropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Defines a project geometry that represents the areal
                                extent of a project in geographic or projected space and contains a
                                surface geometry object.</documentation>
                        </annotation>
                    </element>
                    <element name="projectDateTimeSpan" type="diggs:TimeIntervalPropertyType"
                        minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>The interval of time during which the project was
                                active.</documentation>
                        </annotation>
                    </element>
                    <element name="locality" type="diggs:LocalityPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Contains either a Locality object or a PointLocation
                                object that describes, repectively, the non-coordinate or coordinate
                                location of the project. If only one locality property exists for
                                the project, referencePoint should be used to desccribe the
                                coordinate location for the project instead of the PointLocation
                                object.</documentation>
                        </annotation>
                    </element>
                    <element name="purpose" type="gml:CodeType" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>A string descxribing the purpose for the project. This is
                                intended to come from a controlled list of terms.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="projectEvent"
                        type="diggs:ProjectEventPropertyType">
                        <annotation>
                            <documentation>Contains a ProjectEvent property describing the
                                occurrence of a time or location related event associated with a
                                project.</documentation>
                        </annotation>
                    </element>
                    <element name="contract" type="diggs:ContractPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Contains a Contract object that describes the properties
                                of a business contract associated with the project. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherProjectProperty"
                        type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>Contains a Parameter object used to describe the name and
                                value of a project property not otherwise explicitly defined in the
                                schema.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractSample" type="diggs:AbstractSampleType">
        <annotation>
            <documentation>Base object and Abstract head of a substitution group for all material
                samples. </documentation>
        </annotation>
    </element>
    <complexType name="AbstractSampleType" abstract="true">
        <annotation>
            <documentation>Base type for all sample objects. A sample represents physical material collected from a sampling feature during a sampling activity. Samples are the fundamental link between field investigations (sampling features) and laboratory testing (specimens and material tests). Samples maintain information about their collection location, parent sampling feature, collection method, and physical characteristics. Samples can be subdivided into specimens for laboratory testing or aggregated from multiple source samples.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractNamedFeatureType">
                <sequence>
                    <element name="projectRef" type="diggs:FeatureReferenceType" minOccurs="1">
                        <annotation>
                            <documentation>Reference to the project that this sample is associated with. Every sample must be associated with a project, which provides the organizational and geographical context for the sample. This reference links the sample to its parent project, enabling queries and organization by project.</documentation>
                        </annotation>
                    </element>
                    <element ref="diggs:samplingActivityRef"/>
                    <element ref="diggs:sampleProducedRef">
                        <annotation>
                            <documentation/>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractSamplingActivity"
        type="diggs:AbstractSamplingActivityType">
        <annotation>
            <documentation>Abstract element for sampling activities. Serves as the head of the substitution group for sampling activity types.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractSamplingActivityType" abstract="true">
        <annotation>
            <documentation>Base type for sampling activities that collect materials from sampling features.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element ref="diggs:investigationTarget" maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <documentation>Abstract element serving as the head of the substitution group for all sampling activity types. Sampling activities represent the actions taken to collect samples from sampling features. Activities include drilling, coring, excavation, grab sampling, and other collection methods. Each activity records the who, what, when, where, and how of sample collection, including equipment used, environmental conditions, and recovery information.</documentation>
                        </annotation>
                    </element>
                    <element ref="diggs:projectRef" maxOccurs="unbounded"/>
                    <element minOccurs="0" ref="diggs:programRef"/>
                    <element minOccurs="0" ref="diggs:constructionActivityRef"/>
                    <choice>
                        <sequence>
                            <element ref="diggs:samplingFeatureRef" minOccurs="1" maxOccurs="1"/>
                            <element name="samplingLocation" type="diggs:LocationPropertyType"
                                minOccurs="1">
                                <annotation>
                                    <documentation>Geographic location of the sampling
                                        activity.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                        <sequence>
                            <element maxOccurs="unbounded" minOccurs="0"
                                ref="diggs:associatedProjectRef"/>
                            <element minOccurs="0" ref="diggs:originalProjectRef"/>
                        </sequence>
                    </choice>
                    <element minOccurs="0" name="sourceSampleRef" maxOccurs="unbounded"
                        type="diggs:FractionalReferenceType">
                        <annotation>
                            <appinfo source="urn:x-gml:targetElement">diggs:Sample/@gml:id</appinfo>
                            <documentation>A reference to a sample or samples that are used to
                                create the sample(s) (identified in the sampleProduced property)
                                produced by this activity. This element is only used for activities
                                that subsample or aggregate samples from other samples. For
                                aggregate samples, the percentage attribute optionally defines how
                                much of the total new sample is composed from the source
                                sample.</documentation>
                        </annotation>
                    </element>
                    <element name="activityType" type="diggs:ActivityTypeEnumType">
                        <annotation>
                            <documentation>A controlled list that indicates the classification of
                                sampling activity. Can be used by applications to validate other
                                activity info. One of the following strings must be used: collect -
                                activity created a sample or samples by collection from a sampling
                                feature; aggregate - activity created a sample or samples by
                                aggregating existing samples; the associated Sample(s) should
                                contain more than one sourceSampleRef; subsample - activity created
                                a sample or samples by subsampling an existing sample; only one
                                sourceSampleRef should be specified for the related Sample(s); test
                                - activity produced a test, standard or blank sample that does not
                                relate to any field sample or sampling feature; activity will point
                                to a project but no sourceSampleRef nor samplingFeatureRef should be
                                specified for the associated Sample(s). none - the sample activity
                                failed to produce any physical sample; unknown - used where no
                                information about the sampling activity exists (eg. for legacy data
                                where only sample name or label and location (depth) exists).
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lengthLongestPortion"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>For rock cores, the length of the longest solid,
                                cylindrical core piece of the sample</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="purpose" type="string">
                        <annotation>
                            <documentation>Purpose of taking this sample. This is an uncontrolled
                                string that describes the test or tests that are intended to be run
                                on the sample(s) generated from this activity.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="rockQualityDesignationLength"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>For rock cores, the sum of length of core pieces that are
                                > 100 mm (4 inches) measured along the centerline</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="samplingActivityRQD"
                        type="diggs:LengthPerLengthMeasureType">
                        <annotation>
                            <documentation>For rock cores, the rock quality designation for the
                                sampling activity, defined by the rockQualityDesignationLength
                                divided by the core run (length of sampling activity
                                interval)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="sampleProduced"
                        type="diggs:SampleProducedPropertyType">
                        <annotation>
                            <documentation>Identifies the samples, and the time and location(s) of
                                samples (optional) that are produced by this sampling
                                activity</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="samplerInsertionMethod" type="gml:CodeType">
                        <annotation>
                            <documentation>For sampling of soil or rock, the means by which the
                                sampler is inserted into the ground. From a controlled list (eg.
                                pushed, driven, etc.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="samplingDate" type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>The date/time that encompasses the entire time over which
                                sampling occurred.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="samplingEnvironment"
                        type="diggs:EnvironmentPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Contains a component object that is a collection of
                                environmental parameters recorded at a specific time instant dureing
                                the sampling.</documentation>
                        </annotation>
                    </element>
                    <element name="samplingEquipment" type="diggs:EquipmentPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <appinfo>diggs:AbstractEquipment</appinfo>
                            <documentation>A property element that contains an Equipment feature (or
                                reference to one) that details the sampling equipment
                                used</documentation>
                        </annotation>
                    </element>
                    <element name="samplingMethod" type="diggs:SamplingMethodPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <documentation>A property that contains a Specification object or reference to ta DrivenPenetrationObject detailing
                                the method of sampling</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="solidCoreRecoveryLength"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>For rock cores, the sum of the lengths of solid,
                                cylindrical, core pieces</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalSampleRecoveryLength"
                        type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>For soil or rock cores, this property is the length of
                                the total amount of sample recovered during the activity. If no
                                sample is recovered, this value is 0. This value can also be derived
                                if totalSampleRecovery is reported.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalSampleRecovery"
                        type="diggs:DimensionlessMeasureType">
                        <annotation>
                            <documentation>A derived result for core samples from boreholes, defined
                                by the totalSampleRecoveryLength divided by the length of the
                                samplingActivity intervsl, typically reported as a
                                percent.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="mixingTime" type="diggs:TimeMeasureType">
                        <annotation>
                            <documentation>For sampling activities that involve blending samples in
                                aggregation (such as soil-cement mixtures), this property carries
                                the time duration to mix the sample together.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0"
                        name="otherSamplingActivityProperty" type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>A property that contains a Parameter object whereby
                                ancillary metadata about the sampling activity can be
                                reported</documentation>
                        </annotation>
                    </element>
                    <choice>
                        <element maxOccurs="1" minOccurs="0" name="coringPushPressure"
                            type="diggs:PressureMeasureType">
                            <annotation>
                                <documentation>For coring activities, the push pressure reported as
                                    a single value</documentation>
                            </annotation>
                        </element>
                        <sequence>
                            <element maxOccurs="1" minOccurs="0" name="coringPushPressureMin"
                                type="diggs:PressureMeasureType">
                                <annotation>
                                    <documentation>For reporting coring push pressure as a range,
                                        this property holds the minimum pressure
                                        value.</documentation>
                                </annotation>
                            </element>
                            <element maxOccurs="1" minOccurs="0" name="coringPushPressureMax"
                                type="diggs:PressureMeasureType">
                                <annotation>
                                    <documentation>For reporting coring push pressure as a range,
                                        this property holds the maximum pressure
                                        value.</documentation>
                                </annotation>
                            </element>
                        </sequence>
                    </choice>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractSamplingFeature" type="diggs:AbstractSamplingFeatureType">
        <annotation>
            <documentation>An abstract object that serves as the head of a substitution group for
                all sampling features. A sampling feature is a physical object or location through
                which we observe or measure properties of an investigation target, or perform some
                type of activity. It serves to define the dimensionality, extent, and local spatial
                reference system for zones where observations or activities take place.
            </documentation>
        </annotation>
    </element>
    <complexType name="AbstractSamplingFeatureType" abstract="true">
        <annotation>
            <documentation>Base type for all sampling features where investigations are conducted.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractNamedFeatureType">
                <sequence>
                    <element ref="diggs:investigationTarget" maxOccurs="unbounded" minOccurs="0"/>
                    <element ref="diggs:projectRef" maxOccurs="unbounded"/>
                    <element minOccurs="0" ref="diggs:originalProjectRef"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:associatedProjectRef"/>
                    <element minOccurs="0" ref="diggs:programRef"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="environment"
                        type="diggs:EnvironmentPropertyType">
                        <annotation>
                            <documentation>Reference to an object containing environmental
                                parameters recorded during construction of the sampling
                                feature</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherSamplingFeatureProperty"
                        type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>Reference to an Parameter object containing the name,
                                value or range of values and unit of measure of a property or a
                                measurement parameter.</documentation>
                        </annotation>
                    </element>
                    <element name="locality" type="diggs:LocalityPropertyType" minOccurs="0"
                        maxOccurs="1">
                        <annotation>
                            <documentation>A reference to a Locality object, containing
                                non-coordinate location information for a feature.</documentation>
                        </annotation>
                    </element>
                    <element name="referencePoint" type="diggs:PointLocationPropertyType"
                        minOccurs="1">
                        <annotation>
                            <documentation>Reference to a PointLocation object on the feature that
                                defines the location of the samplingFeature within a known spatial
                                3D CRS or compound CRS (geographic or projected 2D CRS, plus a
                                vertical CRS).</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="localCoordinates"
                        type="diggs:LocalCoordinatePropertyType">
                        <annotation>
                            <documentation>A reference to a LocalCoordinate object that holds the
                                values of local coordinates for the reference point of the
                                associated feature. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AbstractSensor" substitutionGroup="diggs:AbstractEquipment"
        type="diggs:AbstractSensorType" abstract="true">
        <annotation>
            <documentation>Abstract element for sensors. Serves as the head of the substitution group for sensor types.</documentation>
        </annotation>
    </element>
    <complexType name="AbstractSensorType" abstract="true">
        <annotation>
            <documentation>Base type for sensors that measure physical parameters such as temperature or pressure.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractEquipmentType">
                <sequence>
                    <element minOccurs="0" name="referencePoint"
                        type="diggs:PointLocationPropertyType">
                        <annotation>
                            <documentation>Identifies the reference point location for the sensor.
                                This may be the top of casing for a tape used to detect water level
                                or it could be a location within the response zone
                                itself.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="dateInstalled"
                        type="diggs:TimeIntervalPropertyType">
                        <annotation>
                            <documentation>Date and time when the sensor was installed. Can specify a single installation time or a time period for multi-stage installation. Critical for interpreting monitoring data relative to installation date.</documentation>
                        </annotation>
                    </element>
                    <element name="detector" type="diggs:DetectorPropertyType" minOccurs="0"
                        maxOccurs="unbounded">
                        <annotation>
                            <documentation>Detection device or mechanism used by the sensor. Describes the physical detector that responds to the measured parameter (e.g., pressure transducer, vibrating wire, thermistor). Multiple detectors can be specified if the sensor uses multiple detection methods.</documentation>
                        </annotation>
                    </element>
                </sequence>
                <attributeGroup ref="gml:AssociationAttributeGroup"/>
                <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="true" name="AbstractSpecimen" type="diggs:AbstractSpecimenType">
        <annotation>
            <documentation>AbstractSpecimen serves as the head of a substitution group for concrete
                specimen specializations based on specimen state or type: eg. soil, liquid, gas,
                rock. A specimen derives from one or more Samples, is created as part of a test
                procedure, and exists only in the context of the test procedure that creates
                it.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="AbstractSpecimenType">
        <annotation>
            <documentation>Base type for test specimens derived from samples or manufactured materials. A specimen is a prepared portion of a sample used for a specific laboratory test. Specimens differ from samples in that they are typically prepared to standard dimensions and conditions (e.g., trimmed, molded, cured) according to test method requirements. A single sample may yield multiple specimens for different tests or repeat testing. Specimens are always associated with a MaterialTest procedure.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="unbounded" ref="diggs:sampleRef"/>
                    <element minOccurs="0" name="specimenLocation" type="diggs:LocationPropertyType">
                        <annotation>
                            <documentation>In cases where the specimen location may be different
                                from the host sample's location (for example, a specimeen derived
                                from a core sample at a specific location, instead of a specimen
                                encompassing the entire extent of the sample), this property is used
                                to indicate the specific location. When not present, the spcecimen
                                location will be the same as the host sample's location if relevant.
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="extractionTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The time instant when this specimen was extracted from
                                the sample for testing. This is equivalent to
                                diggs:MaterialTest/sampleTime and diggs:Test/diggs:samplingTime
                                where only one specimen is used for the test and should generally
                                not be used in that case. Where multiple specimens are used for a
                                test and each was extracted from the host at different times, then
                                this property should be used to record the precise sampling time for
                                each specimen.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="preparationProcedure"
                        type="diggs:SpecificationPropertyType">
                        <annotation>
                            <documentation>A property that contains a Specification object or
                                reference to a Specification object that describes the procedure
                                used to prepare the specimen from the sample. This can be a simple
                                description (contained in the Specification object's gml:description
                                property), the name of a standard specification (in the gml:name) or
                                a full procedural specification using appropriate properties in the
                                Specification object. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="otherSpecimenProperty"
                        type="diggs:ParameterPropertyType" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="AbstractTestProcedure" type="diggs:AbstractTestProcedureType"
        substitutionGroup="diggs:AbstractProcedure" abstract="true">
        <annotation>
            <documentation>Base type for all procedures that comprise a Test or MaterialTest.
            </documentation>
        </annotation>
    </element>
    <complexType name="AbstractTestProcedureType">
        <annotation>
            <documentation>Base type for test procedures that define how tests are performed.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractProcedureType">
                <sequence>
                    <element name="testProcedureMethod" type="diggs:SpecificationPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <documentation>A property element that contains a Specification object
                                (or reference to one) detailing the test procedure method
                                used.</documentation>
                        </annotation>
                    </element>
                    <element name="testProcedureEquipment" type="diggs:EquipmentPropertyType"
                        maxOccurs="unbounded" minOccurs="0">
                        <annotation>
                            <appinfo>diggs:AbstractEquipment</appinfo>
                            <documentation>Contains or references an Equipment object. Any concrete
                                object that substitutes for AbstractEquipment can be contained or
                                referenced by this property. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="testingEnvironment"
                        type="diggs:EnvironmentPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Environmental conditions during testing. Values derived
                                at different times during the test can be specified with multiple
                                elements and using the Environment/dateTime
                                property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="otherTestProperty"
                        type="diggs:ParameterPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

</schema>
