witsml/1.3.1.1/typ_measureType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:witsml="http://www.witsml.org/schemas/131"
	targetNamespace="http://www.witsml.org/schemas/131" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" 
	version="1.3.1">
	<annotation>
		<documentation>
		These types represent numeric quantities with a unit of measure implemented as a uom attribute. The units are gathered into single quantity class which represents a group of units. The unit symbols appropriate for the class are captured as enumerated lists. The implementation of this is to develop a type for each uom class that is a union of a standard list, the unknown value, and the Other: extension. Additional files will contain these structures.
    		</documentation>
	</annotation>
	<include schemaLocation="typ_quantityClass.xsd"/>
	<!--                                                         -->
	<!-- POSC License Agreement
	This file is distributed under the POSC License Agreement at
	http://www.posc.org/about/license.shtml.
	Use of this file constitutes agreement with the POSC License Agreement.
	-->
	<!--                                                         -->
	<complexType name="accelerationLinearMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:accelerationLinearUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="anglePerLengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:anglePerLengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="anglePerTimeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:anglePerTimeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="areaMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:areaUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="areaPerAreaMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:areaPerAreaUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="densityMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:densityUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="dimensionlessMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:dimensionlessUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="dynamicViscosityMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:dynamicViscosityUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="electricCurrentMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:electricCurrentUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="electricPotentialMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:electricPotentialUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="energyPerAreaMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:energyPerAreaUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="equivalentPerMassMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:equivalentPerMassUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="forceMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:forceUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="forcePerLengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:forcePerLengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="forcePerVolumeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:forcePerVolumeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="frequencyMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:frequencyUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="illuminanceMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:illuminanceUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="lengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:lengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="lengthPerLengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:lengthPerLengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="magneticFieldStrengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:magneticFieldStrengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="magneticInductionMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:magneticInductionUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="massConcentrationMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:massConcentrationUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="massMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:massUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="massPerLengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:massPerLengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="momentOfForceMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:momentOfForceUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="perLengthMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:perLengthUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="planeAngleMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:planeAngleUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="powerMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:powerUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="pressureMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:pressureUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="relativePowerMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:relativePowerUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="specificVolumeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:specificVolumeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="thermodynamicTemperatureMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:thermodynamicTemperatureUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="timeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:timeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="velocityMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:velocityUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="volumeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:volumeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="volumeFlowRateMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:volumeFlowRateUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
	<complexType name="volumePerVolumeMeasure">
		<simpleContent>
			<extension base="witsml:abstractMeasure">
				<attribute name="uom" type="witsml:volumePerVolumeUom" use="required"/>
			</extension>
		</simpleContent>
	</complexType>
	<!--                                                         -->
</schema>
