deprecated/DeletedElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:diggs_geo="http://diggsml.org/schemas/3/geotechnical"
    xmlns:g3.3="http://www.opengis.net/gml/3.3/ce" xmlns:glr="http://www.opengis.net/gml/3.3/lr"
    xmlns:glrov="http://www.opengis.net/gml/3.3/lrov"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:eml="http://www.energistics.org/energyml/data/commonv2"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">

    <complexType name="DesignGroutMixPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence> </sequence>
    </complexType>

    <complexType name="ProgramDesignPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence>
            <!--            <element ref="diggs:AbstractProgramDesign"/> --> </sequence>
    </complexType>

    <complexType name="GroutingProgramDesignPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence> </sequence>
    </complexType>
    <complexType name="ProgramSpecificationPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence>
            <!--            <element ref="diggs:AbstractProgramSpecificaton"/> --> </sequence>
    </complexType>

    <complexType name="GroutingProgramSpecificationPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence>
            <!--           <element ref="diggs:AbstractProgramSpecificaton"/> --> </sequence>
    </complexType>

    <!--     <element name="GroutingPerformanceSpecification" type="diggs:GroutingPerformanceSpecificationType"
       substitutionGroup="diggs:AbstractProgramSpecification"/> -->

    <element abstract="false" name="CationExchangeTest"
        substitutionGroup="diggs:AbstractLaboratoryTestProcedure"
        type="diggs:CationExchangeTestType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation>Cation-exchange capacity is defined as the degree to which a soil can adsorb and exchange cations.</documentation>
        </annotation>
    </element>
    <complexType name="CationExchangeTestType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation>Base type for CationExchangeTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element default="false" minOccurs="0" name="methodType" type="gml:CodeType">
                        <annotation>
                            <documentation>Method used to determine the sodium concentration, e.g. atomic absorption, emission
                                spectroscopy, or an equivalent method.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="Measurement" substitutionGroup="diggs:AbstractMeasurement"
        type="diggs:MeasurementType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
    </element>

    <complexType name="MeasurementType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractMeasurementType">
                <sequence>
                    <sequence>
                        <element minOccurs="0" name="samplingTime"
                            type="diggs:TimeIntervalOrInstantPropertyType">
                            <annotation>
                                <documentation>For spatial results, this describes the time that the result applies to the roperty being measured. This is often the time of
                                    interaction by a sampling activity or measurement procedure with a real-world feature.</documentation>
                            </annotation>
                        </element>
                        <element minOccurs="0" name="resultTime"
                            type="diggs:TimeIntervalOrInstantPropertyType">
                            <annotation>
                                <documentation>For spatial results, Describes the time when the result became available, typically when the procedure associated with the measurement was completed. For some measurements this is identical to the samplingTime. However, there are important cases where they differ. Example: Where a measurement is made on a specimen in a laboratory, the samplingTime should record the time the specimen was retrieved
                                    from its host, while the FresultTime should record the time the laboratory procedure was applied. Example: Where monitoring
                                    measurement results are post-processed, the resultTime is the
                                    post-processing time, while the samplingTime preserves the time of initial interaction with the world. </documentation>
                            </annotation>
                        </element>
                        <element minOccurs="0" name="validTime"
                            type="diggs:TimeIntervalOrInstantPropertyType">
                            <annotation>
                                <documentation>For spatial result, describes the time period during which the result is intended to be used.</documentation>
                            </annotation>
                        </element>
                        <element minOccurs="0" name="resultLocation"
                            type="diggs:LocationPropertyType">
                            <annotation>
                                <documentation>For measurements with temporal results, the location within a sampling feature that is being monitored. For example, for awater level measurement, the location would be the depth,interval in the well where perforations are located (or where,water enters the well)</documentation>
                            </annotation>
                        </element>
                    </sequence>
                    <element name="outcome" type="diggs:MeasurementResultPropertyType">
                        <annotation>
                            <documentation>A property that contains the information about what
                                properties are being measured, the results of the measurement, and
                                the associated locations that the measurement results relate
                                to.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="procedure"
                        type="diggs:ProcedurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="SpatialResult" substitutionGroup="gml:AbstractCoverage"
        type="diggs:TestResultType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation>An object that contains properties that report the results of a
                test.</documentation>
        </annotation>
    </element>

    <complexType name="MeasurementResultPropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <choice>
            <element ref="diggs:SpatialResult"/>
            <element ref="diggs:TemporalResult"/>
        </choice>
    </complexType>

    <simpleType name="reciprocalSquareRootTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation/>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="1/m^1/2"/>
        </restriction>
    </simpleType>
    <simpleType name="reciprocalTimeSquaredUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation/>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="1/s2"/>
            <enumeration value="Eo"/>
            <enumeration value="mGal/m"/>
            <enumeration value="Gal/m"/>
        </restriction>
    </simpleType>
    <complexType name="ReciprocalTimeSquaredMeasureType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" type="diggs:reciprocalTimeSquaredUom" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="areaPerTimeUomExt">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation>This enumerated list extends eml:AreaPerTimeUom. m2/sec is deprecated.
                m2/s (eml namespace) should be used in its place. mm2/min is deprecated; use mm2/m
                instead to be consistent with eml symbology. 1) cm2/a - squqre centimeter per
                julian-year 2) cm2/d - square centimeter per day 3) cm2/h - square centimeter per
                hour 4) cm2/m - square centimeter per minute 5) m2/a - square meter per julian-year
                6) m2/d - square meter per day 7) m2/h - square meter per hour 8) m2/m - square
                meter per minute 9) m2/sec - square meter per second - deprecated 10) mm2/a - square
                millimeter per julian-year 11) mm2/d - square millimeter per day 12) mm2/h - square
                millimeter per hour 13) mm2/m - square millimeter per minute 13) mm2/min - square
                millmeter per minute - deprecated </documentation>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="cm2/a">
                <annotation>
                    <documentation>square centimeter per julian-year</documentation>
                </annotation>
            </enumeration>
            <enumeration value="cm2/d">
                <annotation>
                    <documentation>square centimeter per day</documentation>
                </annotation>
            </enumeration>
            <enumeration value="cm2/h">
                <annotation>
                    <documentation>square centimeter per hour</documentation>
                </annotation>
            </enumeration>
            <enumeration value="cm2/m">
                <annotation>
                    <documentation>square centimeter per minute</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m2/a">
                <annotation>
                    <documentation>square meter per julian-year</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m2/d">
                <annotation>
                    <documentation>square meter per day</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m2/h">
                <annotation>
                    <documentation>square meter per hour</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m2/m">
                <annotation>
                    <documentation>square meter per minute</documentation>
                </annotation>
            </enumeration>
            <enumeration value="m2/sec">
                <annotation>
                    <documentation>square meter per second - deprecated</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm2/a">
                <annotation>
                    <documentation>square millimater per julian-year</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm2/d">
                <annotation>
                    <documentation>square millimater per day</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm2/h">
                <annotation>
                    <documentation>square millimater per hour</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm2/m">
                <annotation>
                    <documentation>square millimater per minute</documentation>
                </annotation>
            </enumeration>
            <enumeration value="mm2/min">
                <annotation>
                    <documentation>square millimater per minute - deprecated</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="areaPerTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union memberTypes="diggs:areaPerTimeUomExt eml:AreaPerTimeUomExt"/>
    </simpleType>
    <simpleType name="diggsDensityOrUnitWeightUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union
            memberTypes="diggs:geotechnicalDensityUom eml:MassPerVolumeUomExt eml:ForcePerVolumeUomExt"
        />
    </simpleType>
    <simpleType name="geotechnicalMassUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="string">
            <enumeration value="slug"/>
        </restriction>
    </simpleType>
    <simpleType name="massUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union memberTypes="diggs:geotechnicalMassUom eml:MassUomExt"/>
    </simpleType>
    <complexType name="DiggsMassMeasureType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" type="diggs:massUom" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <complexType name="EnergyDensityMeasure">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" type="diggs:energyDensityUom" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="energyDensityUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="J/m3"/>
            <enumeration value="kJ/m3"/>
            <enumeration value="MJ/m3"/>
            <enumeration value="mJ/m3"/>
            <enumeration value="J/L"/>
            <enumeration value="kJ/L"/>
            <enumeration value="MJ/L"/>
            <enumeration value="mJ/L"/>
            <enumeration value="Wh/m3"/>
            <enumeration value="Wh/L"/>
            <enumeration value="kcal/m3"/>
            <enumeration value="kcal/L"/>
            <enumeration value="BTU/gal"/>
            <enumeration value="kWh/m3"/>
            <enumeration value="kWh/L"/>
        </restriction>
    </simpleType>
    <complexType name="forcePerTimeMeasure">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" type="diggs:forcePerTimeUom"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="forcePerTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="Pa/sec"/>
            <enumeration value="at/sec"/>
            <enumeration value="atm/sec"/>
            <enumeration value="bar/sec"/>
            <enumeration value="cmH2O(4degC)/sec"/>
            <enumeration value="dyne/cm2/sec"/>
            <enumeration value="GPa/sec"/>
            <enumeration value="hbar/sec"/>
            <enumeration value="inH2O(39.2F)/sec"/>
            <enumeration value="inH2O(60F)/sec"/>
            <enumeration value="inHg(32F)/sec"/>
            <enumeration value="inHg(60F/sec)"/>
            <enumeration value="kgf/cm2/sec"/>
            <enumeration value="kgf/mm2/sec"/>
            <enumeration value="kN/m2/sec"/>
            <enumeration value="kPa/sec"/>
            <enumeration value="kpsi/sec"/>
            <enumeration value="lbf/ft2/sec"/>
            <enumeration value="lbf/100ft2/sec"/>
            <enumeration value="lbf/in2/sec"/>
            <enumeration value="mbar/sec"/>
            <enumeration value="mmHg(0C)/sec"/>
            <enumeration value="mPa/sec"/>
            <enumeration value="MPa/sec"/>
            <enumeration value="Mpsi/sec"/>
            <enumeration value="N/m2/sec"/>
            <enumeration value="N/mm2/sec"/>
            <enumeration value="Pa(g)/sec"/>
            <enumeration value="pPa/sec"/>
            <enumeration value="psi/sec"/>
            <enumeration value="psia/sec"/>
            <enumeration value="psig/sec"/>
            <enumeration value="tonfUS/ft2/sec"/>
            <enumeration value="tonfUS/in2/sec"/>
            <enumeration value="torr/sec"/>
            <enumeration value="ubar/sec"/>
            <enumeration value="umHg(0C)/sec"/>
            <enumeration value="uPa/sec"/>
            <enumeration value="upsi/sec"/>

        </restriction>
    </simpleType>
    <simpleType name="geotechnicalDensityUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="kN/m3">
                <annotation>
                    <documentation>kilo-Newton per cubic meter</documentation>
                </annotation>
            </enumeration>
            <enumeration value="klbf/ft3">
                <annotation>
                    <documentation>Thousand pound-force (kips) per cubic foot</documentation>
                </annotation>
            </enumeration>
            <enumeration value="slug/ft3">
                <annotation>
                    <documentation>Slugs (mass) per cubic foot</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="geotechnicalPressureUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="string">
            <enumeration value="ksf"/>
            <enumeration value="ftH2O(39.2F)"/>
            <enumeration value="ftH2O(60F)"/>
            <enumeration value="inH2O(4degC)"/>
            <enumeration value="tonfUS/ft2"/>
            <enumeration value="lbf/in2"/>
        </restriction>
    </simpleType>
    <element name="originalSamplingFeatureRef" type="diggs:FeatureReferenceType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <appinfo source="urn:x-gml:targetElement">Diggs:AbstractSamplingFeature</appinfo>
            <documentation>A reference to a sampling feature that was created by this feature. </documentation>
            <documentation>A property element that supports a value by reference only. The target
                value is indicated in the appinfo element.</documentation>
        </annotation>
    </element>
    <simpleType name="PercentEnumType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union memberTypes="eml:DimensionlessUom diggs:PermilEnumType"/>
    </simpleType>
    <simpleType name="PermilEnumType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="string">
            <enumeration value="per mil"/>
        </restriction>
    </simpleType>
    <simpleType name="UomTypeEnumType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="string">
            <enumeration value="density or unit weight"/>
            <enumeration value="reciprocal time squared"/>
            <enumeration value="force time per volume"/>
        </restriction>
    </simpleType>
    <simpleType name="PropertyUomTypeEnumType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union memberTypes="eml:QuantityClassKind diggs:UomTypeEnumType">
            <simpleType>
                <restriction base="string">
                    <pattern value="Other: .{2,}"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>
    <complexType name="PercentPerTimeMeasureType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <simpleContent>
            <extension base="eml:AbstractMeasure">
                <attribute name="uom" type="diggs:percentPerTimeUom"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="percentPerTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <restriction base="eml:UomEnum">
            <enumeration value="%/hr"/>
            <enumeration value="%/min"/>
            <enumeration value="%/sec"/>
            <enumeration value="%/day"/>
            <enumeration value="%/month"/>
            <enumeration value="%/year"/>
            <enumeration value="%/kyr"/>
        </restriction>
    </simpleType>
    <simpleType name="lengthPerTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union memberTypes="eml:LengthPerTimeUomExt diggs:geotechnicalLengthPerTimeUom"/>
    </simpleType>
    <simpleType name="geotechnicalLengthPerTimeUom">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
            <documentation>Extension to eml unit types for length per time measure 1) cm/h -
                centimetre per hour 2) cm/min - centimetre per minute 3) cm/d - centimetre per day
                4) mm/h - millimetre per hour 5) mm/min - millimetre per minute 6) mm/d - millimetre
                per day </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="cm/h"/>
            <enumeration value="cm/min"/>
            <enumeration value="cm/d"/>
            <enumeration value="mm/h"/>
            <enumeration value="mm/min"/>
            <enumeration value="mm/d"/>
        </restriction>
    </simpleType>
    <simpleType name="doubleOrLimitValue">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <union>
            <simpleType>
                <restriction base="double"/>
            </simpleType>
            <simpleType>
                <restriction base="string">
                    <pattern value="[&lt;>≤≥][0-9]+(\.[0-9]+)?"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>

    <complexType name="LaboratoryProcedurePropertyType">
        <annotation>
            <appinfo>DELETED 1/26</appinfo>
        </annotation>
        <sequence>
            <element ref="diggs:AbstractLaboratoryTestProcedure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>
