witsml/2.0/RemovedFromProfile/CementJob.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>CementJob Schema.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:include schemaLocation="DrillReport.xsd"/>
	<xs:include schemaLocation="WellboreGeometry.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:complexType name="CementStageDesign">
		<xs:annotation>
			<xs:documentation>Configuration and other information about the cement stage.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractCementStage">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CementJobEvaluation" type="witsml:CementJobEvaluation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CementJobEvaluation">
		<xs:annotation>
			<xs:documentation>A top-level object that is used to record the testing and evaluation of a previously performed cement job.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="PresTest" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimTest" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Elapsed tome to perform the test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementShoeCollar" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement found between shoe and collar?  
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CetRun" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement evaluation tool run?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CetBondQual" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement evaluation tool bond quality?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CblRun" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement bond log run?  
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CblBondQual" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement bond log quality indication?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CblPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement bond log under pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TempSurvey" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Temperature survey run?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimCementLog" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hours before logging run after cement run.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormPit" type="eml:ForcePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pressure integrity test/leak-off test formation breakdown gradient or absolute pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ToolCompanyPit" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tool name for the pressure integrity test. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimPitStart" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hours between end of cement job and the start of the pressure integrity test. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdCementTop" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth at top of cement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TopCementMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Method to determine cement top.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TocOK" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is the top of cement sufficient?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobRating" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Job rating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RemedialCement" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remedial cement required?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumRemedial" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of remedials.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FailureMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Method used to determine that a cement job was unsuccessful.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LinerTop" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The distance to the top of the liner.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LinerLap" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Liner overlap length.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimBeforeTest" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hours before the liner top test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestNegativeTool" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test negative tool used for the liner top seal.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestNegativeEmw" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Equivalent mud weight. Negative test.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestPositiveTool" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test positive tool for liner top seal.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestPositiveEmw" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Equivalent mud weight. Positive test or absolute pressure .</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementFoundOnTool" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement found on tool?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdDVTool" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth to the diverter tool.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementJob" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CementJobReport">
		<xs:annotation>
			<xs:documentation>The as-built report of the job after it has been done.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractCementJob">
				<xs:sequence>
					<xs:element name="DTimJobEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time of the end of the cement job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimJobStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time of the start of the cement job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPlugSet" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that cement plug was set.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementDrillOut" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Was the cement drilled out? Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimCementDrillOut" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that the cement was drilled out.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimSqueeze" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time of a squeeze.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPipeRotStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that pipe rotation started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPipeRotEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that pipe rotation started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimRecipStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that pipe reciprocation started. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimRecipEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that pipe reciprocation ended. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DensMeasBy" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Method by which density is measured.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementReportStage" type="witsml:CementStageReport" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="WellboreFluidLocation">
		<xs:annotation>
			<xs:documentation>Specified the location where cement job fluid can be found. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="annulus"/>
			<xs:enumeration value="deadend"/>
			<xs:enumeration value="in pipe"/>
			<xs:enumeration value="rat hole"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CementDesignStage">
		<xs:annotation>
			<xs:documentation>Configuration and other information about the cement stage.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractCementStage">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CementJobDesign">
		<xs:annotation>
			<xs:documentation>Design and other information about the cement job</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractCementJob">
				<xs:sequence>
					<xs:element name="CementDesignStage" type="witsml:CementStageDesign" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractCementJob" abstract="true">
		<xs:annotation>
			<xs:documentation>Defines common elements for both cement job designs and reports.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CementEngr" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cementing engineer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimWaitingOnCement" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Duration for waiting on cement to set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlugInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If plug used,  measured depth interval between the top and base of the plug.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdHole" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth at the bottom of  the hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contractor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of cementing contractor.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RpmPipe" type="eml:AngularVelocityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe rotation rate (commonly in rotations per minute (RPM)).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TqInitPipeRot" type="eml:MomentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe rotation: initial torque.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TqPipeAv" type="eml:MomentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe rotation: average torque.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TqPipeMx" type="eml:MomentOfForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe rotation: maximum torque.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverPull" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>String-up weight during reciprocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlackOff" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>String-down weight during reciprocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RpmPipeRecip" type="eml:AngularVelocityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe reciprocation (RPM).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenPipeRecipStroke" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pipe reciprocation: stroke length.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reciprocating" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is the pipe being reciprocated (raised and lowered)? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CementJob" type="witsml:CementJob" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CementJob">
		<xs:annotation>
			<xs:documentation>Used to capture information about cementing operations, which are done to seal the annulus after a casing string has been run, to seal a lost circulation zone, or to set a plug to support directional drilling operations or seal a well so that it may be abandoned.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="JobType" type="witsml:CementJobType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type of cement job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobConfig" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Job configuration.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameCementedString" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name for the cemented string</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameWorkString" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name for the cement work string</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OffshoreJob" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Offshore job? Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdWater" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Water depth if offshore. The distance from mean sea level to water bottom (seabed floor).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReturnsToSeabed" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Returns to seabed? Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdPrevShoe" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of previous shoe.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdHole" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth at bottom of hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdPrevShoe" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of previous shoe.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdStringSet" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of cement string shoe.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TvdStringSet" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True vertical depth of cement string shoe.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypePlug" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Plug type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameCementString" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name for the cementing string</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeSqueeze" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type of squeeze.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdSqueeze" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of squeeze.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ToolCompany" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company providing the cementing tool. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeTool" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cement tool type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CoilTubing" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Is coiled tubing used?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobReport" type="witsml:CementJobReport" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="HoleConfig" type="eml:DataObjectReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Design" type="witsml:CementJobDesign" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CementingFluid" type="witsml:CementingFluid" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="CementJobType">
		<xs:annotation>
			<xs:documentation>Specifies type of cement job. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="primary"/>
			<xs:enumeration value="plug"/>
			<xs:enumeration value="squeeze"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractCementStage" abstract="true">
		<xs:annotation>
			<xs:documentation>Defines the information that is common to the cement job stage design and reports.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnnularFlowAfter" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Annular flow present after the stage was completed?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReciprocationSlackoff" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Slackoff for reciprocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BotPlug" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bottom plug used?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BotPlugNumber" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount of bottom plug used.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiaTailPipe" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tail pipe size (diameter).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DisplacementFluidRefId" type="eml:UuidString" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to displacement fluid properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimPresHeld" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Time the pressure was held.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlowrateMudCirc" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rate the mud was circulated during the stage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10Min" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gels-10Min (in hole at start of job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10Sec" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gels-10Sec (in hole at start of job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdCircOut" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Circulate out measured depth.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdCoilTbg" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of coil tubing (multi-stage cement job). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdString" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of string (multi-stage cement job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdTool" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of the tool (multi-stage cement job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MixMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mix method.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumStage" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stage number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReciprocationOverpull" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Overpull amount for reciprocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PillBelowPlug" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pill below plug?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlugCatcher" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plug catcher?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBackPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant back pressure applied while pumping the job (can be superseded by a back pressure per pumping stage). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBump" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure plug bumped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCoilTbgEnd" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure coiled tubing end. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCoilTbgStart" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure coiled tubing start </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCsgEnd" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Casing pressure at the end of the job.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCsgStart" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Casing pressure at the start of the job.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresDisplace" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Final displacement pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresHeld" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure held to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresMudCirc" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud circulation pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresTbgEnd" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tubing pressure at the end of the job (not coiled tubing).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresTbgStart" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tubing pressure at the start of the job (not coiled tubing).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PvMud" type="eml:DynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plastic viscosity (in the hole at the start of the job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SqueezeObjective" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Squeeze objective.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StageMdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval for the cement stage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TailPipePerf" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tail pipe perforated?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TailPipeUsed" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tail pipe used?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempBHCT" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bottomhole temperature: circulating. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempBHST" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bottomhole temperature: static. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TopPlug" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Top plug used?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOriginalMud" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of mud in the hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeStage" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stage type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolCircPrior" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume circulated before starting the job/stage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolCsgIn" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume inside the casing for this stage placement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolCsgOut" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total volume outside casing for this stage placement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolDisplaceFluid" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of displacement fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolExcess" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Excess volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolExcessMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Method to estimate excess volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolMudLost" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total mud lost.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolReturns" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of returns.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WtMud" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="YpMud" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Yield point (in the hole at the start of the job).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalFluidLocation" type="witsml:FluidLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EndingFluidLocation" type="witsml:FluidLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Step" type="witsml:CementPumpScheduleStep" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CementingFluid">
		<xs:annotation>
			<xs:documentation>Cementing Fluid Component Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ETimTransitions" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The elapsed time between the development of 100lbf/100sq ft gel strength and 500lbf/100 sq ft gel strength.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimZeroGel" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The elapsed time from initiation of the static portion of the test until the slurry attains a gel strength of 100lbf/100sq ft.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeFluid" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid type: Mud, Wash, Spacer, Slurry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidIndex" type="eml:PositiveLong" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid Index: 1: first fluid pumped (= original mud), last - 1 = tail cement, last = displacement mud. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescFluid" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Purpose description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassSlurryDryBlend" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Slurry class.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlurryPlacementInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval between the top and base of the slurry placement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceWater" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Water source description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolWater" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of water. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolCement" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of cement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatioMixWater" type="eml:VolumePerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mix-water ratio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolFluid" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid/slurry volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExcessPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Excess percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolYield" type="eml:VolumePerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Slurry yield.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Density" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidVolumeFraction" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Equals 1 - Porosity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolPumped" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume pumped.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolOther" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Other volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidRheologicalModel" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specify one of these models: Newtonian, Bingham, Power Law, and Herschel Bulkley.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Viscosity" type="eml:DynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Viscosity (if Newtonian model) or plastic viscosity (if Bingham model). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Yp" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Yield point (Bingham and Herschel Bulkley models).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="N" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Power Law index (Power Law and Herschel Bulkley models).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="K" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Consistency index (Power Law and Herschel Bulkley models).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10SecReading" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel reading after 10 seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10SecStrength" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel strength after 10 seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel1MinReading" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel reading after 1 minute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel1MinStrength" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel strength after 1 minute.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10MinReading" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel reading after 10 minutes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10MinStrength" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gel strength after 10 minutes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeBaseFluid" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of base fluid: fresh water, sea water, brine, brackish water.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensBaseFluid" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Density of base fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DryBlendName" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of dry blend.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DryBlendDescription" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of dry blend.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MassDryBlend" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mass of dry blend: the blend is made of different solid additives: the volume is not constant.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensDryBlend" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Density of dry blend.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MassSackDryBlend" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Weight of a sack of dry blend.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FoamUsed" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foam used?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeGasFoam" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gas type used for foam job.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolGasFoam" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of gas used for foam job.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatioConstGasMethodAv" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant gas ratio method ratio. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensConstGasMethod" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant gas ratio method: average density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatioConstGasMethodStart" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant gas ratio method: initial method ratio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatioConstGasMethodEnd" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant gas ratio method: final method ratio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensConstGasFoam" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constant gas ratio method: average density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimThickening" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test thickening time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempThickening" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test thickening temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresTestThickening" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test thickening pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConsTestThickening" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test thickening consistency/slurry viscosity: Bearden Consistency (Bc) 0 to 100.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PcFreeWater" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test free water na: = mL/250ML.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempFreeWater" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test free water temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolTestFluidLoss" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test fluid loss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempFluidLoss" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test fluid loss temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresTestFluidLoss" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test fluid loss pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeFluidLoss" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Test fluid loss: dehydrating test period, used to compute the API fluid loss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolAPIFluidLoss" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>API fluid loss = 2 * volTestFluidLoss * SQRT(30/timefluidloss).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimComprStren1" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength time 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimComprStren2" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength time 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresComprStren1" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength pressure 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresComprStren2" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength pressure 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempComprStren1" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength temperature 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempComprStren2" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Compressive strength temperature 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensAtPres" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Slurry density at pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolReserved" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume reserved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolTotSlurry" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total Slurry Volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CementAdditive" type="witsml:CementAdditive" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Rheometer" type="witsml:Rheometer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this cementing fluid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CementPumpScheduleStep">
		<xs:annotation>
			<xs:documentation>Cement Pump Schedule Component Schema, which defines the cement pumping schedule for a given step in a cement job.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FluidReferenceId" type="eml:UuidString" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>UUID feference to a fluid used in CementJob.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatioFluidExcess" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ratio of excess fluid to total fluid pumped during the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimPump" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The duration of the fluid pumping.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RatePump" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rate at which the fluid is pumped. 0 means it is a pause.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolPump" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume pumped = eTimPump * ratePump.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrokePump" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of pump strokes for the fluid to be pumped (assumes the pump output is known).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBack" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Back pressure applied during the pumping stage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ETimShutdown" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The duration of the shutdown event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments and remarks.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this pump schedule step.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CementAdditive">
		<xs:annotation>
			<xs:documentation>Cement Additive Component Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameAdd" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additive name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeAdd" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additive type or function (e.g., retarder, visosifier, weighting agent).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FormAdd" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Wet or dry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DensAdd" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additive density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Additive" type="eml:MassMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additive amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for the additive. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FluidLocation">
		<xs:annotation>
			<xs:documentation>Location of fluid in the wellbore. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FluidReferenceId" type="eml:UuidString" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to fluid used in the CementJob.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MDFluidBase" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth of the base of the cement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MDFluidTop" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth at the top of the interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Volume" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Volume of fluid at this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationType" type="witsml:WellboreFluidLocation" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of FluidLocation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CementStageReport">
		<xs:annotation>
			<xs:documentation>Report of key parameters for a stage of cement job.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractCementStage">
				<xs:sequence>
					<xs:element name="DTimMixStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time when mixing of cement started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPumpStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time when pumping cement started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPumpEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time when pumping cement ended.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimDisplaceStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time when displacing of cement started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresBreakDown" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Breakdown pressure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateBreakDown" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Breakdown rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateDisplaceAv" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Average displacement rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateDisplaceMx" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum displacement rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresSqueezeAv" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze pressure average.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresSqueezeEnd" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze pressure final.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresSqueezeHeld" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze pressure held.  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ETimMudCirculation" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Elapsed time of mud circulation before the job/stage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresSqueeze" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze pressure left on pipe.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateSqueezeAv" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze job average rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateSqueezeMx" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze job maximum rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateEnd" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Final displacement pump rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowratePumpStart" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pump rate at the start of the job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowratePumpEnd" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pump rate at the end of the job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VisFunnelMud" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Funnel viscosity in seconds (in hole at start of job/stage).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlugBumped" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Plug bumped? Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SqueezeObtained" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Squeeze obtained.  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PresPriorBump" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pressure before bumping plug / pressure at the end of  the displacement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FloatHeld" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Float held?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="uid" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Unique identifier for this instance of CementStageReport</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
