witsml/2.0/RemovedFromProfile/DownholeComponent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>DownholeComponent Schema. Captures all information about the physical completion, all of the well equipment data.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Tubular.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:include schemaLocation="Well.xsd"/>
	<xs:element name="DownholeComponent" type="witsml:DownholeComponent" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="DownholeComponent">
		<xs:annotation>
			<xs:documentation>General downhole equipment information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="StartDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The date this equipment was installed. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The date the equipment was removed. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DownholeStringSet" type="witsml:DownholeStringSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="PerforationSets" type="witsml:PerforationSets" minOccurs="0" maxOccurs="1"/>
					<xs:element name="EquipmentSet" type="witsml:EquipmentSet" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Well" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="WellHead" type="witsml:DownholeString" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BoreholeStringSet" type="witsml:BoreholeStringSet" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DownholeString">
		<xs:annotation>
			<xs:documentation>A section of the downhole component equipment.  Strings in the completion including casing, tubing, and rod strings .A completion may have multiple sets of strings, which may be nested each inside another, or run in parallel as in dual string completions; all strings are contained in a parent wellbore. Each string is composed of equipment, and may also contain accessories and/or assemblies. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringType" type="witsml:DownholeStringType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of string defined in the  enumeration DownholeStringType. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubStringType" type="witsml:SubStringType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of substring which can be SurfaceCasing, IntermediaCasing or ProductionCasing. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the downhole string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StringInstallDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The install date of the downhole string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentStringsName" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of parent string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StringMdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval between the top and the base of the downhole string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AxisOffset" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The distance from a sibling string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accessories" type="witsml:StringAccessory" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StringEquipmentSet" type="witsml:StringEquipmentSet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReferenceWellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ParentString" type="witsml:DownholeString" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of DownholeString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StringEquipmentSet">
		<xs:annotation>
			<xs:documentation>Information on collection of set of equipment included in the string.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringEquipment" type="witsml:StringEquipment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StringEquipment">
		<xs:annotation>
			<xs:documentation>Information regarding equipment that composes (makes up) a string. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentType" type="witsml:EquipmentTypeExt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of the equipment. See enumerated values. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the equipment.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentEventHistory" type="witsml:EventInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>History of events related to this equipment. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The status of the piece of equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RunNo" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The well run number. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PreviousRunDays" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The days that the equipment has run.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectCondition" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Object condition at installation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceCondition" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Object surface condition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The count number of the same equipment. The default is 1.  In some cases, multiple pieces group into one component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Length" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The total length of the equipment.  This is NOT length per unit. This is the length of unit stored at equipmentset's equipment information section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval in which the equipment is installed in the string. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True vertical depth interval in which the equipment is installed in the string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutsideString" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating whether this component is inside the string or not .</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TensileMax" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Max tensile strength.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresRating" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure  rating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresCollapse" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collapse pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBurst" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Burst pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HeatRating" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Heat rating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsLinetoSurface" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating the equipment has a line connected to the surface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsCentralized" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating equipment is centralized.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasScratchers" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating scratchers have been added to the equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationSetRefId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to the perforated hole in the equipment after a perforation event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermanentRemarks" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks on the equipment stored permanently.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsageComment" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks on the usage of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Assembly" type="witsml:Assembly" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrderOfObject" type="witsml:ObjectSequence" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InsideComponent" type="witsml:ReferenceContainer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OutsideComponent" type="witsml:ReferenceContainer" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ConnectionNext" type="witsml:EquipmentConnection" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of StringEquipment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="equipmentReferenceUid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Reference to a piece of equipment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EventInfo">
		<xs:annotation>
			<xs:documentation>Event information type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginEvent" type="witsml:EventRefInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndEvent" type="witsml:EventRefInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventRefInfo">
		<xs:annotation>
			<xs:documentation>Event reference information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EventReferenceId" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The referencing eventledger ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Install/pull date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectSequence">
		<xs:annotation>
			<xs:documentation>Defines a sequence number with an optional description attribute.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="description" use="required" type="eml:String2000">
			<xs:annotation>
				<xs:documentation>The description of this object sequence.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReferenceContainer">
		<xs:annotation>
			<xs:documentation>Information on containing or contained components.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringReferenceId" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DownholeString reference ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentReferenceId" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Equipment reference ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccesoryEquipmentReferenceId" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to the equipment for this accessory.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="eml:String2000" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comment or remarks on this container reference.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of ReferenceContainer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EquipmentConnection">
		<xs:annotation>
			<xs:documentation>Information detailing the connection between two components.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:Connection">
				<xs:sequence>
					<xs:element name="RadialOffset" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measurement of radial offset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectionForm" type="witsml:ConnectionFormType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The form of connection: box or pin.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectionUpset" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Connection upset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConnectionType" type="witsml:AbstractConnectionType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="stringEquipmentReferenceUid" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Reference to the string equipment. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Assembly">
		<xs:annotation>
			<xs:documentation>Container element for assemblies, or a collection of all assembly information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Part" type="witsml:StringEquipment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StringAccessory">
		<xs:annotation>
			<xs:documentation>StringAccessories contain the stringequipment's decorative components. An accessory is the stringEquipment or Strings’ decorative component.  An accessory is NOT directly screwed to the string. This part DOES NOT carry the weight of the rest of the String as opposed to the stringEquipment, which does. An Accessory is UNLIKE an Assembly on which the stringEquipment is built out of.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Accessory" type="witsml:StringEquipment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AbstractUidString">
		<xs:restriction base="eml:String64">
			<xs:pattern value="[^ ]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BoreholeStringSet">
		<xs:annotation>
			<xs:documentation>Borehole string container element, or a collection of all borehole strings.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BoreholeString" type="witsml:BoreholeString" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoreholeString">
		<xs:annotation>
			<xs:documentation>A section of a borehole. Used to define the drilled hole that corresponds to the wellbore. A collection of contiguous and non-overlapping borehole sections is allowed. Each section has depth range, diameter, and kind.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the borehole string.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accessories" type="witsml:StringAccessory" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Borehole" type="witsml:Borehole" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GeologyFeature" type="witsml:GeologyFeature" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReferenceWellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of BoreholeString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Borehole">
		<xs:annotation>
			<xs:documentation>Information on the borehole.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the borehole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeBorehole" type="witsml:BoreholeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of borehole. etc. cavern, cavity, normal borehole, under ream, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval for the borehole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True vertical depth interval for the borehole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BoreholeDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Borehole diameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionPermanent" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The description of this equipment to be permanently kept.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentEventHistory" type="witsml:EventInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Borehole.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GeologyFeature">
		<xs:annotation>
			<xs:documentation>Geology features found in the location of the borehole string.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeologyType" type="witsml:GeologyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aquifer or reservoir.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeatureMdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval for this feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeatureTvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True vertical depth interval for this feature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of GeologyFeature.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DownholeStringSet">
		<xs:annotation>
			<xs:documentation>Information on a collection of downhole strings</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DownholeString" type="witsml:DownholeString" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentSet">
		<xs:annotation>
			<xs:documentation>Information on the collection of equipment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Equipment" type="witsml:Equipment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Equipment">
		<xs:annotation>
			<xs:documentation>Information on a piece of equipment. Each kind of equipment in the set has a type (what it is) and attributes common across all instances of that type of equipment. The String Equipment then references these common attributes. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EquipmentName" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the piece of equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EquipmentType" type="witsml:EquipmentTypeExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The equipment type etc. bridge plug, bull plug. capillary tubing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The model of the equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CatalogId" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Catalog where equipment can be found.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CatalogName" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of equipment as found in the catalog.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrandName" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The equipment's brand name. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModelType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The equipment's model type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Series" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Series number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsSerialized" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A flag that indicates the equipment has a serial number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Serial number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartNo" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number that identifies this part.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfaceCondition" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface condition.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Material" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Material that the equipment is made from.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grade" type="witsml:GradeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grade level of this piece of material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitWeight" type="eml:MassPerLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The weight per length of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CoatingLinerApplied" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating whether equipment has a coating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OutsideCoating" type="witsml:Coating" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Equipment's outside coating based on enumeration value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InsideCoating" type="witsml:Coating" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Equipment's inner coating based on enumeration value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnitLength" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The length of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MajorOd" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The major outside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinorOd" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minor outside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Od" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The outside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxOd" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum outside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinOd" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum outside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MajorId" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The major inside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinorId" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minor inside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The inside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxId" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum inside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinId" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum inside diameter of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Drift" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The drift diameter is the minimum inside diameter of pipe through which another tool or string can be pulled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NominalSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The nominal size of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameService" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sweet or sour service.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The description of this equipment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionPermanent" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The description of this equipment to be permanently kept.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks about this equipment property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Property" type="witsml:ExtPropNameValue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SlotAsManufactured" type="witsml:PerfSlot" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="HoleAsManufactured" type="witsml:PerfHole" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Equipment.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ExtPropNameValue">
		<xs:annotation>
			<xs:documentation>Name-value extensions for the equipment property.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A string representing the name of property.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A value string representing the units of measure of the value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of ExtPropNameValue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PerfSlot">
		<xs:annotation>
			<xs:documentation>Information on slot resulting from a perforation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SlotHeight" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The height of slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotWidth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The width of the slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotCenterDistance" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Distance from center point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SlotCount" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of the slots.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remarks" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks and comments about this perforation slot.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of PerfSlot.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PerfHole">
		<xs:annotation>
			<xs:documentation>Information on the perforated hole.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval for the perforation hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The true vertical depth that describes the hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The diameter of the hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The angle of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolePattern" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pattern of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remarks" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks and comments about this perforated hole.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleDensity" type="eml:ReciprocalLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleCount" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of PerfHole.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PerforationSets">
		<xs:annotation>
			<xs:documentation>Information on the collection of perforation sets. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PerforationSet" type="witsml:PerforationSet" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PerforationSet">
		<xs:annotation>
			<xs:documentation>Information regarding a collection of perforations.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BoreholeStringReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to the borehole that contains the perf set. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DownholeStringReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to the downhole string. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measured depth interval for the entire perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TvdInterval" type="eml:TvdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The true vertical depth of the entire perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The diameter of the perf holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleAngle" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The angle of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HolePattern" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The pattern of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleDensity" type="eml:ReciprocalLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of the holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HoleCount" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of holes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionFactor" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The friction factor of each perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrictionPres" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The friction pressure for the perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DischargeCoefficient" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A coefficient used in the equation for calculation of pressure drop 
across a perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationTool" type="witsml:PerforationToolType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of perforation tool.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationPenetration" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The penetration length of perforation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CrushZoneDiameter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The diameter of the crushed zone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CrushDamageRatio" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The ratio value of crash damage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The original perforation date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermanentRemarks" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Remarks regarding this perforation set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventHistory" type="witsml:EventInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of PerforationSet.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="EquipmentTypeExt">
		<xs:annotation>
			<xs:documentation>An extension of possible equipment types.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="witsml:EquipmentType eml:EnumExtensionPattern"/>
	</xs:simpleType>
	<xs:simpleType name="CasingConnectionTypes">
		<xs:annotation>
			<xs:documentation>Specifies the values for connection type of casing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="landed"/>
			<xs:enumeration value="self-sealing-threaded"/>
			<xs:enumeration value="welded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TubingConnectionTypes">
		<xs:annotation>
			<xs:documentation>Specifies the values for the connection types of tubing.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="dogscompressionfit-notsealed"/>
			<xs:enumeration value="landed"/>
			<xs:enumeration value="latched"/>
			<xs:enumeration value="radial"/>
			<xs:enumeration value="selfsealing-threaded"/>
			<xs:enumeration value="slipfit-sealed"/>
			<xs:enumeration value="threaded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RodConnectionTypes">
		<xs:annotation>
			<xs:documentation>Specifies the values for the connection type of rod.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="eating nipple-cup"/>
			<xs:enumeration value="latched"/>
			<xs:enumeration value="seating nipple-mechanical"/>
			<xs:enumeration value="slipfit sealed"/>
			<xs:enumeration value="threaded"/>
			<xs:enumeration value="welded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherConnectionTypes">
		<xs:annotation>
			<xs:documentation>Specifies the values for other types of connections. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="cemented-in-place"/>
			<xs:enumeration value="dogscompressionfit-sealed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConnectionFormType">
		<xs:annotation>
			<xs:documentation>Specifies the values for the type of equipment-to-equipment connection.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="box"/>
			<xs:enumeration value="flange"/>
			<xs:enumeration value="mandrel"/>
			<xs:enumeration value="pin"/>
			<xs:enumeration value="welded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AbstractConnectionType" abstract="true">
		<xs:annotation>
			<xs:documentation>The choice of connection type.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="1" maxOccurs="1"/>
	</xs:complexType>
	<xs:complexType name="CasingConnectionType">
		<xs:annotation>
			<xs:documentation>Container element for casing connections or collection of all casing connections information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractConnectionType">
				<xs:sequence>
					<xs:element name="CasingConnectionType" type="witsml:CasingConnectionTypes" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Connection of type casing.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TubingConnectionType">
		<xs:annotation>
			<xs:documentation>Container element for tubing connection types  or collection of tubing connection types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractConnectionType">
				<xs:sequence>
					<xs:element name="TubingConnectionType" type="witsml:TubingConnectionTypes" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tubing connection type.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RodConnectionType">
		<xs:annotation>
			<xs:documentation>A type of rod connection, e.g., latched, threaded, welded, etc.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractConnectionType">
				<xs:sequence>
					<xs:element name="RodConnectionType" type="witsml:RodConnectionTypes" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Connection whose type is rod.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OtherConnectionType">
		<xs:annotation>
			<xs:documentation>Allows you to enter a connection type other than the ones in the standard list.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractConnectionType">
				<xs:sequence>
					<xs:element name="OtherConnectionType" type="witsml:OtherConnectionTypes" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Connection type other than rod, casing or tubing.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="EquipmentType">
		<xs:annotation>
			<xs:documentation>Specifies the values for type of equipment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="bridge plug"/>
			<xs:enumeration value="bull plug"/>
			<xs:enumeration value="capillary tubing"/>
			<xs:enumeration value="casing crossover"/>
			<xs:enumeration value="casing hanger"/>
			<xs:enumeration value="casing head"/>
			<xs:enumeration value="casing liner-expandable"/>
			<xs:enumeration value="casing shoe"/>
			<xs:enumeration value="casing spool"/>
			<xs:enumeration value="casing/casing liner"/>
			<xs:enumeration value="cement (behind casing)"/>
			<xs:enumeration value="cement basket"/>
			<xs:enumeration value="cement retainer"/>
			<xs:enumeration value="cement squeeze"/>
			<xs:enumeration value="cement stage tool"/>
			<xs:enumeration value="chemical injection mandrel"/>
			<xs:enumeration value="chemical injection valve"/>
			<xs:enumeration value="corrosion coupon carrier"/>
			<xs:enumeration value="dip tube"/>
			<xs:enumeration value="downhole choke"/>
			<xs:enumeration value="downhole sensor"/>
			<xs:enumeration value="ESP assembly"/>
			<xs:enumeration value="ESP bolt on discharge"/>
			<xs:enumeration value="ESP bolt on intake"/>
			<xs:enumeration value="ESP bolt on motor base"/>
			<xs:enumeration value="ESP bolt on motor head"/>
			<xs:enumeration value="ESP cable"/>
			<xs:enumeration value="ESP gas handler"/>
			<xs:enumeration value="ESP gas separator"/>
			<xs:enumeration value="ESP lower pigtail"/>
			<xs:enumeration value="ESP motor"/>
			<xs:enumeration value="ESP motor base centralizer"/>
			<xs:enumeration value="ESP motor flat cable"/>
			<xs:enumeration value="ESP motor shroud"/>
			<xs:enumeration value="ESP promotor"/>
			<xs:enumeration value="ESP pump"/>
			<xs:enumeration value="ESP pump discharge sensor sub"/>
			<xs:enumeration value="ESP seal"/>
			<xs:enumeration value="expansion joint"/>
			<xs:enumeration value="external cementing port"/>
			<xs:enumeration value="fill"/>
			<xs:enumeration value="fish"/>
			<xs:enumeration value="float collar"/>
			<xs:enumeration value="float shoe/guide shoe"/>
			<xs:enumeration value="gas anchor"/>
			<xs:enumeration value="gas lift mandrel"/>
			<xs:enumeration value="gas lift valve"/>
			<xs:enumeration value="gravel pack screen"/>
			<xs:enumeration value="hydraulic pump"/>
			<xs:enumeration value="injection mandrel"/>
			<xs:enumeration value="injection valve"/>
			<xs:enumeration value="junk in wellbore"/>
			<xs:enumeration value="landing collar"/>
			<xs:enumeration value="liner entry guide"/>
			<xs:enumeration value="liner hanger"/>
			<xs:enumeration value="mule shoe"/>
			<xs:enumeration value="notched collar"/>
			<xs:enumeration value="on-off tool"/>
			<xs:enumeration value="overshot"/>
			<xs:enumeration value="packer"/>
			<xs:enumeration value="packer plug"/>
			<xs:enumeration value="packer-multiple strings"/>
			<xs:enumeration value="packoff (tubing)"/>
			<xs:enumeration value="pcp-flex shaft intake"/>
			<xs:enumeration value="pcp-gear reducer (subsurface)"/>
			<xs:enumeration value="pcp-no turn tool/torque anchor"/>
			<xs:enumeration value="pcp-rotor"/>
			<xs:enumeration value="pcp-stator"/>
			<xs:enumeration value="pcp-tag bar"/>
			<xs:enumeration value="plug - cement"/>
			<xs:enumeration value="plug - mud"/>
			<xs:enumeration value="plunger lift ball"/>
			<xs:enumeration value="plunger lift bottom hole bumper assembly"/>
			<xs:enumeration value="plunger lift bumper spring"/>
			<xs:enumeration value="plunger lift collar stop"/>
			<xs:enumeration value="plunger lift plunger"/>
			<xs:enumeration value="polished rod"/>
			<xs:enumeration value="polished rod liner"/>
			<xs:enumeration value="ported collar"/>
			<xs:enumeration value="profile nipple"/>
			<xs:enumeration value="profile nipple plug"/>
			<xs:enumeration value="pump-out plug"/>
			<xs:enumeration value="sand screen-tubing"/>
			<xs:enumeration value="sand separator"/>
			<xs:enumeration value="screen liner/insert"/>
			<xs:enumeration value="seal assembly"/>
			<xs:enumeration value="seal bore extension"/>
			<xs:enumeration value="seat nipple/shoe"/>
			<xs:enumeration value="shear tool"/>
			<xs:enumeration value="sliding sleeve"/>
			<xs:enumeration value="steam cup mandrel"/>
			<xs:enumeration value="steam deflectors"/>
			<xs:enumeration value="strainer nipple"/>
			<xs:enumeration value="subsurface safety valve"/>
			<xs:enumeration value="sucker rod"/>
			<xs:enumeration value="sucker rod backoff coupling"/>
			<xs:enumeration value="sucker rod pump-insert"/>
			<xs:enumeration value="sucker rod pump-jacket"/>
			<xs:enumeration value="sucker rod pump-tubing pump barrel"/>
			<xs:enumeration value="sucker rod pump-tubing pump plunger"/>
			<xs:enumeration value="sucker rod sub"/>
			<xs:enumeration value="sucker rod-continuous"/>
			<xs:enumeration value="sucker rod-ribbon"/>
			<xs:enumeration value="sucker rod-sinker bar"/>
			<xs:enumeration value="tcp gun"/>
			<xs:enumeration value="tubing"/>
			<xs:enumeration value="tubing (coiled)"/>
			<xs:enumeration value="tubing anchor/catcher"/>
			<xs:enumeration value="tubing crossover"/>
			<xs:enumeration value="tubing drain"/>
			<xs:enumeration value="tubing hanger"/>
			<xs:enumeration value="tubing head (spool)"/>
			<xs:enumeration value="tubing purge check valve"/>
			<xs:enumeration value="tubing sub"/>
			<xs:enumeration value="wellbore notes"/>
			<xs:enumeration value="whipstock"/>
			<xs:enumeration value="wireline re-entry guide (bell collar)"/>
			<xs:enumeration value="y-tool"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GradeType">
		<xs:annotation>
			<xs:documentation>Specifies the values for the grade level of this piece of equipment. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="13CR"/>
			<xs:enumeration value="13CR- 80"/>
			<xs:enumeration value="13CR- 85"/>
			<xs:enumeration value="13CR- 95"/>
			<xs:enumeration value="13CR-110"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="50"/>
			<xs:enumeration value="620C"/>
			<xs:enumeration value="75"/>
			<xs:enumeration value="750N"/>
			<xs:enumeration value="75A"/>
			<xs:enumeration value="780M"/>
			<xs:enumeration value="95"/>
			<xs:enumeration value="960M"/>
			<xs:enumeration value="970N"/>
			<xs:enumeration value="A53"/>
			<xs:enumeration value="A53A"/>
			<xs:enumeration value="A53B"/>
			<xs:enumeration value="Armco-95"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="C-110"/>
			<xs:enumeration value="C-75"/>
			<xs:enumeration value="C-90"/>
			<xs:enumeration value="C-95"/>
			<xs:enumeration value="D"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DER"/>
			<xs:enumeration value="DR"/>
			<xs:enumeration value="DWR"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="E-75"/>
			<xs:enumeration value="EL"/>
			<xs:enumeration value="F-25"/>
			<xs:enumeration value="FG"/>
			<xs:enumeration value="FS-80"/>
			<xs:enumeration value="FSS-95"/>
			<xs:enumeration value="G"/>
			<xs:enumeration value="G-105"/>
			<xs:enumeration value="GT-80S"/>
			<xs:enumeration value="H2S-90"/>
			<xs:enumeration value="H2S-95"/>
			<xs:enumeration value="H-40"/>
			<xs:enumeration value="HC-95"/>
			<xs:enumeration value="HCK-55"/>
			<xs:enumeration value="HCL-80"/>
			<xs:enumeration value="HCN-80"/>
			<xs:enumeration value="HCP-110"/>
			<xs:enumeration value="HCQ-125"/>
			<xs:enumeration value="HO-70"/>
			<xs:enumeration value="HS"/>
			<xs:enumeration value="J-20"/>
			<xs:enumeration value="J-55"/>
			<xs:enumeration value="K"/>
			<xs:enumeration value="K-40"/>
			<xs:enumeration value="K-55"/>
			<xs:enumeration value="KD"/>
			<xs:enumeration value="KD-63"/>
			<xs:enumeration value="L-80"/>
			<xs:enumeration value="LS-140"/>
			<xs:enumeration value="LS-50"/>
			<xs:enumeration value="LS-65"/>
			<xs:enumeration value="M-65"/>
			<xs:enumeration value="M-90"/>
			<xs:enumeration value="M-95"/>
			<xs:enumeration value="MAV-50"/>
			<xs:enumeration value="MD-56"/>
			<xs:enumeration value="MMS"/>
			<xs:enumeration value="N-105"/>
			<xs:enumeration value="N-23"/>
			<xs:enumeration value="N-30"/>
			<xs:enumeration value="N-40"/>
			<xs:enumeration value="N-54"/>
			<xs:enumeration value="N-75"/>
			<xs:enumeration value="N-78"/>
			<xs:enumeration value="N-80"/>
			<xs:enumeration value="N-90"/>
			<xs:enumeration value="N-96"/>
			<xs:enumeration value="N-97"/>
			<xs:enumeration value="P-105"/>
			<xs:enumeration value="P-110"/>
			<xs:enumeration value="PCP  900"/>
			<xs:enumeration value="PCP 1000"/>
			<xs:enumeration value="PCP 1500"/>
			<xs:enumeration value="PCP 2500"/>
			<xs:enumeration value="PH-6"/>
			<xs:enumeration value="Plus"/>
			<xs:enumeration value="Q-125"/>
			<xs:enumeration value="QT-1000"/>
			<xs:enumeration value="QT-1200"/>
			<xs:enumeration value="QT-700"/>
			<xs:enumeration value="QT-800"/>
			<xs:enumeration value="QT-900"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="S-135"/>
			<xs:enumeration value="S-59"/>
			<xs:enumeration value="S-60"/>
			<xs:enumeration value="S-67"/>
			<xs:enumeration value="S-80"/>
			<xs:enumeration value="S-87"/>
			<xs:enumeration value="S-88"/>
			<xs:enumeration value="S-95"/>
			<xs:enumeration value="SC-90"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SER"/>
			<xs:enumeration value="SM"/>
			<xs:enumeration value="SOO-95"/>
			<xs:enumeration value="Stainless"/>
			<xs:enumeration value="SWR"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="T-66"/>
			<xs:enumeration value="T-95"/>
			<xs:enumeration value="T-D61"/>
			<xs:enumeration value="T-D63"/>
			<xs:enumeration value="T-K65"/>
			<xs:enumeration value="UHS"/>
			<xs:enumeration value="USS-125"/>
			<xs:enumeration value="USS-140"/>
			<xs:enumeration value="USS-50"/>
			<xs:enumeration value="USS-95"/>
			<xs:enumeration value="V-150"/>
			<xs:enumeration value="WC-50"/>
			<xs:enumeration value="X"/>
			<xs:enumeration value="X-140"/>
			<xs:enumeration value="X-42"/>
			<xs:enumeration value="X-46"/>
			<xs:enumeration value="X-52"/>
			<xs:enumeration value="X-56"/>
			<xs:enumeration value="X-60"/>
			<xs:enumeration value="X-70"/>
			<xs:enumeration value="X-95"/>
			<xs:enumeration value="XD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BoreholeType">
		<xs:annotation>
			<xs:documentation>Specifies the values for the type of borehole.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="cavern"/>
			<xs:enumeration value="cavity"/>
			<xs:enumeration value="normalborehole"/>
			<xs:enumeration value="underream"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Coating">
		<xs:annotation>
			<xs:documentation>Specifies the values for the type of inside or outside coating of this piece of equipment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="bare"/>
			<xs:enumeration value="carbonnitrided"/>
			<xs:enumeration value="carburized"/>
			<xs:enumeration value="carburized-hardened"/>
			<xs:enumeration value="cementlined"/>
			<xs:enumeration value="chrome"/>
			<xs:enumeration value="chrome-plated"/>
			<xs:enumeration value="chromeplated-grooved"/>
			<xs:enumeration value="chromeplated-heavy"/>
			<xs:enumeration value="corrosion coating"/>
			<xs:enumeration value="dblgalv"/>
			<xs:enumeration value="duolin20wr"/>
			<xs:enumeration value="duoline"/>
			<xs:enumeration value="duoline10"/>
			<xs:enumeration value="duoline20"/>
			<xs:enumeration value="epdm"/>
			<xs:enumeration value="fiberglass-lined"/>
			<xs:enumeration value="galvanized"/>
			<xs:enumeration value="hardened"/>
			<xs:enumeration value="hard-lined"/>
			<xs:enumeration value="ins"/>
			<xs:enumeration value="ipc"/>
			<xs:enumeration value="ipc-epoxy"/>
			<xs:enumeration value="ipc-epxthk"/>
			<xs:enumeration value="ipc-epxthn"/>
			<xs:enumeration value="ipc-nylon"/>
			<xs:enumeration value="ipc-rwrap"/>
			<xs:enumeration value="ipc-s505"/>
			<xs:enumeration value="ipc-s650"/>
			<xs:enumeration value="ipc-tk70"/>
			<xs:enumeration value="ipc-tk75"/>
			<xs:enumeration value="lp"/>
			<xs:enumeration value="moly"/>
			<xs:enumeration value="mtr"/>
			<xs:enumeration value="n/a"/>
			<xs:enumeration value="nickel-carbide"/>
			<xs:enumeration value="nickel-plated"/>
			<xs:enumeration value="nitrided"/>
			<xs:enumeration value="nitrile"/>
			<xs:enumeration value="pap"/>
			<xs:enumeration value="pelined"/>
			<xs:enumeration value="phosphate"/>
			<xs:enumeration value="phosphorus"/>
			<xs:enumeration value="plastic"/>
			<xs:enumeration value="plunger-lubricant"/>
			<xs:enumeration value="polished-rodliner"/>
			<xs:enumeration value="polypropylene"/>
			<xs:enumeration value="ppw/nitrl"/>
			<xs:enumeration value="pvclined"/>
			<xs:enumeration value="rodguide-1"/>
			<xs:enumeration value="rodguide-2"/>
			<xs:enumeration value="rodguide-2."/>
			<xs:enumeration value="rodguide-3"/>
			<xs:enumeration value="rodguide-4"/>
			<xs:enumeration value="rodguide-5"/>
			<xs:enumeration value="rodguide-6"/>
			<xs:enumeration value="rodguide-7"/>
			<xs:enumeration value="rodguide-fx"/>
			<xs:enumeration value="rodguide-so"/>
			<xs:enumeration value="rodguide-so1"/>
			<xs:enumeration value="rodguide-so2"/>
			<xs:enumeration value="rodguide-so3"/>
			<xs:enumeration value="rodguide-so4"/>
			<xs:enumeration value="rodguide-so5"/>
			<xs:enumeration value="rodguide-so6"/>
			<xs:enumeration value="rodguide-so8"/>
			<xs:enumeration value="rodguide-sp"/>
			<xs:enumeration value="spray-metal"/>
			<xs:enumeration value="spray-metal-monel"/>
			<xs:enumeration value="spraymetal-monel"/>
			<xs:enumeration value="spraymetal-nickel"/>
			<xs:enumeration value="spraymetal-od/nickelplated-id"/>
			<xs:enumeration value="spraymetal-steel"/>
			<xs:enumeration value="spraymetal-thick"/>
			<xs:enumeration value="sslined"/>
			<xs:enumeration value="teflon"/>
			<xs:enumeration value="teflon-red"/>
			<xs:enumeration value="teflon-tan"/>
			<xs:enumeration value="teflon-yellow"/>
			<xs:enumeration value="thermo"/>
			<xs:enumeration value="tk-4"/>
			<xs:enumeration value="tk-99"/>
			<xs:enumeration value="tuffr"/>
			<xs:enumeration value="tungsten plated"/>
			<xs:enumeration value="zincplated"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DownholeStringType">
		<xs:annotation>
			<xs:documentation>Specifies the values for the type of downhole strings.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="casing"/>
			<xs:enumeration value="others"/>
			<xs:enumeration value="rod"/>
			<xs:enumeration value="tubing"/>
			<xs:enumeration value="wellhead"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SubStringType">
		<xs:annotation>
			<xs:documentation>Specifies the values  to further qualify a string type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="abandoned junk/fish"/>
			<xs:enumeration value="capillary string (inside tubing)"/>
			<xs:enumeration value="capillary string (tubing/casing annulus)"/>
			<xs:enumeration value="conductor casing"/>
			<xs:enumeration value="drill string"/>
			<xs:enumeration value="flowline"/>
			<xs:enumeration value="geological objects"/>
			<xs:enumeration value="inner liner"/>
			<xs:enumeration value="intermediate casing"/>
			<xs:enumeration value="production casing"/>
			<xs:enumeration value="production liner"/>
			<xs:enumeration value="protective casing"/>
			<xs:enumeration value="surface casing"/>
			<xs:enumeration value="wellbore notes"/>
			<xs:enumeration value="y-tool string"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GeologyType">
		<xs:annotation>
			<xs:documentation>Specifies the values for type of geology.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="aquifer"/>
			<xs:enumeration value="reservoir"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PerforationToolType">
		<xs:annotation>
			<xs:documentation>Species the values for the type of perforation tool used to create the perfs.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="casing gun"/>
			<xs:enumeration value="coiled tubing jet tool"/>
			<xs:enumeration value="drilled"/>
			<xs:enumeration value="mandrel"/>
			<xs:enumeration value="n/a"/>
			<xs:enumeration value="slots-machine cut"/>
			<xs:enumeration value="slots-undercut"/>
			<xs:enumeration value="strip gun"/>
			<xs:enumeration value="tcp gun"/>
			<xs:enumeration value="through tubing gun"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
