witsml/2.0/RemovedFromProfile/FluidsReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>FluidsReport Schema.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:include schemaLocation="DrillReport.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:complexType name="Fluid">
		<xs:annotation>
			<xs:documentation>Fluid component schema. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description for the type of fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationSample" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sample location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTim" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The time when fluid readings were recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Md" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth where the fluid readings were recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tvd" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The true vertical depth where the fluid readings were recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ecd" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Equivalent circulating density where fluid reading was recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KickToleranceVolume" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assumed kick volume for calculation of kick tolerance based on the kick intensity where the fluid reading was recorded. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KickToleranceIntensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Assumed kick density for calculation of kick tolerance where the fluid reading was recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempFlowLine" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flow line temperature measurement where the fluid reading was recorded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBopRating" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pressure rating of the blow out preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MudClass" type="witsml:MudClass" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The class of the drilling fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Density" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid density.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisFunnel" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Funnel viscosity in seconds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempVis" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Funnel viscosity temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pv" type="eml:DynamicViscosityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plastic viscosity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Yp" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Yield point (Bingham and Herschel Bulkley models).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10Sec" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ten-second gels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel10Min" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ten-minute gels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gel30Min" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Thirty-minute gels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilterCakeLtlp" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Filter cake thickness at low (normal) temperature and pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FiltrateLtlp" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>API water loss (low temperature and pressure mud filtrate measurement) (volume per 30 min).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempHthp" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>High temperature high pressure (HTHP) temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresHthp" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>High temperature high pressure (HTHP) pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FiltrateHthp" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>High temperature high pressure (HTHP) filtrate (volume per 30 min).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilterCakeHthp" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>High temperature high pressure (HTHP) filter cake thickness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solids percentage from retort. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Water content percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OilPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percent oil content from retort. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SandPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sand content percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsLowGravPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Low gravity solids percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsLowGrav" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solids low gravity content. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsCalcPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percent calculated solids content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaritePc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Barite content percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lcm" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lost circulation material.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mbt" type="eml:GenericMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cation exchange capacity (CEC) of the mud sample as measured by methylene blue titration (MBT).

NOTE: This is temporarily set to be a GenericMeasure with no unit validation, pending addition of CEC units to the Energistics UoM spec.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ph" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud pH.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempPh" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud pH measurement temperature.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pm" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phenolphthalein alkalinity of whole mud.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmFiltrate" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phenolphthalein alkalinity of mud filtrate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mf" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Methyl orange alkalinity of filtrate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlkalinityP1" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud alkalinity P1 from alternate alkalinity method (volume in ml of 0.02N acid 
to reach the phenolphthalein endpoint).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlkalinityP2" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mud alkalinity P2 from alternate alkalinity method (volume in ml of 0.02N acid to titrate, the reagent mixture to the phenolphthalein endpoint).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chloride" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Chloride content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Calcium" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calcium content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Magnesium" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Magnesium content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Potassium" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Potassium content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrinePc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percent brine content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrineDensity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Density of water phase of NAF. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Lime" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lime content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElectStab" type="eml:ElectricPotentialDifferenceMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement of the emulsion stability and oil-wetting capability in oil-based muds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalciumChloridePc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calcium chloride percent. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalciumChloride" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calcium chloride content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Company" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of company.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Engineer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Engineer name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Asg" type="eml:MassPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average specific gravity of solids.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsHiGravPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solids high gravity percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolidsHiGrav" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solids high gravity content. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Polymer" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Polymers present in the mud system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolyType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of polymers present in the mud system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SolCorPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Solids corrected for chloride content percent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OilCtg" type="eml:MassPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oil on cuttings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OilCtgDry" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oil on dried cuttings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HardnessCa" type="eml:MassPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total calcium hardness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sulfide" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sulfide content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AverageCuttingSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average size of the drill cuttings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Carbonate" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Carbonate content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Iron" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Iron content. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MetalRecovered" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Metal recovered from the wellbore. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Turbidity" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Turbidity units to measure the cloudiness or haziness of a fluid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OilGrease" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oil and grease content. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Salt" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Salt content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaltPc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Salt percent. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tct" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True crystallization temperature. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaterPhaseSalinity" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A factor showing the activity level of salt in oil-based mud. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WholeMudCalcium" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Calcium content in the whole mud sample, including oil and water phases. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WholeMudChloride" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Chloride content in the whole mud sample, including oil and water phases.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZincOxide" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zinc oxide content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SodiumChloride" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sodium chloride content. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SodiumChloridePc" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sodium chloride percent. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comments and remarks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rheometer" type="witsml:Rheometer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Fluid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RheometerViscosity">
		<xs:annotation>
			<xs:documentation>Viscosity reading of the rheometer</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Speed" type="eml:AngularVelocityMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rotational speed of the rheometer, typically in RPM.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Viscosity" type="xs:double" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The raw reading from a rheometer. This could be , but is not necessarily, a viscosity.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of RheometerViscosity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="MudClass">
		<xs:annotation>
			<xs:documentation>Specifies the class of a drilling fluid.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="oil-based"/>
			<xs:enumeration value="water-based"/>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>A drilling fluid in which neither water nor oil is the continuous phase.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="pneumatic">
				<xs:annotation>
					<xs:documentation>A drilling fluid which is gas-based.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FluidsReport" type="witsml:FluidsReport" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="FluidsReport">
		<xs:annotation>
			<xs:documentation>Used to capture an analysis of the drilling mud. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="DTim" type="eml:TimeStamp" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time the information is related to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Md" type="witsml:MeasuredDepthCoord" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Along-hole measured depth of measurement from the drill datum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Tvd" type="witsml:WellVerticalDepthCoord" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vertical depth of the measurements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumReport" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fluids report number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Fluid" type="witsml:Fluid" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
