witsml/2.0/RemovedFromProfile/Rig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Rig Schema</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:include schemaLocation="BhaRun.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:element name="RigUtilization" type="witsml:RigUtilization" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="RigUtilization">
		<xs:annotation>
			<xs:documentation>Rig Utilization Schema. Used to capture information related to the usage of a specific rig. For information unique to the rig itself, see the Rig object. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="StartOperationTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Start time of the operation in which the rig was used. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndOperationTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End time of the operation in which the rig was used. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StartHoleDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the wellbore when operations performed with this rig started. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndHoleDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth of the wellbore when operations performed with this rig ended. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Datum" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Datum for location reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AirGap" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Air gap from the rig floor to the ground or mean sea level, depending on the rig location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WtBlock" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weight of the block. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingBlock" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rating for the block. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumBlockLines" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of block lines.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeHook" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type of hook installed for this rig usage. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingHkld" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum weight rating of the hook as configured for this rig usage. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SizeDrillLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Drill line diameter.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeDrawWorks" type="witsml:DrawWorksType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Draw works type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PowerDrawWorks" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Draw works horse power.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingDrawWorks" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Weight rating of the draw works.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotorDrawWorks" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the draw works motor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DescBrake" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rig brake description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeSwivel" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Type of swivel.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingSwivel" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum swivel rating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RotSystem" type="witsml:DriveType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work string drive type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DescRotSystem" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of rotating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingTqRotSys" type="eml:MomentOfForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work string rotational torque rating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RotSizeOpening" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rotary size opening.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingRotSystem" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work string rotational torque rating.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScrSystem" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of slow circulation rates (SCR) system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PipeHandlingSystem" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of pipe-handling system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapBulkMud" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bulk/dry mud storage capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapLiquidMud" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Liquid mud storage capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapDrillWater" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Drill water capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapPotableWater" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Potable water capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapFuel" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fuel capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapBulkCement" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Capacity of bulk cement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MainEngine" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Power system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Generator" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the electrical power generating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CementUnit" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of the cement unit on the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumBunks" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of beds available on the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BunksPerRoom" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of bunks per room.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumAnch" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of anchors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MoorType" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Mooring type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumGuideTens" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of guideline tensioners.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumRiserTens" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of riser tensioners.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VarDeckLdMx" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Variable deck load maximum (offshore rigs only).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VdlStorm" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Variable deck load storm rating (offshore rigs only).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumThrusters" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of thrusters.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Azimuthing" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Are the thrusters azimuth?  Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotionCompensationMn" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Minimum motion compensation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MotionCompensationMx" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum motion compensation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StrokeMotionCompensation" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Length of motion compensation provided by equipment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RiserAngleLimit" type="eml:PlaneAngleMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Riser angle limit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HeaveMx" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum allowable heave.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Gantry" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the gantry.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Flares" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of flare(s). </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shaker" type="witsml:Shaker" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Bop" type="witsml:Bop" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Pit" type="witsml:Pit" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Pump" type="witsml:MudPump" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Centrifuge" type="witsml:Centrifuge" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Hydrocyclone" type="witsml:Hydrocyclone" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Degasser" type="witsml:Degasser" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SurfaceEquipment" type="witsml:SurfaceEquipment" minOccurs="0" maxOccurs="1"/>
					<xs:element name="BhaRun" type="eml:DataObjectReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Rig" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RigType">
		<xs:annotation>
			<xs:documentation>Specifies the type of drilling rig.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="barge">
				<xs:annotation>
					<xs:documentation>Barge rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="coiled tubing">
				<xs:annotation>
					<xs:documentation>Coiled tubing rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="floater">
				<xs:annotation>
					<xs:documentation>Floating rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="jackup">
				<xs:annotation>
					<xs:documentation>Jackup rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="land">
				<xs:annotation>
					<xs:documentation>Land rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="platform">
				<xs:annotation>
					<xs:documentation>Fixed platform.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="semi-submersible">
				<xs:annotation>
					<xs:documentation>Semi-submersible rig.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Bop">
		<xs:annotation>
			<xs:documentation>Rig blowout preventer (BOP) schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the BOP was installed. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time of the BOP was removed. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the blowout preventer. A serial number is a type of identification tag; however, some tags contain many pieces of information.This element only identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeConnectionBop" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of connection to the blowout preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeConnectionBop" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Size of the connection to the blowout preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresBopRating" type="eml:PressureMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pressure rating of the blowout preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeBopSys" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum tubulars passable through the blowout preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RotBop" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is this a rotating blowout preventer? Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdBoosterLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the booster line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdBoosterLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outer diameter of the booster line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenBoosterLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the booster line along the riser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSurfLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the surface line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdSurfLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outer diameter of the surface line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenSurfLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the surface line the along riser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdChkLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the choke line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdChkLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outer diameter of the choke line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenChkLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the choke line along the riser.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdKillLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the kill line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdKillLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Outer diameter of the kill line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenKillLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the kill line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeDiverter" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Diverter description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiaDiverter" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Diameter of the diverter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresWorkDiverter" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Working rating pressure of the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Accumulator" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of accumulator/description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapAccFluid" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accumulator fluid capacity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresAccPreCharge" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accumulator pre-charge pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolAccPreCharge" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accumulator pre-charge volume</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresAccOpRating" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accumulator operating pressure rating.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeControlManifold" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The blowout preventer control system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescControlManifold" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the control system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeChokeManifold" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of choke manifold.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresChokeManifold" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Choke manifold pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BopComponent" type="witsml:BopComponent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BopComponent">
		<xs:annotation>
			<xs:documentation>Blowout Preventer Component Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TypeBopComp" type="witsml:BopType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of ram or preventer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescComp" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdPassThru" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter that tubulars can pass through.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresWork" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Working rating pressure of the component.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiaCloseMn" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimum diameter of the component it will seal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiaCloseMx" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum diameter of the component it will seal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nomenclature" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Arrangement nomenclature for the blowout preventer stack (e.g., S, R, A).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsVariable" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is ram bore variable or single size? Defaults to false. 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of BopComponent</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="BopType">
		<xs:annotation>
			<xs:documentation>Specifies the type of blowout preventer. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="annular preventer"/>
			<xs:enumeration value="shear ram"/>
			<xs:enumeration value="blind ram"/>
			<xs:enumeration value="pipe ram"/>
			<xs:enumeration value="drilling spool"/>
			<xs:enumeration value="flexible joint"/>
			<xs:enumeration value="connector"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Pit">
		<xs:annotation>
			<xs:documentation>Rig Pit Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Index" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relative pit number of all pits on the rig. One-based.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the pit was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the pit was removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapMx" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pit capacity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypePit" type="witsml:PitType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of pit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsActive" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag to indicate if the pit is part of the active system. 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the pit.
A serial number is a type of identification tag; however, some tags contain many pieces of information. This element only identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of pit</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="PitType">
		<xs:annotation>
			<xs:documentation>Specfies the type of pit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="bulk"/>
			<xs:enumeration value="chemical"/>
			<xs:enumeration value="drilling"/>
			<xs:enumeration value="mix"/>
			<xs:enumeration value="mud cleaning"/>
			<xs:enumeration value="sand trap"/>
			<xs:enumeration value="slug">
				<xs:annotation>
					<xs:documentation>The pit in the active pit system located immediately downstream of the shale shakers, whose primary purpose is to allow the settling and disposal of the larger drilled cuttings not removed by the shale shakers. It is also called a settling tank”.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="storage"/>
			<xs:enumeration value="surge tank"/>
			<xs:enumeration value="trip tank"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MudPump">
		<xs:annotation>
			<xs:documentation>Rig Mud Pump Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Index" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relative pump number. One-based.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the pump was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the pump was removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypePump" type="witsml:PumpType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump type reference list.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCyl" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of cylinders (3 = single acting, 2 = double acting)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdRod" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rod outer diameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdLiner" type="eml:LengthMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the pump liner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PumpAction" type="witsml:PumpActionIntegerCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump action. 1 = single acting, 2 = double acting.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Eff" type="eml:PowerPerPowerMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Efficiency of the pump.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenStroke" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stroke length.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresMx" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pump pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowHydMx" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum hydraulics horsepower.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpmMx" type="eml:AngularVelocityMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum speed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Displacement" type="eml:VolumeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pump displacement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresDamp" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pulsation dampener pressure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VolDamp" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pulsation dampener volume.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PowMechMx" type="eml:PowerMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum mechanical power.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the pump.
A serial number is a type of identification tag; however, some tags contain many pieces of information.This element onlyidentifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of MudPump.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="PumpType">
		<xs:annotation>
			<xs:documentation>Specifies the type of pump.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="centrifugal">
				<xs:annotation>
					<xs:documentation>Centrifugal mud pump.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="duplex">
				<xs:annotation>
					<xs:documentation>Duplex mud mump, two cylinders.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="triplex">
				<xs:annotation>
					<xs:documentation>Triplex mud pump, three cylinders.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PumpActionIntegerCode">
		<xs:annotation>
			<xs:documentation>Pump Action: 1 = single acting, 2 = double acting.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:pattern value=".+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Shaker">
		<xs:annotation>
			<xs:documentation>Rig Shaker Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-recognizable context for the shaker.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the shaker was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the shaker was removed. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description for the type of object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationShaker" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Shaker location on the rig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumDecks" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of decks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumCascLevel" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of cascade levels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MudCleaner" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is part of mud-cleaning assembly as opposed to discrete shale shaker?
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapFlow" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pump rate at which the unit efficiently operates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeMeshMn" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimum mesh size.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the shaker.
A serial number is a type of identification tag; however, some tags contain many pieces of information. This element only identifies the tag and does not describe the contents.
.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Shaker. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Centrifuge">
		<xs:annotation>
			<xs:documentation>Rig Centrifuge Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the centrifuge was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the centrifuge was removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description for the type of object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapFlow" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pump rate at which the unit efficiently operates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the centrifuge.
A serial number is a type of identification tag; however, some tags contain many pieces of information.This element only identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Centrifuge.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Hydrocyclone">
		<xs:annotation>
			<xs:documentation>Rig Hydrocyclones Schema. A hydrocyclone is a cone-shaped device for separating fluids and the solids dispersed in fluids.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the hydroclone was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Removal date and time the hydroclone was removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the type of object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescCone" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cone description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the hydrocyclone.
A serial number is a type of identification tag; however, some tags contain many pieces of information. This element only identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Hydrocyclone.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Degasser">
		<xs:annotation>
			<xs:documentation>Rig Degasser Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer or supplier of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Manufacturer's designated model.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimInstall" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the degasser was installed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DTimRemove" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date and time the degasser was removed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description for the type of object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contractor/owner.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Height" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Height of the separator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Len" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the separator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal diameter of the object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapFlow" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum pump rate at which the unit efficiently operates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreaSeparatorFlow" type="eml:AreaMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flow area of the separator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtMudSeal" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Depth of trip-tank fluid level to provide back pressure against the separator flow.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdInlet" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal diameter of the inlet line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdVentLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal diameter of the vent line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenVentLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the vent line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapGasSep" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Safe gas-separating capacity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CapBlowdown" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gas vent rate at which the vent line pressure drop exceeds the hydrostatic head because of the mud seal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresRating" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure rating of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TempRating" type="eml:ThermodynamicTemperatureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Temperature rating of the separator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameTag" type="witsml:NameTag" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An identification tag for the degasser. A serial number is a type of identification tag; however, some tags contain many pieces of information.This element only identifies the tag and does not describe the contents.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of degasser</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SurfaceEquipment">
		<xs:annotation>
			<xs:documentation>Rig Surface Equipment Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of item and details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresRating" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pressure rating of the item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeSurfEquip" type="witsml:SurfEquipType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface equipment type (IADC1-4, Custom, Coiled Tubing).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UsePumpDischarge" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use pump discharge line? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseStandpipe" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use standpipe geometry? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseHose" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use kelly hose geometry? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseSwivel" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use swivel geometry? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseKelly" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use kelly geometry? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseTopStack" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use top stack height? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseInjStack" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use injector stack height? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseSurfaceIron" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use surface iron description? 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdStandpipe" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the standpipe.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenStandpipe" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the standpipe.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdHose" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the kelly hose.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenHose" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the kelly hose.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSwivel" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the swivel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenSwivel" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the swivel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdKelly" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the kelly bushing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenKelly" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the kelly bushing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSurfaceIron" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Inner diameter of the surface iron.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenSurfaceIron" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Length of the surface iron.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtSurfaceIron" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Height of the surface iron.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdDischargeLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: inner diameter of the pump discharge line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenDischargeLine" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: length of the pump discharge line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtWrapType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: the coiled tubing wrap type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdReel" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: outside diameter of the coiled tubing reel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdCore" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: outside diameter of the reel core that the coiled tubing is wrapped around.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WidReelWrap" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: width of the reel core. This is the inside dimension.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenReel" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: length of the coiled tubing remaining on the reel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InjStkUp" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: Does it have an injector stack up?
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtInjStk" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: The length of tubing from the end of the coil reel to the rotary kelly bushing. This length includes the tubing in the hole and the tubing on the reel. This measurement takes into account the 20 or so feet of tubing that is being straightened and pushed through the injector head.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UmbInside" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: Umbilical inside, true/false flag to account for the wireline inside the coiled tubing. With this pressure loss calculation, you can calculate for the strings used for logging, wireline coring, etc. 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OdUmbilical" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: outer diameter of the umbilical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LenUmbilical" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coiled tubing: length of the umbilical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdTopStk" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Top drive: inner diameter of the top stack.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtTopStk" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Top drive: The distance that the mud travels from the end of the standpipe hose to the drill pipe connection at the bottom of the top drive. We are measuring the distance that the mud will flow through the top drive.For the top drive. The distance that the mud travels from the end of the standpipe hose to the drill pipe connection at the bottom of the top drive. This is the measurement of the distance that the mud flows through the top drive.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HtFlange" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Height of the flange. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SurfEquipType">
		<xs:annotation>
			<xs:documentation>Specifies the type of surface equipment.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="IADC"/>
			<xs:enumeration value="custom"/>
			<xs:enumeration value="coiled tubing"/>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation>The value is not known. Avoid using this value. All reasonable attempts should be made to determine the appropriate value. Use of this value may result in rejection in some situations. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DerrickType">
		<xs:annotation>
			<xs:documentation>Specifies the type of drilling derrick.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="double">
				<xs:annotation>
					<xs:documentation>2-stand capacity derrick.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="quadruple">
				<xs:annotation>
					<xs:documentation>4-stand capacity derrick.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="slant">
				<xs:annotation>
					<xs:documentation>Slant derrick.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="triple">
				<xs:annotation>
					<xs:documentation>3-stand capacity derrick.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DrawWorksType">
		<xs:annotation>
			<xs:documentation>Specifies the type of draw works.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="mechanical"/>
			<xs:enumeration value="standard electric"/>
			<xs:enumeration value="diesel electric"/>
			<xs:enumeration value="ram rig"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DriveType">
		<xs:annotation>
			<xs:documentation>Specifies the type of work-string drive (rotary system).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="coiled tubing">
				<xs:annotation>
					<xs:documentation>Coiled tubing rig</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="rotary kelly drive">
				<xs:annotation>
					<xs:documentation>Kelly drive system</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="top drive">
				<xs:annotation>
					<xs:documentation>Top Drive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Rig" type="witsml:Rig" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="Rig">
		<xs:annotation>
			<xs:documentation>Rig Schema. Used to capture information unique to a drilling rig. For information about the usage of a rig in a specific operation, see the RigUtilization object. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="Owner" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The name of the company that owns the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeRig" type="witsml:RigType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The type of rig (e.g., semi-submersible, jack-up, etc.) </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Manufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The company that manufactured the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="YearEntService" type="xs:gYear" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The year the rig entered service. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ClassRig" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Classification of the rig. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Approvals" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rig approvals/certification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Registration" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rig registration location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TelNumber" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Telephone number on the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FaxNumber" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fax number on the rig. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EmailAddress" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address of the contact person. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameContact" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of the contact person. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingDrillDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum hole depth rating for the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingWaterDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum water depth rating for the rig.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsOffshore" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Flag to indicate that the rig is an offshore rig (drill ship, semi-submersible, jack-up, platform, TADU). 
Values are "true" (or "1") and "false" (or "0").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeDerrick" type="witsml:DerrickType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Derrick type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RatingDerrick" type="eml:ForceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Derrick rating. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HtDerrick" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Height of the derrick.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CapWindDerrick" type="eml:LengthPerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Derrick wind capacity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumCranes" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of cranes on the rig. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
