witsml/2.0/RemovedFromProfile/WellboreGeology.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>This WellboreGeology data object is new in WITSML v2.0. The WITSML v1.4.1 Mud Log data object has been reorganized into the Wellbore Geology data object and the Mud Log Report data object. 
Contains the description and/or interpretation of the geology along a wellbore. Can contain cuttings lithologies, interpreted lithologies, and/or show evaluations. This is a top-level object.
Provides modeling of data for different levels of geological description and interpretation conducting by wellsite geologists or mud loggers. </xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="Log.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:complexType name="CuttingsIntervalShow">
		<xs:annotation>
			<xs:documentation>A set of measurements or observations on cuttings samples describing the evaluation of a hydrocarbon show based on observation of hydrocarbon staining and fluorescence. For information on procedures for show evaluation, see the WITSML Technical Usage Guide.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the CuttingsIntervalShow.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShowRating" type="witsml:ShowRating" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Show Rating.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StainColor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Visible stain color.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StainDistr" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Visible stain distribution.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StainPc" type="eml:AreaPerAreaMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Visible stain (commonly in percent).  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutSpeed" type="witsml:ShowSpeed" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut speed.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutColor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut color.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutStrength" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut strength.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutForm" type="witsml:ShowLevel" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut formulation.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutLevel" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut level (faint, bright, etc.).  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutFlorForm" type="witsml:ShowLevel" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut fluorescence form.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutFlorColor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut fluorescence color.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutFlorStrength" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut fluorescence strength.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutFlorSpeed" type="witsml:ShowSpeed" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut fluorescence speed.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutFlorLevel" type="witsml:ShowFluorescence" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cut fluorescence level.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatFlorColor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Natural fluorescence color.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatFlorPc" type="eml:AreaPerAreaMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Natural fluorescence (commonly in percent).  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatFlorLevel" type="witsml:ShowFluorescence" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Natural fluorescence level.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NatFlorDesc" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Natural fluorescence description.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResidueColor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Residue color.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImpregnatedLitho" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Impregnated lithology.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Odor" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of any hydrocarbon type odors smelled.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CuttingFluid" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the cutting solvent used to treat the cuttings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of CuttingsIntervalShow.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="WellboreGeology" type="witsml:WellboreGeology" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellboreGeology">
		<xs:annotation>
			<xs:documentation>The transferrable class of the WellboreGeology object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>[maintained by the server] The interval that contains the minimum and maximum measured depths for all wellbore geology types under this wellbore geology entry.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowIntervalSet" type="witsml:ShowEvaluation" minOccurs="0" maxOccurs="1"/>
					<xs:element name="InterpretedGeologyIntervalSet" type="witsml:InterpretedGeology" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="CuttingsIntervalSet" type="witsml:CuttingsGeology" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ShowEvaluation" type="witsml:ShowEvaluation" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="ShowEvaluation">
		<xs:annotation>
			<xs:documentation>A container object for zero or more ShowEvaluationInterval objects. The container references a specific wellbore, a depth interval, a growing object status, and a collection of show evaluation intervals.
In a similar way to the InterpretedGeology, these are manually entered by the wellsite geologist or mud logger as an interpretation of the hydrocarbon show along the wellbore, based on the raw readings from one or more show analyses of individual show tests on cuttings samples.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>[maintained by the server] The interval that contains the minimum and maximum measured depths for all show intervals in this show evaluation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GrowingStatus" type="witsml:ChannelStatus" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Describes the growing status of the show evaluation intervals. Valid values: active, inactive or closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EvaluatedIntervalShow" type="witsml:ShowEvaluationInterval" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="InterpretedGeology" type="witsml:InterpretedGeology" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="InterpretedGeology">
		<xs:annotation>
			<xs:documentation>A container object for zero or more InterpretedGeologyInterval objects. The container references a specific wellbore, a depth interval, a growing object status, and a collection of interpreted geology intervals.
These values are manually entered per sample by the wellsite geologist or mud logger as an interpretation of the actual lithology sequence along the length of the wellbore by correlating the percentage lithologies observed in the cuttings samples along with other data (typically the drill rate and gamma ray curves), to estimate the location of the boundaries between the different lithology types. This analysis creates a sequence of individual lithologies along the wellbore. Therefore, InterpretedGeology typically contains a single lithology element for each interval that captures the detailed geological description of the lithology.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>[maintained by the server] The interval that contains the minimum and maximum measured depths for all interpreted intervals in this interpreted geology.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GrowingStatus" type="witsml:ChannelStatus" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Describes the growing status of the interpreted geology. Valid values: active, inactive or closed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeologicIntervalInterpreted" type="witsml:InterpretedGeologyInterval" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LithostratigraphicUnit">
		<xs:annotation>
			<xs:documentation>The name of a lithostratigraphy, with the "kind" attribute specifying the lithostratigraphic unit-hierarchy (group, formation, member or bed). The entry at each level is free text for the local lithostratigraphy at that level in the hierarchy. If a single hierarchy is defined, it is assumed this is at the formation level in the hierarchy and kind=formation should be used for the entry.
Used to hold information about the stratigraphic units that an interpreted lithology may belong to. These are based primarily on the differences between rock types rather than their specific age. For example, in the Grand Canyon, some of the major lithostratigraphic units are the “Navajo”, “Kayenta”, “Wingate”, “Chinle” and “Moenkopi” formations, each of which is represented by a particular set of rock properties or characteristics.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:String64">
				<xs:attribute name="authority" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Person or collective body responsible for authorizing the information.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="kind" use="required" type="eml:LithostratigraphicRank">
					<xs:annotation>
						<xs:documentation>Specifies the lithostratigraphic unit-hierarchy (group, formation, member or bed).</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LithologyQualifier">
		<xs:annotation>
			<xs:documentation>A description of minerals or accessories that constitute a fractional part of a CuttingsIntervalLithology.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kind" type="eml:LithologyQualifierKindExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of qualifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth interval represented by the qualifier. This must be within the range of the parent geologic interval. If MdInterval is not given then the qualifier is deemed to exist over the entire depth range of the parent geologyInterval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abundance" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The relative abundance of the qualifier estimated based on a "visual area" by inspecting the cuttings spread out on the shaker table before washing, or in the sample tray after washing.
This represents the upper bound of the observed range, and is in the following increments at the upper bound:
1 = less than or equal to 1%
2 = greater than 1% and less than 2%
5 = greater than or equal to 2% and less than 5%
and then in 5% increments, 10 (=5-10%), 15 (=10-15%) up to 100 (=95-100%).
The end user can then elect to either display the %, or map them to an operator-specific term or coding, e.g., 1 less than or equal to 1% = rare trace, or occasional, or very sparse, etc., depending on the end users' terminology.
i.e. 1 less then or equal to 1%=Rare Trace, or occasional, or very sparse etc., depending on the the end users' terminology.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual description of the qualifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of LithologyQualifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CuttingsIntervalLithology">
		<xs:annotation>
			<xs:documentation>The description of a single rock type in this interval. Can include one or more CuttingsIntervalShow objects for hydrocarbon show evaluation of the individual lithology.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kind" type="eml:LithologyKindExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The geological name for the type of lithology from the enum table listing a subset of the OneGeology/CGI defined formation types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LithPc" type="eml:VolumePerVolumeMeasure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lithology percent. Represents the portion of the sampled interval this lithology type relates to.
The total of the lithologies within an interval should add up to 100 percent.
If LithologySource in geology is:

	- "interpreted" only 100% is allowed.
	- "core" or "cuttings" then recommended usage is that the creating application uses blocks of 10%. i.e. 10, 20, 30, 40, 50, 60, 70, 80, 90, 100.

Ideally the input application should enforce a total of 100% for each defined depth interval.
If the total for a depth interval does not add up to 100%, then use the "undifferentiated" code to fill out to 100%.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the CuttingsIntervalLithology.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeLith" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An optional custom lithology encoding scheme.
If used, it is recommended that the scheme follows the NPD required usage. With the numeric values noted in the enum tables, which was the original intent for this item.
The NPD Coding System assigns a digital code to the main lithologies as per the Norwegian Blue Book data standards.
The code was then derived by lithology = (main lithology * 10) + cement + (modifier / 100).
Example: Calcite cemented silty micaceous sandstone: (33 * 10) + 1 + (21 / 100) gives a numeric code of 331.21.
However, the NPD is also working through Energistics/Caesar to potentially change this usage.)
This scheme should not be used for mnemonics, because those vary by operator, and if an abbreviation is required, a local look-up table should be used by the rendering client, based on Lithology Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology color description, from Shell 1995 4.3.3.1 and 4.3.3.2 colors with the addition of: frosted. e.g., black, blue, brown, buff, green, grey, olive, orange, pink, purple, red, translucent, frosted, white, yellow; modified by: dark, light, moderate, medium, mottled, variegated, slight, weak, strong, and vivid.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Texture" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology matrix texture description from Shell 1995 4.3.2.6: crystalline, (often "feather-edge" appearance on breaking), friable, dull, earthy, chalky, (particle size less than 20m; often exhibits capillary imbibition) visibly particulate, granular, sucrosic, (often exhibits capillary imbibition).
Examples: compact interlocking, particulate, (Gradational textures are quite common.) chalky matrix with sucrosic patches, (Composite textures also occur).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hardness" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Mineral hardness. Typically, this element is rarely used because mineral hardness is not typically recorded.
What typically is recorded is compaction. However, this element is retained for use defined as per Mohs scale of mineral hardness.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compaction" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology compaction from Shell 1995 4.3.1.5, which includes: not compacted, slightly compacted, compacted, strongly compacted, friable, indurated, hard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeGrain" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology grain size description. Defined from Shell 4.3.1.1.(Wentworth) modified to remove the ambiguous term pelite. 
Size ranges in millimeter (or micrometer) and inches.
LT 256 mm        LT 10.1 in         "boulder"
64-256 mm        2.5–10.1 in        "cobble";
32–64 mm        1.26–2.5 in       "very coarse gravel"
16–32 mm        0.63–1.26 in        "coarse gravel"
8–16 mm            0.31–0.63 in        "medium gravel"
4–8 mm            0.157–0.31 in        "fine gravel"
2–4 mm            0.079–0.157 in     "very fine gravel"
1–2 mm           0.039–0.079 in    "very coarse sand"
0.5–1 mm        0.020–0.039 in        "coarse sand"
0.25–0.5 mm        0.010–0.020 in     "medium sand"
125–250 um        0.0049–0.010 in        "fine sand"
62.5–125 um      .0025–0.0049 in   "very fine sand"
3.90625–62.5 um        0.00015–0.0025 in    "silt"
LT 3.90625 um        LT 0.00015 in        "clay"
LT 1 um            LT 0.000039 in        "colloid"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roundness" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology roundness description from Shell 4.3.1.3. Roundness refers to modal size class: very angular, angular, subangular, subrounded, rounded, well rounded.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sphericity" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology sphericity description for the modal size class of grains in the sample, defined as per Shell 4.3.1.4 Sphericity: very elongated, elongated, slightly elongated, slightly spherical, spherical, very spherical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sorting" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology sorting description from Shell 4.3.1.2 Sorting: very poorly sorted, unsorted, poorly sorted, poorly to moderately well sorted, moderately well sorted, well sorted, very well sorted, unimodally sorted, bimodally sorted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MatrixCement" type="eml:MatrixCementKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology matrix/cement description. Terms will be as defined in the enumeration table.
e.g., "calcite" (Common) "dolomite", "ankerite" (e.g., North Sea HPHT reservoirs such as Elgin and Franklin have almost pure ankerite cementation) "siderite" (Sherwood sandstones, southern UK typical Siderite cements), "quartz" (grain-to-grain contact cementation or secondary quartz deposition), "kaolinite", "illite" (e.g., Village Fields North Sea), "smectite","chlorite" (Teg, Algeria.).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorosityVisible" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology visible porosity description.
Defined after BakerHughes definitions, as opposed to Shell, which has no linkage to actual numeric estimates.
The theoretical maximum porosity for a clastic rock is about 26%, which is normally much reduced by other factors.
When estimating porosities use: more than 15% "good"; 10 to 15% "fair"; 5 to 10% "poor"; less than 5% "trace"; 0 "none".			</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorosityFabric" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Visible porosity fabric description from after Shell 4.3.2.1 and 4.3.2.2: intergranular (particle size greater than 20m), fine interparticle (particle size less than 20m), intercrystalline, intragranular, intraskeletal, intracrystalline, mouldic, fenestral, shelter, framework, stylolitic, replacement, solution, vuggy, channel, cavernous.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Permeability" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology permeability description from Shell 4.3.2.5.
In the future, these values would benefit from quantification, e.g., tight, slightly, fairly, highly.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shows" type="witsml:CuttingsIntervalShow" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Qualifier" type="witsml:LithologyQualifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of CuttingsIntervalLithology.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ShowFluorescence">
		<xs:annotation>
			<xs:documentation>Specifies the intensity and color of the show.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="faint"/>
			<xs:enumeration value="bright"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShowSpeed">
		<xs:annotation>
			<xs:documentation>Specifies an indication of both the solubility of the oil and the permeability of the show. The speed can vary from instantaneous to very slow.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="slow"/>
			<xs:enumeration value="moderately fast"/>
			<xs:enumeration value="fast"/>
			<xs:enumeration value="instantaneous"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ShowEvaluationInterval" type="witsml:ShowEvaluationInterval" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="ShowEvaluationInterval">
		<xs:annotation>
			<xs:documentation>An interpretation of the overall hydrocarbon show derived from analysis of individual show tests on cuttings samples. An interval in the wellbore for which data is manually entered by the wellsite geologist or mud logger as an interpretation of the hydrocarbon show along the wellbore, based on the raw readings from one or more show analyses of individual show tests on cuttings samples.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The measured depth interval over which the show is evaluated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the ShowEvaluationInterval</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowFluid" type="witsml:ShowFluid" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gas or oil exhibited at the show interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShowRating" type="witsml:ShowRating" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Quality of the fluid showing at this interval.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="uid" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Unique identifier for this instance of ShowEvaluationInterval.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InterpretedIntervalLithology">
		<xs:annotation>
			<xs:documentation>The description of a single rock type that is used within InterpretedGeologyInterval. There can only be one of these in each InterpretedGeologyInterval.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Kind" type="eml:LithologyKindExt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The geological name for the type of lithology from the enum table listing a 
					subset of the OneGeology / CGI defined formation types.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the InterpretedIntervalLithology</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeLith" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An optional custom lithology encoding scheme.
If used, it is recommended that the scheme follows the NPD required usage. With the numeric values noted in the enum tables, which was the original intent for this item.
The NPD Coding System assigns a digital code to the main lithologies as per the Norwegian Blue Book data standards.
The code was then derived by lithology = (main lithology * 10) + cement + (modifier / 100).
Example: Calcite cemented silty micaceous sandstone: (33 * 10) + 1 + (21 / 100) gives a numeric code of 331.21.
However, the NPD is also working through Energistics/Caesar to potentially change this usage.)
This scheme should not be used for mnemonics, because those vary by operator, and if an abbreviation is required, a local look-up table should be used by the rendering client, based on Lithology Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology color description, from Shell 1995 4.3.3.1 and 4.3.3.2 Colors with the addition of: frosted. e.g., black, blue, brown, buff, green, grey, olive, orange, pink, purple, red, translucent, frosted, white, yellow; modified by: dark, light, moderate, medium, mottled, variegated, slight, weak, strong, and vivid.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Texture" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology matrix texture description from Shell 1995 4.3.2.6: crystalline, (often "feather-edge" appearance on breaking), friable, dull, earthy, chalky, (particle size less than 20m; often exhibits capillary imbibition) visibly particulate, granular, sucrosic, (often exhibits capillary imbibition).
Examples: compact interlocking, particulate, (Gradational textures are quite common.) chalky matrix with sucrosic patches, (Composite textures also occur).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hardness" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Mineral hardness. Typically, this element is rarely used because mineral hardness is not typically recorded.
What typically is recorded is compaction. However, this element is retained for use defined as per Mohs scale of mineral hardness.

					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Compaction" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology compaction from Shell 1995 4.3.1.5, which includes: not compacted, slightly compacted, compacted, strongly compacted, friable, indurated, hard.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeGrain" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology grain size description. Defined from Shell 4.3.1.1. (Wentworth) modified to remove the ambiguous term pelite. 
Size ranges in millimeter (or micrometer) and inches.
LT 256 mm        LT 10.1 in         "boulder"
64-256 mm        2.5–10.1 in        "cobble";
32–64 mm        1.26–2.5 in       "very coarse gravel"
16–32 mm        0.63–1.26 in        "coarse gravel"
8–16 mm            0.31–0.63 in        "medium gravel"
4–8 mm            0.157–0.31 in        "fine gravel"
2–4 mm            0.079–0.157 in     "very fine gravel"
1–2 mm           0.039–0.079 in    "very coarse sand"
0.5–1 mm        0.020–0.039 in        "coarse sand"
0.25–0.5 mm        0.010–0.020 in     "medium sand"
125–250 um        0.0049–0.010 in        "fine sand"
62.5–125 um      .0025–0.0049 in   "very fine sand"
3.90625–62.5 um        0.00015–0.0025 in    "silt"
LT 3.90625 um        LT 0.00015 in        "clay"
LT 1 um            LT 0.000039 in        "colloid"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roundness" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology roundness description from Shell 4.3.1.3. Roundness refers to modal size class: very angular, angular, subangular, subrounded, rounded, well rounded.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sorting" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology sorting description from Shell 4.3.1.2 Sorting: very poorly sorted, unsorted, poorly sorted, poorly to moderately well sorted, moderately well sorted, well sorted, very well sorted, unimodally sorted, bimodally sorted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sphericity" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology sphericity description for the modal size class of grains in the sample, defined as per Shell 4.3.1.4 Sphericity: very elongated, elongated, slightly elongated, slightly spherical, spherical, very spherical.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MatrixCement" type="eml:MatrixCementKind" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology matrix/cement description. Terms will be as defined in the enumeration table.
e.g., "calcite" (Common) "dolomite", "ankerite" (e.g., North Sea HPHT reservoirs such as Elgin and Franklin have almost pure ankerite cementation) "siderite" (Sherwood sandstones, southern UK typical Siderite cements), "quartz" (grain-to-grain contact cementation or secondary quartz deposition), "kaolinite", "illite" (e.g., Village Fields North Sea), "smectite","chlorite" (Teg, Algeria.).	</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorosityVisible" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology visible porosity description.
Defined after BakerHughes definitions, as opposed to Shell, which has no linkage to actual numeric estimates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PorosityFabric" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Visible porosity fabric description from after Shell 4.3.2.1 and 4.3.2.2: intergranular (particle size greater than 20m), fine interparticle (particle size less than 20m), intercrystalline, intragranular, intraskeletal, intracrystalline, mouldic, fenestral, shelter, framework, stylolitic, replacement, solution, vuggy, channel, cavernous.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Permeability" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>STRUCTURED DESCRIPTION USAGE. Lithology permeability description from Shell 4.3.2.5.
In the future, these values would benefit from quantification, e.g., tight, slightly, fairly, highly.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Qualifier" type="witsml:LithologyQualifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="optional" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of InterpretedIntervalLithology.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="CuttingsGeologyInterval" type="witsml:CuttingsGeologyInterval" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CuttingsGeologyInterval">
		<xs:annotation>
			<xs:documentation>A depth range along the wellbore containing one or more lithology types and information about how the cuttings were sampled. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The measured depth interval that is represented by the cuttings described in this instance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the CuttingsGeologyInterval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DensBulk" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sample bulk density for the interval.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DensShale" type="eml:MassPerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Shale density for the interval. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Calcite" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Calcimetry calcite percentage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CalcStab" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Calcimetry stabilized percentage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cec" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cuttings cationic exchange capacity. Temporarily calling this a DimensionlessMeasure.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dolomite" type="eml:VolumePerVolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Calcimetry dolomite percentage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SizeMin" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Minimum size.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SizeMax" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum size.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Qft" type="eml:IlluminanceMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fluorescence as measured using a device licensed for the Quantitative Fluorescence Technique.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CleaningMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sample treatment: cleaning method.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DryingMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sample treatment: drying method.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CuttingsIntervalLithology" type="witsml:CuttingsIntervalLithology" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="uid" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Unique identifier for this instance of CuttingsGeologyInterval.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CuttingsGeology" type="witsml:CuttingsGeology" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="CuttingsGeology">
		<xs:annotation>
			<xs:documentation>Container for Cuttings Lithology items. The mud logger at the wellsite takes regular samples of drilled cuttings while the well is being drilled and examines the cuttings to determine the rock types (lithologies) present in each sample. The cuttings samples will typically contain a mix of different lithologies in each sample because there may have been multiple rock types that were drilled within the sample depth interval and there can also be mixing of cuttings as they travel up the wellbore and are collected on the shakers. CuttingsGeology therefore will typically contain multiple lithology elements for each interval so that the percentages of each lithology in the sample along with the more detailed geological description can be recorded.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>[maintained by the server] The interval which contains the minimum and maximum measured depths for all cuttings intervals in this cuttings geology.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GrowingStatus" type="witsml:ChannelStatus" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Describes the growing status of the cuttings, whether active, inactive or closed</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CuttingsInterval" type="witsml:CuttingsGeologyInterval" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeochronologicalUnit">
		<xs:annotation>
			<xs:documentation>A unit of geological time that can be used as part of an interpretation of a geology sequence. Use it for major units of geological time such as “Paleozoic”, “Mesozoic” or for more detailed time intervals such as ”Permian”, “Triassic”, “Jurassic”, etc.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:String64">
				<xs:attribute name="authority" use="optional" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Person or collective body responsible for authorizing the information.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="kind" use="required" type="eml:GeochronologicalRank">
					<xs:annotation>
						<xs:documentation>Defines the time spans in geochronology.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="InterpretedGeologyInterval" type="witsml:InterpretedGeologyInterval" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="InterpretedGeologyInterval">
		<xs:annotation>
			<xs:documentation>Represents a depth interval along the wellbore which contains a single interpreted lithology type. It can be used to:

	- carry information about geochronology and lithostratigraphy
	- create a pre-well geological prognosis with chronostratigraphic, lithostratigraphic, and lithology entries. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The measured depth interval which is described by this interpreted geology.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Citation" type="eml:Citation" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>An ISO 19115 EIP-derived set of metadata attached to ensure the traceability of the InterpretedGeologyInterval.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeochronologicalUnit" type="witsml:GeochronologicalUnit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The name of a Geochronology, with the "kind" attribute specifying the geochronological time span.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LithostratigraphicUnit" type="witsml:LithostratigraphicUnit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Specifies the unit of lithostratigraphy.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InterpretedLithology" type="witsml:InterpretedIntervalLithology" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="uid" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Unique identifier for this instance of InterpretedGeologyInterval.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="ShowLevel">
		<xs:annotation>
			<xs:documentation>Specifies another qualifier for the show: blooming or streaming.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="blooming"/>
			<xs:enumeration value="streaming"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShowRating">
		<xs:annotation>
			<xs:documentation>Specifies the quality of the fluid showing at this interval.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="none"/>
			<xs:enumeration value="very poor"/>
			<xs:enumeration value="poor"/>
			<xs:enumeration value="fair"/>
			<xs:enumeration value="good"/>
			<xs:enumeration value="very good"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShowFluid">
		<xs:annotation>
			<xs:documentation>Specifies the type of fluid analyzed in this interval.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="gas"/>
			<xs:enumeration value="oil"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
