witsml/2.0/RemovedFromProfile/WellCMLedger.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>WellCMLedger Schema. The "event ledger" concept is this: each time an activity associated with a well happens, that event is recorded in the ledger. This collection of event history is what makes it possible to support the completion use cases (snapshot in time or the cumulative history of a completion).</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:include schemaLocation="DrillReport.xsd"/>
	<xs:include schemaLocation="DownholeComponent.xsd"/>
	<xs:include schemaLocation="OpsReport.xsd"/>
	<xs:include schemaLocation="Wellbore.xsd"/>
	<xs:element name="WellCMLedger" type="witsml:WellCMLedger" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="WellCMLedger">
		<xs:annotation>
			<xs:documentation>Information regarding details of Jobs &amp; Events</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="ParentEventID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Parent event reference id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimStart" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that activities started.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimEnd" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time that activities were completed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Duration" type="eml:TimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The activity duration (commonly in hours).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MdInterval" type="eml:MdInterval" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measured depth interval for this activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EventOrder" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order number of event.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RigID" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Rig reference id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActivityCode" type="witsml:DrillActivityCode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Activity code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="witsml:EventType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment on type of this event, either referring to a job type or an  activity type e.g. a safety meeting.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsPlan" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True if planned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WorkOrderID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extension event for work order id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BusinessAssociate" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service company or business</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResponsiblePerson" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name or information about person responsible who is implementing the service or job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Contact name or person to get in touch with. Might not necessarily be the person responsible.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Nonproductive" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True if event is not productive.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Trouble" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True if event implies is in-trouble</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PreventiveMaintenance" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True of event is for preventive maintenance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unplanned" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True if there is no planning infomation for this activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Phase" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phase (large activity classification) e.g. Drill Surface Hole.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Comment" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment on this ledger</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of this ledger</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Wellbore" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
					<xs:element name="EventExtension" type="witsml:AbstractEventExtension" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Cost" type="witsml:DayCost" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="EventType" type="witsml:EventType" minOccurs="0" maxOccurs="1"/>
					<xs:element name="DownholeComponentReference" type="witsml:DownholeComponentReference" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Participant" type="witsml:Participant" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventType">
		<xs:annotation>
			<xs:documentation>The type of the referencing event</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:String64">
				<xs:attribute name="Class" use="required" type="witsml:EventClassType">
					<xs:annotation>
						<xs:documentation>The type of the event (job, daily report, etc.)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DownholeComponentReference">
		<xs:annotation>
			<xs:documentation>Reference to a downhole component identifier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringEquipmentReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to string equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationSetReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to perforation set</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BoreholeStringReference" type="witsml:BoreholeStringReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DownholeStringsReference" type="witsml:DownholeStringReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoreholeStringReference">
		<xs:annotation>
			<xs:documentation>Reference to a borehole string identifier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringEquipmentReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to string equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="boreholeStringReferenceId" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Reference to borehole String</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DownholeStringReference">
		<xs:annotation>
			<xs:documentation>Refernce to a downhole string identifier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StringEquipmentReferenceId" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference to string equipment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="downholeStringReferenceId" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Reference to downhole string</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AbstractEventExtension" abstract="true">
		<xs:annotation>
			<xs:documentation>Event extension schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="CementExtension">
		<xs:annotation>
			<xs:documentation>Information on cement job event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="CementJobRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>unique id of cementJob</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CleanFillExtension">
		<xs:annotation>
			<xs:documentation>Information on clean fill event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="FillCleaningMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>method of fill and cleaning</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ToolSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>the size of the tool</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DirectionalSurveyExtension">
		<xs:annotation>
			<xs:documentation>Information on directional survey event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="TrajectoryRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to trajectory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LostCirculationExtension">
		<xs:annotation>
			<xs:documentation>Information on lost circulation event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="VolumeLost" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume lost</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BHPExtension">
		<xs:annotation>
			<xs:documentation>Information on bottom hole pressure during this event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="BHPRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to bottom hole pressure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcidizefracExtension">
		<xs:annotation>
			<xs:documentation>Information on fractionation event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="StimJobID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to a StimJob.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JobExtension">
		<xs:annotation>
			<xs:documentation>Information on the job event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="JobReason" type="eml:String2000" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment on the reason for the job</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="JobStatus" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Status of job</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PrimaryMotivationForJob" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The primary reason for doing this job.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PressureTestExtension">
		<xs:annotation>
			<xs:documentation>Information on pressure test event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="DiaOrificeSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Orifice Size</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimeNextTestDate" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Next Test Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowrateRateBled" type="eml:VolumePerTimeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Rate Bled</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierJob" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>String Being Tested</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsSuccess" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>True if successful</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaxPressureDuration" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Maximum pressure held during test</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CirculatingPosition" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Circulating position</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidBledType" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fluid bled type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrientationMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of orientaton method</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestFluidType" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test fluid type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestSubType" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test sub type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TestType" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnnulusPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Annulus pressure</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellPressureUsed" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Well pressure used</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Str10Reference" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference #</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UidAssembly" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Well (Assembly)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumeBled" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume Bled</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumeLost" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume Lost</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VolumePumped" type="eml:VolumeMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Volume Pumped</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WaitingOnExtension">
		<xs:annotation>
			<xs:documentation>Information on waiting event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="SubCategory" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Sub category</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChargeTypeCode" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Code for charge type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BusinessOrgWaitingOn" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Business organization waiting on</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IsNoChargeToProducer" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Flag indicating whether producer is charged or not</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PerforatingExtension">
		<xs:annotation>
			<xs:documentation>Information on the perforating event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="PerforationSetRefID" type="eml:String64" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The perforationSet reference ID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Perforating" type="witsml:Perforating" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Perforating">
		<xs:annotation>
			<xs:documentation>Information on the perforating job.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StageNumber" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>index number of stage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BottomPackerSet" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Perf-Bottom of packer set depth</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationFluidType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Perforation fluid type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HydrostaticPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>hydrostaticPressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurfacePressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surface pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservoirPressure" type="eml:PressureMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reservoir pressure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidDensity" type="eml:MassPerMassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The density of fluid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FluidLevel" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fluid level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConveyanceMethod" type="witsml:PerfConveyanceMethod" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The conveyance method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShotsPlanned" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of shots planned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShotsDensity" type="eml:ReciprocalLengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of shots per unit length (ft, m)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShotsMisfired" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The number of missed firings from the gun.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orientation" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>orientaton</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrientationMethod" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of orientaton method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerforationCompany" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of company providing the perforation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierManufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The manufacturer of the carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Size of the carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CarrierDescription" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description from carrier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeManufacturer" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The manufacturer of the charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The size of the charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeWeight" type="eml:MassMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The weight of the charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeType" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The type of the charge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefLog" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to the log</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GunCentralized" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>True if centralized, else decentralized.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GunSize" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The size of the perforation gun.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GunDesciption" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description about the perforating gun.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GunLeftInHole" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating whether the gun is left in hole or not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of Perforating</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FluidReportExtension">
		<xs:annotation>
			<xs:documentation>Information on fluid report event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="FluidReportRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to the fluid report</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DownholeExtension">
		<xs:annotation>
			<xs:documentation>Information on downhole related to this event.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractEventExtension">
				<xs:sequence>
					<xs:element name="DownholeComponentRefID" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference to downhole component</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExtensionAny" type="eml:CustomData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MemberObject">
		<xs:annotation>
			<xs:documentation>Defines a member of an objectGroup.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndexType" type="witsml:LogIndexType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For a log object, this specifies the kind of the index curve for the log.
This is only relevant for a systematically growing object.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RangeMin" type="eml:GenericMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum growing-object index value that applies to this group.
The significance of this range is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RangeMax" type="eml:GenericMeasure" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum growing-object index value that applies to this group.
The significance of this range is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RangeDateTimeMin" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The minimum log date-time index value that applies to this group.
The significance of this range is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RangeDateTimeMax" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The maximum log date-time index value that applies to this group.
The significance of this range is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MnemonicList" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A comma delimited list of log curve mnemonics.
Each mnemonic should only occur once in the list.
If not specified then the group applies to all curves in the log.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceDepth" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A measured depth related to this group. 
This does not necessarily represent an actual depth within a growing-object.
The significance of this depth is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceDateTime" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A date and time related to this group. 
This does not necessarily represent an actual index within a growing-object.
The significance of this time is defined by the groupType.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sequence3" type="witsml:ObjectSequence" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ObjectReference" type="eml:DataObjectReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Sequence1" type="witsml:ObjectSequence" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Sequence2" type="witsml:ObjectSequence" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>Unique identifier for this instance of MemberObject</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="LogIndexType">
		<xs:annotation>
			<xs:documentation>These values represent the type of data used as an index value for a log.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="date time">
				<xs:annotation>
					<xs:documentation>Log is indexed on date with time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="elapsed time">
				<xs:annotation>
					<xs:documentation>Log is indexed on time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="length">
				<xs:annotation>
					<xs:documentation>Log is indexed on length (not a depth).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="measured depth">
				<xs:annotation>
					<xs:documentation>Log index is a measured depth index.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="vertical depth">
				<xs:annotation>
					<xs:documentation>Log index is a vertical depth depth index .</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="other">
				<xs:annotation>
					<xs:documentation>Any other index type for a log.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PerfConveyanceMethod">
		<xs:annotation>
			<xs:documentation>Information on how perforation is conveyed: slick line, wireline, tubing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="slick line"/>
			<xs:enumeration value="tubing conveyed"/>
			<xs:enumeration value="wireline"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventClassType">
		<xs:annotation>
			<xs:documentation>Qualifies the type of event: daily report, job, npt, etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="daily cost"/>
			<xs:enumeration value="daily report"/>
			<xs:enumeration value="failure (downhole equipment only)"/>
			<xs:enumeration value="job"/>
			<xs:enumeration value="job plan (phases)"/>
			<xs:enumeration value="mud attributes"/>
			<xs:enumeration value="npt (lost time event)"/>
			<xs:enumeration value="time log (time measure)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Participant">
		<xs:annotation>
			<xs:documentation>Information on WITSML objects used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExtNameValues" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Participant" type="witsml:MemberObject" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
