witsml/2.0/RemovedFromProfile/Well.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.energistics.org/energyml/data/witsmlv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:witsml="http://www.energistics.org/energyml/data/witsmlv2" xmlns:eml="http://www.energistics.org/energyml/data/commonv2" elementFormDefault="qualified" version="2.0">
	<!--														-->
	<!-- Energistics License Agreement
			This file is distributed under the Energistics Product License Agreement at
			http://www.energistics.org/product-license-agreement
			Use of this file constitutes agreement with the Energistics Product License Agreement.
			Copyright (c) 2016 Energistics. All rights reserved.
			Energistics, WITSML, PRODML and RESQML are trademarks or registered trademarks of Energistics.
			-->
	<!--														-->
	<xs:annotation>
		<xs:documentation>Well Schema. Used to capture the general information about a well. This might sometimes be called a “well header”. All information that is the same for all wellbores (sidetracks) is contained in the well object.</xs:documentation>
	</xs:annotation>
	<!--														-->
	<xs:import namespace="http://www.energistics.org/energyml/data/commonv2" schemaLocation="../../../common/v2.1/xsd_schemas/EmlAllObjects.xsd"/>
	<!--														-->
	<xs:include schemaLocation="WitsmlCommon.xsd"/>
	<xs:simpleType name="PrincipalMeridian">
		<xs:annotation>
			<xs:documentation>Specifies values for the principal meridians for the United States Public Land Surveys.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="1st Principal Meridian">
				<xs:annotation>
					<xs:documentation>Indiana, Ohio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2nd Principal Meridian">
				<xs:annotation>
					<xs:documentation>Indiana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3rd Principal Meridian">
				<xs:annotation>
					<xs:documentation>Illinois</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4th Principal Meridian">
				<xs:annotation>
					<xs:documentation>Illinois, Wisconsin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5th Principal Meridian">
				<xs:annotation>
					<xs:documentation>Iowa, Missouri, Arkansas</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6th Principal Meridian">
				<xs:annotation>
					<xs:documentation>Kansas, Nebraska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Black Hills Meridian">
				<xs:annotation>
					<xs:documentation>South Dakota</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Boise Meridian">
				<xs:annotation>
					<xs:documentation>Idaho</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Chickasaw Meridian">
				<xs:annotation>
					<xs:documentation>Mississippi</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Choctaw Meridian">
				<xs:annotation>
					<xs:documentation>Mississippi</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Cimarron Meridian">
				<xs:annotation>
					<xs:documentation>Texas</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Copper River Meridian">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fairbanks Meridian">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Gila and Salt River Meridian">
				<xs:annotation>
					<xs:documentation>Arizona</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Humboldt Meridian">
				<xs:annotation>
					<xs:documentation>California</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Huntsville Meridian">
				<xs:annotation>
					<xs:documentation>Alabama</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Indian Meridian">
				<xs:annotation>
					<xs:documentation>Oklahome</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kateel River Meridian">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Lousiana Meridian">
				<xs:annotation>
					<xs:documentation>Lousiana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Michigan Meridian">
				<xs:annotation>
					<xs:documentation>Michigan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Montana Meridian">
				<xs:annotation>
					<xs:documentation>Montana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Mount Diablo Meridian">
				<xs:annotation>
					<xs:documentation>California</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Navajo Meridian">
				<xs:annotation>
					<xs:documentation>Arizona portion of Navajo nation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="New Mexico Meridian">
				<xs:annotation>
					<xs:documentation>New Mexico</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Saint Helena Meridian">
				<xs:annotation>
					<xs:documentation>Louisiana</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Saint Stephens Meridian">
				<xs:annotation>
					<xs:documentation>Alabama</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Salt Lake Meridian">
				<xs:annotation>
					<xs:documentation>Utah</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="San Bernardo Meridian">
				<xs:annotation>
					<xs:documentation>California</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Seward Meridian">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Tallahassee Meridian">
				<xs:annotation>
					<xs:documentation>Floridia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Uintah Meridian">
				<xs:annotation>
					<xs:documentation>Utah</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Umiat Meridian">
				<xs:annotation>
					<xs:documentation>Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Ute Meridian">
				<xs:annotation>
					<xs:documentation>Colorado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Washington Meridian">
				<xs:annotation>
					<xs:documentation>Mississippi</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Williamette Meridian">
				<xs:annotation>
					<xs:documentation>Washington</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Wind River Meridian">
				<xs:annotation>
					<xs:documentation>Wyoming</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EastOrWest">
		<xs:annotation>
			<xs:documentation>Specifies east or west direction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="east">
				<xs:annotation>
					<xs:documentation>East of something.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="west">
				<xs:annotation>
					<xs:documentation>West of something.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NorthOrSouth">
		<xs:annotation>
			<xs:documentation>Specifies the north or south direction.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="north">
				<xs:annotation>
					<xs:documentation>North of something.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="south">
				<xs:annotation>
					<xs:documentation>South of something.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SectionNumber">
		<xs:annotation>
			<xs:documentation>Sections are numbered "1" through "36." Irregular sections may be designated with a single value after a decimal point. USA Public Land Survey System.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:String64">
			<xs:pattern value="[+]?([1-9]|[1-2][0-9]|3[0-6])\.?[0-9]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicLandSurveySystemQuarterSection">
		<xs:annotation>
			<xs:documentation>Some combination of NE, NW, SW, SE, N2, S2, E2, W2, C, TRxx, LTnn. USA Public Land Survey System.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:String64">
			<xs:pattern value="(NE|NW|SW|SE|N2|S2|E2|W2|C|LT[0-9]{2,2}|TR[a-zA-Z0-9]{1,2}){1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PublicLandSurveySystemQuarterTownship">
		<xs:annotation>
			<xs:documentation>Designates a particular quarter of a township. USA Public Land Survey System.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:String64">
			<xs:pattern value="NE|NW|SW|SE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DistanceNorthSouth">
		<xs:annotation>
			<xs:documentation>The distance to a one-minute boundary on the north or south of a point. USA Public Land Survey System</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthUom">
					<xs:annotation>
						<xs:documentation>The unit of measure of the north-south distance.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="reference" use="required" type="witsml:NorthOrSouth">
					<xs:annotation>
						<xs:documentation>North or south direction.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DistanceEastWest">
		<xs:annotation>
			<xs:documentation>The distance to a one-minute boundary on the east or west of a point. USA Public Land Survey System.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthUom">
					<xs:annotation>
						<xs:documentation>The unit of measure of the east-west distance.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="reference" use="required" type="witsml:EastOrWest">
					<xs:annotation>
						<xs:documentation>East or west direction.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ReferencePoint">
		<xs:annotation>
			<xs:documentation>Reference Point Component Schema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Human-recognizable context for the point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The kind of point. For example, 
'well reference point', 'platform reference point', 'sea surface',
'sea bottom'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuredDepth" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth coordinate of this reference point.
Value is positive when moving toward the bottomhole from the measured depth datum.
Provide a value for this when the reference is "downhole", such as an ocean-bottom template, or when the reference point is also used as a vertical well datum.
The measured depth value can be used to determine if the reference pointand a vertical well datum are at the same point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A textual description of the point.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Elevation" type="witsml:WellElevationCoord" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Location" type="witsml:AbstractWellLocation" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>A unique identifier for an instance of a ReferencePoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GeodeticWellLocation">
		<xs:annotation>
			<xs:documentation>Location of the well by latitude and longitude.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractWellLocation">
				<xs:sequence>
					<xs:element name="Latitude" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The latitude with north being positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Longitude" type="eml:PlaneAngleMeasure" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The longitude with east being positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Crs" type="eml:AbstractGeodeticCrs" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProjectedWellLocation">
		<xs:annotation>
			<xs:documentation>Projected location of the well.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="witsml:AbstractWellLocation">
				<xs:sequence>
					<xs:element name="Coordinate1" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The first coordinate based on a projected coordinate reference system. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Coordinate2" type="xs:double" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The second coordinate based on a projected coordinate reference system. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Crs" type="eml:AbstractProjectedCrs" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Well" type="witsml:Well" substitutionGroup="eml:AbstractDataObject"/>
	<xs:complexType name="Well">
		<xs:annotation>
			<xs:documentation>Used to capture the general information about a well. Sometimes  called a "well header". Contains all information that is the same for all wellbores (sidetracks). </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eml:AbstractObject">
				<xs:sequence>
					<xs:element name="NameLegal" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Legal name of the well.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumLicense" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>License number of the well.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumGovt" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Government assigned well number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimLicense" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time the license  was issued.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Field" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name of the field in which the well is located.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Country" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country in which the well is located.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State or province in which the well is located.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>County in which the well is located.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Region" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Geo-political region in which the well is located. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="District" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Geo-political district name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Block" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Block name in which the  well is located.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeZone" type="eml:TimeZone" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The time zone in which the well is located. It is the deviation in hours and minutes from UTC. This should be the normal time zone at the well and not a seasonally-adjusted value, such as daylight savings time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Operator" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Operator company name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OperatorDiv" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Division of the operator company.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginalOperator" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Original operator of the well. This may be different than the current operator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PcInterest" type="eml:DimensionlessMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Interest for operator. Commonly in percent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumAPI" type="eml:String64" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>American Petroleum Institute well number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatusWell" type="eml:WellStatus" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>POSC well status.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PurposeWell" type="witsml:WellPurpose" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>POSC well purpose.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FluidWell" type="witsml:WellFluid" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>POSC well fluid. The type of fluid being produced from or injected 
into a well facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DirectionWell" type="witsml:WellDirection" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>POSC well direction. The direction of the flow of the fluids in a well facility (generally, injected or produced, or some combination).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimSpud" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time at which the well was spudded.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DTimPa" type="eml:TimeStamp" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date and time at which the well was plugged and abandoned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WaterDepth" type="eml:LengthMeasure" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Depth of water (not land rigs).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GeographicLocationWGS84" type="witsml:GeodeticWellLocation" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The latitude (in coordinate1) and longitude (in coordinate2) of the well location in the WGS84 coordinate system (equivalent to EPSG:4326). Units are in decimal degrees. Coordinate 1 and 2 refer to the ProjectedWellLocation. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WellLocation" type="witsml:AbstractWellLocation" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WellPublicLandSurveySystemLocation" type="witsml:PublicLandSurveySystem" minOccurs="0" maxOccurs="1"/>
					<xs:element name="ReferencePoint" type="witsml:ReferencePoint" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WellheadElevation" type="witsml:WellElevationCoord" minOccurs="0" maxOccurs="1"/>
					<xs:element name="WellDatum" type="witsml:WellDatum" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="GroundElevation" type="witsml:WellElevationCoord" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="WellPurpose">
		<xs:annotation>
			<xs:documentation>Specifies values that represent the classification of a well or wellbore by the purpose for which it was initially drilled.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="appraisal">
				<xs:annotation>
					<xs:documentation>A well drilled into a formation shown to be potentially productive of oil or gas by an earlier well for the purpose of obtaining more information about the reservoir. Also known as a delineation well.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="appraisal -- confirmation appraisal">
				<xs:annotation>
					<xs:documentation>An appraisal well, generally drilled in a location interpreted to be in the reservoir, whose purpose is to confirm the interpretation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="appraisal -- exploratory appraisal">
				<xs:annotation>
					<xs:documentation>An appraisal well, generally drilled in an area unknown to be part of the reservoir, whose purpose is to determine the extent of the reservoir.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled in an unproved area to test for a new field, a new pay, a deeper reservoir, or a shallower reservoir. Also known as a wildcat.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration -- deeper-pool wildcat">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled to search for additional pools of hydrocarbon near known pools of hydrocarbon but at deeper stratigraphic levels than known pools.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration -- new-field wildcat">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled to search for an occurrence of hydrocarbon at a relatively considerable distance outside the limits of known pools of hydrocarbon, as those limits were understood at the time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration -- new-pool wildcat">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled to search for additional pools of hydrocarbon near and at the same stratigraphic level as known pools.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration -- outpost wildcat">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled to search for additional pools of hydrocarbon or to extend the limits of a known pool by searching in the same interval at some distance from a known pool.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="exploration -- shallower-pool wildcat">
				<xs:annotation>
					<xs:documentation>An exploratory well drilled to search for additional pools of hydrocarbon near but at a shallower stratigraphic levels than known pools.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="development">
				<xs:annotation>
					<xs:documentation>A well drilled in a zone in an area already proved productive.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="development -- infill development">
				<xs:annotation>
					<xs:documentation>A development well drilled to fill in between established wells, usually as part of a drilling program to reduce the spacing between wells to increase production.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="development -- injector">
				<xs:annotation>
					<xs:documentation>A development well drilled with the intent of injecting fluids into the reservoir for the purpose of improving reservoir production.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="development -- producer">
				<xs:annotation>
					<xs:documentation>A development well drilled with the intent of producing fluids.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fluid storage">
				<xs:annotation>
					<xs:documentation>A well drilled for storing fluids - generally either hydrocarbons or waste disposal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="fluid storage -- gas storage">
				<xs:annotation>
					<xs:documentation>A well drilled with the intent of injecting gas into the reservoir rock as a storage facility.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc">
				<xs:annotation>
					<xs:documentation>A well drilled with the intent of providing a general service as opposed to producing or injecting fluids. Examples of such services are geologic tests, pressure relief (for blowouts), and monitoring and observation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- borehole re-acquisition">
				<xs:annotation>
					<xs:documentation>A service well drilled to intersect another well below the surface for the purpose of extending the life of a well whose surface borehole has been lost or damaged.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- observation">
				<xs:annotation>
					<xs:documentation>A service well drilled for the purpose of monitoring fluids in a reservoir, or observing some other subsurface phenomena. Also called a monitor well.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- relief">
				<xs:annotation>
					<xs:documentation>A service well drilled with the specific purpose to provide communication at some point below the surface to another well that is out of control.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- research">
				<xs:annotation>
					<xs:documentation>A well drilled with the purpose of obtaining information on the stratigraphy, on drilling practices, for logging tests, or other such purpose. It is not expected to find economic reserves of hydrocarbons.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- research -- drill test">
				<xs:annotation>
					<xs:documentation>A research well drilled to test the suitablity of a particular type of equipment or drilling practice.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- research -- strat test">
				<xs:annotation>
					<xs:documentation>A research well drilled for the purpose of gathering geologic information on the stratigraphy of an area. A C.O.S.T. well would be included in this category.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="general srvc -- waste disposal">
				<xs:annotation>
					<xs:documentation>A service well drilled for the purpose of injection of sewage, industrial waste, or other waste fluids into the subsurface for disposal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mineral">
				<xs:annotation>
					<xs:documentation>A non-oil and gas well drilled for the purpose of locating and/or extracting a mineral from the subsurface, usually through the injection and/or extraction of mineral-bearing fluids.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WellFluid">
		<xs:annotation>
			<xs:documentation>Specifies values for the type of fluid being produced from or injected into a well facility.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="air">
				<xs:annotation>
					<xs:documentation>This is generally an injected fluid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="condensate">
				<xs:annotation>
					<xs:documentation>Liquid hydrocarbons produced with natural gas that are separated from the gas by cooling and various other means. Condensate generally has an API gravity of 50 degrees to 120 degrees and is water white, straw, or bluish in color. It is the liquid recovery from a well classified as a gas well. It is generally dissolved in the gaseous state under reservoir conditions but separates as a liquid either in passing up the hole or at the surface. These hydrocarbons, from associated and non-associated gas well gas, normally are recovered from lease separators or field facilities by mechanical separation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dry">
				<xs:annotation>
					<xs:documentation>The well facility is classified as a dry well. 
It has not been, nor will it be used to produce or inject any fluids.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas">
				<xs:annotation>
					<xs:documentation>The well is classified as a gas well, producing or injecting a hydrocarbon gas. The gas is generally methane but may have a mixture of other gases also.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="gas-water">
				<xs:annotation>
					<xs:documentation>The well facility is classified as producing both gas and water. USe this classification when the produced stream flow is a mixture of gas and water. When a facility produces gas and water in separate streams, classify it twice, as gas and as water.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="non HC gas">
				<xs:annotation>
					<xs:documentation>The well produces or injects non-hydrocarbon gases. Typical other gases would be helium and carbon dioxide.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="non HC gas -- CO2">
				<xs:annotation>
					<xs:documentation>Carbon dioxide gas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil">
				<xs:annotation>
					<xs:documentation>The liquid hydrocarbon generally referred to as crude oil.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil-gas">
				<xs:annotation>
					<xs:documentation>The well facility is classified as producing both gas and oil. Use this classification when the produced stream flow is a mixture of oil and gas. When a facility produces oil and gas in separate streams, classify it twice, as oil and as gas.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oil-water">
				<xs:annotation>
					<xs:documentation>The well facility is classified as producing both oil and water. Use this classification when the produced stream flow is a mixture of oil and water. When a facility produces oil and water in separate streams, classify it twice, as oil and as water.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="steam">
				<xs:annotation>
					<xs:documentation>The gaseous state of water. This is generally an 
injected fluid, but it is possible that some hydrothermal wells 
produce steam.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water">
				<xs:annotation>
					<xs:documentation>The well is classified as a water well without 
distinguishing between brine or fresh water.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water -- brine">
				<xs:annotation>
					<xs:documentation>The well facility is classified as producing 
or injecting salt water.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="water -- fresh water">
				<xs:annotation>
					<xs:documentation>The well facility is classified as producing 
fresh water that is capable of use for drinking or crop irrigation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WellDirection">
		<xs:annotation>
			<xs:documentation>Specifies values for the direction of flow of the fluids in a well facility (generally, injected or produced, or some combination).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="huff-n-puff">
				<xs:annotation>
					<xs:documentation>The well facility alternately injects (usually 
a steam or hot fluid) and produces.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="injector">
				<xs:annotation>
					<xs:documentation>The well facility is injecting fluids into the 
subsurface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="producer">
				<xs:annotation>
					<xs:documentation>The well facility is producing fluids from the 
subsurface.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="uncertain">
				<xs:annotation>
					<xs:documentation>The flow direction of the fluids is variable, 
but not on a regular basis as is the case with the huff-n-puff 
flow.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="WellElevationCoord">
		<xs:annotation>
			<xs:documentation>A vertical (gravity-based) elevation coordinate within the context of a well. Positive moving upward from the reference datum.  All coordinates with the same datum (and same UOM) can be considered to be in the same coordinate reference system (CRS) and are thus directly comparable.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="eml:AbstractMeasure">
				<xs:attribute name="uom" use="required" type="eml:LengthUom">
					<xs:annotation>
						<xs:documentation>The unit of measure by which the datum is expressed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="datum" use="required" type="eml:String64">
					<xs:annotation>
						<xs:documentation>Defines the vertical datums associated with elevation, vertical depth, and measured depth coordinates.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="WellDatum">
		<xs:annotation>
			<xs:documentation>Defines the vertical datums associated with elevation, vertical depth 
and measured depth coordinates within the context of a well.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The human-understandable contextual name of the reference datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Code" type="eml:WellboreDatumReference" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code value that represents the type of reference datum. This may represent a point on a device (e.g., kelly bushing) or it may represent a vertical reference datum (e.g., mean sea level).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Kind" type="eml:String64" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Because various activities may use different points as measurement datums, it is useful to characterize the point based on its usage. A well reference datum may have more than one such characterization. For example, it may be the datum used by the driller and logger for measuring their depths. Example usage values would be 'permanent','driller', 'logger' 'WRP' (well reference point) and 'SRP' (site reference point).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MeasuredDepth" type="witsml:MeasuredDepthCoord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The measured depth coordinate of this reference datum as measured from another datum. The measured depth datum should either be the same as the elevation datum or it should be relatable to the elevation datum through other datums. Positive moving toward the bottomhole from the measured depth datum. This should be given when a local reference is "downhole", such as a kickoff point or ocean bottom template, and the borehole may not be vertical. If a depth is given, then an elevation should also be given.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A contextual description of the well reference datum.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Wellbore" type="witsml:RefWellbore" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rig" type="witsml:RefWellboreRig" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Elevation" type="witsml:WellElevationCoord" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HorizontalLocation" type="witsml:AbstractWellLocation" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Crs" type="eml:AbstractVerticalCrs" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Points to one of the optional for a geodetic vertical CRS, Allows the datum to be positioned in real-world space.l</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>A unique identifier for an instance of a well datum.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ElevCodeEnum">
		<xs:annotation>
			<xs:documentation>Specifies values for the type of local or permanent reference datum for vertical gravity-based (i.e., elevation and vertical depth) and measured depth coordinates within the context of a well. This list includes local points (e.g., kelly bushing) used as a datum and vertical reference datums (e.g., mean sea level).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="eml:TypeEnum">
			<xs:enumeration value="CF">
				<xs:annotation>
					<xs:documentation>Casing flange: A flange affixed to the top of the casing string used to attach production equipment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CV">
				<xs:annotation>
					<xs:documentation>Crown valve.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DF">
				<xs:annotation>
					<xs:documentation>Derrick floor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GL">
				<xs:annotation>
					<xs:documentation>Ground level.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KB">
				<xs:annotation>
					<xs:documentation>Kelly bushing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RB">
				<xs:annotation>
					<xs:documentation>Rotary bushing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RT">
				<xs:annotation>
					<xs:documentation>Rotary table.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SF">
				<xs:annotation>
					<xs:documentation>Sea floor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LAT">
				<xs:annotation>
					<xs:documentation>Lowest astronomical tide (LAT). The lowest tide level over the duration of the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SL">
				<xs:annotation>
					<xs:documentation>Mean sea level: a tidal datum. The arithmetic mean of hourly heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MHHW">
				<xs:annotation>
					<xs:documentation>Mean higher high water: a tidal datum. The average of the higher high water height of each tidal day observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MHW">
				<xs:annotation>
					<xs:documentation>Mean high water: a tidal datum. The average of all the high water heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MLLW">
				<xs:annotation>
					<xs:documentation>Mean lower low water: a tidal datum. The average of the lower low water height of each tidal day observed over the National Tidal Datum Epoch (19 years ).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MLW">
				<xs:annotation>
					<xs:documentation>Mean low water: a tidal datum. The average of all the low water heights observed over the National Tidal Datum Epoch (19 years).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MTL">
				<xs:annotation>
					<xs:documentation>Mean tide level: a tidal datum. The arithmetic mean of mean high water and mean low water. Same as the half-tide level.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KO">
				<xs:annotation>
					<xs:documentation>Kickoff point. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="unknown">
				<xs:annotation>
					<xs:documentation>The value is not known. Avoid using this value. All reasonable attempts should be made to determine the appropriate value. Use of this value may result in rejection in some situations.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RefWellbore">
		<xs:annotation>
			<xs:documentation>Data that represents a foreign key to a wellbore. The wellbore may be defined within the context of another well.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WellboreReference" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer the wellbore with which there is a relationship.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellParent" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer to the well that contains the wellboreReference.
This is not needed unless the referenced wellbore is outside the 
context of a common parent well.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RefWellboreRig">
		<xs:annotation>
			<xs:documentation>A reference to a rig within a wellbore. The wellbore may be defined within the context of another well. This value represents a foreign key from one node to another.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RigReference" type="eml:String64" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer to the rig with which there is a relationship.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellboreParent" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer to the wellbore that contains the rigReference.
This is not needed unless the referenced rig is outside the 
context of a common parent wellbore.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WellParent" type="eml:String64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A pointer to the well that contains the wellboreParent.
This is not needed unless the referenced wellbore is outside the 
context of a common parent well.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractWellLocation" abstract="true">
		<xs:annotation>
			<xs:documentation>Location Schema. This is a location that is expressed in terms of 2D coordinates. So that the location can be understood, the coordinate reference system (CRS) must be known. The survey location is given by a pair of tagged values. The pairs may be: (1) latitude/longitude, (2) easting/northing, (3) westing/southing, (4) projectedX/projectedY, or (5) localX/localY. The appropriate pair must be chosen for the data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Original" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating (if that Is this pair of values the original data given for the location? Values are "true" or "1". Or, if the pair of values was calculated from an original pair of values, set to "false" (or "0") or leave blank. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="eml:String2000" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A comment, generally given to help the reader interpret the coordinates if the CRS and the chosen pair do not make them clear.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNameValue" type="eml:ExtensionNameValue" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Extensions to the schema based on a name-value construct.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uid" use="required" type="eml:String64">
			<xs:annotation>
				<xs:documentation>A unique identifier for a well location.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PublicLandSurveySystem">
		<xs:annotation>
			<xs:documentation>Land survey system that describes the well by range, township, section, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PrincipalMeridian" type="witsml:PrincipalMeridian" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Principal meridian for this location.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Range" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Range number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RangeDir" type="witsml:EastOrWest" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Range direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Township" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Township number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TownshipDir" type="witsml:NorthOrSouth" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Township direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Section" type="witsml:SectionNumber" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Section number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuarterSection" type="witsml:PublicLandSurveySystemQuarterSection" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The location of the well within the section, with the primary component listed first. Spot location will be made from a combinationof the following codes: NE, NW, SW, SE, N2, S2, E2, W2, C (center quarter), LTxx (where xx represents a two digit lot designation), TRzz (where zz represents a one or two character trac designation). 
Free format allows for entries such as NESW (southwest quarter of northeast quarter), E2NESE (southeast quarter of northeast quarter of east half), CNE (northeast quarter of center quarter), etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuarterTownship" type="witsml:PublicLandSurveySystemQuarterTownship" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quarter township.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FootageNS" type="witsml:DistanceNorthSouth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FootageEW" type="witsml:DistanceEastWest" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
