extended/ExtObservation.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">

    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../core/gml3.2Profile_diggs.xsd" />
    
    <element name="ColorObservation" type="diggs:ColorObservationType">
        <annotation>
            <documentation>A color observation describes the color of materials encountered. All
                color observations within a color observation system must not overlap, although
                multiple colors can be described within a single zone.</documentation>
        </annotation>
    </element>
    <complexType name="ColorObservationPropertyType">
        <annotation>
            <documentation>Property type for color observation references. Used to wrap color observation objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:ColorObservation">
                <annotation>
                    <documentation>Color observations must not overlap</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="ColorObservationType">
        <annotation>
            <documentation>Extended type based on AbstractObservationType. Adds elements for color observation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="color" type="diggs:ColorPropertyType">
                        <annotation>
                            <documentation>The color property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation" />
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ColorSystem" substitutionGroup="diggs:AbstractObservationSystem" type="diggs:ColorSystemType">
        <annotation>
            <documentation>An object that contains a system of color observations.</documentation>
        </annotation>
    </element>
    <complexType name="ColorSystemType">
        <annotation>
            <documentation>Extended type based on AbstractObservationSystemType. Adds elements for color system type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element minOccurs="0" name="colorType" type="gml:CodeType">
                        <annotation>
                            <documentation>A text string defining the kind of "Color Description"
                                system described *("eg. Munsell Color", "wet color".
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="colorObservation" type="diggs:ColorObservationPropertyType">
                        <annotation>
                            <documentation>The color observation property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ConstituentObservation" type="diggs:ConstituentObservationType">
        <annotation>
            <documentation>Constituent observations describe details of earth materials encountered
                within a sampling feature. Constituent observations that are restricted to a
                specific lithologic zone are encoded as constituent properties in the Lithology
                zones themselves. </documentation>
        </annotation>
    </element>
    <complexType name="ConstituentObservationPropertyType">
        <annotation>
            <documentation>Property type for constituent observation references. Used to wrap constituent observation objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:ConstituentObservation" />
        </sequence>
    </complexType>
    <complexType name="ConstituentObservationType">
        <annotation>
            <documentation>Extended type based on AbstractObservationType. Adds elements for constituent observation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="constituent" type="diggs:ConstituentPropertyType">
                        <annotation>
                            <documentation>The constituent property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation" />
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ConstituentSystem" substitutionGroup="diggs:AbstractObservationSystem" type="diggs:ConstituentSystemType">
        <annotation>
            <documentation>An object that contains a system of constituent observations.
                Observations within a constituent system need not be continuous and may overlap, but
                zones with the same named constituents cannot overlap.</documentation>
        </annotation>
    </element>
    <complexType name="ConstituentSystemType">
        <annotation>
            <documentation>Extended type based on AbstractObservationSystemType. Adds elements for constituent system type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="constituentType" type="gml:CodeType">
                        <annotation>
                            <documentation>A text string defining the kind of "Constituent
                                Description" system described (eg. :"Fossils" or "Diagenesis".
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="constituentObservation" type="diggs:ConstituentObservationPropertyType">
                        <annotation>
                            <documentation>The constituent observation property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="OrientationObservation" type="diggs:OrientationObservationType">
        <annotation>
            <documentation>Orientation observations describe the geometry of vectors or planar
                surfaces encountered at a sampling feature, such as bedding, joints, cross-beds,
                etc. These observations are designed to characterize regions with generalized
                geometries. Individual measurements of planar geometries of boundaries or faults are
                recorded in Discontinuity or Lithology observations. </documentation>
        </annotation>
    </element>
    <simpleType name="OrientationObsPropertyEnumType">
        <annotation>
            <documentation>Union type for orientation obs property enum type. Accepts values from .</documentation>
        </annotation>
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="bedding" >
                        <annotation>
                            <documentation>bedding - bedding value.</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="cross-bedding" >
                        <annotation>
                            <documentation>cross-bedding - cross bedding value.</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="faults" >
                        <annotation>
                            <documentation>faults - faults value.</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="joints" >
                        <annotation>
                            <documentation>joints - joints value.</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="fractures" >
                        <annotation>
                            <documentation>fractures - fractures value.</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="string">
                    <pattern value="Other: .{2,}" />
                </restriction>
            </simpleType>
        </union>
    </simpleType>
    <complexType name="OrientationObservationType">
        <annotation>
            <documentation>Extended type based on AbstractObservationType. Adds elements for orientation observation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element name="orientation" type="diggs:OrientationPropertyType">
                        <annotation>
                            <documentation>The orientation property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation" />
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="OrientationSystem" substitutionGroup="diggs:AbstractObservationSystem" type="diggs:OrientationSystemType">
        <annotation>
            <documentation>An object that contains a system of Orientation observations.
                Observations within an orientation zone system must not overlap.</documentation>
        </annotation>
    </element>
    <complexType name="OrientationSystemType">
        <annotation>
            <documentation>Extended type based on AbstractObservationSystemType. Adds elements for orientation system type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="orientationFeatureType" type="diggs:OrientationObsPropertyEnumType">
                        <annotation>
                            <documentation>Selection from an enumerated list defining the type of
                                planar feature whose orientations are being described in this system
                                (eg. faults, bedding)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="orientationFeatureObservation" type="diggs:OrientationObservationPropertyType">
                        <annotation>
                            <documentation>The orientation feature observation property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OrientationPropertyType">
        <annotation>
            <documentation>Property type for orientation references. Used to wrap orientation objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:Orientation" />
        </sequence>
    </complexType>
    <element name="Orientation" type="diggs:OrientationType">
        <annotation>
            <documentation>An object containing properties of of bedding, fracture, or zone orientation.</documentation>
        </annotation>
    </element>
    <complexType name="OrientationObservationPropertyType">
        <annotation>
            <documentation>Property type for orientation observation references. Used to wrap orientation observation objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:OrientationObservation" />
        </sequence>
    </complexType>
    <complexType name="OrientationType">
        <annotation>
            <documentation>Extended type based on AbstractObjectType. Adds elements for orientation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="strikeOrBearing" type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>The true bearing of the feature (if linear) or strike of
                                the plane, from north (range 0-360), where 0 is north and 90 east,
                                etc.</documentation>
                        </annotation>
                    </element>
                    <element name="dipOrPlunge" type="diggs:DipMeasureType">
                        <annotation>
                            <documentation>The inclination of the feature from horizontal (eg. 0 is
                                vertical, 90 degrees is vertical DOWN)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="OtherObservation" type="diggs:OtherObservationType">
        <annotation>
            <documentation>A structure for defining a zone system of unknown type. Observations
                consist of name-value pairs, where these names should reference code lists. As this
                is an "open" description, no Schematron controls are appropriate here unless defined
                for a specific use case.</documentation>
        </annotation>
    </element>
    <complexType name="OtherObservationPropertyType">
        <annotation>
            <documentation>Property type for other observation references. Used to wrap other observation objects or references in properties.</documentation>
        </annotation>
        <sequence maxOccurs="1">
            <element maxOccurs="1" ref="diggs:OtherObservation" />
        </sequence>
    </complexType>
    <element name="OtherObservationSystem" substitutionGroup="diggs:AbstractObservationSystem" type="diggs:OtherObservationSystemType">
        <annotation>
            <documentation>An object containing a system of OtherObservation
                objects.</documentation>
        </annotation>
    </element>
    <complexType name="OtherObservationType">
        <annotation>
            <documentation>Extended type based on AbstractObservationType. Adds elements for other observation type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationType">
                <sequence>
                    <element maxOccurs="unbounded" name="property" type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>The property property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" ref="diggs:placedObservation" />
                    <element minOccurs="0" ref="diggs:baseBoundary">
                        <annotation>
                            <documentation>Description of the boundary at the base of the observed
                                zone or interval as defined in the observation's location
                                property</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OtherObservationSystemType">
        <annotation>
            <documentation>Extended type based on AbstractObservationSystemType. Adds elements for other observation system type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObservationSystemType">
                <sequence>
                    <element name="otherSystemType" type="gml:CodeType">
                        <annotation>
                            <documentation>The kind of "Other Observation" system described.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="otherObservation" type="diggs:OtherObservationPropertyType">
                        <annotation>
                            <documentation>The other observation property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>