extended/ExtProcedures.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema     xmlns="http://www.w3.org/2001/XMLSchema" xmlns:diggs="http://diggsml.org/schemas/3"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:maxVersion="1.1" vc:minVersion="1.0"
    elementFormDefault="qualified" targetNamespace="http://diggsml.org/schemas/3" version="3.0.0">


    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../core/gml3.2Profile_diggs.xsd" />

    <element name="DynamicProbeTest" type="diggs:DynamicProbeTestType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An object describing a driven penetration test procedure. The Driven
                Penetration Test includes all methods that involve driving a rod (with or without a
                sampler) by impact hammer. The most common test of this type inclue the Standard
                Penetration Test and the Becker Hammer Test.</documentation>
        </annotation>
    </element>
    <complexType name="DynamicProbeTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for dynamic probe test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="penetrationTestType" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of penetration test performed.</documentation>
                        </annotation>
                    </element>
                    <element name="hammerType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>The type of hammer used for the sampling and penetration,
                                including the mechanism used to lift and drop the hammer assembly.
                                Additional details about the sampler (e.g. cathead diameter, number
                                of turns, etc) can be mapped to the equipment
                                object.</documentation>
                        </annotation>
                    </element>
                    <element name="hammerMass" type="diggs:MassMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The hammer mass used to drive the
                                sampler.</documentation>
                        </annotation>
                    </element>
                    <element name="hammerDropHeight" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The hammer drop height.</documentation>
                        </annotation>
                    </element>
                    <element name="hammerEfficiency" type="diggs:DimensionlessMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>A description of the energy efficiency of the hammer.
                                Also known as energy ratio.</documentation>
                        </annotation>
                    </element>
                    <element name="samplerLength" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The length of the sampler barrel.</documentation>
                        </annotation>
                    </element>
                    <element name="samplerInternalDiameter" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The inside diameter of the sampler.</documentation>
                        </annotation>
                    </element>
                    <element name="samplerLinerDescription" type="string" minOccurs="0">
                        <annotation>
                            <documentation>A description of the liner, if used.</documentation>
                        </annotation>
                    </element>
                    <element name="samplerRetainerDescription" type="string" minOccurs="0">
                        <annotation>
                            <documentation>A description of the basket retainer, if
                                used.</documentation>
                        </annotation>
                    </element>
                    <element name="rodType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>The type of sampling rods used for
                                penetration.</documentation>
                        </annotation>
                    </element>
                    <element name="rodExternalDiameter" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The external diameter of the sampling
                                rods.</documentation>
                        </annotation>
                    </element>
                    <element name="rodSectionLength" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The drive rod weight per unit length.</documentation>
                        </annotation>
                    </element>
                    <element name="rodWeight" type="diggs:ForcePerLengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The drive rod weight per unit length.</documentation>
                        </annotation>
                    </element>
                    <element name="depthCasing" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Casing depth at time of test</documentation>
                        </annotation>
                    </element>
                    <element name="selfWeightPenetration" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The distance the sampler penetrates the soil under its
                                own weight before applying hammer blows</documentation>
                        </annotation>
                    </element>
                    <element name="waterDepth" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Depth to water at time of test.</documentation>
                        </annotation>
                    </element>
                    <element name="totalPenetration" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Total distance the sampler penetrated the soil following
                                completion of the procedure</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="FlatPlateDilatometerTest" type="diggs:FlatPlateDilatometerTestType" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An object describing a flat plate dilatometer test procedure. This test
                consists of forcing the dilatometer blade into the soil, with the membrane facing
                the horizontal direction, to a desired test penetration, measuring the thrust to
                accomplish this penetration and then using gas pressure to expand a circular steel
                membrane located on one side of the blade. The operator measures and records the
                pressure required to produce expansion of the membrane into the soil at two preset
                deflections. The operator then deflates the membrane, possibly recording an optional
                third measurement, advances the blade the desired penetration increment and repeats
                the test. </documentation>
        </annotation>
    </element>
    <complexType name="FlatPlateDilatometerTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for flat plate dilatometer test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="bladeThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The blade thickness property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bladeWidth" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The blade width property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="deltaA" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The gauge gas pressure inside the membrane (corrected for
                                Zm) required to overcome the stiffness of the membrane and move it
                                inward to a center-expansion of 0.05 mm (a negative gauge or suction
                                pressure, but recorded as positive) with only ambient atmospheric
                                pressure acting externally. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="deltaB" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The gauge gas pressure inside the membrane (corrected for
                                Zm) required to overcome the stiffness of the membrane and move it
                                outward to a center-expansion of 1.10 mm against only the ambient
                                atmospheric pressure. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="membraneType" type="gml:CodeType">
                        <annotation>
                            <documentation>The type of thin flat dilatometer circular steel membrane
                                used for testing. Typical types include soft, standard and
                                hard.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="frictionReducerDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The diameter of the friction reducer.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="frictionReducerLocation" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The distance of the friction reducer relative to the
                                center of the dilatometer membrane.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="rodDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The rod diameter property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="rodLinearWeight" type="diggs:ForcePerLengthMeasureType">
                        <annotation>
                            <documentation>The rod linear weight property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="zm" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The gauge pressure deviation from zero when vented to
                                atmospheric pressure (an offset used to correct pressure readings to
                                the true gauge pressure). </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituCBRTest" type="diggs:InsituCBRTestType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An object describing an in-situ California bearing ratio test procedure.
                The California bearing ratio (CBR) is a penetration test for evaluation of the
                mechanical strength of road subgrades and basecourses. The test is performed by
                measuring the pressure required to penetrate a soil sample with a plunger of
                standard area. The measured pressure is then divided by the pressure required to
                achieve an equal penetration on a standard crushed rock material.</documentation>
        </annotation>
    </element>
    <complexType name="InsituCBRTestType">
        <annotation>
            <documentation>Base type for InsituCBRTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="penetrationIncrement" type="diggs:CBRIncrementPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The penetration increment property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pistonDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Diameter of the penetration piston</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="reactionLoadDescription" type="string">
                        <annotation>
                            <documentation>Description of the type of weight used for the reaction
                                load</documentation>
                        </annotation>
                    </element>
                    <element name="seatingForce" type="diggs:ForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Force of reaction system.</documentation>
                        </annotation>
                    </element>
                    <element name="surchargePressure" type="diggs:PressureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Load imposed by surchage from test
                                equipment.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="InSituPenetrometerTest" substitutionGroup="diggs:AbstractInsituTestProcedure" type="diggs:InSituPenetrometerTestType">
        <annotation>
            <documentation>This test provides an estimate of undrained shear
                strength.</documentation>
        </annotation>
    </element>
    <complexType name="InSituPenetrometerTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for in situ penetrometer test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="reading" type="diggs:ReadingMeasureType">
                        <annotation>
                            <documentation>The reading property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituPermeabilityTest" type="diggs:InsituPermeabilityTestType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>This test determines the insitu permeability of a soil based on constant
                head, falling head, and packer test methods.</documentation>
        </annotation>
    </element>
    <complexType name="InsituPermeabilityTestType">
        <annotation>
            <documentation>Base type for InsituPermeabilityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="permeabilityTestType" type="gml:CodeType" default="false" minOccurs="0">
                        <annotation>
                            <documentation>Type of permeability test.</documentation>
                        </annotation>
                    </element>
                    <element name="depthTestZoneTop" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Depth to the top of the test zone</documentation>
                        </annotation>
                    </element>
                    <element name="depthTestZoneBottom" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Depth to the bottom of the test zone</documentation>
                        </annotation>
                    </element>
                    <element name="stage" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Stage number of multistage packer test.</documentation>
                        </annotation>
                    </element>
                    <element name="depthWaterPreTest" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Depth to water in borehole or piezometer immediately
                                prior to test.</documentation>
                        </annotation>
                    </element>
                    <element name="diameterTestZone" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Diameter of test zone.</documentation>
                        </annotation>
                    </element>
                    <element name="diameterCasing" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Diameter of standpipe or casing.</documentation>
                        </annotation>
                    </element>
                    <element name="averageFlow" type="diggs:VolumePerTimeMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Average flow during packer test stage.</documentation>
                        </annotation>
                    </element>
                    <element name="depthStandingWater" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Depth to assumed standing water level.</documentation>
                        </annotation>
                    </element>
                    <element name="appliedHead" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Applied total head of water during test stage at centre
                                of packer test zone.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituResistivityTest" type="diggs:InsituResistivityTestType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>This test determines the insitu resistivity of a soil.</documentation>
        </annotation>
    </element>
    <complexType name="InsituResistivityTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for insitu resistivity test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="testType" type="gml:CodeType">
                        <annotation>
                            <documentation>The type of insitu test conducted. Intended to come from
                                a controlled list of terms. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="electrodeSpacing" type="gml:CodeType">
                        <annotation>
                            <documentation>Average electrode spacing</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="InsituVaneTest" abstract="false" type="diggs:InsituVaneTestType" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An object describing an in-situ vahe shear test procedure. This test
                gives the in place shearing resistance of soft, saturated clays.</documentation>
        </annotation>
    </element>
    <complexType name="InsituVaneTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for insitu vane test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="intactVaneTest" type="diggs:VaneTestPropertyType">
                        <annotation>
                            <documentation>Vane shear test parameters in intact soil</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="remoldedVaneTest" type="diggs:VaneTestPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Vane shear test parameters in remolded
                                soil</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="torqueRodFriction" type="diggs:ForceMeasureType">
                        <annotation>
                            <documentation>Measure of the friction of the torque rod; measured as
                                friction above the slip coupling or as blank rod friction where rod
                                is in direct contact with the soil.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneBladeThickness" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The vane blade thickness property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneDepthBelow" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Vane depth beneath housing or bottom of hole. This is a
                                vector length measure describing the difference in the hole or
                                housing bottom and the test location.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The vane diameter property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneHeight" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The vane height property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneShaftDiameter" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The vane shaft diameter property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneSystemType" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of vane system, eg. slip coupling, no slip coupling,
                                vane shoe push/drill, etc. Intended to come from a controlled list
                                of terms.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneTaperAngleBottom" type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>The vane taper angle bottom property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneTaperAngleTop" type="diggs:PlaneAngleMeasureType">
                        <annotation>
                            <documentation>The vane taper angle top property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="vaneType" type="diggs:VaneEnumTypeExt">
                        <annotation>
                            <documentation>The type of vane, from the following controlled list:
                                double tapered, single tapered, rectangular. Can also use other:xxx
                                to define a new type.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="VaneEnumTypeExt">
        <annotation>
            <documentation>Union type for vane enum type ext. Accepts values from OtherNameType or VaneEnumType.</documentation>
        </annotation>
        <union memberTypes="diggs:OtherNameType diggs:VaneEnumType" />
    </simpleType>
    <simpleType name="VaneEnumType">
        <annotation>
            <documentation>Enumeration defining vane enum type values. Contains 3 allowed value(s).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="double tapered" >
                <annotation>
                    <documentation>double tapered - double tapered value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="rectangular" >
                <annotation>
                    <documentation>rectangular - rectangular value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="single tapered" >
                <annotation>
                    <documentation>single tapered - single tapered value.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <element name="LugeonTest" type="diggs:LugeonTestType" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An in-situ testing method widely used to estimate the average hydraulic
                conductivity of rock formations. The test is also referred to as a "water pressure
                test" or a "packer test". </documentation>
        </annotation>
    </element>
    <complexType mixed="false" name="LugeonTestType">
        <annotation>
            <documentation>Extended type based on AbstractInsituTestProcedureType. Adds elements for lugeon test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="depthToGroundWater" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Distance from ground surface to the top of the saturated
                                zone (water table)</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureMeasurementConfiguration" type="diggs:pressureMeasurementConfigurationEnumType">
                        <annotation>
                            <documentation>Describes how pressure is measured during the test; from
                                a controlled list. Allowed values are: - pressure gauge - borehole
                                transducer</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pressureGaugeHeight" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>Height above ground surface to the pressure gauge
                                location, if pressure gauge is used instead of a borehole
                                transducer</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pMax" type="diggs:PressureMeasureType">
                        <annotation>
                            <documentation>The maximum test pressure, defined so that it does not
                                exceed the in-situ minimum stress, thus avoiding hydraulic
                                fracturing.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="lugeonStep" type="diggs:LugeonStepPropertyType">
                        <annotation>
                            <documentation>Contains properties for each step of the lugeeon test run
                                at various injection pressures. There are typically five steps in a
                                lugeon test. </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LugeonStepPropertyType">
        <annotation>
            <documentation>Property type for lugeon step references. Used to wrap lugeon step objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:LugeonStep" />
        </sequence>
    </complexType>
    <element name="LugeonStep" type="diggs:LugeonStepType">
        <annotation>
            <documentation>An object that carries properties for a Lugeon test step</documentation>
        </annotation>
    </element>
    <complexType name="LugeonStepType">
        <annotation>
            <documentation>Extended type based on AbstractObjectType. Adds elements for lugeon step type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element minOccurs="1" name="lugeonStepNumber" type="positiveInteger">
                        <annotation>
                            <documentation>The number of this step, with 1 representing the first
                                step, 2 the second step, etc.</documentation>
                        </annotation>
                    </element>
                    <element name="pressure" type="diggs:PressureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The target pressure for the step</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="avgFlowRate" type="diggs:VolumePerTimeMeasureType">
                        <annotation>
                            <documentation>The average flow rate for the step, derived from the flow
                                measurements recorded in the step time series. </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coeffPermeability" type="diggs:LengthPerTimeMeasureType">
                        <annotation>
                            <documentation>The coefficient of permeability (also known as hydraulic
                                conductivity) computed from the step measurements. This value is
                                averaged with other step results and is reported as one of the
                                primary test results </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="lugeonValue" type="diggs:VolumePerTimePerLengthMeasureType">
                        <annotation>
                            <documentation>The Lugeon value, a measure of hydraulic conductivity in
                                rock, as computed from the step measurements. This value is averaged
                                with other step results and is reported as one of the primary test
                                results </documentation>
                        </annotation>
                    </element>
                    <element name="lugeonStepTimeSeries" type="diggs:LugeonStepTimeSeriesPropertyType" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>Property that contains the recorded flow for the test
                                step.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalElapsedTime" type="diggs:TimeMeasureType">
                        <annotation>
                            <documentation>The total elapsed time for the step; this is typically 10
                                minutes, but could be different if steady-state flow
                                occurs</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="totalVolumeWater" type="diggs:VolumeMeasureType">
                        <annotation>
                            <documentation>The total volume of water pumped into the borehole during
                                this step</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="LugeonStepTimeSeriesPropertyType">
        <annotation>
            <documentation>Property type holding a grout stage time series</documentation>
        </annotation>
        <sequence>
            <element maxOccurs="1" minOccurs="1" ref="diggs:TemporalResult" />
        </sequence>
    </complexType>
    <simpleType name="pressureMeasurementConfigurationEnumType">
        <annotation>
            <documentation>Enumeration defining pressure measurement configuration enum type values. Contains 2 allowed value(s).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="pressure gauge" >
                <annotation>
                    <documentation>pressure gauge - pressure gauge value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="borehole transducer" >
                <annotation>
                    <documentation>borehole transducer - borehole transducer value.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <element name="PressuremeterTest" type="diggs:PressuremeterTestProcedureType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>The Pressuremeter measures both the strength and stress-strain properties
                of all soil types including soft rock. The pressuremeter is used primarily to
                calculate bearing capacity of shallow and deep foundations; settlement of
                foundations; deformation of laterally loaded and sheet piles and resistance of
                anchors</documentation>
        </annotation>
    </element>
    <complexType name="PressuremeterTestProcedureType">
        <annotation>
            <documentation>Base type for PressuremeterTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element name="pressuremeterType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>The type of pressuremeter.</documentation>
                        </annotation>
                    </element>
                    <element name="pressuremeterDiameter" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>The uninflated diameter of the
                                pressuremeter.</documentation>
                        </annotation>
                    </element>
                    <element name="trial" type="diggs:PressuremeterTestTrialPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The trial property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PressuremeterTestTrial" type="diggs:PressuremeterTestTrialType" abstract="false">
        <annotation>
            <documentation>Results for each trial in PressuremeterTest</documentation>
        </annotation>
    </element>
    <complexType name="PressuremeterTestTrialPropertyType">
        <annotation>
            <documentation>Property for PressuremeterTestTrials, required parent element that holds
                the multiple trials.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:PressuremeterTestTrial" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>
    <complexType name="PressuremeterTestTrialType">
        <annotation>
            <documentation>Base type for PressuremeterTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="trialNo" type="positiveInteger" minOccurs="0">
                        <annotation>
                            <documentation>Pressuremeter loading or reloading cycle.</documentation>
                        </annotation>
                    </element>
                    <element name="shearModulus" type="diggs:PressureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Unload or reload shear modulus for the
                                cycle.</documentation>
                        </annotation>
                    </element>
                    <element name="meanStrain" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Mean strain.</documentation>
                        </annotation>
                    </element>
                    <element name="strainRange" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Strain range or amplitude.</documentation>
                        </annotation>
                    </element>
                    <element name="meanPressure" type="diggs:PressureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Mean pressure.</documentation>
                        </annotation>
                    </element>
                    <element name="pressureRange" type="diggs:PressureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Pressure range or amplitude.</documentation>
                        </annotation>
                    </element>
                    <element name="linearity" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Linearity exponent (from Bolton and Whittle,
                                1999)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PumpingTest" type="diggs:PumpingTestType" abstract="false" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An aquifer test (or a pumping test) is conducted to evaluate an aquifer
                by "stimulating" the aquifer through constant pumping, and observing the aquifer's
                "response" (drawdown) in observation wells.</documentation>
        </annotation>
    </element>
    <complexType name="PumpingTestType">
        <annotation>
            <documentation>Base type for PumpingTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="averagePumpingRate" type="diggs:VolumePerTimeMeasureType">
                        <annotation>
                            <documentation>The average pumping rate property.</documentation>
                        </annotation>
                    </element>
                    <element name="pumpingTestTimeSeries" type="diggs:PumpingTestTimeSeriesPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The pumping test time series property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PumpingTestTimeSeriesPropertyType">
        <annotation>
            <documentation>Property type for pumping test time series references. Used to wrap pumping test time series objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:TemporalResult" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>
    <element name="WirelineLog" type="diggs:WirelineLogType" substitutionGroup="diggs:AbstractInsituTestProcedure">
        <annotation>
            <documentation>An object describing a wireline test procedure. This is a generic test
                structure to capture all forms of geophysical test data collected by wireline
                methods.</documentation>
        </annotation>
    </element>
    <complexType name="WirelineLogType">
        <annotation>
            <documentation>Base type for WirelineLog</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractInsituTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="geophysicalFieldSurveyRef" type="diggs:FeatureReferenceType">
                        <annotation>
                            <documentation>A reference to the gml:ID, reported in the xlink:href
                                attribute, of the measurement that contains the results obtained
                                during data acquisition and that serves as input into the processing
                                steps that produce the results of this associated
                                measurement</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="runNumber" type="string">
                        <annotation>
                            <documentation>Log run number. This should normally be a number; however
                                some legacy systems encode other information in this
                                value.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bhaRunNumber" type="positiveInteger">
                        <annotation>
                            <documentation>The bottom hole assembly run number associated with this
                                log.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="logParameter" type="diggs:ParameterPropertyType">
                        <annotation>
                            <documentation>Log parameters that apply to the overall log.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateImpactValueTest" type="diggs:AggregateImpactValueTestProcedureType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Impact Value represents the resistance to impact of
                aggregates. Aggregates passing 12.5 mm sieve and retained on 10 mm sieve is filled
                in a cylindrical steel cup of internal dia 10.2 mm and depth 5 cm which is attached
                to a metal base of impact testing machine. The material is filled in 3 layers where
                each layer is tamped for 25 number of blows. Metal hammer of weight 13.5 to 14 Kg is
                arranged to drop with a free fall of 38.0 cm by vertical guides and the test
                specimen is subjected to 15 number of blows. The crushed aggregate is allowed to
                pass through the 2.36 sieve. And the impact value is measured as percentage of
                aggregates passing to the total weight of the sample.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateImpactValueTestProcedureType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="particleDensity" type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Particle density of size fraction between 8 mm and
                                12.5mm</documentation>
                        </annotation>
                    </element>
                    <element name="impactValue1" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Aggregate impact value from first test.</documentation>
                        </annotation>
                    </element>
                    <element name="impactValue2" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Aggregate impact value from second test.</documentation>
                        </annotation>
                    </element>
                    <element name="numberOfBlows" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>The number of blows property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ChalkCrushingValueTest" type="diggs:ChalkCrushingValueTestProcedureType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Chalk Crushing Value is determined by using the chalk impact crushing
                test, which measures the rate at which a sample of chalk lumps crushes under impacts
                from a freefalling rammer. The chalk crushing value can be used, together with the
                saturation moisture content of the intact chalk lumps, to classify chalk in relation
                to its behaviour as a freshly placed fill material. The test procedure is described
                for a single sample of chalk lumps, but normal procedure should be to calculate the
                mean value derived from six such tests on representative samples.</documentation>
        </annotation>
    </element>
    <complexType name="ChalkCrushingValueTestProcedureType">
        <annotation>
            <documentation>Base type for ChalkCrushingValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="waterContent" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Water (moisture) content of specimen
                                tested</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pctGreater10mm" type="diggs:DimensionlessMeasureType">
                        <annotation>
                            <documentation>Fraction of original sample that has particles larger
                                than 10mm diameter; expressed as a dimensionless value (eg.
                                %.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="FrostSusceptibilityTest" type="diggs:FrostSusceptibilityTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Test establishes the degree of frost-susceptibility of unbound sub-base
                and base materials for pavements.</documentation>
        </annotation>
    </element>
    <complexType name="FrostSusceptibilityTestType">
        <annotation>
            <documentation>Base type for FrostSusceptibilityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="frostHeaveTrial" type="diggs:FrostHeaveTrialPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Frost heave, second specimen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="FrostHeaveTrial" type="diggs:FrostHeaveTrialType">
        <annotation>
            <documentation>The frost heave trial property.</documentation>
        </annotation>
    </element>
    <complexType name="FrostHeaveTrialType">
        <annotation>
            <documentation>Extended type based on AbstractComponentObjectBaseType. Adds elements for frost heave trial type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractComponentObjectBaseType">
                <sequence>
                    <element minOccurs="0" ref="diggs:specimenRef" />
                    <element name="frostHeave" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Frost heave, this specimen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FrostHeaveTrialPropertyType">
        <annotation>
            <documentation>Property type for frost heave trial references. Used to wrap frost heave trial objects or references in properties.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:FrostHeaveTrial" />
        </sequence>
    </complexType>
    <element name="LabPenetrometerTest" type="diggs:PocketPenetrometerTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>This test provides an estimate of undrained shear
                strength.</documentation>
        </annotation>
    </element>
    <element name="LabVelocityTest" type="diggs:LabVelocityTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Shear wave velocity can be measured in the laboratory using resonant
                column tests, bender elements, ultrasonics, torsional shear tests, and modified
                triaxial tests. </documentation>
        </annotation>
    </element>
    <complexType name="LabVelocityTestType">
        <annotation>
            <documentation>Base type for LabVelocityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Type of test used to produce velocity
                                measures.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LinearShrinkageTest" type="diggs:LinearShrinkageTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Linear shrinkage is the decrease in length of a soil sample when
                oven-dried, starting with a moisture content of the sample at the liquid
                limit.</documentation>
        </annotation>
    </element>
    <complexType name="LinearShrinkageTestType">
        <annotation>
            <documentation>Base type for LinearShrinkageTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="pct424" type="diggs:ForcePerForceMeasureType">
                        <annotation>
                            <documentation>Weight percent of soil tested that passes 0.425 mm screen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="LosAngelesAbrasionTest" type="diggs:LosAngelesAbrasionTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Los Angeles Abrasion test is used to indicate aggregate toughness and
                abrasion characteristics. The test subjects a coarse aggregate sample to abrasion,
                impact, and grinding in a rotating steel drum containing a specified number of steel
                spheres. After being subjected to the rotating drum, the weight of aggregate that is
                retained on a specified sieve is subtracted from the original weight to obtain a
                percentage of the total aggregate weight that has broken down and passed through.
                Therefore, an L.A. abrasion loss value of 40 indicates that 40% of the original
                sample passed through.</documentation>
        </annotation>
    </element>
    <complexType name="LosAngelesAbrasionTestType">
        <annotation>
            <documentation>Base type for AggregateLosAngelesAbrasionTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="chargeDescription" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Description of ball load or charge
                                grading.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MCVTest" type="diggs:MCVTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Moisture Condition Value (MCV) is determined from a moisture
                condition test, a physical test indicating how much compactive effort is needed to
                compact a sample of soil at a particular moisture content. Compactive effort is
                provided by dropping a captive weight vertically a known distance on to a sample of
                soil in a cylindrical mould, and measuring compaction. By counting blows to give the
                required compaction it will be possible to establish a MCV for a soil at a
                particular moisture content.</documentation>
        </annotation>
    </element>
    <complexType name="MCVTestType">
        <annotation>
            <documentation>Base type for MCVTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="typeStabilizer" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of stabilizer used.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="amtStabilizer" type="diggs:VolumeMeasureType">
                        <annotation>
                            <documentation>Amount of stabilizer added.</documentation>
                        </annotation>
                    </element>
                    <element name="trial" type="diggs:MCVTestTrialPropertyType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The trial property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MCVTestTrial" type="diggs:MCVTestTrialType" abstract="false">
        <annotation>
            <documentation>Results for each trial in MCVTest</documentation>
        </annotation>
    </element>
    <complexType name="MCVTestTrialPropertyType">
        <annotation>
            <documentation>Property for MCVTestTrials, required parent element that holds the
                multiple trials.</documentation>
        </annotation>
        <sequence>
            <element ref="diggs:MCVTestTrial" minOccurs="1" maxOccurs="1" />
        </sequence>
    </complexType>
    <complexType name="MCVTestTrialType">
        <annotation>
            <documentation>Base type for MCVTestTrials</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractObjectType">
                <sequence>
                    <element name="trialNo" type="positiveInteger" minOccurs="0">
                        <annotation>
                            <documentation>The count of the test cycle</documentation>
                        </annotation>
                    </element>
                    <element name="waterContent" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Moisture content.</documentation>
                        </annotation>
                    </element>
                    <element name="interpretationMethod" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Method of interpretation of the test
                                curve.</documentation>
                        </annotation>
                    </element>
                    <element name="bulkDensity" type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Bulk density measured after test.</documentation>
                        </annotation>
                    </element>
                    <element name="mcv" type="double" minOccurs="0">
                        <annotation>
                            <documentation>Measured MCV</documentation>
                        </annotation>
                    </element>
                    <element name="difference" type="diggs:LengthMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Difference between initial (n) and final (3n) blows in
                                rapid assessment test.</documentation>
                        </annotation>
                    </element>
                    <element name="strongerWeaker" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Stronger or weaker than pre-calibrated
                                standard.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MaterialGradationTest" type="diggs:MaterialGradationTestType" abstract="false" substitutionGroup="diggs:AbstractMaterialTestProcedure">
        <annotation>
            <documentation>An object describing the properties of a laboratory particle size test
                procedure performed on the coarse fraction (greater than silt size) of a material
                sample - primarily used for recording gradation of a grout mix
                aggregate.</documentation>
        </annotation>
    </element>
    <complexType name="MaterialGradationTestType">
        <annotation>
            <documentation>Extended type based on AbstractMaterialTestlProcedureType. Adds elements for material gradation test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractMaterialTestlProcedureType">
                <sequence>
                    <element minOccurs="0" name="sieveAnalysis" type="diggs:SieveAnalysisPropertyType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>The sieve analysis property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="MicroDevalTest" type="diggs:MicroDevalTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>A type of aggregate abrasion test that uses a Micro-Deval apparatus to
                rotate the sample aggregate at 100 rpm for a specific amount of
                time.</documentation>
        </annotation>
    </element>
    <complexType name="MicroDevalTestType">
        <annotation>
            <documentation>Extended type based on AbstractLaboratoryTestProcedureType. Adds elements for micro deval test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Type of test; in this case wet or dry </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coeffSpecimenOne" type="double">
                        <annotation>
                            <documentation>The coeff specimen one property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="coeffSpecimenTwo" type="double">
                        <annotation>
                            <documentation>The coeff specimen two property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="dateControlPolishedStone" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The date control polished stone property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="PointLoadTest" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure" type="diggs:PointLoadTestType">
        <annotation>
            <documentation>The Point Load Test produces the Point Load Test Index (Is50), which can
                be correlated with the uniaxial compressive strength (UCS) of rock.</documentation>
        </annotation>
    </element>
    <complexType name="PointLoadTestType">
        <annotation>
            <documentation>Base type for PointLoadTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="type" type="diggs:pointLoadTestEnumExtType" minOccurs="0">
                        <annotation>
                            <documentation>The type property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="pointLoadTestEnumType">
        <annotation>
            <documentation>Enumeration defining point load test enum type values. Contains 2 allowed value(s).</documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="axial" >
                <annotation>
                    <documentation>axial - axial value.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="diametral" >
                <annotation>
                    <documentation>diametral - diametral value.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="pointLoadTestEnumExtType">
        <annotation>
            <documentation>Union type for point load test enum ext type. Accepts values from OtherNameType or pointLoadTestEnumType.</documentation>
        </annotation>
        <union memberTypes="diggs:OtherNameType diggs:pointLoadTestEnumType" />
    </simpleType>
    <element name="RelativeDensityTest" type="diggs:RelativeDensityTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The relative density of a soil is the ratio, expressed as a percentage,
                of the difference between the maximum index void ratio and the field void ratio of a
                cohesionless, free-draining soil; to the difference between its maximum and minimum
                index void ratios.</documentation>
        </annotation>
    </element>
    <complexType name="RelativeDensityTestType">
        <annotation>
            <documentation>Base type for RelativeDensityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="maxDryDensity" type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Maximum dry density.</documentation>
                        </annotation>
                    </element>
                    <element name="minDryDensity" type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Minimum dry density.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wtPct2" type="diggs:ForcePerForceMeasureType">
                        <annotation>
                            <documentation>Weight percentage of sample retained on 2 mm
                                sieve</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wtPct6.3" type="diggs:ForcePerForceMeasureType">
                        <annotation>
                            <documentation>Weight percentage of sample retained on 6.3 mm
                                sieve</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="wtPct37.5" type="diggs:ForcePerForceMeasureType">
                        <annotation>
                            <documentation>Weight percentage of sample retained on 37.5 mm
                                sieve</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="RockPorosityDensityTest" type="diggs:RockPorosityDensityTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>This test determines the porosity and density of rock.</documentation>
        </annotation>
    </element>
    <complexType name="RockPorosityDensityTestType">
        <annotation>
            <documentation>Base type for RockPorosityDensityTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="testType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Type of test.</documentation>
                        </annotation>
                    </element>
                    <element name="waterContent" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Moisture content of specimen.</documentation>
                        </annotation>
                    </element>
                    <element name="dryingTemperature" type="diggs:ThermodynamicTemperatureMeasureType" minOccurs="0">
                        <annotation>
                            <documentation> Drying temperature used for water content determination.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="initialSaturation" type="diggs:ForcePerForceMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Initial degree of saturation.</documentation>
                        </annotation>
                    </element>
                    <element name="initiaParticleDensity" type="diggs:DensityOrUnitWeightMeasureType" minOccurs="0">
                        <annotation>
                            <documentation>Initial apparent particle density.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="SchmidtReboundHardnessTest" type="diggs:SchmidtReboundHardnessTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Schmidt Hardness Test utilizes a hammer mass launched against an
                impact plunger. The amount of hammer mass rebound depends on the hardness of the
                test piece. This rebound amount is then shown on a scale of 10 to
                100.</documentation>
        </annotation>
    </element>
    <complexType name="SchmidtReboundHardnessTestType">
        <annotation>
            <documentation>Base type for SchmidtReboundHardnessTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="hammerOrientation" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Orientation of the hammer axis in the test from
                                horizontal (positive numbers downwards and negative numbers
                                upward)</documentation>
                        </annotation>
                    </element>
                    <element name="clampingMethod" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Method of clamping specimen.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="ShoreScleroscopeHardnessTest" type="diggs:ShoreScleroscopeHardnessTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Scleroscope test consists of dropping a diamond tipped hammer, which
                falls inside a glass tube under the force of its own weight from a fixed height,
                onto the test specimen. The height of the rebound travel of the hammer is measured
                on a graduated scale. The scale of the rebound is arbitrarily chosen and consists of
                Shore units, divided into 100 parts, which represent the average rebound from pure
                hardened high-carbon steel. The scale is continued higher than 100 to include metals
                having greater hardness.</documentation>
        </annotation>
    </element>
    <complexType name="ShoreScleroscopeHardnessTestType">
        <annotation>
            <documentation>Extended type based on AbstractLaboratoryTestProcedureType. Adds elements for shore scleroscope hardness test type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="hammerDropHeight" type="diggs:LengthMeasureType">
                        <annotation>
                            <documentation>The hammer drop height property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="SuctionTest" type="diggs:SuctionTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Soil suction is a measure of the free energy of the pore-water in a soil.
                Soil suction in practical terms is a measure of the affinity of soil to retain water
                and can provide information on soil parameters that are influenced by the soil
                water; for example, volume change, deformation, and strength characteristics of the
                soil.</documentation>
        </annotation>
    </element>
    <complexType name="SuctionTestType">
        <annotation>
            <documentation>Base type for SuctionTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence />
            </extension>
        </complexContent>
    </complexType>
    <element name="TensileStrengthTest" substitutionGroup="diggs:AbstractLaboratoryTestProcedure" type="diggs:TensileStrengthType">
        <annotation>
            <documentation>The tensile strength test property.</documentation>
        </annotation>
    </element>
    <complexType name="TensileStrengthType">
        <annotation>
            <documentation>Extended type based on AbstractLaboratoryTestProcedureType. Adds elements for tensile strength type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element minOccurs="0" name="type" type="gml:CodeType">
                        <annotation>
                            <documentation>Type of tensile stress test being conducted (eg. Brazil
                                test). Intended to come from a controlled list of terms.
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="testDuration" type="diggs:TimeMeasureType">
                        <annotation>
                            <documentation>The test duration property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="stressRate" type="diggs:PressurePerTimeMeasureType">
                        <annotation>
                            <documentation>The stress rate property.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="modeOfFailure" type="gml:CodeType">
                        <annotation>
                            <documentation>The mode of failure property.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateAbrasionValueTest" type="diggs:AggregateAbrasionValueTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Abrasion Value is a measure of the resistance of aggregate
                to surface wear by abrasion. In this test, two specimens are pressed against the
                surface of a steel disc rotating in a horizontal plane, with a force of 0.365
                newtons per sq. centimetre. Sand, fed by hoppers, is used as an abrasive. After 500
                disc revolutions the amount of material abraded is measured by calculation of the
                weight loss of the aggregate. The percentage loss in mass of chippings as known as
                the Aggregate Abrasion Value (AAV), and ranges from about 1 for hard flints to
                over 16 for aggregates normally considered too soft for use in road
                surfacings.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateAbrasionValueTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence />
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateCrushingValueTest" type="diggs:AggregateCrushingValueTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Crushing Value provides a relative measure of the
                resistance of an aggregate to crushing under a gradually applied compressive load,
                and is defined as the ratio of the weight of fines passing the specified sieve to
                the total weight of the sample expressed as a percentage.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateCrushingValueTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>
    <element name="AggregateElongationIndexTest" type="diggs:LaboratoryTestProcedureType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Elongation Index of an aggregate is defined as the percentage by
                weight of particles whose greatest dimension (length) is 1.8 times their mean
                dimension. This test is applicable to aggregates larger than 6.3 mm.</documentation>
        </annotation>
    </element>
    <element name="AggregateFlakinessIndexTest" type="diggs:LaboratoryTestProcedureType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Flakiness Index is defined as the percentage by weight of aggregate
                particles whose least dimension is less than 0.6 times their mean
                size.</documentation>
        </annotation>
    </element>
    <element name="AggregatePolishedStoneValueTest" type="diggs:AggregatePolishedStoneValueTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Polished Stone Value is a measure of the resistance of an aggregate
                to polishing. The value is established by subjecting the aggregate to a standard
                polishing process, and then testing the aggregate with the Portable Skid Resistance
                Tester.</documentation>
        </annotation>
    </element>
    <complexType name="AggregatePolishedStoneValueTestType">
        <annotation>
            <documentation>Base type for AggregatePolishedStoneValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence />
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateWaterAbsorptionTest" type="diggs:AggregateWaterAbsorptionTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Water Absorption test gives an idea of strength of aggregate.
                Aggregates having more water absorption are more porous in nature and are generally
                considered unsuitable unless they are found to be acceptable based on strength,
                impact, and hardness tests.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateWaterAbsorptionTestType">
        <annotation>
            <documentation>Concrete type extending LaboratoryTestProcedureType. Provides implementation for aggregate water absorption test type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:LaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>
    <element name="AggregateTenPercentFinesTest" type="diggs:AggregateTenPercentFinesTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>Test produces a Ten Percent Fines Value (TPFV) for aggregate
                testing.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateTenPercentFinesTestType">
        <annotation>
            <documentation>Base type for TenPercentFinesTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence>
                    <element name="value1" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>First TPFV measurement</documentation>
                        </annotation>
                    </element>
                    <element name="value2" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Second TPFV measurement.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <element name="AggregateSoundnessTest" type="diggs:AggregateSoundnessTestType" abstract="false" substitutionGroup="diggs:AbstractLaboratoryTestProcedure">
        <annotation>
            <documentation>The Aggregate Soundness test is intended to study the resistance of
                aggregates to weathering action, by conducting accelerated weathering test cycles.
                The Porous aggregates subjected to freezing and thawing are likely to disintegrate
                prematurely. To ascertain the durability of such aggregates, they are subjected to
                cycles of alternate wetting in a saturated solution of either sodium sulphate or
                magnesium sulphate for 16 - 18 hours and then dried in oven at to a constant weight.
                After five cycles, the loss in weight of aggregates is determined by sieving out all
                undersized particles and weighing.</documentation>
        </annotation>
    </element>
    <complexType name="AggregateSoundnessTestType">
        <annotation>
            <documentation>Base type for AggregateImpactValueTest</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:LaboratoryTestProcedureType"> </extension>
        </complexContent>
    </complexType>
    <element abstract="false" name="EnvironmentalScreeningTest" substitutionGroup="diggs:AbstractLaboratoryTestProcedure" type="diggs:EnvironmentalScreeningTestType">
        <annotation>
            <documentation>An object to be used for describing metadata properties of any type of
                field environmental screening tests, such as a photo ionization or flame ionization
                tests for gas screening or XRF testing for metals. No specific properties are
                identified, use otherTestProperty to populate metadata</documentation>
        </annotation>
    </element>
    <complexType name="EnvironmentalScreeningTestType">
        <annotation>
            <documentation>Concrete type extending AbstractLaboratoryTestProcedureType. Provides implementation for environmental screening test type.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractLaboratoryTestProcedureType">
                <sequence />
            </extension>
        </complexContent>
    </complexType>
    <element name="FluidSpecimen" type="diggs:FluidSpecimenType" substitutionGroup="diggs:AbstractSpecimen">
        <annotation>
            <documentation>A specialization of a specimen that describes the physical conditions of
                a fluid sample or samples subjected to testing.</documentation>
        </annotation>
    </element>
    <complexType name="FluidSpecimenType">
        <annotation>
            <documentation>Extended type based on AbstractSpecimenType. Adds elements for fluid specimen type definition.</documentation>
        </annotation>
        <complexContent>
            <extension base="diggs:AbstractSpecimenType">
                <sequence>
                    <element minOccurs="0" name="dilutionFactor" type="double">
                        <annotation>
                            <documentation>For fluid samples that must be diluted before testing,
                                this property is defined as a unitless ratio of the total specimen volume to the
                                solute (orignal sample) volume</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="leachatePreparationDateTime" type="gml:TimePositionType">
                        <annotation>
                            <documentation>The time when a leachate was prepared</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="leachatePreparationMethod" type="diggs:SpecificationPropertyType">
                        <annotation>
                            <documentation>This property contains or points to a Specification
                                object that defines the method of leachate
                                preparation.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>