schemas/Geotechnical.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" 
	xmlns:diggs="http://schemas.diggsml.com/2.0.a"
	xmlns:diggs_geo="http://schemas.diggsml.com/2.0.a/geotechnical"
	xmlns:witsml="http://www.witsml.org/schemas/131"
	xmlns:diggs_env="http://schemas.diggsml.com/2.0.a/environmental"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:diggs_mon="http://schemas.diggsml.com/2.0.a/monitoring"
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	targetNamespace="http://schemas.diggsml.com/2.0.a/geotechnical" 
	elementFormDefault="qualified"
	version="2.0.a">
	
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/XML/2008/06/xlink.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<import namespace="http://www.witsml.org/schemas/131" schemaLocation="http://diggsml.org/2.0a/schemas/witsml/1.3.1.1/typ_dataTypes.xsd"/>
	<import namespace="http://schemas.diggsml.com/2.0.a" schemaLocation="http://diggsml.org/2.0a/schemas/Kernel.xsd"/>
	<import namespace="http://schemas.diggsml.com/2.0.a/environmental"
		schemaLocation="http://diggsml.org/2.0a/schemas/Environmental.xsd"/>
	<element name="AggregateAbrasionValueTest" type="diggs_geo:AggregateAbrasionValueTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Aggregate Abrasion Value is a measure of the resistance of aggregate
				to surface wear by abrasion. In this test, two specimens are pressed against the
				surface of a steel disc rotating in a horizontal plane, with a force of 0.365
				newtons per sq. centimetre. Sand, fed by hoppers, is used as an abrasive. After 500
				disc revolutions the amount of material abraded is measured by calculation of the
				weight loss of the aggregate. The percentage loss in mass of chippings as known as
				the ‘Aggregate Abrasion Value’ (AAV), and ranges from about 1 for hard flints to
				over 16 for aggregates normally considered too soft for use in road
				surfacings.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateAbrasionValueTestType">
		<annotation>
			<documentation>Base type for AggregateImpactValueTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateCrushingValueTest" type="diggs_geo:AggregateCrushingValueTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Aggregate Crushing Value provides a relative measure of the
				resistance of an aggregate to crushing under a gradually applied compressive load,
				and is defined as the ratio of the weight of fines passing the specified sieve to
				the total weight of the sample expressed as a percentage.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateCrushingValueTestType">
		<annotation>
			<documentation>Base type for AggregateImpactValueTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateElongationIndexTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Elongation Index of an aggregate is defined as the percentage by
				weight of particles whose greatest dimension (length) is 1.8 times their mean
				dimension. This test is applicable to aggregates larger than 6.3 mm.</documentation>
		</annotation>
	</element>
	<element name="AggregateFlakinessIndexTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Flakiness Index is defined as the percentage by weight of aggregate
				particles whose least dimension is less than 0.6 times their mean
				size.</documentation>
		</annotation>
	</element>
	<element name="AggregateImpactValueTest" type="diggs_geo:AggregateImpactValueTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Aggregate Impact Value represents the resistance to impact of
				aggregates. Aggregates passing 12.5 mm sieve and retained on 10 mm sieve is filled
				in a cylindrical steel cup of internal dia 10.2 mm and depth 5 cm which is attached
				to a metal base of impact testing machine. The material is filled in 3 layers where
				each layer is tamped for 25 number of blows. Metal hammer of weight 13.5 to 14 Kg is
				arranged to drop with a free fall of 38.0 cm by vertical guides and the test
				specimen is subjected to 15 number of blows. The crushed aggregate is allowed to
				pass through the 2.36 sieve. And the impact value is measured as percentage of
				aggregates passing to the total weight of the sample.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateImpactValueTestType">
		<annotation>
			<documentation>Base type for AggregateImpactValueTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="particleDensity" type="diggs:DensityMeasureType" minOccurs="0">
						<annotation>
							<documentation>Particle density of size fraction between 8 mm and
								12.5mm</documentation>
						</annotation>
					</element>
					<element name="impactValue1" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Aggregate impact value from first test.</documentation>
						</annotation>
					</element>
					<element name="impactValue2" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Aggregate impact value from second test.</documentation>
						</annotation>
					</element>
					<element name="numberOfBlows" type="integer" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateLosAngelesAbrasionTest"
		type="diggs_geo:AggregateLosAngelesAbrasionTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Los Angeles Abrasion test is used to indicate aggregate toughness and
				abrasion characteristics. The test subjects a coarse aggregate sample to abrasion,
				impact, and grinding in a rotating steel drum containing a specified number of steel
				spheres. After being subjected to the rotating drum, the weight of aggregate that is
				retained on a specified sieve is subtracted from the original weight to obtain a
				percentage of the total aggregate weight that has broken down and passed through.
				Therefore, an L.A. abrasion loss value of 40 indicates that 40% of the original
				sample passed through.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateLosAngelesAbrasionTestType">
		<annotation>
			<documentation>Base type for AggregateLosAngelesAbrasionTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="chargeDescription" type="diggs:DiggsStringType" minOccurs="0">
						<annotation>
							<documentation>Description of ball load or charge
								grading.</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregatePolishedStoneValueTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Polished Stone Value is a measure of the resistance of an aggregate
				to polishing. The value is established by subjecting the aggregate to a standard
				polishing process, and then testing the aggregate with the Portable Skid Resistance
				Tester.</documentation>
		</annotation>
	</element>
	<element name="AggregateSlakeDurabilityTest" type="diggs_geo:AggregateSlakeDurabilityTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Slake Durability Index predicts the long-term durability of the rock
				specimens, to establish weathering and degradation characteristics of each rock
				type, and to assess the impact of water on the rock degradation.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateSlakeDurabilityTestType">
		<annotation>
			<documentation>Base type for AggregateSlakeDurabilityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="slakingFluidDescription" type="diggs:DiggsStringType"
						minOccurs="0">
						<annotation>
							<documentation>Nature and temperature of slaking fluid.</documentation>
						</annotation>
					</element>
					<element name="fragmentsRetainedDescription" type="diggs:DiggsStringType"
						minOccurs="0">
						<annotation>
							<documentation>Appearance of fragments retained in the
								drum.</documentation>
						</annotation>
					</element>
					<element name="fragmentsPassingDescription" type="diggs:DiggsStringType"
						minOccurs="0">
						<annotation>
							<documentation>Appearance of fragments passing through the
								drum.</documentation>
						</annotation>
					</element>
					<element name="index1" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>First cycle slake durability index </documentation>
						</annotation>
					</element>
					<element name="index2" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Second cycle slake durability index.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateSoundnessTest" type="diggs_geo:AggregateSoundnessTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Aggregate Soundness test is intended to study the resistance of
				aggregates to weathering action, by conducting accelerated weathering test cycles.
				The Porous aggregates subjected to freezing and thawing are likely to disintegrate
				prematurely. To ascertain the durability of such aggregates, they are subjected to
				cycles of alternate wetting in a saturated solution of either sodium sulphate or
				magnesium sulphate for 16 - 18 hours and then dried in oven at to a constant weight.
				After five cycles, the loss in weight of aggregates is determined by sieving out all
				undersized particles and weighing.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateSoundnessTestType">
		<annotation>
			<documentation>Base type for AggregateImpactValueTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateTenPercentFinesTest" type="diggs_geo:AggregateTenPercentFinesTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Test produces a Ten Percent Fines Value (TFV) for aggregate
				testing.</documentation>
		</annotation>
	</element>
	<complexType name="AggregateTenPercentFinesTestType">
		<annotation>
			<documentation>Base type for TenPercentFinesTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="value1" type="integer" minOccurs="0">
						<annotation>
							<documentation>First TFV measurement</documentation>
						</annotation>
					</element>
					<element name="value2" type="integer" minOccurs="0">
						<annotation>
							<documentation>Second TFV measurement.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="AggregateWaterAbsorptionTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Water Absorption test gives an idea of strength of aggregate.
				Aggregates having more water absorption are more porous in nature and are generally
				considered unsuitable unless they are found to be acceptable based on strength,
				impact, and hardness tests.</documentation>
		</annotation>
	</element>
	<element name="AtterbergLimitsTest" type="diggs_geo:AtterbergLimitsTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Atterberg limits are a basic measure of the nature of a fine-grained
				soil. Depending on the water content of the soil, it may appear in four states:
				solid, semi-solid, plastic and liquid. In each state the consistency and behavior of
				a soil is different and thus so are its engineering properties. Thus, the boundary
				between each state can be defined based on a change in the soil's behavior. The
				Atterberg limits can be used to distinguish between silt and clay, and it can
				distinguish between different types of silts and clays.</documentation>
		</annotation>
	</element>
	<complexType name="AtterbergLimitsTestType">
		<annotation>
			<documentation>Base type for AtterbergLimitsTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="nonPlastic" type="boolean" default="false" minOccurs="0">
						<annotation>
							<documentation>Indicator used if material is determined to be
								non-plastic during the testing process..</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="CationExchangeTest" type="diggs_geo:CationExchangeTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Cation-exchange capacity is defined as the degree to which a soil can
				adsorb and exchange cations.</documentation>
		</annotation>
	</element>
	<complexType name="CationExchangeTestType">
		<annotation>
			<documentation>Base type for CationExchangeTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="methodType" type="gml:CodeType" default="false" minOccurs="0">
						<annotation>
							<documentation>Method used to determine the sodium concentration, e.g.
								atomic absorption, emission spectroscopy, or an equivalent
								method.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ChalkCrushingValueTest" type="diggs_geo:ChalkCrushingValueTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Chalk Crushing Value is determined by using the chalk impact crushing
				test, which measures the rate at which a sample of chalk lumps crushes under impacts
				from a freefalling rammer. The chalk crushing value can be used, together with the
				saturation moisture content of the intact chalk lumps, to classify chalk in relation
				to its behaviour as a freshly placed fill material. The test procedure is described
				for a single sample of chalk lumps, but normal procedure should be to calculate the
				mean value derived from six such tests on representative samples.</documentation>
		</annotation>
	</element>
	<complexType name="ChalkCrushingValueTestType">
		<annotation>
			<documentation>Base type for ChalkCrushingValueTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="waterContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Water (moisture) content of specimen
								tested</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="CompactionTest" type="diggs_geo:CompactionTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Compaction Test is a laboratory method of experimentally determining
				the optimal moisture content at which a given soil type will become most dense and
				achieve its maximum dry density.</documentation>
		</annotation>
	</element>
	<complexType name="CompactionTestType">
		<annotation>
			<documentation>Base type for CompactionTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="compactionMouldType" type="gml:CodeType" minOccurs="0"/>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:CompactionTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="CompactionTestTrials" type="diggs_geo:CompactionTestTrialsType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial</documentation>
		</annotation>
	</element>
	<complexType name="CompactionTestTrialsPropertyType">
		<annotation>
			<documentation>Property for CompactionTestTrials, required parent element that holds the
				multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:CompactionTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="CompactionTestTrialsType">
		<annotation>
			<documentation>Base type for CompactionTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="moistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content measured in this trial.</documentation>
						</annotation>
					</element>
					<element name="dryUnitWeight" type="diggs:DensityMeasureType" minOccurs="0">
						<annotation>
							<documentation>Dry unit weight measured in this trial.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="CompressiveStrengthTest" type="diggs_geo:CompressiveStrengthTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Compressive Strength of a material is that value of uniaxial
				compressive stress reached when the material fails</documentation>
		</annotation>
	</element>
	<complexType name="CompressiveStrengthTestType">
		<annotation>
			<documentation>Base type for CompressiveStrengthTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="waterContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Water content of specimen tested</documentation>
						</annotation>
					</element>
					<element name="testDuration" type="witsml:timeMeasure" minOccurs="0">
						<annotation>
							<documentation>Duration of the test.</documentation>
						</annotation>
					</element>
					<element name="stressRate" type="diggs:forcePerTimeUom" minOccurs="0">
						<annotation>
							<documentation>Stress rate</documentation>
						</annotation>
					</element>
					<element name="failureMode" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Mode of failure (eg. shear).</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ConsolidationTest" type="diggs_geo:ConsolidationTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Result from a Consolidation Test. This test is performed to determine the
				magnitude and rate of volume decrease that a laterally confined soil specimen
				undergoes when subjected to different vertical pressures. From the measured data,
				the consolidation curve (pressure-void ratio relationship) can be plotted. This data
				is useful in determining the compression index (slope of virgin curve), the
				recompression index (slope of recompression curve) and the preconsolidation pressure
				(or maximum past pressure) of the soil. In addition, the data obtained can also be
				used to determine the coefficient of consolidation and the coefficient of secondary
				compression of the soil.</documentation>
		</annotation>
	</element>
	<complexType name="ConsolidationTestType">
		<annotation>
			<documentation>Base type for ConsolidationTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="consolidationTestType" type="gml:CodeType" default="false"
						minOccurs="0">
						<annotation>
							<documentation>Type of consolidation test.</documentation>
						</annotation>
					</element>
					<element name="initialMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Initial moisture content of specimen</documentation>
						</annotation>
					</element>
					<element name="finalMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Final moisture content of specimen</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
					<element name="specificGravity" type="double" minOccurs="0">
						<annotation>
							<documentation>Specific gravity of solids.</documentation>
						</annotation>
					</element>
					<element name="initialSaturation" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Initial degree of saturation</documentation>
						</annotation>
					</element>
					<element name="swellingPressure" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Swelling pressure.</documentation>
						</annotation>
					</element>
					<element name="heightChange" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Height change of specimen on saturation, or flooding as
								percentage of original height</documentation>
						</annotation>
					</element>
					<element name="initialVoidRatio" type="double" minOccurs="0">
						<annotation>
							<documentation>Initial void ratio prior to running
								tests.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:ConsolidationTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ConsolidationTestTrials" type="diggs_geo:ConsolidationTestTrialsType"
		abstract="false" substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial</documentation>
		</annotation>
	</element>
	<complexType name="ConsolidationTestTrialsPropertyType">
		<annotation>
			<documentation>Property for ConsolidationTestTrials, required parent element that holds
				the multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:ConsolidationTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="ConsolidationTestTrialsType">
		<annotation>
			<documentation>Base type for ConsolidationTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="loadingStress" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>The loading stress increment.</documentation>
						</annotation>
					</element>
					<element name="initialVoidRatio" type="double" minOccurs="0">
						<annotation>
							<documentation>Initial void ratio prior at start of
								increment.</documentation>
						</annotation>
					</element>
					<element name="finalVoidRatio" type="double" minOccurs="0">
						<annotation>
							<documentation>Final void ratio at end of increment.</documentation>
						</annotation>
					</element>
					<element name="endingStress" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Stress at end of stress
								increment/decrement</documentation>
						</annotation>
					</element>
					<element name="coefficientOfConsolidation" type="double" minOccurs="0">
						<annotation>
							<documentation>Coefficient of consolidation for this stress
								increment.</documentation>
						</annotation>
					</element>
					<element name="coefficientOfSecondaryCompression" type="double" minOccurs="0">
						<annotation>
							<documentation>Coefficient of secondary compression over stress
								increment</documentation>
						</annotation>
					</element>
					<element name="coefficientTertiaryCompressionIncrement" type="double"
						minOccurs="0">
						<annotation>
							<documentation>Coefficient of tertiary compression over stress
								increment</documentation>
						</annotation>
					</element>
					<element name="coefficientOfVolumeCompressibility" type="double" minOccurs="0">
						<annotation>
							<documentation>Reported coefficient of volume compressibility over
								stress increment</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="DensityTest" type="diggs:AbstractLaboratoryTestType"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Density Test produces density values, mass per
				volume.</documentation>
		</annotation>
	</element>
	<element name="DirectShearTest" type="diggs_geo:DirectShearTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The direct shear test, also known as a shearbox test, is used for
				determination of the consolidated drained (or undrained) shear strength of soils.
				The test is performed by deforming a specimen at a controlled rate on or near a
				single shear plane.</documentation>
		</annotation>
	</element>
	<complexType name="DirectShearTestType">
		<annotation>
			<documentation>Base type for DirectShearTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="directShearTestType" type="gml:CodeType" default="false"
						minOccurs="0">
						<annotation>
							<documentation>Type of shear box test.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:DirectShearTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="DirectShearTestTrials" type="diggs_geo:DirectShearTestTrialsType"
		abstract="false" substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial in DirectShearTest</documentation>
		</annotation>
	</element>
	<complexType name="DirectShearTestTrialsPropertyType">
		<annotation>
			<documentation>Property for DirectShearTestTrials, required parent element that holds
				the multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:DirectShearTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="DirectShearTestTrialsType">
		<annotation>
			<documentation>Base type for DirectShearTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
					<element name="initialVoidRatio" type="double" minOccurs="0">
						<annotation>
							<documentation>Initial void ratio prior at start of
								increment.</documentation>
						</annotation>
					</element>
					<element name="normalStressApplied" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Normal stress applied to specimen.</documentation>
						</annotation>
					</element>
					<element name="displacementRatePeakStressStage" type="witsml:velocityMeasure"
						minOccurs="0">
						<annotation>
							<documentation>Displacement rate for peak stress stage.</documentation>
						</annotation>
					</element>
					<element name="displacementRateResidualStressStage"
						type="witsml:velocityMeasure" minOccurs="0">
						<annotation>
							<documentation>Displacement rate for residual stress
								stage.</documentation>
						</annotation>
					</element>
					<element name="peakShearStress" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Peak shear stress during this trial.</documentation>
						</annotation>
					</element>
					<element name="residualShearStress" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Residual shear stress during this trial.</documentation>
						</annotation>
					</element>
					<element name="horizDisplPeakShear" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Horizontal displacement at peak shear
								stress.</documentation>
						</annotation>
					</element>
					<element name="vertDisplPeakShear" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Vertical displacement at peak shear
								stress.</documentation>
						</annotation>
					</element>
					<element name="horizDisplResidualShear" type="witsml:lengthMeasure"
						minOccurs="0">
						<annotation>
							<documentation>Horizontal displacement at residual shear
								stress.</documentation>
						</annotation>
					</element>
					<element name="vertDisplResidualShear" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Vertical displacement at residual shear
								stress.</documentation>
						</annotation>
					</element>
					<element name="particleDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Particle density, specific gravity.</documentation>
						</annotation>
					</element>
					<element name="initialMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Initial moisture content.</documentation>
						</annotation>
					</element>
					<element name="finalMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Final moisture content.</documentation>
						</annotation>
					</element>
					<element name="failureCriteria" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Failure/residual strength criterion used.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="FlatDilatometerTest" type="diggs_geo:FlatDilatometerTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Flat Dilatometer Test method is designed to empirically evaluate
				geotechnical parameters in soils. Steel blade inserted into the ground, typically
				with a cone truck or drill rig. The membrane located on face of blade is expanded
				laterally into the soil.</documentation>
		</annotation>
	</element>
	<complexType name="FlatDilatometerTestType">
		<annotation>
			<documentation>Base type for FlatDilatometerTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="membraneType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of thin flat dilatometer circular steel membrane
								used for testing. Typical types include soft, standard and
								hard.</documentation>
						</annotation>
					</element>
					<element name="frictionReducerDiameter" type="witsml:lengthMeasure"
						minOccurs="0">
						<annotation>
							<documentation>The diameter of the friction reducer.</documentation>
						</annotation>
					</element>
					<element name="frictionReducerLocation" type="witsml:lengthMeasure"
						minOccurs="0">
						<annotation>
							<documentation>The distance of the friction reducer relative to the
								center of the dilatometer membrane.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="DrivenPenetrationTest" type="diggs_geo:DrivenPenetrationTestType"
		abstract="false" substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Driven Penetration Test includes all methods that involve driving a
				rod (with or without a sampler) by impact hammer. The most common test of this type
				inclue the Standard Penetration Test and the Becker Hammer Test.</documentation>
		</annotation>
	</element>
	<complexType name="DrivenPenetrationTestType">
		<annotation>
			<documentation>Base type for DrivenPenetrationTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="penetrationTestType" type="gml:CodeType">
						<annotation>
							<documentation>Type of penetration test performed, e.g. Standard
								Penetration Test, Becker Hammer Test, etc.</documentation>
						</annotation>
					</element>
					<element name="hammerType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of hammer used for the sampling and penetration,
								including the mechanism used to lift and drop the hammer assembly.
								Additional details about the sampler (e.g. cathead diameter, number
								of turns, etc) can be mapped to the equipment
								object.</documentation>
						</annotation>
					</element>
					<element name="hammerMass" type="witsml:massMeasure" minOccurs="0">
						<annotation>
							<documentation>The hammer mass used to drive the
								sampler.</documentation>
						</annotation>
					</element>
					<element name="hammerDropHeight" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The hammer drop height.</documentation>
						</annotation>
					</element>
					<element name="hammerEfficiency" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>A description of the energy efficiency of the
								hammer.</documentation>
						</annotation>
					</element>
					<element name="samplerLength" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The length of the sampler barrel.</documentation>
						</annotation>
					</element>
					<element name="samplerInternalDiameter" type="witsml:lengthMeasure"
						minOccurs="0">
						<annotation>
							<documentation>The inside diameter of the sampler.</documentation>
						</annotation>
					</element>
					<element name="samplerLinerDescription" type="diggs:DiggsStringType"
						minOccurs="0">
						<annotation>
							<documentation>A description of the liner, if used.</documentation>
						</annotation>
					</element>
					<element name="samplerRetainerDescription" type="diggs:DiggsStringType"
						minOccurs="0">
						<annotation>
							<documentation>A description of the basket retainer, if
								used.</documentation>
						</annotation>
					</element>
					<element name="rodType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of sampling rods used for
								penetration.</documentation>
						</annotation>
					</element>
					<element name="rodExternalDiameter" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The external diameter of the sampling
								rods.</documentation>
						</annotation>
					</element>
					<element name="rodWeight" type="witsml:perLengthUom" minOccurs="0">
						<annotation>
							<documentation>The drive rod weight per unit length.</documentation>
						</annotation>
					</element>
					<element name="depthCasing" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Casing depth at time of test</documentation>
						</annotation>
					</element>
					<element name="selfWeightPenetration" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The distance the sampler penetrates the soil under its
								own weight before applying hammer blows</documentation>
						</annotation>
					</element>
					<element name="waterDepth" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to water at time of test.</documentation>
						</annotation>
					</element>
					<element name="totalPenetration" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Total distance the sampler penetrated the soil following
								completion of the procedure</documentation>
						</annotation>
					</element>
					<element name="driveSets" type="diggs_geo:DriveSetPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="FlameIonizationDetectorTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Flame Ionization Detector Test detects total concentrations of organic
				gases and vapors. Gases and vapors are ionized in a flame; a current is produced in
				proportion to the number of carbon atoms present.</documentation>
		</annotation>
	</element>
	<element name="FrostSusceptibilityTest" type="diggs_geo:FrostSusceptibilityTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Test establishes the degree of frost-susceptibility of unbound sub-base
				and base materials for pavements.</documentation>
		</annotation>
	</element>
	<complexType name="FrostSusceptibilityTestType">
		<annotation>
			<documentation>Base type for FrostSusceptibilityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="dryDensity" type="diggs:DensityMeasureType" minOccurs="0">
						<annotation>
							<documentation>Dry density of specimens after
								preparation.</documentation>
						</annotation>
					</element>
					<element name="waterContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Water (moisture) content of specimen
								tested</documentation>
						</annotation>
					</element>
					<element name="frostHeave1" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Frost heave, first specimen.</documentation>
						</annotation>
					</element>
					<element name="frostHeave2" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Frost heave, second specimen.</documentation>
						</annotation>
					</element>
					<element name="frostHeave3" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Frost heave, third specimen.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="HandVaneTest" type="diggs_geo:HandVaneTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Hand Vane Test is a lab or field test that allows for the direct
				measurement of undrained shear strength of soft to stiff clays, determined by a
				calibrated scale ring built into the head assembly of the test
				device.</documentation>
		</annotation>
	</element>
	<complexType name="HandVaneTestType">
		<annotation>
			<documentation>Base type for HandVaneTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="vaneDiameter" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Equivalent diameter of the vane.</documentation>
						</annotation>
					</element>
					<element name="vaneLength" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Length of the vane.</documentation>
						</annotation>
					</element>
					<element name="waterContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Water (moisture) content of specimen
								tested</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="InsituCBRTest" type="diggs_geo:InsituCBRTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The California bearing ratio (CBR) is a penetration test for evaluation
				of the mechanical strength of road subgrades and basecourses. The test is performed
				by measuring the pressure required to penetrate a soil sample with a plunger of
				standard area. The measured pressure is then divided by the pressure required to
				achieve an equal penetration on a standard crushed rock material.</documentation>
		</annotation>
	</element>
	<complexType name="InsituCBRTestType">
		<annotation>
			<documentation>Base type for InsituCBRTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="cbrType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Type of CBR insitu performed.</documentation>
						</annotation>
					</element>
					<element name="seatingForce" type="witsml:forceMeasure" minOccurs="0">
						<annotation>
							<documentation>Force of reaction system.</documentation>
						</annotation>
					</element>
					<element name="surchargePressure" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Load imposed by surchage from test
								equipment.</documentation>
						</annotation>
					</element>
					<element name="waterContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Water (moisture) content relating to
								test.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="InsituDensityTest" type="diggs:AbstractInsituTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>Used to determine the in-place density and unit weight of soils using a
				sand cone apparatus.</documentation>
		</annotation>
	</element>
	<element name="InsituPermeabilityTest" type="diggs_geo:InsituPermeabilityTestType"
		abstract="false" substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>This test determines the insitu permeability of a soil based on constant
				head, falling head, and packer test methods.</documentation>
		</annotation>
	</element>
	<complexType name="InsituPermeabilityTestType">
		<annotation>
			<documentation>Base type for InsituPermeabilityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="permeabilityTestType" type="gml:CodeType" default="false"
						minOccurs="0">
						<annotation>
							<documentation>Type of permeability test.</documentation>
						</annotation>
					</element>
					<element name="depthTestZoneTop" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to the top of the test zone</documentation>
						</annotation>
					</element>
					<element name="depthTestZoneBottom" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to the bottom of the test zone</documentation>
						</annotation>
					</element>
					<element name="stage" type="integer" minOccurs="0">
						<annotation>
							<documentation>Stage number of multistage packer test.</documentation>
						</annotation>
					</element>
					<element name="depthWaterPreTest" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to water in borehole or piezometer immediately
								prior to test.</documentation>
						</annotation>
					</element>
					<element name="diameterTestZone" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Diameter of test zone.</documentation>
						</annotation>
					</element>
					<element name="diameterCasing" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Diameter of standpipe or casing.</documentation>
						</annotation>
					</element>
					<element name="averageFlow" type="witsml:volumeFlowRateMeasure" minOccurs="0">
						<annotation>
							<documentation>Average flow during packer test stage.</documentation>
						</annotation>
					</element>
					<element name="depthStandingWater" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to assumed standing water level.</documentation>
						</annotation>
					</element>
					<element name="appliedHead" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Applied total head of water during test stage at centre
								of packer test zone.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="InsituResistivityTest" type="diggs:AbstractInsituTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>This test determines the insitu resistivity of a soil.</documentation>
		</annotation>
	</element>
	<element name="InsituVaneTest" type="diggs_geo:InsituVaneTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Insitu Vane Shear Test gives the in place shearing resistance of
				soft, saturated clays.</documentation>
		</annotation>
	</element>
	<complexType name="InsituVaneTestType">
		<annotation>
			<documentation>Base type for InsituVaneTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="vaneType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of field vane used for testing. For example,
								Vane Borer, miniature, etc.</documentation>
						</annotation>
					</element>
					<element name="vaneShape" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The shape of the four-bladed vane used for testing.
								Available vane shapes include: a) rectangular, b) single tapered, c)
								double tapered, or d) other. </documentation>
						</annotation>
					</element>
					<element name="vaneDiameter" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The diameter of the four-bladed vane.</documentation>
						</annotation>
					</element>
					<element name="vaneLength" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The height of the four-bladed vane.</documentation>
						</annotation>
					</element>
					<element name="torqueDevice" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The device used to apply torque to the vane. For example,
								geared drive, torque wrench, etc.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="LabCBRTest" type="diggs_geo:LabCBRTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The California bearing ratio (CBR) is a penetration test for evaluation
				of the mechanical strength of road subgrades and basecourses. The test is performed
				by measuring the pressure required to penetrate a soil sample with a plunger of
				standard area. The measured pressure is then divided by the pressure required to
				achieve an equal penetration on a standard crushed rock material.</documentation>
		</annotation>
	</element>
	<complexType name="LabCBRTestType">
		<annotation>
			<documentation>Base type for LabCBRTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="naturalMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Natural moisture content of specimen prior to
								test.</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:LabCBRTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="LabCBRTestTrials" type="diggs_geo:LabCBRTestTrialsType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial in LabCBRTest</documentation>
		</annotation>
	</element>
	<complexType name="LabCBRTestTrialsPropertyType">
		<annotation>
			<documentation>Property for LabCBRTestTrials, required parent element that holds the
				multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:LabCBRTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="LabCBRTestTrialsType">
		<annotation>
			<documentation>Base type for LabCBRTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
					<element name="surchargePressureApplied" type="witsml:pressureMeasure"
						minOccurs="0">
						<annotation>
							<documentation>Surcharge pressure applied.</documentation>
						</annotation>
					</element>
					<element name="soakingDetails" type="string" minOccurs="0">
						<annotation>
							<documentation>Description and details of soaking.</documentation>
						</annotation>
					</element>
					<element name="swellFromSoaking" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Amount of swell recorded during soaking (if
								applicable).</documentation>
						</annotation>
					</element>
					<element name="topMoistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content at top after test.</documentation>
						</annotation>
					</element>
					<element name="bottomMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Moisture content at bottom after test.</documentation>
						</annotation>
					</element>
					<element name="topCBR" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>CBR measured at top.</documentation>
						</annotation>
					</element>
					<element name="bottomCBR" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>CBR measured at bottom.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="LabPermeabilityTest" type="diggs_geo:LabPermeabilityTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The objective of the permeability test is to determine the coefficient of
				permeability of the soil. Several different laboratory testing methods can be
				performed to more accurately determine permeability, including constant-head and
				falling-head types. </documentation>
		</annotation>
	</element>
	<complexType name="LabPermeabilityTestType">
		<annotation>
			<documentation>Base type for LabPermeabilityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="testType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Type of test conducted</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="initialMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Initial moisture content of specimen prior to
								test.</documentation>
						</annotation>
					</element>
					<element name="initialSaturation" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Initial degree of saturation.</documentation>
						</annotation>
					</element>
					<element name="methodOfSaturation" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Method used for saturation.</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialParticleDensity" type="witsml:densityMeasure"
						minOccurs="0">
						<annotation>
							<documentation>Initial particle density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
					<element name="drainDiameter" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Diameter of drain for radial permeability in hydraulic
								cell.</documentation>
						</annotation>
					</element>
					<element name="drainMethod" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Method of forming central drain.</documentation>
						</annotation>
					</element>
					<element name="initialVoidsRatio" type="double" minOccurs="0">
						<annotation>
							<documentation>Initial voids ratio.</documentation>
						</annotation>
					</element>
					<element name="meanEffectiveStress" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Mean effective stress at which permeability measured
								(when measured in triaxial or hydraulic cell).</documentation>
						</annotation>
					</element>
					<element name="hydraulicGradient" type="double" minOccurs="0">
						<annotation>
							<documentation>Hydraulic gradient at which permeability measured (for
								constant head test).</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="LabVelocityTest" type="diggs_geo:LabVelocityTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Shear wave velocity can be measured in the laboratory using resonant
				column tests, bender elements, ultrasonics, torsional shear tests, and modified
				triaxial tests. </documentation>
		</annotation>
	</element>
	<complexType name="LabVelocityTestType">
		<annotation>
			<documentation>Base type for LabVelocityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="testType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Type of test used to produce velocity
								measures.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="MCVTest" type="diggs_geo:MCVTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Moisture Condition Value (MCV) is determined from a moisture
				condition test, a physical test indicating how much compactive effort is needed to
				compact a sample of soil at a particular moisture content. Compactive effort is
				provided by dropping a captive weight vertically a known distance on to a sample of
				soil in a cylindrical mould, and measuring compaction. By counting blows to give the
				required compaction it will be possible to establish a MCV for a soil at a
				particular moisture content.</documentation>
		</annotation>
	</element>
	<complexType name="MCVTestType">
		<annotation>
			<documentation>Base type for MCVTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="naturalMoistureContent" type="diggs:PercentMeasureType"
						minOccurs="0">
						<annotation>
							<documentation>Natural moisture content of specimen prior to
								test.</documentation>
						</annotation>
					</element>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:MCVTestTrialsPropertyType" minOccurs="0"
					/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="MCVTestTrials" type="diggs_geo:MCVTestTrialsType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial in MCVTest</documentation>
		</annotation>
	</element>
	<complexType name="MCVTestTrialsPropertyType">
		<annotation>
			<documentation>Property for MCVTestTrials, required parent element that holds the
				multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:MCVTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="MCVTestTrialsType">
		<annotation>
			<documentation>Base type for MCVTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="moistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content.</documentation>
						</annotation>
					</element>
					<element name="interpretationMethod" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Method of interpretation of the test
								curve.</documentation>
						</annotation>
					</element>
					<element name="bulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Bulk density measured after test.</documentation>
						</annotation>
					</element>
					<element name="mcv" type="double" minOccurs="0">
						<annotation>
							<documentation>Measured MCV</documentation>
						</annotation>
					</element>
					<element name="difference" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Difference between initial (n) and final (3n) blows in
								rapid assessment test.</documentation>
						</annotation>
					</element>
					<element name="strongerWeaker" type="string" minOccurs="0">
						<annotation>
							<documentation>Stronger or weaker than pre-calibrated
								standard.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="MoistureContentTest" type="diggs:AbstractLaboratoryTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Water content or moisture content is the quantity of water contained in a
				material, expressed as a ratio. Also referred to as moisture content, this is the
				mass of water divided by the mass of the solids, expressed as a
				percentage.</documentation>
		</annotation>
	</element>
	<element name="ParticleSizeTest" type="diggs_geo:ParticleSizeTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>This test produces the distribution of particle sizes in soils as
				determined by sieve analysis and/or hydrometer analysis.</documentation>
		</annotation>
	</element>
	<complexType name="ParticleSizeTestType">
		<annotation>
			<documentation>Base type for ParticleSizeTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="gradingData" type="diggs_geo:GradingPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PhotoIonizationDetectorTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>This test measures volatile organic compounds and other
				gases.</documentation>
		</annotation>
	</element>
	<element name="PocketPenetrometerTest" type="diggs:AbstractLaboratoryTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>This field and lab test provides an estimate of undrained shear
				strength.</documentation>
		</annotation>
	</element>
	<element name="PointLoadTest" type="diggs_geo:PointLoadTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Point Load Test produces the Point Load Test Index (Is50), which can
				be correlated with the uniaxial compressive strength (UCS) of rock.</documentation>
		</annotation>
	</element>
	<complexType name="PointLoadTestType">
		<annotation>
			<documentation>Base type for PointLoadTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="testType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Type of test.</documentation>
						</annotation>
					</element>
					<element name="uncorrectedPointLoadIndex" type="double" minOccurs="0">
						<annotation>
							<documentation>Uncorrected point load index, Is50</documentation>
						</annotation>
					</element>
					<element name="moistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content of specimen.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="RockPorosityDensityTest" type="diggs_geo:RockPorosityDensityTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>This test determines the porosity and density of rock.</documentation>
		</annotation>
	</element>
	<complexType name="RockPorosityDensityTestType">
		<annotation>
			<documentation>Base type for RockPorosityDensityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="testType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Type of test.</documentation>
						</annotation>
					</element>
					<element name="moistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content of specimen.</documentation>
						</annotation>
					</element>
					<element name="initialSaturation" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Initial degree of saturation.</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
					<element name="initialParticleDensity" type="witsml:densityMeasure"
						minOccurs="0">
						<annotation>
							<documentation>Initial particle density.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PressuremeterTest" type="diggs_geo:PressuremeterTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Pressuremeter measures both the strength and stress-strain properties
				of all soil types including soft rock. The pressuremeter is used primarily to
				calculate bearing capacity of shallow and deep foundations; settlement of
				foundations; deformation of laterally loaded and sheet piles and resistance of
				anchors</documentation>
		</annotation>
	</element>
	<complexType name="PressuremeterTestType">
		<annotation>
			<documentation>Base type for PressuremeterTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="pressuremeterType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of pressuremeter.</documentation>
						</annotation>
					</element>
					<element name="pressuremeterDiameter" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The uninflated diameter of the
								pressuremeter.</documentation>
						</annotation>
					</element>
					<element name="trials" type="diggs_geo:PressuremeterTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PressuremeterTestTrials" type="diggs_geo:PressuremeterTestTrialsType"
		abstract="false" substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial in PressuremeterTest</documentation>
		</annotation>
	</element>
	<complexType name="PressuremeterTestTrialsPropertyType">
		<annotation>
			<documentation>Property for PressuremeterTestTrials, required parent element that holds
				the multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:PressuremeterTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PressuremeterTestTrialsType">
		<annotation>
			<documentation>Base type for PressuremeterTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>Pressuremeter loading or reloading cycle.</documentation>
						</annotation>
					</element>
					<element name="shearModulus" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Unload or reload shear modulus for the
								cycle.</documentation>
						</annotation>
					</element>
					<element name="meanStrain" type="double" minOccurs="0">
						<annotation>
							<documentation>Mean strain.</documentation>
						</annotation>
					</element>
					<element name="strainRange" type="double" minOccurs="0">
						<annotation>
							<documentation>Strain range or amplitude.</documentation>
						</annotation>
					</element>
					<element name="meanPressure" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Mean pressure.</documentation>
						</annotation>
					</element>
					<element name="pressureRange" type="witsml:pressureMeasure" minOccurs="0">
						<annotation>
							<documentation>Pressure range or amplitude.</documentation>
						</annotation>
					</element>
					<element name="linearity" type="double" minOccurs="0">
						<annotation>
							<documentation>Linearity exponent (from Bolton and Whittle,
								1999)</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PumpingTest" type="diggs_geo:PumpingTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>An aquifer test (or a pumping test) is conducted to evaluate an aquifer
				by "stimulating" the aquifer through constant pumping, and observing the aquifer's
				"response" (drawdown) in observation wells.</documentation>
		</annotation>
	</element>
	<complexType name="PumpingTestType">
		<annotation>
			<documentation>Base type for PumpingTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="trials" type="diggs_geo:PumpingTestTrialsPropertyType"
						minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="PumpingTestTrials" type="diggs_geo:PumpingTestTrialsType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Results for each trial in PumpingTest</documentation>
		</annotation>
	</element>
	<complexType name="PumpingTestTrialsPropertyType">
		<annotation>
			<documentation>Property for PumpingTestTrials, required parent element that holds the
				multiple trials.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:PumpingTestTrials" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="PumpingTestTrialsType">
		<annotation>
			<documentation>Base type for PumpingTestTrials</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="trialNo" type="integer" minOccurs="0">
						<annotation>
							<documentation>The count of the test cycle</documentation>
						</annotation>
					</element>
					<element name="dateTimeOfReading" type="dateTime" minOccurs="0">
						<annotation>
							<documentation>Date and time of reading.</documentation>
						</annotation>
					</element>
					<element name="waterDepth" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>Depth to water below ground.</documentation>
						</annotation>
					</element>
					<element name="pumpingRate" type="witsml:volumeFlowRateMeasure" minOccurs="0">
						<annotation>
							<documentation>Pumping rate from hole.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="RedoxTest" type="diggs_geo:RedoxTestType" abstract="false"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Redox Test is used to determine the electro-chemical potential of the
				soil. A calomel reference probe and platinum probe is inserted in the ground at
				least 150mm apart at the required depth and the two electrodes connected to a
				multimeter. The difference in electro-chemical potential between the two probes is
				then measured. </documentation>
		</annotation>
	</element>
	<complexType name="RedoxTestType">
		<annotation>
			<documentation>Base type for RedoxTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="redoxTestType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of redox test conducted.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="RelativeDensityTest" type="diggs_geo:RelativeDensityTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The relative density of a soil is the ratio, expressed as a percentage,
				of the difference between the maximum index void ratio and the field void ratio of a
				cohesionless, free-draining soil; to the difference between its maximum and minimum
				index void ratios.</documentation>
		</annotation>
	</element>
	<complexType name="RelativeDensityTestType">
		<annotation>
			<documentation>Base type for RelativeDensityTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
					<element name="maxDryDensity" type="diggs:DensityMeasureType" minOccurs="0">
						<annotation>
							<documentation>Maximum dry density.</documentation>
						</annotation>
					</element>
					<element name="minDryDensity" type="diggs:DensityMeasureType" minOccurs="0">
						<annotation>
							<documentation>Minimum dry density.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SchmidtReboundHardnessTest" type="diggs_geo:SchmidtReboundHardnessTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Schmidt Hardness Test utilizes a hammer mass launched against an
				impact plunger. The amount of hammer mass rebound depends on the hardness of the
				test piece. This rebound amount is then shown on a scale of 10 to
				100.</documentation>
		</annotation>
	</element>
	<complexType name="SchmidtReboundHardnessTestType">
		<annotation>
			<documentation>Base type for SchmidtReboundHardnessTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="hammerOrientation" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Orientation of the hammer axis in the
								test.</documentation>
						</annotation>
					</element>
					<element name="clampingMethod" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Method of clamping specimen.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="ShoreScleroscopeHardnessTest" type="diggs:AbstractLaboratoryTestType"
		abstract="false" substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>The Scleroscope test consists of dropping a diamond tipped hammer, which
				falls inside a glass tube under the force of its own weight from a fixed height,
				onto the test specimen. The height of the rebound travel of the hammer is measured
				on a graduated scale. The scale of the rebound is arbitrarily chosen and consists on
				Shore units, divided into 100 parts, which represent the average rebound from pure
				hardened high-carbon steel. The scale is continued higher than 100 to include metals
				having greater hardness.</documentation>
		</annotation>
	</element>
	<element name="LinearShrinkageTest" type="diggs_geo:LinearShrinkageTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Linear shrinkage is the decrease in length of a soil sample when
				oven-dried, starting with a moisture content of the sample at the liquid
				limit.</documentation>
		</annotation>
	</element>
	<complexType name="LinearShrinkageTestType">
		<annotation>
			<documentation>Base type for LinearShrinkageTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="retainedSizeFractions" type="diggs_geo:GradingPropertyType"
						minOccurs="0">
						<annotation>
							<documentation>Size fraction from which test portion was
								obtained.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="SuctionTest" type="diggs:AbstractLaboratoryTestType" abstract="false"
		substitutionGroup="diggs:AbstractLaboratoryTest">
		<annotation>
			<documentation>Soil suction is a measure of the free energy of the pore-water in a soil.
				Soil suction in practical terms is a measure of the affinity of soil to retain water
				and can provide information on soil parameters that are influenced by the soil
				water; for example, volume change, deformation, and strength characteristics of the
				soil.</documentation>
		</annotation>
	</element>
	<complexType name="SuctionTestType">
		<annotation>
			<documentation>Base type for SuctionTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractLaboratoryTestType">
				<sequence>
					<element name="moistureContent" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>Moisture content of specimen.</documentation>
						</annotation>
					</element>
					<element name="initialBulkDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial bulk density.</documentation>
						</annotation>
					</element>
					<element name="initialDryDensity" type="witsml:densityMeasure" minOccurs="0">
						<annotation>
							<documentation>Initial dry density.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="DriveSet" type="diggs_geo:DriveSetType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Provides data structure to capture blow counts for tests where samplers
				or instruments are driven by impact methods.</documentation>
		</annotation>
	</element>
	<complexType name="DriveSetType">
		<annotation>
			<documentation>Base type for DriveSet object.</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="index" type="positiveInteger">
						<annotation>
							<documentation>An integer that indicates the location of the drive set.
								The first or seating drive of a test would be assigned an index of
								1, the next drive set an index of 2, etc. An index of 1 should only
								be used for the seating drive.</documentation>
						</annotation>
					</element>
					<element name="blowCount" type="positiveInteger">
						<annotation>
							<documentation>An integer value of the number of hammer blows in this
								drive set.</documentation>
						</annotation>
					</element>
					<element name="penetration" type="witsml:lengthMeasure">
						<annotation>
							<documentation>The distance the sampler is driven into the soil in this
								drive set.</documentation>
						</annotation>
					</element>
					<element name="delay" type="diggs:DelayEventPropertyType" minOccurs="0">
						<annotation>
							<documentation>Duration of delay before increment
								started.</documentation>
						</annotation>
					</element>
					<element name="torque" type="witsml:momentOfForceMeasure" minOccurs="0">
						<annotation>
							<documentation>Maximum torque required to rotate rods.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DriveSetPropertyType">
		<annotation>
			<documentation>This is the property that contains the DriveSet object(s). It is needed
				to satisfy the GML object-property rule when DriveSet is used as an element in
				another test.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:DriveSet" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="Grading" type="diggs_geo:GradingType" abstract="false"
		substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Provides data structure to capture percentage of particle sizes in a
				sample.</documentation>
		</annotation>
	</element>
	<complexType name="GradingType">
		<annotation>
			<documentation>Base type for Grading object.</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="particleSize" type="witsml:lengthMeasure">
						<annotation>
							<documentation>Size of this screen openings of the sieve or grain
								diameter evaluated via hydrometer, related to the value entered in
								the percentPassing or percentRetained property. </documentation>
						</annotation>
					</element>
					<element name="percentPassing" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>The amount of the total sample "passing" (that has
								particle size smaller than) this size fraction. Expressed as a
								weight percent.</documentation>
						</annotation>
					</element>
					<element name="percentRetained" type="diggs:PercentMeasureType" minOccurs="0">
						<annotation>
							<documentation>The amount of the total sample "retained" at this size
								fraction (that has particle size greater or equal to the
								particleSize property, but smaller than any larger gradations.
								Expressed as a weight percent.</documentation>
						</annotation>
					</element>
					<element name="weightRetained" type="witsml:massMeasure" minOccurs="0">
						<annotation>
							<documentation>The dry weight of sample "retained" at this size fraction
								(that has particle size greater or equal to the particleSize
								property, but smaller than any larger gradations.</documentation>
						</annotation>
					</element>
					<element name="sieveNumber" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The number of the sieve</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GradingPropertyType">
		<annotation>
			<documentation>This is the property that contains the Grading object(s). It is needed to
				satisfy the GML object-property rule when Grading is used as an element in another
				test.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:Grading" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="PorewaterPressureMeasure" type="diggs_geo:PorewaterPressureMeasureType"
		abstract="false" substitutionGroup="diggs:AbstractObject">
		<annotation>
			<documentation>Provides data structure to capture porewater pressure
				measurements.</documentation>
		</annotation>
	</element>
	<complexType name="PorewaterPressureMeasureType">
		<annotation>
			<documentation>Base type for PorewaterPressureMeasure</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="cellIdRef" type="gml:ReferenceType" minOccurs="0"/>
					<element name="pressure" type="witsml:pressureMeasure" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PorewaterPressureMeasurePropertyType">
		<annotation>
			<documentation>This is the property that contains the PorewaterPressureMeasure
				object(s). It is needed to satisfy the GML object-property rule when
				PorewaterPressureMeasure is used as an element in another test.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:PorewaterPressureMeasure" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="PorePressureElement" type="diggs_geo:PorePressureElementType">
		<annotation>
			<documentation>Provides data structure to capture pore pressure sensor
				metadata.</documentation>
		</annotation>
	</element>
	<complexType name="PorePressureElementType">
		<annotation>
			<documentation>Base type for PorePressureElement.</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractObjectType">
				<sequence>
					<element name="cellId" type="diggs:DiggsStringType" minOccurs="0">
						<annotation>
							<documentation>The id number or value that identifies this filter
								element</documentation>
						</annotation>
					</element>
					<element name="filterElementLocation" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The location of the filter element as distance from the
								cone tip</documentation>
						</annotation>
					</element>
					<element name="poreCapacity" type="witsml:generalMeasureType" minOccurs="0"
						maxOccurs="unbounded">
						<annotation>
							<documentation>The capacity of the pore pressure load
								cell.</documentation>
						</annotation>
					</element>
					<element name="porousElementType" type="gml:CodeType" minOccurs="0"
						maxOccurs="unbounded">
						<annotation>
							<documentation>The type of material used as porous filter element. The
								following materials are typically used: a) plastic, b) sintered
								bronze, c) sintered steel, d) ceramic, or e) other. This value is
								extendable using Other: xx.</documentation>
						</annotation>
					</element>
					<element name="saturationFluid" type="gml:CodeType" minOccurs="0"
						maxOccurs="unbounded">
						<annotation>
							<documentation>The fluid used to saturate the porous filter element. The
								following deaired fluids are typically used: a) water, b) glycerin,
								c) silicon oil, or d) other This value is extendable using Other:
								xx.</documentation>
						</annotation>
					</element>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="saturationMethod" type="gml:CodeType" minOccurs="0">
							<annotation>
								<documentation>A description of the procedure used to saturate the
									porous filter element.</documentation>
							</annotation>
						</element>
						<element name="saturationMethodRef" type="diggs:MetadataReferenceType"
							minOccurs="0">
							<annotation>
								<appinfo>Diggs:Specification</appinfo>
							</annotation>
						</element>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PorePressureElementPropertyType">
		<annotation>
			<documentation>This is the property that contains the PorePressureElement object(s). It
				is needed to satisfy the GML object-property rule when PorePressureElement is used
				as an element in another test.</documentation>
		</annotation>
		<sequence>
			<element ref="diggs_geo:PorePressureElement" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<element name="StaticConePenetrationTest" type="diggs_geo:StaticConePenetrationTestType"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>The Cone Penetration Test is an in situ testing method used to determine
				the geotechnical engineering properties of soils and delineating soil stratigraphy.
				The test method consists of pushing an instrumented cone, with the tip facing down,
				into the ground at a controlled rate.</documentation>
		</annotation>
	</element>
	<complexType name="StaticConePenetrationTestType">
		<annotation>
			<documentation>Base type for StaticConePenetrationTest</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="penetrometerType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of static cone penetrometer used for
								testing.</documentation>
						</annotation>
					</element>
					<element name="distanceTipToSleeve" type="witsml:lengthMeasure" minOccurs="0">
						<annotation>
							<documentation>The distance between the tip and the center of the
								friction sleeve. A unit of measure is required in the uom
								attribute.</documentation>
						</annotation>
					</element>
					<element name="frictionReducer" type="diggs:DiggsStringType" minOccurs="0">
						<annotation>
							<documentation>A description of the type, size and location of the
								friction reducer behind the base of the cone should be reported if
								used</documentation>
						</annotation>
					</element>
					<element name="frictionSleeveArea" type="witsml:areaMeasure" minOccurs="0">
						<annotation>
							<documentation>The surface area of the friction sleeve located
								immediately behind the penetrometer tip.</documentation>
						</annotation>
					</element>
					<element name="netAreaRatioCorrection" type="double" minOccurs="0">
						<annotation>
							<documentation>The correction necessary to adjust the penetration cone
								resistance due to penetration water pressures acting behind the cone
								tip.</documentation>
						</annotation>
					</element>
					<element name="penetrationRate" type="witsml:velocityMeasure" minOccurs="0">
						<annotation>
							<documentation>The rate of advance of the penetrometer.</documentation>
						</annotation>
					</element>
					<element name="piezoconeType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of Piezocone is defined in part by the location
								of the filter element.</documentation>
						</annotation>
					</element>
					<element name="porePressureElementInfo"
						type="diggs_geo:PorePressureElementPropertyType" minOccurs="0"/>
					<element name="pushRodType" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>The type of pushing rods used for CPT penetration.
								Standard nomenclature can be used such as A-rod or
								N-rod</documentation>
						</annotation>
					</element>
					<element name="tipCapacity" type="witsml:forceMeasure" minOccurs="0">
						<annotation>
							<documentation>The capacity of the tip load cell.</documentation>
						</annotation>
					</element>
					<element name="sleeveCapacity" type="witsml:forceMeasure" minOccurs="0">
						<annotation>
							<documentation>The capacity of the sleeve load cell.</documentation>
						</annotation>
					</element>
					<element name="surfaceCapacity" type="witsml:forceMeasure" minOccurs="0">
						<annotation>
							<documentation>The capacity of the surface load cell.</documentation>
						</annotation>
					</element>
					<element name="tipApexAngle" type="witsml:planeAngleMeasure" minOccurs="0">
						<annotation>
							<documentation>The apex angle of the conical point of the penetrometer
								tip.</documentation>
						</annotation>
					</element>
					<element name="tipArea" type="witsml:areaMeasure" minOccurs="0">
						<annotation>
							<documentation>The conical base area of the penetrometer
								tip.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="WirelineLog" type="diggs_geo:WirelineLogType"
		substitutionGroup="diggs:AbstractInsituTest">
		<annotation>
			<documentation>This is a generic test structure to capture all forms of geophysical test
				data collected by wireline methods.</documentation>
		</annotation>
	</element>
	<complexType name="WirelineLogType">
		<annotation>
			<documentation>Base type for WirelineLog</documentation>
		</annotation>
		<complexContent>
			<extension base="diggs:AbstractInsituTestType">
				<sequence>
					<element name="runNumber" type="diggs:DiggsStringType" minOccurs="0">
						<annotation>
							<documentation>Log run number. This should normally be a number; however
								some legacy systems encode other information in this
								value.</documentation>
						</annotation>
					</element>
					<element name="bhaRunNumber" type="witsml:positiveCount" minOccurs="0">
						<annotation>
							<documentation>The bottom hole assembly run number associated with this
								log.</documentation>
						</annotation>
					</element>
					<element name="logParam" type="diggs:IndexedParameterType" minOccurs="0"
						maxOccurs="unbounded">
						<annotation>
							<documentation>Log parameters that apply to the overall log.
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
